<ion-view view-title="ANAKARAI	">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ak.jpg"><br>
<div class="item item-text-wrap">
	Duration :9 min <br>
Distance : 2.3 km<br>
via College Road<br>
Fastest route<br><br>


FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>

Directions : <br>

•	Head south towards Railway Station Rd<br>
               150 m<br>

•	Turn left onto Railway Station Rd<br>
 
•	Pass by Shanmugapriya Lodge AC (on the left)<br>
                450 m<br>

•	Turn right towards College Road<br>
                66 m<br>

•	Turn left at the 1st cross street onto College Road<br>
 
•	Pass by sabarmathi vidhyalaya nursery & primary (on the left)<br>
                 800 m<br>

•	At Asian Traders, continue onto Sendurai Rd<br>
 
•	Pass by Gokul Complex (on the left)<br>
                 450 m<br>

•	Turn left at R.Cinnayan Store onto Market St<br>
 
•	Pass by Newton System (on the right)<br>
                290 m<br>

•	At the roundabout, take the 3rd exit and stay on Market St<br>
 
•	Destination will be on the left<br>
                85 m<br>

Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br><br>

Duration : 1 h 12 min <br>
Distance : 54.5 km<br>
via NH81<br>
Fastest route<br><br>

FROM : Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br>
Directions :<br><br>
•	Head west on Market St<br>
 
•	Pass by Sendurai Bus Bay (on the left)<br>
            52 m<br>

•	Make a U-turn<br>
            96 m<br>

•	At the roundabout, take the 2nd exit ontoJayankondam Rd<br>
 
•	Go past the petrol station (on the left in 800 m)<br>
            1.3 km<br>

•	At the roundabout, take the 2nd exit onto Ariyalur - Muttuvancheri - Govindaputhur Road<br>
 
•	Pass by Speculor Studio (on the right)<br>
            10.4 km<br>

•	At the roundabout, take the 1st exit onto NH81<br>
 
•	Pass by DJ Mobiles (on the left)<br>
            36.2 km<br>

•	Turn right onto NH36<br>
 
•	Pass by GR COMPUTERS (on the left)<br><br>
            6.4 km<br><br>

Anaikarai<br>
Tamil Nadu



</div>
 </ion-scroll>
</ion-view>
