
<ion-view view-title="ARIYALUR">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "ssk()"> 
Subramaniya Swamy Koil
</button><br>
<button class="button button-clear button-royal" ng-Click = "skt()"> 
Sivan Temple
</button><br>
<button class="button button-clear button-royal" ng-Click = "mk()"> 
Matha Kovil
</button><br>
<button class="button button-clear button-royal" ng-Click = "gkc()"> 
Gangaikonda Cholapuram
</button><br>
<button class="button button-clear button-royal" ng-Click = "ak()"> 
Anakarai	
</button><br>
<button class="button button-clear button-royal" ng-Click = "skv()"> 
Sri Kaliuga Varatharaja Perumaal Temple
</button><br>
<button class="button button-clear button-royal" ng-Click = "eam()"> 
Elakurichi Adaikala Matha Shrine
</button><br>
<button class="button button-clear button-royal" ng-Click = "vkl()"> 
Vettakudi - Karaivetti Lake(bird sanctuary)
</button><br>

 </ion-scroll>
</ion-view>
