<ion-view view-title="ATHMANATHASWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ath.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Athmanathaswamy temple , Sivaganga is a perfect destination for a great time with your dear ones. Enjoy the attractions of this popular tourist spot. With so much to lure your senses and offer you recreation at its best, get drenched in the spirit of adventure that you get to explore at athmanathaswamy temple , Sivaganga. Enjoy together all the points of popular interests and bring back several memorable moments<br>

Duration : 1 h 46 min <br>
Distance : 83.5 km<br>
via NH85 and Devakottai-Mimisal Rd<br>
Fastest route<br><br>
FROM : Sivagangai Bus Stand<br>
96, SH 33, Aranmanai Vaasal, Sivaganga, Tamil Nadu 630561<br><br>
Directions : <br>
•	Drive along NH85 and Devakottai-Mimisal Rd<br>
1 h 18 min (67.9 km)
<br>
•	Head east on NH85<br>
 
•	Pass by PSYEC Bus Stop (on the left) <br>
30.2 km<br>

•	Turn left onto MDR413<br>
 
•	Pass by Kadambakudi Bus Stop (on the left in 4.8 km) <br>
15.5 km<br>

•	Turn left onto NH536<br>
550 m<br>

•	Turn right onto Devakottai-Mimisal Rd<br>
21.6 km<br>

•	Turn left<br>
10 min (6.7 km) <br>

•	Turn right<br>
2 min (400 m) <br>

•	Turn left<br>
12 min (8.1 km) <br>

•	Continue onto SH 26<br>
1 min (250 m) <br>

•	Turn right at Anbu hair Beautician<br>
35 s (120 m) <br><br><br>
Athmanathaswamy Temple
Ambalpuram, Tamil Nadu 614618






</div>
 </ion-scroll>
</ion-view>
