<ion-view view-title="BHUVARAHA SWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/bst.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>
Bhu Varaha Swamy temple is a Hindu temple, located at Srimushnam, in the South Indian state of Tamil Nadu, is dedicated to the Hindu god Vishnu. Constructed in the Dravidian style of architecture, the temple is dedicated to Vishnu, who is worshipped as Bhu Varaha Swamy and his consort Lakshmi as Ambujavalli Thayar.
<br>

Duration : 8 min<br>
SCHEDULE EXPLORER<br>

FROM : Cuddalore Port Junction<br>
Tamil Nadu 607003<br>


Cuddalore Port Junction<br>
 Mail Express16854Chennai Egmore<br>
 8 min (non-stop) · Stop ID: CUPJ<br>

Tirupadripulyur Railway Station<br>


Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>
Duration : 1 h 42 min<br>
Distance : (71.2 km) <br>
via NH532 and NH36<br>
Fastest route, the usual traffic<br><br>
FROM : Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>
Directions : <br><br>
•	Take Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd to NH32<br>
2 min (400 m) <br>

•	Head west towards Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
75 m<br>

•	Turn right at Khadi Vastiralaya onto Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
 
•	Pass by Nathan Studio (on the right) <br>
350 m<br>
•	Follow NH532 and NH36 to Main Rd/MDR432 in Soladharam, Pudaiyur<br>
1 h 18 min (57.4 km) <br>

•	Make a U-turn at Gedilam Ring Road<br>
31 m<br>

•	Slight left to stay on NH32<br>
 
•	Pass by TCI FREIGHT (on the left) <br>
5.5 km<br>

•	Slight right onto NH532<br>
 
•	Pass by Andikuppam Bus Stop (on the left in 26.0 km) <br>
28.3 km<br>

•	At the roundabout, take the 1st exit onto NH36<br>
 
•	Pass by Hotel Sri Abirami Vegterian (on the left) <br>
23.6 km<br>
•	Follow MDR432 to your destination in Srimushnam<br>
21 min (13.4 km) <br>

•	Turn right at Ccn Hardwares onto Main Rd/MDR432<br>
 
•	Continue to follow MDR432<br>
8.2 km<br>

•	Turn left at Periyar Ayurvedic Physiotherapy Center to stay on MDR432<br>
 
•	Pass by Water Service Station (on the right in 3.8 km) <br>
4.4 km<br>

•	Turn right at S Car St<br>
270 m<br>

•	Turn left onto N Car St<br>
83 m<br>

•	Turn left<br>
 
•	Pass by Varaga Perumal Temple, BhuVaraha Kshetra (on the right) <br>
 
•	Destination will be on the right<br>
350 m<br><br><br>
Sri Bhu Varaha Swamy Temple (Purana Sthalam) <br>
Cuddalore District, Srimushnam, Tamil Nadu 608703<br>

	

</div>
 </ion-scroll>
</ion-view>
