<ion-view view-title="AMARAVATHI DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cad.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br>The Amaravathi Dam is a dam constructed on the Amaravati River. It is located at Amaravathinagar, 25 kilometres (16 mi) south of Udumalpet on SH 17 in the Indira Gandhi Wildlife Sanctuary, Tirupur district in the Indian state of Tamil Nadu. The associated Amaravathi Reservoir is 9.31 square kilometres (3.59 sq mi) in area and 33.53 metres (110.0 ft) deep. The dam was built primarily for irrigation and flood control and now also has four megawatts of electrical generating capacity installed. It is notable for the significant population of Mugger Crocodiles living in its reservoir and catchment basin.
 <br><br>

Duration : 12 min<br><br>

FROM : Coimbatore Junction<br>
State Bank Rd, Gopalapuram, Coimbatore, Tamil Nadu 641001<br>


Railway Station Bus Stop<br>
 S17Gandhipuram Town Bus Stand<br>
 12 min (8 stops)<br>

•	Collector Office<br>
•	DSP Office<br>
•	Uppilipalayam / Oriental Insurance<br>

•	Uppilipalayam<br>
•	CSI School<br>
•	VOC Park<br>

•	Park Gate<br>


Gandhipuram Bus Stand<br>
11/20, Bharathiyar Rd, ATT Colony, New Siddhapudur, Coimbatore, Tamil Nadu 641044<br><br>
Duration : 2 h 27 min<br>
Distance : 109 km<br>
via Udumalpet - Palladam Rd<br>
Fastest route now due to traffic conditions<br><br>
FROM : Gandhipuram Bus Stand<br>
Sathyamurthy Rd, Ram Nagar, Coimbatore, Tamil Nadu 641009<br><br>
Directions : <br><br>
•	Follow Dr Nanjapaa Rd and Park Gate Rd to NH948 in ATT Colony<br>
5 min (1.8 km) <br>

•	Head east on Sastri Rd/Sathyamurthy Rd towards Dr Nanjapaa Rd<br>
78 m<br>

•	Turn right at the 1st cross street onto Dr Nanjapaa Rd<br>
 
•	Pass by Hotel Tamilnadu (on the left) <br>
700 m<br>

•	Turn left onto Park Gate Rd<br>
 
•	Pass by The Hindu (on the left in 500 m) <br>
1.0 km<br>
•	Take NH81 and Udumalpet - Palladam Rd to Dhali Rd/Thirumoorthy Dam Rd/Udumalpet - Munnar Rd in Udumalpet<br>
1 h 44 min (85.0 km) <br>

•	Turn left onto NH948<br>
 
•	Pass by Rangammal KalviNilayam (on the right) <br>
1.8 km<br>

•	Turn right at Lakshmi Mills Jct onto NH181<br>
 
•	Pass by MET SERVE MEDICAL CENTER (on the left in 450 m) <br>
1.3 km<br>

•	At the roundabout, take the 2nd exit and stay on NH181<br>
 
•	Go past the church (on the left) <br>
900 m<br>

•	Turn left after Ramanathapuram Jct (on the left) <br>
 
•	Pass by Andaal Kalyana Mandapam (on the right in 1.2 km) <br>
8.4 km<br>

•	Continue onto NH81<br>
25.2 km<br>

•	Turn right onto Pollachi Udumalpet Rd/Tiruppur Rd/Udumalpet - Palladam Rd<br>
 
•	Continue to follow Tiruppur Rd/Udumalpet - Palladam Rd<br>
 
•	Pass by Sri Sundari Roofing Industries (on the left) <br>
1.6 km<br>

•	Slight left onto Udumalpet - Palladam Rd<br>
 
•	Pass by Mandripalayam Bus Stop (on the right in 9.4 km) <br>
45.7 km<br>

•	Turn left onto NH83<br>
 
•	Pass by Universal Fertiliser Corporation (on the left) <br>
120 m<br>
•	Continue on Udumalpet - Munnar Rd to your destination<br>
32 min (22.6 km) <br>

•	Turn right onto Dhali Rd/Thirumoorthy Dam Rd/Udumalpet - Munnar Rd<br>
 
•	Pass by Kareem's flowers & decors (on the left) <br>
7.1 km<br>

•	Turn left at FoTo FLICK Studio onto Udumalpet - Munnar Rd<br>
 
•	Pass by Pallapalayam Bus Stop (on the right) <br>
8.8 km<br>

•	Turn left<br>
 
•	Pass by Amaravathi Dam (on the right in 5.8 km) <br>
6.4 km<br>

•	Turn right<br>
300 m<br><br><br>
Amaravathi Dam<br>

</div>
 </ion-scroll>
</ion-view>
