<ion-view view-title="ARULMIGU PATTEESWARAR SWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cap.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br>Perur Pateeswarar Temple is a Hindu temple dedicated to Shiva located at Perur, in western part of Coimbatore in state of Tamil Nadu in India. The temple was built by Karikala Chola. The temple is located 7 km west of the Noyyal River and has been patronized by poets like Arunagirinathar and Kachiappa Munivar. Lord Shiva, known as ‘Patteeswarar’, is the presiding deity of this temple together with his consort Parvati, who is known as ‘Pachainayaki’. The deity is believed to be ‘Swayambu Lingam’



 <br><br>

Duration : 12 min<br><br>

FROM : Coimbatore Junction<br>
State Bank Rd, Gopalapuram, Coimbatore, Tamil Nadu 641001<br>


Railway Station Bus Stop<br>
 S17Gandhipuram Town Bus Stand<br>
 12 min (8 stops)<br>

•	Collector Office<br>
•	DSP Office<br>
•	Uppilipalayam / Oriental Insurance<br>

•	Uppilipalayam<br>
•	CSI School<br>
•	VOC Park<br>

•	Park Gate<br>


Gandhipuram Bus Stand<br>
11/20, Bharathiyar Rd, ATT Colony, New Siddhapudur, Coimbatore, Tamil Nadu 641044<br><br>
Duration : 28 min <br>
Distance : 9.6 km<br>
via Telungu Palayam Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Gandhipuram Bus Stand<br>
Sathyamurthy Rd, Ram Nagar, Coimbatore, Tamil Nadu 641009<br><br>
Directions : <br><br>
•	Head east on Sastri Rd/Sathyamurthy Rd towards Dr Nanjapaa Rd<br>
28 s (78 m) <br>

•	Turn right at the 1st cross street onto Dr Nanjapaa Rd<br>
 
•	Pass by Hotel Tamilnadu (on the left) <br>
3 min (1.2 km) <br>
•	Follow Kaleeswara Mill Rd to Brooke Bond Rd/Dr Krishnasamy Mudaliyar Rd in Sukrawar Pettai<br>
2 min (550 m) <br>

•	Turn right after Balamurugan Hospital (on the right) <br>
450 m<br>

•	Turn left to stay on Kaleeswara Mill Rd<br>
100 m<br>
•	Take NH948, Sukrawarpet St, SBOA School Rd, Chokkampudur Rd ... and Perur Main Rd to Siruvani Main Rd<br>
21 min (7.7 km) <br>

•	Slight left onto Brooke Bond Rd/Dr Krishnasamy Mudaliyar Rd<br>
140 m<br>

•	Slight right to stay on Brooke Bond Rd/Dr Krishnasamy Mudaliyar Rd<br>
93 m<br>

•	At the roundabout, take the 3rd exit onto NH948<br>
700 m<br>

•	Continue onto Sukrawarpet St<br>
 
•	Pass by Dena Bank (on the right) <br>
750 m<br>

•	At the roundabout, take the 1st exit onto Thadagam Main Rd<br>
450 m<br>

•	Turn left onto SBOA School Rd<br>
1.2 km<br>

•	Turn left towards Chokkampudur Rd<br>
300 m<br>

•	Continue onto Chokkampudur Rd<br>
1.1 km<br>

•	Continue onto Telungu Palayam Rd<br>
1.3 km<br>

•	Turn right at Telungu Palayam Pirivu onto Perur Main Rd<br>
 
•	Pass by State bank of India (on the left) <br>
1.1 km<br>

•	Continue onto Siruvani Main Rd<br>
 
•	Pass by City Union Bank ATM (on the left) <br>
 
•	Destination will be on the right<br>
500 m<br><br>
Arulmigu Patteeswarar Swamy Temple<br>
-Siruvani Perur, Siruvani Main Rd, Perur, Coimbatore, Tamil Nadu 641010<br>
</div>
 </ion-scroll>
</ion-view>
