<ion-view view-title="CHETTIAR CLAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ccl.jpg"><br>
<div class="item item-text-wrap">

Duration : 1 h 33 min<br>
Distance :  83.7 km<br>
via NH85 and NH38<br>
Fastest route, the usual traffic<br>
 
This route has tolls. <br><br>
FROM : Sivagangai Bus Stand<br>
96, SH 33, Aranmanai Vaasal, Sivaganga, Tamil Nadu 630561<br><br>
Directions : <br>
•	Follow NH85 to MDR 232 in Puvandi<br>
28 min (25.6 km) <br>

•	Continue straight onto MDR 232<br>
7 min (5.5 km)
•	Take NH38 to Kovilangulam Road<br>
53 min (51.4 km) <br>

•	Turn left onto Kovilangulam Road<br>
 
•	Drive along Government High School (on the left for 120 m) <br>
2 min (1.1 km) <br><br>
          24 Mani Telugu Chettiars Temple<br>
Kovilangulam Road, Kovilangulam, Tamil Nadu 626107<br>




</div>
 </ion-scroll>
</ion-view>
