<ion-view view-title="MUTTUKADU ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cmk.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
	Muttukadu boat house (Tamil: முட்டுக்காடு படகுக் குழாம்) is a water sport facility on the East Coast Road at Muttukadu, Chennai, India, offering rowing, wind surfing, water skiing, and speedboat riding. It is a backwater area of the Bay of Bengal located 36 km from the city centre and 23 km from Adyar on the way to Mamallapuram. The boat house was inaugurated in 1984 and has 15 row boats, 27 speedboats and 9 pedal boats, besides two high-speed aqua scooters. The water depth varies between 3 ft and 6 ft. It is owned and operated by the Tamil Nadu Tourism Development Corporation (TTDC). The boating spot receives more than 4,000 visitors every weekend.  <br><br>

Duration : 1 h 21 min <br>
Distance : 35.5 km<br>

via Old Mahabalipuram Rd/Rajiv Gandhi IT Expy and E Coast Rd<br>

Best route, despite the usual traffic<br>
 This route has tolls. <br><br><br>
FROM : Egmore<br>
Chennai, Tamil Nadu<br><br><br>
Directions : <br><br>
•	Take Marshalls Rd/Rukmani Lakshmipathi Rd, Whites Rd, Anna Salai/Mount Rd/Trichy-Chennai Hwy and Gandhi Mandapam Rd to Sardar Patel Rd<br>
21 min (9.1 km) <br>

•	Head south-east towards Adithanar Rd/Pantheon Rd<br>
9 m<br>

•	Exit the roundabout onto Adithanar Rd/Pantheon Rd<br>
19 m<br>
•	At the roundabout, take the 3rd exit onto Marshalls Rd/Rukmani Lakshmipathi Rd<br>
1.1 km<br>
•	Turn left onto Ethiraj Salai<br>
120 m<br>
•	Continue onto Binny Rd<br>280 m<br>

•	Turn right onto Pattullos Rd/Patullos Rd<br>
500 m<br>

•	Use any lane to turn right onto Whites Rd<br>
 
•	Pass by Corporation Bank zonal office (on the right in 450 m) <br>
700 m<br>

•	Continue onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by Thousand Lights Mosque (on the left) <br>
550 m<br>

•	Keep right to continue on Anna Salai/Gemini Flyover/Mount Rd/Trichy-Chennai Hwy<br>
 
•	Continue to follow Anna Salai/Mount Rd/Trichy-Chennai Hwy<br>
 
•	Go past the petrol station (on the left in 1.6 km) <br>
2.3 km<br>

•	Continue straight onto Cenotaph Rd<br>
 
•	Pass by NABARD Officers' Quarters (on the right) <br>
400 m<br>

•	Slight right onto GK Moopanar Flyover<br>
450 m<br>
•	Slight right onto Turnbulls Rd<br>
 
•	Pass by the park (on the left) <br>
450 m<br>

•	Continue onto Gandhi Mandapam Rd<br>
 
•	Pass by Kotturpuram Police Station (on the left in 800 m) <br>
2.0 km<br>

•	Use any lane to turn left towards Sardar Patel Rd<br>
290 m<br>
•	Follow Rajiv Gandhi IT Expy to Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd in Sholinganallur<br>
23 min (12.8 km) <br>

•	Continue straight onto Sardar Patel Rd<br>
 
•	Go past the church (on the right) <br>
500 m<br>

•	Turn right at Madhya Kailash Jct onto Rajiv Gandhi IT Expy<br>
 
Partial toll road
 <br>
•	Pass by Adidas (on the left in 3.5 km) <br>
6.0 km<br>

•	Continue straight onto Okkiyam Thuraipakkam/Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
•	Continue to follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br> 
•	Pass by Annai Hotel (on the left in 3.2 km) <br>
6.4 km<br>

•	Turn left onto Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd<br>
 
•	Continue to follow Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd<br>
 
Partial toll road
 <br>
•	Pass by Vee Care Hospital (on the left) <br>
4 min (2.2 km) <br>
•	Follow E Coast Rd<br>
15 min (11.4 km) <br>

•	Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd turns right and becomes E Coast Rd<br>
 
Partial toll road<br>
 
•	Pass by HDFC Bank ATM (on the left in 5.5 km) <br>
10.9 km<br>

•	Make a U-turn<br>
500 m<br>

•	Turn left<br>
 
•	Destination will be on the left<br>
34 s (80 m) <br><br><br>

Muttukadu Boat House<br>
East Coast Road, Muttukadu, Tamil Nadu 603103<br><br><br><br>

Duration : 1 h 23 min<br>
Distance :  37.2 km<br>
via E Coast Rd<br>
Fastest route now due to traffic conditions<br>
 This route has tolls. <br><br><br>
FROM : Chennai Central<br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions: <br><br>
•	Continue to Poongavanapuram<br>
3 min (400 m) <br>

•	Head west<br>
250 m<br>

•	Turn left onto VP Hall Compound Rd<br>
130 m<br>

•	Merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd/SH 114<br>
 
•	Continue to follow SH 114<br>
4 min (800 m) <br>
•	Take Kamarajar Promenade, Santhome High Rd, Greenways Rd, Adyar Bridge and LB Rd to Old Mahabalipuram Rd/Rajiv Gandhi IT Expy in Dr. Vasi Estate<br>
32 min (13.2 km) <br>

•	Use any lane to turn right onto Muthuswamy Rd<br>
450 m<br>

•	Continue onto Flag Staff Rd<br>
650 m<br>

•	Keep right to stay on Flag Staff Rd<br>
62 m<br>

•	At the roundabout, take the 2nd exit onto Kamarajar Promenade<br>
 
•	Pass by IOB ATM (on the right in 2.5 km) <br>
4.0 km<br>

•	Continue straight to stay on Kamarajar Promenade<br>
230 m<br>

•	Continue straight onto Santhome High Rd<br>
 
•	Pass by Raffles Millennium International (on the left in 1.1 km) <br>
1.6 km<br>

•	Continue straight onto Greenways Rd<br>
 
•	Pass by Raheja Regency (on the right in 750 m) <br>
1.6 km<br>

•	Greenways Rd turns slightly left and becomes Adyar Bridge<br>
 
•	Go past the petrol station (on the left) <br>
1.5 km<br>

•	Slight left towards LB Rd<br>
280 m<br>

•	Merge onto LB Rd<br>
 
•	Pass by G Organics Store (on the left) <br>
2.9 km<br>
•	Follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy to Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd in Sholinganallur<br>
15 min (9.3 km) <br>



•	Turn left onto Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd<br>
 
•	Continue to follow Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd<br>
 
Partial toll road<br>
 
•	Pass by Vee Care Hospital (on the left) <br>
4 min (2.2 km) <br>
•	Follow E Coast Rd<br>
15 min (11.4 km) <br>

•	Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd turns right and becomes E Coast Rd<br>
 
Partial toll road<br>
 
•	Pass by HDFC Bank ATM (on the left in 5.5 km) <br>
10.9 km<br>

•	Make a U-turn<br>
500 m<br>

•	Turn left<br>
 
•	Destination will be on the left<br>
34 s (80 m) <br><br><br>

Muttukadu Boat House<br>
East Coast Road, Muttukadu, Tamil Nadu 603103<br><br><br>

Duration : 1 h 17 min<br> 
Distance :37.3 km<br>
via E Coast Rd<br>
Fastest route now due to traffic conditions<br>
 This route has tolls. <br><br>

FROM : Koyambedu,Chennai, Tamil Nadu 600003<br>
•	Take Kamarajar Promenade, Santhome High Rd, Greenways Rd, Adyar Bridge and LB Rd to Old Mahabalipuram Rd/Rajiv Gandhi IT Expy in Dr. Vasi Estate<br>
35 min (14.5 km) <br>

•	Head south on Pallavan Salai/Park Town Flyover Bridge towards Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
 
•	Continue to follow Pallavan Salai<br>
900 m<br>

•	Turn left before Metropolitan Transport Corporation Limited<br>
 
•	Pass by Major General Munro Statue (on the right in 350 m) <br>
850 m<br>

•	Use the right 2 lanes to turn right onto Flag Staff Rd<br>
650 m<br>

•	Keep right to stay on Flag Staff Rd<br>
62 m<br>
•	At the roundabout, take the 2nd exit onto Kamarajar Promenade<br>
 
•	Pass by IOB ATM (on the right in 2.5 km) <br>
4.0 km<br>

•	Continue straight to stay on Kamarajar Promenade<br>
230 m<br>

•	Continue straight onto Santhome High Rd<br>
 
•	Pass by Raffles Millennium International (on the left in 1.1 km) <br>
1.6 km<br>

•	Continue straight onto Greenways Rd<br>
 
•	Pass by Raheja Regency (on the right in 750 m) <br>
1.6 km<br>

•	Greenways Rd turns slightly left and becomes Adyar Bridge<br>
 
•	Go past the petrol station (on the left) <br>
1.5 km<br>

•	Slight left towards LB Rd<br>
280 m<br>

•	Merge onto LB Rd<br>
 
•	Pass by G Organics Store (on the left) <br>
2.9 km<br>
•	Follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy to Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd in Sholinganallur<br>
15 min (9.3 km) <br>

•	Slight left onto Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Adidas (on the left in 400 m) <br>
2.9 km<br>

•	Continue straight onto Okkiyam Thuraipakkam/Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
•	Continue to follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Annai Hotel (on the left in 3.2 km) <br>
6.4 km<br>

•	Turn left onto Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd<br>
 
•	Continue to follow Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd<br>
 
Partial toll road<br>
 
•	Pass by Vee Care Hospital (on the left) <br>
4 min (2.2 km) <br>
•	Follow E Coast Rd<br>
15 min (11.4 km) <br>

•	Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd turns right and becomes E Coast Rd<br>
 
Partial toll road<br>
 
•	Pass by HDFC Bank ATM (on the left in 5.5 km) <br>
10.9 km<br>

•	Make a U-turn<br>
500 m<br>

•	Turn left<br>
 
•	Destination will be on the left<br>
34 s (80 m) <br><br>
Muttukadu Boat House<br>
East Coast Road, Muttukadu, Tamil Nadu 603103<br>

</div>
 </ion-scroll>
</ion-view>
