<ion-view view-title="CONNEMARA PUBLIC LIBRARY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ccp.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br>
	Connemara Public Library at Egmore in Chennai, Tamil Nadu, India, is one of the four National Depository Libraries which receive a copy of all books, newspapers and periodicals published in India. Established in 1890, the library is a repository of centuries-old publications, wherein lie some of the most respected works and collections in the country. It also serves as a depository library for the UN.
	
<br>
Duration : 27 min<br>
Distance : 8.8 km<br>
via Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Koyambedu Bus Stop<br>
Poonamalle High Road, Virrugambakkam, கோயம்பேடு, சென்னை, Tamil Nadu 600107<br><br>

Directions : <br><br>
•	Head west on Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd towards Koyembedu Market E Rd<br>
450 m<br>

•	Make a U-turn<br>
 
•	Continue to follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
 
•	Pass by Daniel Thomas Matriculation Higher Secondary School (on the left) <br>
7.3 km<br>

•	Use any lane to turn right onto Dr Nair Rd<br>
500 m<br>

•	Continue onto Police Commisioners Rd<br>
350 m<br>

•	At the roundabout, take the 2nd exit onto Pantheon Rd<br>
230 m<br><br>

Connemara Public Library<br>
Pantheon Road, Egmore, Chennai, Tamil Nadu 600008<br><br><br><br><br>

Duration : 3 min <br>
Distance : 210 m<br>
via Pantheon Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Egmore<br>
Chennai, Tamil Nadu<br><br>
Directions : <br><br>

•	Walk south-east towards Adithanar Rd/Pantheon Rd<br>
31 m<br>

•	Exit the roundabout onto Pantheon Rd<br>
 
•	Pass by AGARWAL SHIFTING P𝐀𝐂𝐊𝐄𝐑𝐒 & Movers Chennai (on the left in 43 m) <br>
180 m
<br><br>
Connemara Public Library<br>
Pantheon Road, Egmore, Chennai, Tamil Nadu 600008<br><br><br>
	
Duration : 11 min<br>
Distance : 2.9 km<br>
via Pantheon Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Chennai central railway station waiting hall<br>
Park Town, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>
•	Take Vepery High Rd to Atkinson Rd<br>
3 min (900 m) <br>

•	Head north on Sydenhams Rd towards Muthu St<br>
 
•	Pass by HDFC Bank ATM (on the left) <br>
180 m<br>

•	Turn left onto Vepery High Rd<br>
 
•	Pass by Central Bank of India ATM (on the right) <br>
700 m
<br>
•	Turn left onto Atkinson Rd<br>
2 min (600 m) <br>
•	Follow Gandhi Irwin Bridge Rd to Pantheon Rd in Egmore<br>
4 min (1.5 km) <br>

•	Turn left onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
130 m
<br>
•	Turn right onto Gandhi Irwin Bridge Rd<br>
 
•	Pass by Government College of Fine Arts (on the left) <br>
500 m<br>

•	At the roundabout, take the 3rd exit onto Pantheon Rd<br>
 
Pass by Government Restaurant. (on the right) <br>
600 m
<br>
•	At the roundabout, take the 3rd exit onto Adithanar Rd/Pantheon Rd<br>
49 m<br>

•	At the roundabout, take the 1st exit onto Pantheon Rd<br>
190 m<br><br><br>

Connemara Public Library<br>
Pantheon Road, Egmore, Chennai, Tamil Nadu 600008<br><br><br><br><br>


 </ion-scroll>
</ion-view>
