<ion-view view-title="ELLIOT'S BEACH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ceb.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
	Elliot's Beach (popularly known as "Besant Nagar Beach" or "Bessie") is located in Besant Nagar, Chennai, India. It forms the end-point of the Marina Beach shore, and is named after Edward Elliot, Governor of Madras. It has the Velankanni Church and the Ashtalakshmi Kovil nearby. In the colonial era, it was a fairly exclusive place limited to white people. As of 2016, there are many restaurants near the beach.<br>
There is a police outpost at the beach and the crowd is policed by means of all-terrain vehicles (ATVs) to prevent drowning mishaps. In 2010, there were 11 drowning cases reported off Elliots Beach. In August 2012, the government sanctioned two more all-terrain vehicles for patrolling the beach. <br><br>

	
Duration : 53 min <br>
Distance : 20.6 km<br>
via Sardar Patel Rd<br>
Best route, despite the usual traffic<br><br><br>
FROM : Koyambedu<br>
Chennai, Tamil Nadu<br><br>
Directions :<br>
•	Take Koyembedu Market E Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
3 min (1.0 km)<br>
•	Head north-east towards Koyembedu Market E Rd<br>
350 m<br>
•	Turn left onto Koyembedu Market E Rd<br>
600 m<br>
•	Continue on Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd. Take 200 Feet Rd/Jawaharlal Nehru Rd, Mount Rd/Trichy-Chennai Hwy and Taluk Office Rd toSardar Patel Rd in Adyar<br>
36 min (15.4 km)<br>
•	Slight left onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
260 m
<br>
•	Make a U-turn<br>
•	Pass by Daniel Thomas Matriculation Higher Secondary School (on the left)<br>
1.0 km<br>
•	Turn left to merge onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
•	Pass by Nathella Suchanamma Kalyana Mandapam (on the left in 600 m)<br>
750 m<br>
•	Keep left to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
•	Pass by Shansi Pearl Park (on the left)<br>
900 m<br>
•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
•	Pass by Federal Bank Vadapalani (on the left)<br>
550 m<br>
•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
550 m<br>
•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
•	Pass by Aakash Fertility Centre & Hospital (on the left in 350 m)<br>
450 m<br>
•	Continue straight past State Bank of India to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
66 m<br>
•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
150 m<br><br>
•	Slight right onto Vadapalani Flyover<br>
450 m<br>
•	Merge onto 200 Feet Rd/Jawaharlal Nehru Rd<br><br>
1.5 km<br>
•	Continue straight through Ashok Pillar Cironto 200 Feet Rd<br>
300 m<br>
•	Turn right onto 11th Ave/200 Feet Rd<br>
230 m<br>
•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd<br>
•	Continue to follow Jawaharlal Nehru Rd<br>
•	Pass by Hyuandai Service Center (on the left in 1.6 km)<br>
2.3 km<br>
•	Turn left<br>
500 m<br>
•	Slight left towards Chennai - Nagapattinam Hwy/Mount Rd/Trichy-Chennai Hwy<br>
240 m<br>
•	Use any lane to turn slightly left onto Chennai - Nagapattinam Hwy/Mount Rd/Trichy-Chennai Hwy<br>
•	Pass by Indian Bank ATM (on the left in 550 m)<br>
1.7 km<br>
•	Continue straight onto Anna Salai/Chennai - Nagapattinam Hwy/Mount Rd/Trichy-Chennai Hwy<br>
86 m<br>
•	Keep left to stay on Anna Salai/Chennai - Nagapattinam Hwy/Mount Rd/Trichy-Chennai Hwy<br>
•	Pass by The Checkers Hotel (on the left)<br>
450 m<br>
•	Continue straight past Royal Heritage Hotelonto Anna Salai/Mount Rd/Trichy-Chennai Hwy<br>
160 m<br>
•	Anna Salai/Mount Rd/Trichy-Chennai Hwyturns slightly right and becomes Taluk Office Rd<br>
•	Pass by Saidapet Metropolitan Magistrates Courts (on the left)<br>
700 m<br>

•	Taluk Office Rd turns left and becomes Sardar Patel Rd<br>
•	Pass by the park (on the right in 900 m)<br>
2.1 km<br>
•	Continue on Sardar Patel Rd to your destination inBesant Nagar<br>
12 min (4.2 km)<br>
Elliot's Beach
<br><br><br><br>


Duration: 32 min<br>
Distance : 13.4 km<br>
via Kamarajar Promenade<br>
Fastest route, despite the usual traffic<br><br><br>
FROM : Central Railway Station<br>
NGO Annexe, Park Town, Chennai, Tamil Nadu 600003<br><br><br><br><br>
Directions :<br><br>
•	Take Kamarajar Promenade, Santhome High Rd,Greenways Rd and Besant Ave Rd to 4th Main Rdin Custom Colony<br>
28 min (12.5 km)<br><br>
•	Head south on Chennai - Thiruttani - Renigunta Hwy/Grand Northern Trunk Rd/Wall Tax Rd towards SH 114<br>
160 m<br>

•	Use any lane to turn left onto SH 114<br>
600 m
<br>
•	Use any lane to turn right onto Muthuswamy Rd<br>
450 m<br>

•	Continue onto Flag Staff Rd<br>
650 m<br>
•	Keep right to stay on Flag Staff Rd
<br>62 m<br>

•	At the roundabout, take the 2nd exit ontoKamarajar Promenade<br>
 
•	Pass by IOB ATM (on the right in 2.5 km)<br>
4.0 km
<br>
•	Continue straight to stay on Kamarajar Promenade<br>
230 m<br>

•	Continue straight onto Santhome High Rd<br>
 
•	Pass by Raffles Millennium International (on the left in 1.1 km)<br>
1.6 km
<br>
•	Continue straight onto Greenways Rd<br>
 
•	Pass by Raheja Regency (on the right in 750 m)<br>
1.6 km
<br>
•	Greenways Rd turns slightly left and becomesAdyar Bridge<br>
 
•	Go past the petrol station (on the left)<br>
950 m<br>

•	Slight left onto Durgabai Deshmukh Rd<br>
 
•	Pass by Khadim's - Adyar (on the left)<br>
350 m
<br>
•	Turn left onto Besant Ave Rd<br>
 
•	Pass by Royal enfield India Limited (on the right in 450 m)<br>
1.2 km<br>

•	Besant Ave Rd turns slightly right and becomes 3rd Ave<br>
 
•	Pass by Rajaji Bhavan Complex (on the left in 500 m)<br>
650 m<br>
•	Continue on 4th Main Rd to your destination<br>
4 min (950 m)
<br>
•	Turn left onto 4th Main Rd<br>
 
•	Pass by Besant Nagar Tennis Club (on the right)<br>
400 m
<br>
•	Turn right onto 6th Avenue/Elliot's Promenade<br>
400 m
<br>
•	Turn left<br>
11 m<br>

•	Turn left<br>
•	Destination will be on the right<br>
170 m<br><br><br>
Elliot's Beach<br><br>

Duration :37 min <br>
Distance : 14.0 km<br>
via Kamarajar Promenade<br>
Fastest route, despite the usual traffic<br><br><br>
FROM : Chennai Egmore<br><br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>
Directions :<br><br>
•	Take Whenners Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
30 s (90 m)<br>

•	Head north-east towards Whenners Rd<br>
43 m<br>

•	Turn left onto Whenners Rd<br>
47 m<br>
•	Take Gandhi Irwin Bridge Rd to Langs Garden Rd inEgmore<br>
3 min (750 m)<br>

•	Turn right at the 1st cross street ontoChennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
 
•	Pass by Office of Commissioner of Police (on the left)<br>
260 m
<br>
•	Turn right onto Gandhi Irwin Bridge Rd<br>
 
•	Pass by Government College of Fine Arts (on the left)<br>
500 m<br>

•	At the roundabout, continue straight onto Langs Garden Rd<br>
2 min (1.0 km)<br>
•	Take Wallahjah Rd, Kamarajar Promenade,Santhome High Rd, Greenways Rd ... and Besant Ave Rd to 4th Main Rd in Custom Colony<br>
26 min (11.2 km)<br>

•	Turn left onto Adithanar Rd<br>
100 m
<br>
•	Continue onto Blackers Rd<br>
 
•	Pass by Gaiety Palace (on the left)<br>
200 m
<br>
•	Use any lane to turn left onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by City Centre Plaza (on the right)<br>
67 m
<br>
•	Turn right onto Wallahjah Rd<br>
1.4 km
<br>
•	Turn right onto Kamarajar Promenade/Kamarajar Salai Rd<br>
 
•	Continue to follow Kamarajar Promenade<br>
 
•	Pass by Commissionerate of Municipal Administration (on the right)<br>
2.8 km
<br>
•	Continue straight to stay on Kamarajar Promenade<br>
230 m
<br>
•	Continue straight onto Santhome High Rd<br>
 
•	Pass by Raffles Millennium International (on the left in 1.1 km)<br>
1.6 km<br>

•	Continue straight onto Greenways Rd<br>
 
•	Pass by Raheja Regency (on the right in 750 m)<br>
1.6 km<br>

•	Greenways Rd turns slightly left and becomesAdyar Bridge<br>
 
•	Go past the petrol station (on the left)<br><br>
950 m
<br>
•	Slight left onto Durgabai Deshmukh Rd<br>
 
•	Pass by Khadim's - Adyar (on the left)<br>
350 m<br>
•	Turn left onto Besant Ave Rd<br>
 
•	Pass by Royal enfield India Limited (on the right in 450 m)<br>
1.2 km<br>

•	Besant Ave Rd turns slightly right and becomes 3rd Ave<br>
 
•	Pass by Rajaji Bhavan Complex (on the left in 500 m)<br>
650 m<br><br>
•	Continue on 4th Main Rd to your destination<br>
4 min (950 m)<br>

•	Turn left onto 4th Main Rd<br>
 
•	Pass by Besant Nagar Tennis Club (on the right)<br>
400 m<br>

•	Turn right onto 6th Avenue/Elliot's Promenade<br>
400 m<br>

•	Turn left<br>
11 m<br>

•	Turn left<br>
 Destination will be on the right<br>
170 m<br><br>
Elliot's Beach





</div>
 </ion-scroll>
</ion-view>
