
<ion-view view-title="CHENNAI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "cvp()"> 
	VADAPALANI MURUGAN TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "ckp()"> 
	KAPALEESHWAR TEMPLE

</button><br>
<button class="button button-clear button-royal" ng-Click = "cmb()"> 
	 MARINA BEACH 

</button><br>
<button class="button button-clear button-royal" ng-Click = "ccb()"> 
COVELONG BEACH 
</button><br>
<button class="button button-clear button-royal" ng-Click = "ceb()"> 
ELLIOT'S BEACH
</button><br>
<button class="button button-clear button-royal" ng-Click = "cfg()"> 
FORT ST. GEORGE 
 </button><br>
 <button class="button button-clear button-royal" ng-Click = "cst()"> 
SAN THOME CHURCH  </button><br>
<button class="button button-clear button-royal" ng-Click = "cpt()"> 
SRI PARTHASARATHY TEMPLE   </button><br>
<button class="button button-clear button-royal" ng-Click = "clm()"> 
THOUSAND LIGHTS MOSQUE   </button><br>
<button class="button button-clear button-royal" ng-Click = "ccmk()"> 
MUTTUKADU   </button><br>
<button class="button button-clear button-royal" ng-Click = "cmbp()"> 
MAHABALIPURAM  </button><br>
<button class="button button-clear button-royal" ng-Click = "cctm()"> 
TIRUTTANI  </button><br>
<button class="button button-clear button-royal" ng-Click = "csmp()"> 
SEMMOZHI POONGA   </button><br>
<button class="button button-clear button-royal" ng-Click = "cmgm()"> 
MGM DIZZEE WORLD   </button><br>
<button class="button button-clear button-royal" ng-Click = "cds()"> 
DAKSHINA CHITRA MUSEUM   </button><br>
<button class="button button-clear button-royal" ng-Click = "cpc()"> 
PULICAT  </button><br>
<button class="button button-clear button-royal" ng-Click = "csd()"> 
SADRAS</button><br>
<button class="button button-clear button-royal" ng-Click = "cvs()"> 
VEDANTHANGAL BIRD SANCTUARY</button><br>
<button class="button button-clear button-royal" ng-Click = "cnbs()"> 
NELAPATTU BIRD SANCTUARY</button><br>
<button class="button button-clear button-royal" ng-Click = "cmh()">
MUDALIARKUPPAM BOAT HOUSE 
</button><br>
<button class="button button-clear button-royal" ng-Click = "cuw()">
 UBBALAMADUGU WATERFALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "cpm()">
PHOENIX MALL 
</button><br>
<button class="button button-clear button-royal" ng-Click = "cna()">
NATIONAL ART GALLERY
</button><br>
<button class="button button-clear button-royal" ng-Click = "ccp()">
CONNEMARA PUBLIC LIBRARY
</button><br>
<button class="button button-clear button-royal" ng-Click = "crm()">
RAILWAY MUSEUM
</button><br>







 </ion-scroll>
</ion-view>
