<ion-view view-title="KAPALEESHWAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ckp.jpg"><br>
<div class="item item-text-wrap">
      Chronicle :<br><br>
      Kapaleeshwarar Temple, Mylapore, Chennai is a temple of Shiva located in Mylapore, Chennai in the Indian state of Tamil Nadu. The form of Shiva's consort Parvati worshipped at this temple is called Karpagambal is from Tamil, ("Goddess of the Wish-Yielding Tree"). The temple was built around the 7th century CE in Dravidian architecture.<br>
According to the Puranas, Shakti worshipped Shiva in the form of a peacock, giving the vernacular name Mylai (Mayilāi) to the area that developed around the temple - mayil is Tamil for "peacock".[3] Shiva is worshiped as Kapaleeswarar, and is represented by the lingam. His consort Parvati is depicted as Karpagambal. The presiding deity is revered in the 7th century Tamil Saiva canonical work, the Tevaram, written by Tamil saint poets known as the nayanars and classified as Paadal Petra Sthalam<br><br>

	Duration : 24 min <br>
Distance : 8.5 km<br>
via Kamarajar Promenade<br>
Fastest route, despite the usual traffic<br><br><br>

FROM : Chennai Central<br><br>
Directions :<br><br>
•     Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br>

•     Head west<br>
            2 min (250 m)<br>
•     Take Kamarajar Promenade and Dr Radha Krishnan Salai to N Mada St in Venkatesa Agraharam<br>
            21 min (8.0 km)<br>
•     Turn left onto N Mada St<br>
            2 min (260 m)<br>

Arulmigu Kapaleeswarar Temple<br>
Vadakku Maada Veethi, Mylapore, Chennai, Tamil Nadu 600004<br><br><br><br>

Duration :24 min <br>
Distance : 6.9 km<br>
via Royapettah High Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Chennai Egmore<br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>
Directions :<br>
•     Take Whenners Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
            30 s (90 m)<br>
•     Continue on Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd. Take Dr Nair Rd to Marshalls Rd/Rukmani Lakshmipathi Rd<br>
            4 min (1.6 km)<br>
•     Continue on Marshalls Rd/Rukmani Lakshmipathi Rd to Anna Salai<br>
            4 min (1.5 km)<br>
•     Take Westcott Rd and Royapettah High Rd to N Mada St in Venkatesa Agraharam<br>
            12 min (3.5 km)<br>
•     Turn left onto N Mada St<br>
            2 min (260 m)<br>
Arulmigu Kapaleeswarar Temple<br>
Vadakku Maada Veethi, Mylapore, Chennai, Tamil Nadu 600004<br><br><br>

Duration : 22 min<br>
Distance :  6.0 km<br>
via Royapettah High Rd<br>
Fastest route, despite the usual traffic<br><br><br>

FROM : Koyambedu,  Chennai, Tamil Nadu 600008<br><br>
Directions :<br><br><br>
•     Take Tamil Salai to Police Commisioners Rd<br>
            2 min (260 m)<br>
•     Continue on Police Commisioners Rd to Marshalls Rd/Rukmani Lakshmipathi Rd<br>
            1 min (400 m)<br>
•     Continue on Marshalls Rd/Rukmani Lakshmipathi Rd to Anna Salai<br>
            4 min (1.5 km)<br>
•     Take Westcott Rd and Royapettah High Rd to N Mada St in Venkatesa Agraharam<br>
           12 min (3.5 km)<br>
•     Turn left onto N Mada St<br>
           2 min (260 m)<br><br><br>

Arulmigu Kapaleeswarar Temple<br>
Vadakku Maada Veethi, Mylapore, Chennai, Tamil Nadu 600004<br>


</div>
 </ion-scroll>
</ion-view>
