<ion-view view-title="PARAMBIKKULAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ckt.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br>Parambikulam Tiger Reserve, which also includes the erstwhile Parambikulam Wildlife Sanctuary, is a 391 square kilometres (151.0 sq mi) protected area in Chittur taluk in Palakkad district of Kerala state, South India. The wildlife sanctuary, which had an area of 285 square kilometres (110 sq mi) was established in 1973. It is in the Sungam range of hills between the Anaimalai Hills and Nelliampathy Hills. Parambikulam Wildlife Sanctuary was declared as part of the Parambikulam Tiger Reserve on February 19, 2010. Including the buffer zone, the tiger reserve has a span of 643.66 km2. The Western Ghats, Anamalai Sub-Cluster, including all of Parambikulam Wildlife Sanctuary, is under consideration by the UNESCO World Heritage Committee for selection as a World Heritage Site
 <br><br>

Duration : 12 min<br><br>

FROM : Coimbatore Junction<br>
State Bank Rd, Gopalapuram, Coimbatore, Tamil Nadu 641001<br>


Railway Station Bus Stop<br>
 S17Gandhipuram Town Bus Stand<br>
 12 min (8 stops)<br>

•	Collector Office<br>
•	DSP Office<br>
•	Uppilipalayam / Oriental Insurance<br>

•	Uppilipalayam<br>
•	CSI School<br>
•	VOC Park<br>

•	Park Gate<br>


Gandhipuram Bus Stand<br>
11/20, Bharathiyar Rd, ATT Colony, New Siddhapudur, Coimbatore, Tamil Nadu 641044<br><br>
Duration : 3 h 2 min<br>
Distance :  98.5 km<br>
via NH83 and Parambikulam Road<br>
Fastest route now due to traffic conditions<br>
This route has tolls. <br><br>
FROM : Gandhipuram Bus Stand<br>
Sathyamurthy Rd, Ram Nagar, Coimbatore, Tamil Nadu 641009<br><br>
Directions : <br><br>
•	Head east on Sastri Rd/Sathyamurthy Rd towards Dr Nanjapaa Rd<br>
28 s (78 m) <br>
•	Take NH948, NH83, Meenkarai Rd and Ambarampalayam - Sethumadai Rd to Athirapilly Rd in Sethumadai<br>
1 h 51 min (67.6 km) <br>
•	Turn right at the 1st cross street onto Dr Nanjapaa Rd<br>
 
•	Pass by Hotel Tamilnadu (on the left) <br>
700 m<br>

•	Turn left onto Park Gate Rd<br>
250 m<br>

•	Turn right towards Grey Town Rd<br>
38 m<br>

•	Turn right at the 1st cross street toward Grey Town Rd<br>
170 m<br>

•	Turn right onto Grey Town Rd<br>
24 m<br>

•	Turn left onto Addis St<br>
400 m<br>

•	Turn right onto NH948<br>
600 m<br>

•	At the roundabout, take the 2nd exit and stay on NH948<br>
400 m<br>

•	Turn left to stay on NH948<br>
 
Partial toll road
 <br>
•	Pass by Senthil Hospital (on the right in 650 m) <br>
10.3 km<br>

•	Continue onto NH83<br>
 
•	Pass by State Bank Of India Atm (on the left in 2.0 km) <br>
30.1 km<br>

•	Turn right at Near Bus Stand onto Palaghat Rd<br>
 
•	Pass by Pollachi Sub Ct (on the left) <br>
150 m<br>

•	Turn left at Auto Stand towards Raja Mill Rd<br>
180 m<br>

•	Turn right at Hotel Gowri Kkrishna onto Raja Mill Rd<br>
 
•	Pass by THE POLLACHI MOBILES (on the left) <br>
400 m<br>

•	Turn left to stay on Raja Mill Rd<br>
 
•	Pass by Meharaj Driving School (on the left) <br>
550 m<br>

•	Turn right at Sri Ganesh Traders onto Meenkarai Rd<br>
 
•	Pass by Nathira Stores (on the left) <br>
7.2 km<br>

•	Turn left at Sungam Bus Stop onto Ambarampalayam - Sethumadai Rd<br>
 
•	Pass by Dharmalingam Compound (on the left) <br>
16.1 km<br>
•	Follow Parambikulam Road to your destination in Muthalamada South<br>
1 h 3 min (30.8 km) <br>

•	Continue onto Athirapilly Rd<br>
69 m<br>

•	Turn right onto Parambikulam Road<br>
 
•	Pass by Tea Stall (on the left in 20.5 km) <br>
30.6 km<br>
•	Enter the roundabout<br>
 
•	Destination will be on the right<br>
110 m<br><br><br>
Parambikulam Tiger Reserve<br>
Anappady, Parambikulam Road, Palakkad District, Parambikulam, Kerala 678661<br>
</div>
 </ion-scroll>
</ion-view>
