<ion-view view-title="THOUSAND LIGHTS MOSQUE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/clm.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
	Thousand Lights (Tamil: ஆயிரம் விளக்கு), a multi-domed mosque in Anna Salai in Chennai, Tamil Nadu, India, is one of the largest mosques in the country and is a revered place of worship and azadari for Shia.<br><br>

Duration : 17 min<br>
Distance : 4.9 km<br>
via Anna Salai/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
Fastest route, despite the usual traffic<br><br>

FROM : Chennai Central<br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>
•	Head west<br>
2 min (250 m) <br>
•	Take Pallavan Salai, Anna Salai/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy, General Patters Rd and Whites Rd to Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy in Peters Colony<br>
15 min (4.6 km) <br>

•	Turn left onto VP Hall Compound Rd<br>
130 m<br>

•	Merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
72 m<br>

•	Turn right onto Pallavan Salai/Park Town Flyover Bridge<br>
 
•	Continue to follow Pallavan Salai<br>
900 m<br>

•	Use the right 2 lanes to turn right at Metropolitan Transport Corporation Limited onto Anna Salai/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by Indian Mutual Bldg (on the left in 1.1 km) <br>
1.4 km<br>


•	Continue onto General Patters Rd<br>
 
•	Pass by Mercury Hospital (on the right) <br>
900 m<br>

•	Turn right onto Whites Rd<br>
 
•	Pass by Corporation Bank zonal office (on the right in 750 m) <br>
1.0 km<br>

•	Continue onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Destination will be on the left<br>
200 m<br><br><br>

Thousand Lights Mosque<br>
Royapettah, Peters Road, Peters Colony, Thousand Lights, Chennai, Tamil Nadu 600086<br><br><br>


Duration : 40 min <br>
Distance : 12.2 km<br>
via Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
Best route now due to traffic conditions<br><br><br>
FROM : Koyambedu, Chennai, Tamil Nadu<br><br>
Directions : <br><br>
•	Take Koyembedu Market E Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
3 min (1.0 km) <br>

•	Head north-east towards Koyembedu Market E Rd<br>
350 m<br>

•	Turn left onto Koyembedu Market E Rd<br>
600 m<br>
•	Follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd to Dr Nair Rd<br>
19 min (7.5 km) <br>

•	Slight left onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
260 m<br>

•	Make a U-turn<br>
 
•	Continue to follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
 
•	Pass by Daniel Thomas Matriculation Higher Secondary School (on the left) <br>
7.3 km<br>
•	Continue on Dr Nair Rd. Take Marshalls Rd/Rukmani Lakshmipathi Rd, Pattullos Rd/Patullos Rd and Whites Rd to Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy in Peters Colony<br>
10 min (3.8 km) <br>

•	Use any lane to turn right onto Dr Nair Rd<br>
500 m<br>

•	Continue onto Police Commisioners Rd<br>
350 m<br>

•	At the roundabout, take the 1st exit onto Adithanar Rd/Pantheon Rd<br>
43 m<br>

•	At the roundabout, take the 3rd exit onto Marshalls Rd/Rukmani Lakshmipathi Rd<br>
1.1 km<br>

•	Turn left onto Ethiraj Salai<br>
120 m<br>

•	Continue onto Binny Rd<br>
280 m<br>

•	Turn right onto Pattullos Rd/Patullos Rd<br>
500 m<br>

•	Use any lane to turn right onto Whites Rd<br>
 
•	Pass by Corporation Bank zonal office (on the right in 450 m) <br>
700 m<br>

•	Continue onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Destination will be on the left<br>
200 m<br><br><br>

THOUSAND LIGHTS MOSQUE<br>
Royapettah, Peters Road, Peters Colony, Thousand Lights, Chennai, Tamil Nadu 600086<br><br><br>



Duration : 8 min <br>
Distance : 2.7 km<br>
via Greams Road<br>
Fastest route now due to traffic conditions<br><br>
FROM : Egmore<br>
Chennai, Tamil Nadu<br><br>
Directions : <br>
•	Head south-east towards Adithanar Rd/Pantheon Rd<br>
20 m<br>

•	Exit the roundabout onto Pantheon Rd<br>
350 m<br>

•	Keep right to continue on Pantheon Flyover<br>
500 m<br>

•	Use any lane to turn slightly right onto Pantheon Rd<br>
81 m<br>

•	Continue onto College Bridge<br>
100 m<br>

•	Turn left onto Greams Road<br>
 
•	Pass by Punjab National Bank (on the right in 650 m) <br>
1.3 km<br>

•	Use any lane to turn left onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
120 m<br>

•	Make a U-turn at Whites Rd<br>
 
•	Destination will be on the left<br>
210 m<br><br><br>

Thousand Lights Mosque<br>
Royapettah, Peters Road, Peters Colony, Thousand Lights, Chennai, Tamil Nadu 600086<br>
 
	

</div>
 </ion-scroll>
</ion-view>
