<ion-view view-title="MARINA BEACH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cmb.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
	Marina Beach is a natural urban beach in the city of Chennai, India, along the Bay of Bengal. The beach runs from near Fort St. George in the north to Foreshore Estate in the south, a distance of 6.5 km (4.0 mi), making it the longest natural urban beach in the country and one of the world's longest beach ranking with 1. The Marina is primarily sandy, unlike the short, rocky formations that make up the Juhu Beach in Mumbai. The average width of the beach is 300 m (980 ft)] and the width at the widest stretch is 437 m (1,434 ft). Bathing and swimming at the Marina Beach are legally prohibited because of the dangers, as the undercurrent is very turbulent. It is one of the most crowded beaches in the country and attracts about 30,000 visitors a day during weekdays] and 50,000 visitors a day during the weekends and on holidays. During summer months, about 15,000 to 20,000 people visit the beach daily. <br><br>

Duration : 16 min <br>
Distance : 5.1 km<br>
via Wallahjah Rd and Kamarajar Promenade<br>
Fastest route, despite the usual traffic<br><br><br>

FROM : Koyambedu, Chennai, Tamil Nadu 600008<br>
Directions :<br><br>


•     Take Tamil Salai to Police Commisioners Rd<br>
            2 min (260 m)<br>
•     Drive from Adithanar Rd, Wallahjah Rd andKamarajar Promenade/Kamarajar Salai Rd toAyothiya Nagar<br>
            12 min (4.7 km)<br>
•     Drive to Marina Beach Road in Marina Beach<br>
            50 s (150 m)<br><br>
Marina Beach<br><br>


Duration : 14 min <br>
Distance : 4.4 km<br>
via Wallahjah Rd and Kamarajar Promenade<br>
Fastest route, despite the usual traffic<br><br><br>
FROM : Egmore<br>
Chennai, Tamil Nadu<br><br><br>
Directions : <br>
•     Follow Adithanar Rd, Wallahjah Rd and Kamarajar Promenade/Kamarajar Salai Rd to Ayothiya Nagar<br>
            11 min (4.3 km)<br>
•     Drive to Marina Beach Road in Marina Beach<br>
              50 s (150 m)<br><br><br>
Marina Beach<br><br>


Duration : 14 min <br>
Distance : 5.1 km<br>
via Kamarajar Promenade<br>
Fastest route, lighter traffic than usual<br><br><br>

FROM : Chennai Central<br><br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br><br>
Directions :<br><br>

•     Head west<br>
2 min (250 m)<br>
•     Drive from SH 114 and Kamarajar Promenade toAyothiya Nagar<br>
12 min (4.7 km)<br>
•     Drive to Marina Beach Road in Marina Beach<br>
50 s (150 m)<br><br><br>
Marina Beach




</div>
 </ion-scroll>
</ion-view>
