<ion-view view-title="MAHABALIPURAM ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cmbp.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
	(Tamil:மாமல்லபுரம்) Mamallapuram, also known as Mahabalipuram, is a town in Kancheepuram district in the Indianstate of Tamil Nadu, around 60 km south of the city of Chennai. It is an ancient historic town and was a bustling seaport during the time of Periplus (1st century CE) and Ptolemy (140 CE), from where ancient Indian traders sailed to countries of South East Asia.
By the 7th century it was a port city of the South Indian dynasty of the Pallavas. It has a group of sanctuaries carved out of rock in the 7th and 8th centuries: rathas (temples in the form of chariots), mandapas (cave sanctuaries), giant open-air rock reliefs such as the famous Descent of the Ganges, and the Shore Temple, with thousands of sculptures to the glory of Shiva. The Group of Monuments at Mahabalipuram has been classified as a UNESCO World Heritage Site

	  <br><br>

Duration : 1 h 36 min<br>
Distance : 71.3 km<br>
via NH32 and E Coast Rd<br>
Fastest route now, avoids congestion<br>
 This route has tolls. <br><br><br>
FROM : Chennai Mofussil Bus Terminus<br>
CMBT Passenger Way, Koyambedu, Chennai, Tamil Nadu 600107<br><br>
Directions : <br><br>

•	Head west on CMBT Passenger Way towards 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
1 min (190 m) <br>
•	Follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd and NH32 to Gandhi Rd in New Perungalathur<br>
37 min (26.1 km) <br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Nathella Suchanamma Kalyana Mandapam (on the right in 700 m) <br>
1.0 km<br>

•	Slight left onto Mumbai Hwy<br>
200 m<br>

•	Use any lane to take the slip road onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Pass by Lanson Toyota (on the left) <br>
4.1 km<br>

•	Continue straight to stay on Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
100 m<br>

•	Use the left lane to take the slip road to NH32<br>
280 m<br>

•	Take the slip road on the right onto NH32<br>
 
Partial toll road<br>
18.7 km<br>

•	Keep right to stay on NH32<br>
 
•	Pass by the lake (on the left in 1.3 km) <br>
1.7 km<br>

•	Turn left onto Gandhi Rd<br>
 
•	Pass by Perungalathur Police Station (on the right) <br>
10 min (5.2 km) <br>
•	Follow Vandalur-Kelambakkam Rd to E Coast Rd in Salavankuppam
44 min (39.9 km) <br>

•	Turn left onto Vandalur-Kelambakkam Rd<br>
 
•	Pass by LifeCell International Pvt. Ltd (on the right in 6.5 km) <br>
15.7 km<br>

•	Turn right at new student xerox onto Old Mahabalipuram Rd/OMR/Rajiv Gandhi IT Expy<br>
 
•	Pass by Andhra Mess (on the left) <br>
400 m<br>

•	Turn left at Malabar Stores onto Kelambakam-Kovalam Rd<br>
 
•	Pass by Prakash electricals,electronics & hardware (on the left) <br>
3.0 km<br>

•	Turn left onto E Coast Rd<br>
900 m

•	Make a U-turn<br>
 
•	Pass by DR.ARUN’S PHOTOGRAPHY AND VINTAGE CAMERA MUSEUM. (on the left) <br>
19.8 km<br><br>

Mahabalipuram<br>
Tamil Nadu<br><br><br>

Duration : 1 h 35 min<br>
Distance : 56.8 km<br>
via E Coast Rd<br>
Fastest route now due to traffic conditions<br>
 This route has tolls. <br><br><br>

FROM : Egmore<br>
Chennai, Tamil Nadu<br><br>
Directions : <br><br>
•	Take Wallahjah Rd, Kamarajar Promenade, Santhome High Rd, Greenways Rd ... and LB Rd to Old Mahabalipuram Rd/Rajiv Gandhi IT Expy in Dr. Vasi Estate<br>
36 min (13.7 km) <br>

•	Head south-east towards Adithanar Rd/Pantheon Rd<br>
9 m<br>

•	Exit the roundabout onto Adithanar Rd/Pantheon Rd<br>
 
•	Continue to follow Adithanar Rd<br>
 
•	Go through 1 roundabout<br>
 
•	Pass by Govt Hospital (on the left in 850 m) <br>
1.1 km<br>

•	Continue onto Blackers Rd<br>
 
•	Pass by Gaiety Palace (on the left) <br>
200 m<br>

•	Use any lane to turn left onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by City Centre Plaza (on the right) <br>
67 m<br>

•	Turn right onto Wallahjah Rd<br>
1.4 km<br>

•	Turn right onto Kamarajar Promenade/Kamarajar Salai Rd<br>
 
•	Continue to follow Kamarajar Promenade<br>
 
•	Pass by Commissionerate of Municipal Administration (on the right) <br>
2.8 km<br>

•	Continue straight to stay on Kamarajar Promenade<br>
230 m<br>

•	Continue straight onto Santhome High Rd<br>
 
•	Pass by Raffles Millennium International (on the left in 1.1 km) <br>
1.6 km<br>

•	Continue straight onto Greenways Rd<br>
 
•	Pass by Raheja Regency (on the right in 750 m) <br>
1.6 km<br>

•	Greenways Rd turns slightly left and becomes Adyar Bridge<br>
 
•	Go past the petrol station (on the left) <br>
1.5 km<br>

•	Slight left towards LB Rd<br>
280 m<br>

•	Merge onto LB Rd<br>
 
•	Pass by G Organics Store (on the left) <br>
2.9 km<br>
•	Drive to E Coast Rd in Salavankuppam<br>
52 min (43.1 km) <br>

•	Slight left onto Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Adidas (on the left in 400 m) <br>
2.9 km<br>

•	Continue straight onto Okkiyam Thuraipakkam/Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
•	Continue to follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Annai Hotel (on the left in 3.2 km) <br>
6.4 km<br>

•	Turn left onto Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd<br>
 
•	Continue to follow Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd<br>
 
Partial toll road
 <br>
•	Pass by Vee Care Hospital (on the left) <br>
2.2 km<br>

•	Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd turns right and becomes E Coast Rd<br>
 
Partial toll road<br>
 
•	Pass by HDFC Bank ATM (on the left in 5.5 km) <br>
31.7 km<br><br>

Mahabalipuram<br>
Tamil Nadu<br><br><br><br>

Duration : 1 h 40 min <br>
Distance : 57.5 km<br>
via E Coast Rd<br>
Fastest route now due to traffic conditions<br>
 This route has tolls. <br><br>

FROM  : Chennai Central<br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>
•	Continue to Poongavanapuram<br>
3 min (400 m) <br>

•	Head west<br>
250 m<br>

•	Turn left onto VP Hall Compound Rd<br>
130 m<br>

•	Merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd/SH <br>114<br>
 
•	Continue to follow SH 114<br>
4 min (800 m) <br>
•	Take Kamarajar Promenade, Santhome High Rd, Greenways Rd, Adyar Bridge and LB Rd to Old Mahabalipuram Rd/Rajiv Gandhi IT Expy in Dr. Vasi Estate<br>
32 min (13.2 km) <br>

•	Use any lane to turn right onto Muthuswamy Rd<br>
450 m<br>

•	Continue onto Flag Staff Rd<br>
650 m<br>

•	Keep right to stay on Flag Staff Rd<br>
62 m<br>

•	At the roundabout, take the 2nd exit onto Kamarajar Promenade<br>
 
•	Pass by IOB ATM (on the right in 2.5 km) <br>
4.0 km<br>

•	Continue straight to stay on Kamarajar Promenade<br>
230 m<br>

•	Continue straight onto Santhome High Rd<br>
 
•	Pass by Raffles Millennium International (on the left in 1.1 km) <br>
1.6 km<br>

•	Continue straight onto Greenways Rd<br>
 
•	Pass by Raheja Regency (on the right in 750 m) <br>
1.6 km<br>

•	Greenways Rd turns slightly left and becomes Adyar Bridge<br>
 
•	Go past the petrol station (on the left) <br>
1.5 km<br>

•	Slight left towards LB Rd<br>
280 m<br>

•	Merge onto LB Rd<br>
 
•	Pass by G Organics Store (on the left) <br>
2.9 km<br>
•	Drive to E Coast Rd in Salavankuppam<br>
52 min (43.1 km) <br>

•	Slight left onto Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Adidas (on the left in 400 m) <br>
2.9 km<br>

•	Continue straight onto Okkiyam Thuraipakkam/Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
•	Continue to follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Annai Hotel (on the left in 3.2 km) <br>
6.4 km<br>

•	Turn left onto Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd
 <br>
•	Continue to follow Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd<br>
 
Partial toll road<br>
 
•	Pass by Vee Care Hospital (on the left) <br>
2.2 km<br>

•	Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd turns right and becomes E Coast Rd<br>
 
Partial toll road<br>
 
•	Pass by HDFC Bank ATM (on the left in 5.5 km) <br>
31.7 km<br><br><br>

Mahabalipuram<br>
Tamil Nadu<br>

</div>
 </ion-scroll>
</ion-view>
