<ion-view view-title="MGM DIZZEE WORLD">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cmgm.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
MGM Dizzee World is a theme park located in Chennai, Tamil Nadu, India. It is located in East Coast Road. The park has log flume, Ferris wheel, spider spin, roller coaster, the funny mountain, dashing cars, super trooper, a water world and it also hosts special seasonal shows.[1]
It is owned by MGM Group of Companies.[2][3]
The park also hosts special features such as snow valley experience introduced during the early 2000s; an artificial snow shower with snow-capped mountain and a snow man


	  <br><br>
	  Duration : 1 h 17 min<br>
Distance : 33.9 km<br>
via Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
Fastest route now due to traffic conditions<br>
 This route has tolls. <br><br><br>


FROM : Chennai Egmore<br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>
Directions : <br><br>
•	Take Whenners Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
30 s (90 m) <br>

•	Head north-east towards Whenners Rd<br>
43 m<br>

•	Turn left onto Whenners Rd<br>
47 m<br>

•	Turn right at the 1st cross street onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
 
•	Pass by Office of Commissioner of Police (on the left) <br>
1 min (260 m) <br>
•	Take Wallahjah Rd, Kamarajar Promenade, Santhome High Rd, Greenways Rd ... and LB Rd to Old Mahabalipuram Rd/Rajiv Gandhi IT Expy in Dr. Vasi Estate
37 min (14.2 km) <br>

•	Turn right onto Gandhi Irwin Bridge Rd<br>
 
•	Pass by Government College of Fine Arts (on the left) <br>
500 m<br>

•	At the roundabout, continue straight onto Langs Garden Rd<br>
1.0 km<br>

•	Turn left onto Adithanar Rd<br>
100 m<br>

•	Continue onto Blackers Rd<br>
 
•	Pass by Gaiety Palace (on the left) <br>
200 m<br>

•	Use any lane to turn left onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by City Centre Plaza (on the right) <br>
67 m<br>

•	Turn right onto Wallahjah Rd<br>
1.4 km<br>

•	Turn right onto Kamarajar Promenade/Kamarajar Salai Rd<br>
 
•	Continue to follow Kamarajar Promenade<br>
 
•	Pass by Commissionerate of Municipal Administration (on the right) <br>
2.8 km<br>

•	Continue straight to stay on Kamarajar Promenade<br>
230 m<br>

•	Continue straight onto Santhome High Rd<br>
 
•	Pass by Raffles Millennium International (on the left in 1.1 km) <br>
1.6 km<br>

•	Continue straight onto Greenways Rd<br>
 
•	Pass by Raheja Regency (on the right in 750 m) <br>
1.6 km<br>

•	Greenways Rd turns slightly left and becomes Adyar Bridge<br>
 
•	Go past the petrol station (on the left) <br>
1.5 km<br>

•	Slight left towards LB Rd<br>
280 m<br>

•	Merge onto LB Rd<br>
 
•	Pass by G Organics Store (on the left) <br>
2.9 km<br>
•	Follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy to Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd in Sholinganallur<br>
15 min (9.3 km) <br>

•	Slight left onto Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Adidas (on the left in 400 m) <br>
2.9 km<br>

•	Continue straight onto Okkiyam Thuraipakkam/Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
•	Continue to follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Annai Hotel (on the left in 3.2 km) <br>
6.4 km<br>

•	Turn left onto Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd<br>
 
•	Continue to follow Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd<br>
 
Partial toll road<br>
 
•	Pass by Vee Care Hospital (on the left) <br>
4 min (2.2 km) <br>

•	Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd turns right and becomes E Coast Rd<br>
 
Partial toll road<br>
 
•	Pass by HDFC Bank ATM (on the left in 5.5 km) <br>
 
•	Destination will be on the left<br>
11 min (8.0 km) <br><br>

MGM Dizzee World<br>
No. 1/74, East Coast Road, Muttukadu, Chennai, Tamil Nadu 603112<br><br><br><br>

Duration : 1 h 17 min <br>
Distance : 34.8 km<br>
via Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
Fastest route, despite the usual traffic<br>
 This route has tolls. <br><br><br>

FROM : Chennai Central<br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>
•	Continue to Poongavanapuram<br>
3 min (400 m) <br>
•	Head west<br>
250 m<br>

•	Turn left onto VP Hall Compound Rd<br>
130 m<br>

•	Merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd/SH 114<br>
 
•	Continue to follow SH 114<br>
4 min (800 m) <br>
•	Take Kamarajar Promenade, Santhome High Rd, Greenways Rd and Adyar Bridge to Rajiv Gandhi IT Expy<br>
25 min (11.1 km) <br>

•	Use any lane to turn right onto Muthuswamy Rd<br>
450 m<br>

•	Continue onto Flag Staff Rd<br>
650 m<br>

•	Keep right to stay on Flag Staff Rd<br>
62 m<br>

•	At the roundabout, take the 2nd exit onto Kamarajar Promenade<br>
 
•	Pass by IOB ATM (on the right in 2.5 km) <br>
4.0 km<br>

•	Continue straight to stay on Kamarajar Promenade<br>
230 m<br>

•	Continue straight onto Santhome High Rd<br>
 
•	Pass by Raffles Millennium International (on the left in 1.1 km) <br>
1.6 km<br>

•	Continue straight onto Greenways Rd<br>
 
•	Pass by Raheja Regency (on the right in 750 m) <br>
1.6 km<br>

•	Greenways Rd turns slightly left and becomes Adyar Bridge<br>
 
•	Go past the petrol station (on the left) <br>
1.5 km<br>

•	Continue onto Sardar Vallabhai Patel Flyover<br>
270 m
<br>
•	Continue onto Sardar Patel Rd<br>
 
•	Pass by CITI (on the left) <br>
850 m<br>
•	Follow Rajiv Gandhi IT Expy to Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd in Sholinganallur<br>
22 min (12.4 km) <br>

•	Turn left onto Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Adidas (on the left in 3.5 km) <br>
6.0 km<br>

•	Continue straight onto Okkiyam Thuraipakkam/Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
•	Continue to follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
Partial toll road<br>
 
•	Pass by Annai Hotel (on the left in 3.2 km) <br>
6.4 km<br>

•	Turn left onto Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd<br>
 
•	Continue to follow Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd<br>
 
Partial toll road<br>
 
•	Pass by Vee Care Hospital (on the left) <br>
4 min (2.2 km) <br>

•	Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd turns right and becomes E Coast Rd<br>
 
Partial toll road<br>
 
•	Pass by HDFC Bank ATM (on the left in 5.5 km) <br>
 
•	Destination will be on the left<br>
11 min (8.0 km) <br><br><br>

MGM Dizzee World<br>
No. 1/74, East Coast Road, Muttukadu, Chennai, Tamil Nadu 603112<br><br><br>

Duration : 1 h 28 min<br>
Distance : 35.9 km<br>
via E Coast Rd<br>
Fastest route, despite the usual traffic<br>
 This route has tolls. <br><br>
<br>
FROM : Chennai Mofussil Bus Terminus<br>
CMBT Passenger Way, Koyambedu, Chennai, Tamil Nadu 600107<br><br>
Directions : <br><br>
•	Head west on CMBT Passenger Way towards 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
1 min (190 m) <br>
•	Follow 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy and Chennai Theni Hwy/Trichy-Chennai Hwy to Inner Ring Road in Alandur, Ramapuram<br>
24 min (9.6 km) <br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
110 m<br>

•	Make a U-turn<br>
 
•	Pass by the park (on the left) <br>
500 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Federal Bank Vadapalani (on the left) <br>
550 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
550 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Aakash Fertility Centre & Hospital (on the left in 350 m) <br>
450 m<br>

•	Continue straight past State Bank of India to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
66 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
150 m<br><br>

•	Slight right onto Vadapalani Flyover<br>
450 m<br>

•	Merge onto 200 Feet Rd/Jawaharlal Nehru Rd<br>
1.5 km<br>

•	Continue straight through Ashok Pillar Cir onto 200 Feet Rd<br>
300 m<br>

•	Turn right onto 11th Ave/200 Feet Rd<br>
230 m<br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd<br>
 
•	Continue to follow Jawaharlal Nehru Rd<br>
 
•	Pass by Hyuandai Service Center (on the left in 1.6 km) <br>
2.8 km<br>

•	Continue onto Chennai Theni Hwy/Kathipara Grade Flyover/Trichy-Chennai Hwy<br>
 
•	Continue to follow Chennai Theni Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by St Thomas Mt Head Post Office (on the left in 1.2 km) <br>
1.9 km<br>
•	Follow Inner Ring Road and Velachery Rd/Velachery Tambaram Main Rd to 200 Feet Rd/Pallavaram-Thuraipakkam Rd in Pallikaranai Marshland<br>
14 min (7.1 km) <br>

•	Turn left onto Inner Ring Road<br>
200 m<br>

•	At the roundabout, take the 2nd exit and stay on Inner Ring Road<br>
 
•	Pass by Hotel Shalimar (on the left) <br>
3.5 km<br>

•	Keep right to stay on Inner Ring Road<br>
1.4 km<br>

•	Slight left onto Velachery Rd/Velachery Tambaram Main Rd<br>
 
•	Pass by Doshi Symphony (on the right in 500 m) <br>
1.6 km<br>

•	Turn left onto the slip road to MDR622<br>
120 m<br>

•	Continue onto MDR622<br>
200 m<br>
•	Take Old Mahabalipuram Rd/Rajiv Gandhi IT Expy to Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd in Sholinganallur<br>
15 min (9.0 km) <br>

•	Turn left onto 200 Feet Rd/Pallavaram-Thuraipakkam Rd<br>
 
Partial toll road<br>
3.3 km<br>

•	Turn right onto Okkiyam Thuraipakkam/Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
•	Continue to follow Old Mahabalipuram Rd/Rajiv Gandhi IT Expy<br>
 
•	Pass by Annai Hotel (on the left in 2.4 km) <br>
5.6 km<br>

•	Turn left onto Dr Kalaignar Karunanidhi Salai/Perumbakkam Main Rd/Sholinganallur Main Rd<br>
 
•	Continue to follow Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd<br>
 
Partial toll road
 <br>
•	Pass by Vee Care Hospital (on the left) <br>
4 min (2.2 km) <br><br>

•	Dr Kalaignar Karunanidhi Salai/Sholinganallur Main Rd turns right and becomes E Coast Rd<br>
 
Partial toll road<br>
 
•	Pass by HDFC Bank ATM (on the left in 5.5 km) <br>
 
•	Destination will be on the left<br>
11 min (8.0 km) <br><br><br>

MGM Dizzee World<br>
No. 1/74, East Coast Road, Muttukadu, Chennai, Tamil Nadu 603112<br>



</div>
 </ion-scroll>
</ion-view>
