<ion-view view-title="MONKEY FALLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cmt.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br>Monkey Falls are natural waterfalls located near the uphill ghat road Valparai on the Pollachi-Valparai road in the Anaimalai Hills range, in Coimbatore district. 
Monkey Falls is about 30 km from Pollachi. Refreshing Natural Water Falls about 6 km from Azhiyar Dam. Monkey Falls is located on road connecting Pollachi and Valparai.


 <br><br>

Duration : 12 min<br><br>

FROM : Coimbatore Junction<br>
State Bank Rd, Gopalapuram, Coimbatore, Tamil Nadu 641001<br>


Railway Station Bus Stop<br>
 S17Gandhipuram Town Bus Stand<br>
 12 min (8 stops)<br>

•	Collector Office<br>
•	DSP Office<br>
•	Uppilipalayam / Oriental Insurance<br>

•	Uppilipalayam<br>
•	CSI School<br>
•	VOC Park<br>

•	Park Gate<br>


Gandhipuram Bus Stand<br>
11/20, Bharathiyar Rd, ATT Colony, New Siddhapudur, Coimbatore, Tamil Nadu 641044<br><br>
Duration : 2 h 2 min<br>
Distance :  71.1 km<br>
via NH83 and SH 78<br>
Fastest route now due to traffic conditions<br>
This route has tolls. <br><br>

FROM : Gandhipuram Bus Stand<br>
Sathyamurthy Rd, Ram Nagar, Coimbatore, Tamil Nadu 641009<br><br>
Directions : <br><br>
•	Follow Dr Nanjapaa Rd to NH948 in ATT Colony<br>
4 min (1.5 km) <br>

•	Head east on Sastri Rd/Sathyamurthy Rd towards Dr Nanjapaa Rd<br>
78 m<br>

•	Turn right at the 1st cross street onto Dr Nanjapaa Rd<br>
 
•	Pass by Hotel Tamilnadu (on the left) <br>
1.4 km<br>
•	Follow NH948 and NH83 to Puliampatti, Pollachi<br>
1 h 11 min (42.4 km) <br>

•	Dr Nanjapaa Rd turns left and becomes NH948<br>
140 m<br>

•	Make a U-turn at NH209<br>
600 m<br>

•	At the roundabout, take the 2nd exit and stay on NH948<br>
400 m<br>

•	Turn left to stay on NH948<br>
 
Partial toll road<br>
 
•	Pass by Senthil Hospital (on the right in 650 m) <br>
10.3 km

•	Continue onto NH83<br>
 
•	Pass by State Bank Of India Atm (on the left in 2.0 km) <br>
30.9 km<br>
•	Drive to SH 78<br>
33 min (27.3 km) <br>

•	Turn right at Shakthi Complex towards Uthukadu Rd<br>
150 m<br>

•	Turn left at S.M.S FISH STALL onto Uthukadu Rd<br>
 
•	Pass by the park (on the left) <br>
210 m<br>

•	Turn right towards Theppakulam St<br>
110 m<br>

•	Continue onto Theppakulam St<br>
210 m<br>

•	Turn left at new masic park onto SH 78<br>
 
•	Pass by Devi Cards (on the left) <br>
 
•	Destination will be on the right<br>
26.6 km<br><br>
Monkey falls<br>
Coimbatore, Tamil Nadu 642101<br>



</div>
 </ion-scroll>
</ion-view>
