<ion-view view-title="MASANIAMMAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cmtt.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br>Arulmigu Masani Amman Temple, often referred as Anaimalai Masani Amman Temple, is a highly revered shrine situated at Anaimalai, in Coimbatore District of Tamil Nadu. The temple, nestled amid grassland interlaced with criss-cross pathways and rivulets against the backdrop of Anaimalai Hills, is about 24 km south-west of Pollachi.
 <br><br>

Duration : 12 min<br><br>

FROM : Coimbatore Junction<br>
State Bank Rd, Gopalapuram, Coimbatore, Tamil Nadu 641001<br>


Railway Station Bus Stop<br>
 S17Gandhipuram Town Bus Stand<br>
 12 min (8 stops)<br>

•	Collector Office<br>
•	DSP Office<br>
•	Uppilipalayam / Oriental Insurance<br>

•	Uppilipalayam<br>
•	CSI School<br>
•	VOC Park<br>

•	Park Gate<br>


Gandhipuram Bus Stand<br>
11/20, Bharathiyar Rd, ATT Colony, New Siddhapudur, Coimbatore, Tamil Nadu 641044<br><br>
Duration : 1 h 47 min<br>
Distance :  58.5 km<br>
via NH83<br>
Fastest route now due to traffic conditions<br>
This route has tolls. <br><br>

FROM : Gandhipuram Bus Stand<br>
Sathyamurthy Rd, Ram Nagar, Coimbatore, Tamil Nadu 641009<br><br>
Directions : <br><br>
•	Follow Dr Nanjapaa Rd to NH948 in ATT Colony<br>
4 min (1.5 km) <br>

•	Head east on Sastri Rd/Sathyamurthy Rd towards Dr Nanjapaa Rd<br>
78 m<br>

•	Turn right at the 1st cross street onto Dr Nanjapaa Rd<br>
 
•	Pass by Hotel Tamilnadu (on the left) <br>
1.4 km<br>
•	Follow NH948 and NH83 to Palaghat Rd in Mahalingapuram, Pollachi<br>
1 h 8 min (41.5 km) <br>

•	Dr Nanjapaa Rd turns left and becomes NH948<br>
140 m<br>

•	Make a U-turn at NH209<br>
600 m<br>

•	At the roundabout, take the 2nd exit and stay on NH948<br>
400 m<br>

•	Turn left to stay on NH948<br>
 
•	Partial toll road
 <br>
•	Pass by Senthil Hospital (on the right in 650 m) <br>
10.3 km<br>

•	Continue onto NH83<br> 
•	Pass by State Bank Of India Atm (on the left in 2.0 km) <br>
30.1 km<br>
•	Take Meenkarai Rd and Ambarampalayam - Sethumadai Rd to your destination in Anaimalai<br>
27 min (15.5 km) <br>

•	Turn right at Near Bus Stand onto Palaghat Rd<br>
 
•	Pass by Pollachi Sub Ct (on the left) <br>
150 m<br>

•	Turn left at Auto Stand towards Raja Mill Rd<br>
180 m<br>

•	Turn right at Hotel Gowri Kkrishna onto Raja Mill Rd<br>
 
•	Pass by THE POLLACHI MOBILES (on the left) <br>
400 m<br>

•	Turn left to stay on Raja Mill Rd<br> 
•	Pass by Meharaj Driving School (on the left) <br>
550 m<br>

•	Turn right at Sri Ganesh Traders onto Meenkarai Rd<br> 
•	Pass by Nathira Stores (on the left) <br>
7.2 km<br>

•	Turn left at Sungam Bus Stop onto Ambarampalayam - Sethumadai Rd<br>
 
•	Pass by Dharmalingam Compound (on the left) <br>
6.7 km<br>

•	Turn left at S.K LODGE<br>
 
•	Destination will be on the left<br>
300 m<br><br><br>
Arulmigu Masani Amman Temple<br>
Pollachi Taluk, Coimbatore District, Anaimalai, Tamil Nadu 642104<br>




</div>
 </ion-scroll>
</ion-view>
