<ion-view view-title="NATIONAL ART GALLERY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cna.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br>
	The National Art Gallery situated in Egmore, Chennai, is one of the oldest art galleries in India. Constructed with red stones sourced from Satyavedu in Andhra Pradesh, the Gallery was built in 1906 in Indo-Sarsenic architecture and houses paintings from Thanjavur, Rajasthan, Kangra and Deccan areas, as well as sandalwood sculptures. The Gallery has remained closed since 2002, as part of the structure suffered damage
	
<br><br>
Duration : 19 min<br>
Distance : 3.9 km<br>
via Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
Fastest route, despite the usual traffic
<br><br>
FROM : Chennai Central<br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>
•	Continue to Poongavanapuram<br>
3 min (400 m) <br>

•	Head west<br>
250 m<br>

•	Turn left onto VP Hall Compound Rd<br>
130 m<br>
•	Follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd to Dr Nair Rd in Egmore<br>
7 min (2.2 km) <br>

•	Merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
72 m<br>

•	Make a U-turn at Pallavan Salai/Station Rd<br>
 
•	Pass by Office of the Chief Inspector - Railway Protection Force (on the left in 1.4 km) <br>
2.1 km<br>
•	Continue on Dr Nair Rd. Take Tamil Salai to CASA Major Rd in Sulaiman Zackria Avenue<br>
5 min (1.4 km) <br>

•	Turn left onto Dr Nair Rd<br>
450 m<br>

•	Turn right onto Tamil Salai<br>
110 m<br>

•	At the roundabout, take the 1st exit and stay on Tamil Salai<br>
550 m<br>

•	Turn left onto CASA Major Rd<br>
 
•	Closed 8:00 – 10:00 AM<br>
 
•	Destination will be on the left<br>
260 m<br><br><br>

National Art Gallery<br>
Inside Govt Museum, Pantheon Street, Egmore, Chennai, Tamil Nadu 600008<br><br><br><br><br>

Duration : 12 min <br>
Distance : 2.2 km<br>
via Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd and Tamil Salai<br>
Fastest route, despite heavier traffic than usual<br><br>

FROM : Chennai Egmore<br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>

Directions : <br><br>
•	Head north-east towards Whenners Rd<br>
43 m<br>

•	Turn left onto Whenners Rd<br>
47 m<br>

•	Turn left at the 1st cross street onto Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
 
•	Pass by Office of the Chief Inspector - Railway Protection Force (on the left) <br>
700 m<br>

•	Turn left onto Dr Nair Rd<br>
450 m<br>

•	Turn right onto Tamil Salai<br>
110 m<br>

•	At the roundabout, take the 1st exit and stay on Tamil Salai<br>
550 m<br>

•	Turn left onto CASA Major Rd<br>
 
•	Closed 8:00 – 10:00 AM<br>
 
•	Destination will be on the left<br>
260 m<br><br><br>

National Art Gallery<br>
Inside Govt Museum, Pantheon Street, Egmore, Chennai, Tamil Nadu 600008<br><br><br><br><br>

Duration : 46 min<br>
Distance :  18.4 km<br>
via New Avadi Rd<br>
Fastest route now due to traffic conditions<br><br>

FROM : Lenskart Optical Store at Ambattur Bus Stand, Chennai<br>
Shop: 490, MTH Road, Near Rakki Multiplex, Ambattur, Chennai - 600053, Chennai, Tamil Nadu 600053<br><br>
Directions : <br><br>
•	Follow Ambattur Red Hills Rd/Chennai - Thiruttani - Renigunta Hwy/Surapet Main Rd to Kallikuppam<br>
6 min (3.1 km) <br>

•	Head north-west on NH716 towards NH205<br>
36 m<br>

•	Sharp right to stay on NH716<br>
 
•	Pass by Rakki Cinemas (on the left) <br>
160 m<br>

•	Continue straight onto Ambattur Red Hills Rd/Chennai - Thiruttani - Renigunta Hwy/Surapet Main Rd<br>
 
•	Pass by Vasan Eye Care (on the right) <br>
2.9 km<br>
•	Take Pattaraiwalkam Service Rd, Karukku Main Rd and E Ave Rd to NH716 in TVS Industries<br>
12 min (5.6 km) <br>

•	Turn right towards Pattaraiwalkam Service Rd<br>
180 m<br>

•	Continue onto Pattaraiwalkam Service Rd<br>
1.1 km<br>

•	Turn left onto Karukku Main Rd<br>
1.8 km<br>

•	Turn left towards Dairy Rd<br>
220 m<br>

•	Turn left onto Dairy Rd<br>
 
•	Pass by Lenox India Pvt Ltd (on the right) <br>
700 m<br>

•	Continue onto Central Ave<br>
700 m<br>

•	Continue onto E Ave Rd<br>
 
•	Pass by Union Bank of India (on the left) <br>
900 m<br>
•	Take New Avadi Rd to Water Works Ave in Kumaran Nagar<br>
13 min (5.9 km) <br>

•	Turn left onto NH716<br>
850 m
<br>
•	At the roundabout, take the 2nd exit onto Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd/Padi Flyover<br>
 
•	Continue to follow Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd<br>
 
•	Pass by DCB Bank ATM (on the left in 650 m) <br>
1.1 km<br>

•	Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd turns slightly right and becomes New Avadi Rd<br>
 
•	Pass by Vijay Shreemahal A/C (on the right in 1.8 km) <br>
4.0 km<br>
•	Continue on Water Works Ave. Take Harleys Rd and Ormes Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
7 min (2.4 km) <br>

•	Turn left onto Water Works Ave<br>
600 m<br>

•	Turn right onto 2nd St<br>
180 m<br>

•	Turn left onto Kilpauk Garden Road<br>
250 m<br>

•	Continue onto Harleys Rd<br>
 
•	Pass by Indian Bank (on the right) <br>
220 m<br>

•	Slight right to stay on Harleys Rd<br>
63 m<br>

•	Turn right onto Balfour Road<br>
110 m<br>

•	Turn left to stay on Balfour Road<br>
50 m<br>

•	Continue straight onto Ormes Rd<br>
700 m<br>

•	Continue straight onto Flowers Rd/Ormes Rd<br>
240 m<br>
•	Take Gengu Reddy Rd to CASA Major Rd<br>
2 min (900 m) <br>

•	Turn left onto Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
170 m<br>

•	Turn right onto Gengu Reddy Rd<br>
400 m<br>

•	Keep left to stay on Gengu Reddy Rd<br>
140 m<br>

•	Continue onto E Spur Tank Rd<br>
150 m<br>

•	Slight left towards CASA Major Rd<br>
22 m<br>

•	At the roundabout, take the 1st exit onto CASA Major Rd<br>
 
•	Parts of this road are closed 8:00 – 10:00 AM<br>
 
•	Pass by Abraham Eye Clinic (on the left) <br>
 
•	Destination will be on the left<br>
2 min (500 m) <br><br><br>

National Art Gallery<br>
Inside Govt Museum, Pantheon Street, Egmore, Chennai, Tamil Nadu 600008<br>


</div>
 </ion-scroll>
</ion-view>
