<ion-view view-title="NELAPATTU BIRD SANCTUARY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cnbs.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
	Nelapattu Bird Sanctuary is a bird sanctuary in Nellore district, Andhra Pradesh, India, near the village of Nelapattu. It has an area of 458.92 hectares. It is an important breeding site for spot-billed pelicans (Pelecanus philippensis). 
Nelapattu village sarpanch B.Vijaya Bhaskar said that Fleming festival done every year first or second week of January Month. Before undertaking by Govt of Andhra Pradesh, the local villagers protected the birds sanctuary. It will be better Govt of Andhra pradesh to adopt the village to develop and protect birds sanctuary.

<br><br>
Duration : 2:03 PM - 4:06 PM (2 h 3 min) <br>
2:05 PM from Chennai Suburban Railway Station<br>
 7 min<br>
SCHEDULE EXPLORER<br>
2:03 PM<br><br>
FROM : Central Railway Station Car Park<br>
Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>
•	 Walk<br>
 About 2 min , 130 m<br>
Use caution - may involve errors or sections not suited for walking<br>
•	Walk north-west on VP Hall Compound Rd towards Chennai - Srikakulam Hwy<br>
 
•	Pass by Paramount express (on the right) <br>
•	Turn right<br>
2:05 PM<br>
•	Chennai Suburban Railway Station<br>
3:13 PM<br>
•	 Pinakini Express12712Vijayawada Jn<br>
 1 h 8 min (non-stop) · Stop ID: MAS<br>
Service run by Indian Railways<br>
3:45 PM<br>
•	Sulurupeta Railway Station<br>
 66031Nellore<br>
 16 min (2 stops) · Stop ID: SPE<br>
3:54 PM<br>
•	Polireddy Palem Railway Station<br>
Service run by Indian Railways<br>
4:01 PM<br>
•	Doravart Chtram<br>
•	 Walk<br>
 About 5 min , 450 m<br>
Use caution - may involve errors or sections not suited for walking<br>
•	Walk north-west on NH16<br>
4:06 PM<br><br><br>

Nelapattu Bird Sanctuary<br>
NELAPATTU BIRD SANCTUARY, Ayyapalem, Andhra Pradesh<br><br><br><br><br>

Duration : 2 h 14 min <br>
Distance : 101 km<br>
via NH16<br>
Fastest route, despite the usual traffic<br>
 This route has tolls. <br><br><br>

FROM : Egmore Bus Stand<br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>
Directions : <br><br>
•	Take Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd and Sydenhams Rd to Chennai - Srikakulam Hwy/Chennai - Thiruttani - Renigunta Hwy/Erukkancheri High Rd/Grand Northern Trunk Rd in Vasuki Nagar<br>
12 min (4.1 km) <br>

•	Head east towards Gandhi Irwin Rd<br>
45 m<br>

•	Slight left onto Gandhi Irwin Rd<br>
77 m<br>

•	At the roundabout, take the 1st exit and stay on Gandhi Irwin Rd<br>
240 m<br>

•	Turn left onto Gandhi Irwin Bridge Rd<br>
 
•	Pass by Government College of Fine Arts (on the right) <br>
190 m<br>

•	Turn right onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
 
•	Pass by Punjab National Bank ATM (on the left in 450 m) <br>
700 m<br>

•	Turn left onto Sydenhams Rd<br>
 
•	Pass by Ripon Bldg (on the right) <br>
1.1 km<br>
•	At the roundabout, take the 2nd exit onto Chennai - Srikakulam Hwy/Sydenhams Rd<br>
190 m<br>

•	Turn left onto Chennai - Srikakulam Hwy/Elephant Gate St<br>
 
•	Pass by Natraj Theatre (on the left) <br>
700 m<br>

•	At the roundabout, take the 3rd exit onto Basin Bridge Rd/Chennai - Srikakulam Hwy<br>
850 m<br>
•	Drive to NH16 in Andhra Pradesh<br>
1 h 48 min (97.2 km) <br>

•	Turn left onto Chennai - Srikakulam Hwy/Chennai - Thiruttani - Renigunta Hwy/Erukkancheri High Rd/Grand Northern Trunk Rd<br>
 
•	Go past the petrol station (on the left in 800 m) <br>
1.3 km<br>

•	Turn left onto Chennai - Srikakulam Hwy/Chennai - Thiruttani - Renigunta Hwy/Erukkancheri High Rd/Grand Northern Trunk Rd/Kalyanapuram Main Rd<br>
 
•	Continue to follow Chennai - Srikakulam Hwy/Chennai - Thiruttani - Renigunta Hwy/Erukkancheri High Rd/Grand Northern Trunk Rd<br>
450 m<br>

•	Turn right onto Chennai - Srikakulam Hwy/Chennai - Thiruttani - Renigunta Hwy/Erukkancheri High Rd/Grand Northern Trunk Rd/Murthy Nagar St<br>
 
•	Continue to follow Chennai - Srikakulam Hwy/Chennai - Thiruttani - Renigunta Hwy<br>
 
•	Pass by the lake (on the right) <br>
5.8 km<br>

•	At the roundabout, take the 2nd exit onto NH16<br>
 
•	Pass by Ashok Leyland Light Vehicle (on the left in 550 m) <br>
1.1 km<br>

•	Keep right to stay on NH16<br>
 
Partial toll road<br>
 
•	Pass by Hyundai Car Dealer (on the right in 2.7 km) <br>
13.2 km<br>

•	Slight left to stay on NH16<br>
4.3 km<br>

•	Continue straight to stay on NH16<br>
 
Partial toll road<br><br>
68.8 km

•	Make a U-turn<br>
2.1 km<br><br><br>

Nelapattu Bird Sanctuary<br>
NELAPATTU BIRD SANCTUARY, Ayyapalem, Andhra Pradesh<br><br><br><br><br><br>

Duration :1 h 48 min <br>
Distance : 95.3 km<br>
via NH16<br>
Fastest route, despite congestion on NH16 causing 13-min delay<br>
 This route has tolls. <br><br>

FROM : Lenskart Optical Store at Ambattur Bus Stand, Chennai<br>
Shop: 490, MTH Road, Near Rakki Multiplex, Ambattur, Chennai - 600053, Chennai, Tamil Nadu 600053<br><br>
Directions : <br><br>
•	Head north-west on NH716 towards NH205<br>
36 m<br>

•	Sharp right to stay on NH716<br>
 
•	Pass by Rakki Cinemas (on the left) <br>
160 m<br>

•	Continue straight onto Ambattur Red Hills Rd/Chennai - Thiruttani - Renigunta Hwy/Surapet Main Rd<br>
 
•	Pass by Vasan Eye Care (on the right) <br>
7.9 km<br>

•	Turn left onto NH16<br>
 
Partial toll road<br>
 
•	Pass by Puzhal Police Station (on the left) <br>
11.9 km<br>

•	Slight left to stay on NH16<br>
4.3 km<br>

•	Continue straight to stay on NH16<br>
 
Partial toll road<br>
68.8 km<br>

•	Make a U-turn<br>
2.1 km<br><br>

Nelapattu Bird Sanctuary<br>
NELAPATTU BIRD SANCTUARY, Ayyapalem, Andhra Pradesh<br>
</div>
 </ion-scroll>
</ion-view>
