<ion-view view-title="NEHRU STADIUM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cnt.jpg"><br>
<div class="item item-text-wrap">
	
Duration : 12 min<br><br>

FROM : Coimbatore Junction<br>
State Bank Rd, Gopalapuram, Coimbatore, Tamil Nadu 641001<br>


Railway Station Bus Stop<br>
 S17Gandhipuram Town Bus Stand<br>
 12 min (8 stops)<br>

•	Collector Office<br>
•	DSP Office<br>
•	Uppilipalayam / Oriental Insurance<br>

•	Uppilipalayam<br>
•	CSI School<br>
•	VOC Park<br>

•	Park Gate<br>


Gandhipuram Bus Stand<br>
11/20, Bharathiyar Rd, ATT Colony, New Siddhapudur, Coimbatore, Tamil Nadu 641044<br><br>
Duration : 4 min<br>
Distance : 1.3 km<br>
via Dr Nanjapaa Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Gandhipuram Bus Stand<br>
Sathyamurthy Rd, Ram Nagar, Coimbatore, Tamil Nadu 641009<br><br>
Direction : <br><br>
•	Head east on Sastri Rd/Sathyamurthy Rd towards Dr Nanjapaa Rd<br>
78 m<br>

•	Turn right at the 1st cross street onto Dr Nanjapaa Rd<br>
 
•	Pass by Hotel Tamilnadu (on the left) <br>
700 m<br>

•	Turn left onto Park Gate Rd<br>
250 m<br>

•	Turn right<br>
38 m<br>

•	Turn left<br>
 
•	Destination will be on the right<br>
230 m<br><br><br>
Nehru Stadium<br>
Park Gate Rd, ATT Colony, Gopalapuram, Coimbatore, Tamil Nadu 641018<br>

</div>
 </ion-scroll>
</ion-view>
