
<ion-view view-title="COIMBATORE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "mat()"> 
	MARUDAMALAI TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "cdt()"> 
	DHYANALINGA TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "cbm()"> 
	BROOKEFIELDS MALL
</button><br>
<button class="button button-clear button-royal" ng-Click = "cap()"> 
	ARULMIGU PATTEESWARAR SWAMY TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "cet()"> 
	EACHANARI VINAYAGAR TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "cct()"> 
	CODISSIA TRADE FAIR COMPLEX
</button><br>
<button class="button button-clear button-royal" ng-Click = "cwt()"> 
	DHONI WATERFALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "cgt()"> 
	GEDEE CAR MUSEUM
</button><br>
<button class="button button-clear button-royal" ng-Click = "cbt()"> 
	BLACK THUNDER THEME PARK
</button><br>
<button class="button button-clear button-royal" ng-Click = "cvt()"> 
	VELLIANGIRI MOUNTAINS
</button><br>
<button class="button button-clear button-royal" ng-Click = "cmt()"> 
	MONKEY FALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "cmtt()"> 
MASANIAMMAN TEMPLE
	
</button><br>
<button class="button button-clear button-royal" ng-Click = "cat()"> 
AAZHIYAAR DAM	
</button><br>
<button class="button button-clear button-royal" ng-Click = "cft()"> 
FUN CITY MALL	
</button><br>
<button class="button button-clear button-royal" ng-Click = "cit()"> 
ISKCON Coimbatore</button><br>
<button class="button button-clear button-royal" ng-Click = "ckt()"> 
PARAMBIKKULAM</button><br>
<button class="button button-clear button-royal" ng-Click = "csrt()"> 
SIRUVANI FALLS AND DAM</button><br>
<button class="button button-clear button-royal" ng-Click = "cadt()"> 
ALIYAR DAM RESERVOIR PARK</button><br>

<button class="button button-clear button-royal" ng-Click = "cnt()"> 
NEHRU STADIUM</button><br>

<button class="button button-clear button-royal" ng-Click = "ckd()"> 
KODIVERI DAM</button><br>

<button class="button button-clear button-royal" ng-Click = "cbvt()"> 
BHAVANI SAGAR DAM</button><br>

<button class="button button-clear button-royal" ng-Click = "cmwt()"> 
MAHARAJA WORLD</button><br>

<button class="button button-clear button-royal" ng-Click = "ckkt()"> 
KOVAI KONDATTAM THEME PARK</button><br>
<button class="button button-clear button-royal" ng-Click = "cad()"> 
AMARAVATHI DAM</button><br>
<button class="button button-clear button-royal" ng-Click = "cspt()"> 
SILVER PALACE</button><br>







 </ion-scroll>
</ion-view>
