<ion-view view-title="PULICAT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cpc.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>Pulicat (Pazhaverkadu) (Tamil:பழவேற்காடு) is a historic seashore town in "North of Chennai" in Thiruvallur District, of Tamil Nadu state, South India. It is about 60 kilometres (37 mi) north of Chennai and 3 kilometres (1.9 mi) from Elavur, on the barrier island of Sriharikota, which separates Pulicat Lake from the Bay of Bengal. Pulicat lake is a shallow salt water lagoon which stretches about 60 kilometres (37 mi) along the coast. With lakeside and seashore development as well as several Special Economic Zones (SEZs) including a US $1 billion Medical SEZ, coming up in nearby Elavur, land prices in the area are rising.
	  <br><br>

Duration :1 h 30 min<br>
Distance : 54.6 km<br>
via SH 104<br>
Fastest route now due to traffic conditions<br><br>

FROM : Chennai Egmore<br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>
Directions : <br><br>
•	Take Whenners Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
30 s (90 m) <br>

•	Head north-east towards Whenners Rd<br>
43 m<br>

•	Turn left onto Whenners Rd<br>
47 m<br>

•	Turn left at the 1st cross street onto Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
 
•	Pass by Office of the Chief Inspector - Railway Protection Force (on the left) <br>
1 min (450 m) <br>
•	Take Perambur Barracks Rd and Dr Ambedkar College Rd to Chennai - Srikakulam Hwy/Chennai - Thiruttani - Renigunta Hwy/Erukkancheri High Rd/Grand Northern Trunk Rd/Murthy Nagar St in Nagammai Nagar<br>
14 min (4.1 km) <br>

•	Turn right onto Ritherdon Rd<br>
 
•	Go past the church (on the right in 400 m) <br>
850 m<br>

•	At Bank Of Baroda, continue onto Perambur Barracks Rd<br>
 
•	Pass by Lakshmi Vilas Bank ATM (on the left) <br>
1.4 km<br>

•	Continue onto Dr Ambedkar College Rd<br>
1.6 km<br>

•	Turn right onto Muthu St<br>
220 m<br>
•	Drive from SH 104 to Pulicat<br>
1 h 13 min (49.3 km) <br>

•	Slight left onto Chennai - Srikakulam Hwy/Chennai - Thiruttani - Renigunta Hwy/Erukkancheri High Rd/Grand Northern Trunk Rd/Murthy Nagar St<br>
 
•	Continue to follow Chennai - Srikakulam Hwy/Chennai - Thiruttani - Renigunta Hwy<br>
 
•	Pass by the lake (on the right) <br>
5.8 km<br>

•	At the roundabout, take the 3rd exit<br>
650 m<br>

•	Use any lane to turn slightly left onto 200 Feet Rd/200 Feet Ring Rd/Jawaharlal Nehru Rd<br>
 
•	Pass by ebm-papst India Pvt. Ltd (on the left) <br>
1.1 km<br>

•	At the roundabout, take the 2nd exit onto 200 Feet Rd<br>
5.9 km<br>

•	Turn left onto SH 104/SH 56<br>
 
•	Pass by GRL (on the left in 350 m) <br>
11.6 km<br>

•	Turn right at Iyyanar Hot Chips onto Kattur Rd/SH 104/SH 107<br>
 
•	Continue to follow SH 104/SH 107<br>
 
•	Pass by Mani rice traders (on the left) <br>
17.4 km<br>

•	Turn right onto SH 104<br>
 
•	Pass by pulicat check post (on the left in 2.4 km) <br>
6.7 km<br>
•	Drive to your destination<br>
3 min (750 m) <br>

•	Turn right<br>
500 m<br>

•	Turn left<br>
44 m<br>

•	Turn right<br>
110 m<br>

•	Turn left<br>
93 m<br><br><br>

Pulicat<br>
Tamil Nadu<br><br><br><br><br>

Duration : 1 h 31 min<br>
Distance : 49.9 km<br>
via SH 104<br>
Fastest route<br><br>

FROM : Chennai Central<br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>
•	Head east towards Chennai - Thiruttani - Renigunta Hwy/Grand Northern Trunk Rd/Wall Tax Rd<br>
36 s (99 m) <br>

•	Turn left onto Chennai - Thiruttani - Renigunta Hwy/Grand Northern Trunk Rd/Wall Tax Rd<br>
 
•	Go past the church (on the right) <br>
8 min (2.4 km) <br>
•	Take Ennore High Rd to SH 104/SH 56 in Manali<br>
26 min (10.4 km) <br>

•	Continue straight onto Cochrane Basin Rd<br>
 
•	Pass by Moolakkothalam Middle School (on the right) <br>
1.5 km<br>

•	Continue onto Ennore High Rd<br>
 
•	Pass by Indian Oil Filling Station (on the right in 450 m) <br>
4.4 km<br>

•	Turn left<br>
2.6 km<br>

•	Turn right onto MDR1018<br>
2.0 km<br>
•	Follow SH 104 to Pulicat<br>
52 min (36.2 km) <br>

•	Continue onto SH 104/SH 56<br>
12.1 km<br>

•	Turn right at Iyyanar Hot Chips onto Kattur Rd/SH 104/SH 107<br>
 
•	Continue to follow SH 104/SH 107<br>
 
•	Pass by Mani rice traders (on the left) <br>
17.4 km<br>

•	Turn right onto SH 104<br>
 
•	Pass by pulicat check post (on the left in 2.4 km) <br>
6.7 km<br>
•	Drive to your destination<br>
3 min (750 m) <br>

•	Turn right<br>
500 m<br>

•	Turn left<br>
44 m<br>

•	Turn right<br>
110 m<br>

•	Turn left<br>
93 m<br><br><br>

Pulicat<br>
Tamil Nadu<br><br><br><br><br>


Duration : 1 h 22 min <br>
Distance : 54.3 km<br>
via SH 104<br>
Fastest route<br><br><br>

FROM : Chennai Mofussil Bus Terminus<br>
CMBT Passenger Way, Koyambedu, Chennai, Tamil Nadu 600107<br><br>
Directions : <br><br>
•	Head west on CMBT Passenger Way towards 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
1 min (190 m) <br>
•	Follow 200 Feet Rd and SH 104 to Pulicat<br>
1 h 20 min (53.4 km) <br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Nathella Suchanamma Kalyana Mandapam (on the right in 700 m) <br>
1.0 km<br>

•	Continue straight onto 200 Feet Rd/Jawaharlal Nehru Rd<br>
 
•	Go past the petrol station (on the right in 500 m) <br>
750 m<br>

•	Slight right onto Grand Northern Trunk Rd/Jawaharlal Nehru Rd/Thirumangalam Flyover<br>
 
•	Continue to follow Grand Northern Trunk Rd/Jawaharlal Nehru Rd<br>
 
•	Go past the petrol station (on the left in 1.3 km) <br>
1.9 km<br>

•	Keep right to continue on 200 Feet Rd/Grand Northern Trunk Rd/Jawaharlal Nehru Rd<br>
 
•	Pass by Regional Geoscience Lab, ONGC (on the right in 2.1 km) <br>
5.8 km<br>

•	Keep right to continue on 200 Feet Rd/200 Feet Ring Rd/Jawaharlal Nehru Rd/Jawaharlal Nehru Flyover<br>
 
•	Continue to follow 200 Feet Rd/200 Feet Ring Rd/Jawaharlal Nehru Rd<br>
 
•	Pass by MRF Tyres & Franchisee (on the left in 1.8 km) <br>
2.2 km<br>

•	At the roundabout, take the 2nd exit onto 200 Feet Rd<br>
5.9 km<br>

•	Turn left onto SH 104/SH 56<br>
 
•	Pass by GRL (on the left in 350 m) <br>
11.6 km<br>

•	Turn right at Iyyanar Hot Chips onto Kattur Rd/SH 104/SH 107<br>
 
•	Continue to follow SH 104/SH 107<br>
 
•	Pass by Mani rice traders (on the left) <br>
17.4 km<br>

•	Turn right onto SH 104<br>
 
•	Pass by pulicat check post (on the left in 2.4 km) <br>
6.7 km<br>
•	Drive to your destination<br>
3 min (750 m) <br>

•	Turn right<br>
500 m<br>

•	Turn left<br>
44 m<br>

•	Turn right<br>
110 m<br>

•	Turn left<br>
93 m<br><br><br>

Pulicat<br>
Tamil Nadu<br>


</div>
 </ion-scroll>
</ion-view>
