<ion-view view-title="PHOENIX MALL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cpm.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br>

Phoenix Market City (Chennai) is a shopping mall developed by Phoenix Mills Limited located in Chennai, Tamil Nadu, India. It was opened in January 2013 and is the largest mall in the city.<br>

Duration : 42 min<br>
Distance : 13.8 km<br>
via Anna Salai/Mount Rd/Trichy-Chennai Hwy<br>
Fastest route now due to traffic conditions<br><br>

FROM : Egmore<br>
Chennai, Tamil Nadu<br><br>
Directions : <br><br>
•	Follow Pantheon Rd to Ethiraj Salai/Subarao Ave 1st St<br>
3 min (950 m) <br>

•	Head south-east towards Adithanar Rd/Pantheon Rd<br>
20 m<br>

•	Exit the roundabout onto Pantheon Rd<br>
 
•	Pass by State Bank of Hyderabad (on the left in 800 m) <br>
900 m<br>
•	Continue on Ethiraj Salai to Express Estate<br>
5 min (1.6 km) <br>

•	Turn left onto Ethiraj Salai/Subarao Ave 1st St<br>
 
•	Continue to follow Ethiraj Salai<br>
800 m<br>

•	Continue onto Binny Rd<br>
280 m<br>

•	Turn right onto Pattullos Rd/Patullos Rd<br>
500 m<br>
•	Take Anna Salai/Mount Rd/Trichy-Chennai Hwy, Chennai - Nagapattinam Hwy and Velachery Rd to Phoenix Market City St in Indira Gandhi Nagar<br>
25 min (10.9 km) <br>

•	Use any lane to turn right onto Whites Rd<br>
 
•	Pass by Corporation Bank zonal office (on the right in 450 m) <br>
700 m<br>

•	Continue onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by Thousand Lights Mosque (on the left) <br>
550 m<br>

•	Keep right to continue on Anna Salai/Gemini Flyover/Mount Rd/Trichy-Chennai Hwy<br>
 
•	Continue to follow Anna Salai/Mount Rd/Trichy-Chennai Hwy<br>
 
•	Go past the petrol station (on the left in 1.6 km) <br>
2.7 km<br>

•	Turn left before Tamil Nadu Fisheries Development Corporation Limited<br>
270 m<br>

•	Slight left onto Anna Salai/Chennai - Nagapattinam Hwy/Mount Rd/Trichy-Chennai Hwy<br>
 
•	Pass by BSNL Office (on the right) <br>
2.7 km<br>

•	At Post & Telegraph Office, continue onto Taluk Office Rd<br>
 
•	Pass by Saidapet Metropolitan Magistrates Courts (on the left) <br>
600 m<br>

•	Use any lane to turn slightly right onto Chennai - Nagapattinam Hwy/Sardar Patel Rd/Trichy-Chennai Hwy<br>
 
•	Pass by Lemon Tree Hotel (on the right in 450 m) <br>
600 m<br>

•	Turn left after Hotel Orange Inn Guindy Chennai (on the right) <br>
 
•	Pass by Jaya (on the left in 2.1 km) <br>
2.5 km<br>

•	Make a U-turn at Bank of Baroda<br>
210 m

•	Turn left onto Phoenix Market City St<br>
 
•	Go through 1 roundabout<br>
 
•	Destination will be on the left<br>
4 min (350 m) <br>
<br>
Phoenix Mall
Plot No. 142, Velachery Rd, Indira Gandhi Nagar, Velachery, Chennai, Tamil Nadu 600042<br><br><br><br><br>

Duration : 46 min <br>
Distance : 13.9 km<br>
via 200 Feet Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Chennai Mofussil Bus Terminus<br>
CMBT Passenger Way, Koyambedu, Chennai, Tamil Nadu 600107<br><br>
Directions : <br><br>
•	Head west on CMBT Passenger Way towards 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
1 min (190 m) <br>
•	Continue on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy. Take Chennai - Nagapattinam Hwy/Mount Rd/Trichy-Chennai Hwy to Race Course Rd in Little Mount<br>
26 min (10.3 km) <br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
110 m
<br>
•	Make a U-turn<br>
 
•	Pass by the park (on the left) <br>
500 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Federal Bank Vadapalani (on the left) <br>
550 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
550 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Aakash Fertility Centre & Hospital (on the left in 350 m) <br>
450 m<br>

•	Continue straight past State Bank of India to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
66 m
<br>
•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
150 m<br>

•	Slight right onto Vadapalani Flyover<br>
450 m<br>

•	Merge onto 200 Feet Rd/Jawaharlal Nehru Rd<br>
1.5 km<br>

•	Continue straight through Ashok Pillar Cir onto 200 Feet Rd<br>
300 m<br>

•	Turn right onto 11th Ave/200 Feet Rd<br>
230 m<br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd<br>
 
•	Continue to follow Jawaharlal Nehru Rd<br>
 
•	Pass by Hyuandai Service Center (on the left in 1.6 km) <br>
2.3 km<br>

•	Turn left<br>
500 m<br>

•	Slight left towards Chennai - Nagapattinam Hwy/Mount Rd/Trichy-Chennai Hwy<br>
240 m<br>

•	Use any lane to turn slightly left onto Chennai - Nagapattinam Hwy/Mount Rd/Trichy-Chennai Hwy<br>
 
•	Pass by Indian Bank ATM (on the left in 550 m) <br>
1.7 km<br>

•	Sharp right onto Chennai - Nagapattinam Hwy/Mount Rd/Sardar Patel Rd/Trichy-Chennai Hwy<br>
 
•	Continue to follow Chennai - Nagapattinam Hwy/Mount Rd/Trichy-Chennai Hwy<br>
 
•	Pass by Tamilnadu Petrochemicals Limited (on the left in 350 m) <br>
600 m<br>
•	Continue on Race Course Rd. Take Velachery Rd to Phoenix Market City St in Indira Gandhi Nagar<br>
11 min (3.4 km) <br>

•	Slight left onto Race Course Rd<br>
99 m<br>

•	Turn left to stay on Race Course Rd<br>
850 m<br>

•	Turn right onto Velachery Rd<br>
 
•	Pass by Jaya (on the left in 1.5 km) <br>
1.9 km<br>

•	Make a U-turn at Bank of Baroda<br>
210 m<br>

•	Turn left onto Phoenix Market City St<br>
 
•	Go through 1 roundabout<br>
 
•	Destination will be on the left<br>
350 m<br><br>

Phoenix Mall<br>
Plot No. 142, Velachery Rd, Indira Gandhi Nagar, Velachery, Chennai, Tamil Nadu 600042<br><br><br><br><br>

Duration : 49 min<br>
Distance : 15.2 km<br>
via Trichy-Chennai Hwy<br>
Best route, despite the usual traffic<br><br>

FROM : Chennai Central<br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>
•	Head west<br>
2 min (250 m) <br>
•	Take Anna Salai/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy, Mount Rd and Velachery Rd to Phoenix Market City St in Indira Gandhi Nagar<br>
37 min (14.6 km) <br>

•	Turn left onto VP Hall Compound Rd<br>
130 m<br>

•	Merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
72 m<br>

•	Turn right onto Pallavan Salai/Park Town Flyover Bridge<br>
 
•	Continue to follow Pallavan Salai<br>
900 m<br>

•	Use the right 2 lanes to turn right at Metropolitan Transport Corporation Limited onto Anna Salai/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by Indian Mutual Bldg (on the left in 1.1 km) <br>
1.4 km<br>

•	Continue onto General Patters Rd<br>
 
•	Pass by Mercury Hospital (on the right) <br>
900 m<br>

•	Turn right onto Whites Rd<br>
 
•	Pass by Corporation Bank zonal office (on the right in 750 m) <br>
1.0 km<br>

•	Continue onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by Thousand Lights Mosque (on the left) <br>
550 m<br>

•	Keep right to continue on Anna Salai/Gemini Flyover/Mount Rd/Trichy-Chennai Hwy<br>
 
•	Continue to follow Anna Salai/Mount Rd/Trichy-Chennai Hwy<br>
 
•	Pass by Office Of The Sub Registrar T Nagar (on the left in 4.0 km) <br>
5.7 km<br>

•	At Post & Telegraph Office, continue onto Taluk Office Rd<br>
 
•	Pass by Saidapet Metropolitan Magistrates Courts (on the left) <br>
600 m<br>

•	Use any lane to turn slightly right onto Chennai - Nagapattinam Hwy/Sardar Patel Rd/Trichy-Chennai Hwy<br>
 
•	Pass by Lemon Tree Hotel (on the right in 450 m) <br>
600 m<br>

•	Turn left after Hotel Orange Inn Guindy Chennai (on the right)
 <br>
•	Pass by Jaya (on the left in 2.1 km) <br>
2.5 km<br>

•	Make a U-turn at Bank of Baroda<br>
210 m<br>

•	Turn left onto Phoenix Market City St<br>
 
•	Go through 1 roundabout<br>
 
•	Destination will be on the left<br>
4 min (350 m) <br><br><br>

Phoenix Mall<br>
Plot No. 142, Velachery Rd, Indira Gandhi Nagar, Velachery, Chennai, Tamil Nadu 600042<br>


</div>
 </ion-scroll>
</ion-view>
