<ion-view view-title="RAILWAY MUSEUM ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/crm.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br>
	The Chennai Rail Museum is a railway museum in Chennai, Tamil Nadu, which has a rich rail heritage of India. The museum was opened on the 16 April 2002 on the premises of the Furnishing Division of Integral Coach Factory near Villivakkam. It is located in over 6.25 acres of land with the host of both technical and heritage exhibits with a sizable collection of steam engines belonging to various decades of the British Raj. The museum also exhibits various vintage coaches such as Ooty trains endemic to the Indian railways.
<br>

Duration : 26 min<br>
Distance : 9.2 km<br>
via New Avadi Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Chennai central railway station waiting hall<br>
Park Town, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>
•	Take Sydenhams Rd to Demellows Rd in Pulianthope<br>
4 min (1.3 km) <br>

•	Head north on Sydenhams Rd towards Muthu St<br>
 
•	Pass by Arihant Sivasakthi (on the left in 350 m) <br>
900 m<br>

•	At the roundabout, take the 2nd exit onto Chennai - Srikakulam Hwy/Sydenhams Rd<br>
190 m<br>

•	Turn left onto Chennai - Srikakulam Hwy/Elephant Gate St<br>
 
•	Pass by Natraj Theatre (on the left) <br>
230 m<br>
•	Follow Demellows Rd to Strahans Rd in Pattalam<br>
2 min (800 m) <br>

•	Slight left onto Demellows Rd<br>
 
•	Pass by Burial Ground (on the right in 550 m) <br>
750 m<br>

•	Turn left after ICICI Bank ATM (on the right) <br>
57 m<br>
•	Continue on Strahans Rd. Take Konnur High Rd to Ayanavaram Rd<br>
10 min (2.8 km) <br>

•	Turn right after Hanuman Temple (on the left) <br>
 
•	Pass by Bank of Baroda ATM (on the right in 750 m) <br>
1.2 km<br>

•	Turn left onto Ayanavaram Rd/Konnur High Rd<br>
 
•	Pass by HDFC Bank ATM (on the left) <br>
1.0 km<br>

•	Turn left onto Medavakkam Tank Rd<br>
 
•	Pass by HDFC Bank ATM (on the right) <br>
550 m<br>
•	Continue on Ayanavaram Rd to New Avadi Rd<br>
4 min (1.4 km) <br>

•	Turn right onto Ayanavaram Rd<br>
1.0 km<br>

•	Turn left onto Raji St<br>
450 m<br>

•	Turn right onto New Avadi Rd<br>
 
•	Pass by RTO Chennai(North West) (on the left in 1.3 km) <br>
5 min (2.8 km) <br>

•	Turn left<br>
 
Restricted-usage road<br>
14 s (52 m) <br><br>

Chennai Rail Museum<br>
ICF Furnishing Division, New Avadi Road, Villivakkam, Chennai, Tamil Nadu 600038<br><br><br>

Duration : 21 min<br>
Distance : (8.2 km) <br>
via New Avadi Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Chennai Egmore<br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>
Directions : <br><br>
•	Take Whenners Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
30 s (90 m) <br>

•	Head north-east towards Whenners Rd<br>
43 m<br>

•	Turn left onto Whenners Rd<br>
47 m<br>
•	Continue on Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd. Take Dr Alagappa Chetty Rd, Purasawalkam High Rd and Medavakkam Tank Rd to Ayanavaram Rd in Venkatesapuram Colony Extension<br>
12 min (3.8 km) <br>

•	Turn left at the 1st cross street onto Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
 
•	Pass by Office of the Chief Inspector - Railway Protection Force (on the left) <br>
700 m<br>

•	Turn right onto Dr Alagappa Chetty Rd<br>
230 m<br>

•	Turn left to stay on Dr Alagappa Chetty Rd<br>
 
•	Pass by City Union Bank (on the left in 600 m) <br>
800 m
<br>
•	Continue onto Millers Rd<br>
 
•	Pass by Nilgiris Super Market (on the left) <br>
550 m<br>

•	Turn left onto Purasawalkam High Rd<br>
 
•	Pass by Abirami Mega Mall (on the right) <br>
550 m<br>

•	Use any lane to turn right onto Medavakkam Tank Rd<br>
700 m<br>

•	Continue straight to stay on Medavakkam Tank Rd<br>
300 m<br>
•	Continue on Ayanavaram Rd to New Avadi Rd<br>
4 min (1.4 km) <br>

•	Turn left onto Ayanavaram Rd<br>
1.0 km<br>

•	Turn left onto Raji St<br>
450 m<br>

•	Turn right onto New Avadi Rd<br>
 
•	Pass by RTO Chennai(North West) (on the left in 1.3 km) <br>
5 min (2.8 km) <br>

•	Turn left<br>
 
Restricted-usage road<br>
14 s (52 m) <br><br>

Chennai Rail Museum<br>
ICF Furnishing Division, New Avadi Road, Villivakkam, Chennai, Tamil Nadu 600038<br><br><br>

Duration :16 min<br>
Distance : 6.3 km<br>
via Jawaharlal Nehru Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Chennai Mofussil Bus Terminus<br>
CMBT Passenger Way, Koyambedu, Chennai, Tamil Nadu 600107<br><br>
Directions : <br><br>
•	Take Mumbai Hwy to 200 Feet Rd/Jawaharlal Nehru Rd<br>
5 min (1.2 km) <br>

•	Head west on CMBT Passenger Way towards 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
190 m<br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Nathella Suchanamma Kalyana Mandapam (on the right in 700 m) <br>
1.0 km<br>
•	Continue on Jawaharlal Nehru Rd. Drive from Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd to Lakshmipuram<br>
10 min (5.0 km) <br>

•	Continue straight onto 200 Feet Rd/Jawaharlal Nehru Rd<br>
 
•	Go past the petrol station (on the right in 500 m) <br>
750 m<br>

•	Slight right onto Grand Northern Trunk Rd/Jawaharlal Nehru Rd/Thirumangalam Flyover<br>
 
•	Continue to follow Grand Northern Trunk Rd/Jawaharlal Nehru Rd<br>
 
•	Go past the petrol station (on the left in 1.3 km) <br>
1.9 km<br>

•	Slight left<br>
500 m<br>

•	At the roundabout, take the 3rd exit onto Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd/Padi Flyover<br>
 
•	Continue to follow Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd<br>
 
•	Pass by DCB Bank ATM (on the left in 700 m) <br>
1.1 km<br>

•	Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd turns slightly right and becomes New Avadi Rd<br>
700 m<br>

•	Turn right<br>
 
Restricted-usage road<br>
50 s (59 m)
<br><br>s
Chennai Rail Museum<br>
ICF Furnishing Division, New Avadi Road, Villivakkam, Chennai, Tamil Nadu 600038<br>




 </ion-scroll>
</ion-view>
