<ion-view view-title="SADRAS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/csd.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>An inscription found in Sadras dated to 1359 mention this place as Rajanarayanan Pattinam after a Sambuvaraya chieftain. There is a temple to Vishnu here, and because of it later the city was known as Sadiravasagan Pattinam. This later changed into Sadurangapattinam, shortly known as Sadirai. Later the Dutch called it Sadras.<br><br>

Duration : 36 min<br>
Distance : 9.0 km<br>
via Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Poonamallee High Rd/Vellore - Chennai Rd<br>
Best route now due to traffic conditions
<br><br><br>
FROM : Chennai Mofussil Bus Terminus<br>
CMBT Passenger Way, Koyambedu, Chennai, Tamil Nadu 600107<br><br>
Directions : <br><br>
•	Head west on CMBT Passenger Way towards 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
1 min (190 m) <br>
•	Take Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Poonamallee High Rd/Vellore - Chennai Rd to Harrington Rd in Shenoy Nagar<br>
14 min (5.1 km) <br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Nathella Suchanamma Kalyana Mandapam (on the right in 700 m) <br>
1.0 km<br>

•	Continue straight onto 200 Feet Rd/Jawaharlal Nehru Rd<br>
120 m<br>

•	Turn left to merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Koyembedu Grade Seperator/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Continue to follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Pass by Dena Bank (on the left in 3.5 km) <br>
3.9 km<br>

•	Turn right onto Harrington Rd<br>
5 min (1.7 km) <br>

•	Turn right onto MC Nicholas Rd/Valluvar Kottam High Rd<br>
 
•	Continue to follow Valluvar Kottam High Rd<br>
1 min (350 m) <br>
•	Continue on College Rd. Take Haddows Rd to Khader Nawaz Khan Rd in Thousand Lights West<br>
4 min (1.7 km) <br>

•	Turn left onto College Rd<br>
 
•	Pass by Cream Centre (on the left in 350 m) <br>
600 m<br>

•	Slight right onto Haddows Rd<br>
 
•	Pass by FCI Zonal Office Chennai (on the left) <br>
800 m<br>

•	Haddows Rd turns left and becomes Nungambakkam High Rd<br>
170 m<br>

•	Turn left onto Khader Nawaz Khan Rd<br>
130 m<br><br><br>

Sadras<br><br><br><br>

Duration : 28 min <br>
Distance : 6.2 km<br>
via Arcot Rd<br>
Fastest route now due to traffic conditions<br><br>

FROM : Bright Furniture-Modular Work Station Chennai<br>
No.16, Jeeva St, Thiru Nagar, Vadapalani. Ambika Empaire Backside, Chennai, Tamil Nadu 600026<br><br>
Directions : <br><br>
•	Follow Mannar 2nd St and Nerkundram Pathai to 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy in Dharan Singh Colony<br>
2 min (450 m) <br>

•	Head south-east on Jeeva Street towards Vallalar St<br>
36 m<br>

•	Continue onto Mannar 2nd St<br>
270 m<br>

•	Turn left onto Nerkundram Pathai<br>
150 m<br>
•	Take Arcot Rd to Veerabadran St in Tirumurthy Nagar<br>
13 min (4.1 km) <br>

•	Turn right onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
82 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
450 m<br>

•	Turn left onto Arcot Rd/Mumbai Hwy<br>
 
•	Continue to follow Arcot Rd<br>
 
•	Pass by Hyundai car showroom (on the left in 1.4 km) <br>
2.5 km<br>

•	Continue onto Kodambakkam High Rd/Mumbai Hwy<br>
 
•	Continue to follow Kodambakkam High Rd<br>
 
•	Pass by Rainbow Theatre (on the right) <br>
800 m<br>

•	Turn left onto Valluvar Kottam High Rd<br>
250 m<br>
•	Continue on Veerabadran St. Take Dr Thirumoorthy Nagar Main Rd to Nungambakkam High Rd<br>
3 min (800 m) <br>

•	Turn right onto Veerabadran St<br>
350 m<br>

•	Turn left at Joiser St Jct onto Josier St<br>
86 m<br>

•	Turn right onto Dr Thirumoorthy Nagar Main Rd<br>
350 m<br>
•	Follow Nungambakkam High Rd to Khader Nawaz Khan Rd<br>
2 min (800 m) <br>

•	Turn left onto Nungambakkam High Rd<br>
 
•	Go past the petrol station (on the left) <br>
600 m<br>

•	Sharp right to stay on Nungambakkam High Rd<br>
180 m<br>

•	Turn left onto Khader Nawaz Khan Rd<br>
40 s (130 m) <br><br><br>

Sadras<br><br><br><br><br>

Duration : 15 min<br>
Distance : 5.2 km<br>
via Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd
Best route, despite the usual traffic<br><br>

FROM : Chennai Egmore<br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>
Directions : <br><br>
•	Take Whenners Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
30 s (90 m) <br>

•	Head north-east towards Whenners Rd<br>
43 m<br>

•	Turn left onto Whenners Rd<br>
47 m<br>
•	Continue on Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd. Take Gengu Reddy Rd and Spur Tank road to College Rd in Nungambakkam
8 min (3.4 km) <br>

•	Turn left at the 1st cross street onto Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
 
•	Pass by Office of the Chief Inspector - Railway Protection Force (on the left) <br>
1.2 km<br>

•	Use the left 2 lanes to turn left onto Gengu Reddy Rd<br>
400 m<br>

•	Keep left to stay on Gengu Reddy Rd<br>
140 m<br>

•	Continue onto E Spur Tank Rd<br>
150 m<br>

•	Slight left towards Spur Tank road<br>
22 m<br>

•	At the roundabout, take the 3rd exit onto Spur Tank road<br>
 
•	Go past the petrol station (on the right) <br>
600 m<br>

•	Use the left lane to stay on Spur Tank road<br>
350 m<br>

•	Keep left to stay on Spur Tank road<br>
170 m<br>

•	At AXIS Bank ATM, Spur Tank road turns left and becomes MC Nicholas Rd/Valluvar Kottam High Rd<br>
 
•	Continue to follow Valluvar Kottam High Rd<br>
350 m<br>
•	Continue on College Rd. Take Haddows Rd to Khader Nawaz Khan Rd in Thousand Lights West<br>
4 min (1.7 km) <br>

•	Turn left onto College Rd<br>
 
•	Pass by Cream Centre (on the left in 350 m) <br>
600 m<br>

•	Slight right onto Haddows Rd<br>
 
•	Pass by FCI Zonal Office Chennai (on the left) <br>
800 m<br>
•	Haddows Rd turns left and becomes Nungambakkam High Rd<br>
170 m<br>

•	Turn left onto Khader Nawaz Khan Rd<br>
130 m<br><br><br>

Sadras<br>

</div>
 </ion-scroll>
</ion-view>
