<ion-view view-title="SEMMOZHI POONGA  ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/csmp.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
Semmozhi Poonga (literally translated to "Classical Language Park") is a botanical garden in Chennai set up by the horticulture department of the Government of Tamil Nadu. The garden was opened on 24 November 2010 by then chief Minister Dr.M. Karunanidhi and is the first botanical garden in the city.[1] The garden is located in the Cathedral Road–Anna Salai junction, opposite the American Consulate, on the erstwhile Drive-in Woodlands Hotel. Encompassing an area of 20 acres (320 grounds),[2] it was built at a cost of ₹ 80 million. More than 500 species of plants are being grown in the area, in addition to the 80 trees that was already in existence during the development of the park, some of them being more than 100 years old. The garden houses some of the popular exotic flora and rare plant species, medicinal and aromatic herbs. Many of the exotic plants are imported from countries like China and Thailand, including a plethora of bonsai varieties of ficus microcarpa and ficus ginseng.

	  <br><br>
	  Duration : 36 min <br>
Distance : 7.8 km<br>
via Mumbai Hwy and Arcot Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Chennai Mofussil Bus Terminus<br>
CMBT Passenger Way, Koyambedu, Chennai, Tamil Nadu 600107<br><br><br>
Directions : <br><br>
•	Head west on CMBT Passenger Way towards 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
1 min (190 m) <br>
•	Follow 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy, Arcot Rd and Kodambakkam High Rd to Cathedral Rd in Ellaiamman Colony<br>
25 min (7.6 km) <br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
110 m<br>

•	Make a U-turn<br>
 
•	Pass by the park (on the left) <br>
500 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Federal Bank Vadapalani (on the left) <br>
550 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
550 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Aakash Fertility Centre & Hospital (on the left in 350 m) <br>
450 m<br>

•	Continue straight past State Bank of India to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
66 m<br>

•	Continue straight to stay on 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
450 m<br>

•	Turn left onto Arcot Rd/Mumbai Hwy<br>
 
•	Continue to follow Arcot Rd<br>
 
•	Pass by Hyundai car showroom (on the left in 1.4 km) <br>
2.5 km<br>

•	Continue onto Kodambakkam High Rd/Mumbai Hwy<br>
 
•	Continue to follow Kodambakkam High Rd<br>
 
•	Pass by Rainbow Theatre (on the right) <br>
1.7 km<br>

•	Turn right onto Nungambakkam High Rd<br>
 
•	Pass by Yes Bank Ltd (on the left) <br>
220 m<br>

•	Slight left onto Cathedral Rd<br>
280 m<br>

•	Make a U-turn<br>
 
•	Destination will be on the left<br>
130 m<br><br><br>

Semmozhi Poonga<br>
Cathedral Road, Teynampet, Chennai, Tamil Nadu 600086<br><br><br><br><br>

Duration : 19 min<br>
Distance : 5.9 km<br>
via Anna Salai/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
Fastest route, despite the usual traffic<br><br><br>

FROM : Chennai Central<br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>

•	Head west<br>
2 min (250 m) <br>
•	Take Pallavan Salai, Anna Salai/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy, General Patters Rd and Whites Rd to Cathedral Rd in Ellaiamman Colony<br>
18 min (5.6 km) <br>

•	Turn left onto VP Hall Compound Rd<br>
130 m<br>

•	Merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
72 m<br>

•	Turn right onto Pallavan Salai/Park Town Flyover Bridge<br>
 
•	Continue to follow Pallavan Salai<br>
900 m<br>

•	Use the right 2 lanes to turn right at Metropolitan Transport Corporation Limited onto Anna Salai/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by Indian Mutual Bldg (on the left in 1.1 km) <br>
1.4 km<br>

•	Continue onto General Patters Rd<br>
 
•	Pass by Mercury Hospital (on the right) <br>
900 m<br>

•	Turn right onto Whites Rd<br>
 
•	Pass by Corporation Bank zonal office (on the right in 750 m) <br>
1.0 km<br>

•	Continue onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by Thousand Lights Mosque (on the left) <br>
550 m<br>

•	Slight left onto Service Rd<br>
230 m<br>

•	Slight left onto Cathedral Rd<br>
260 m<br>

•	Make a U-turn<br>
 
•	Destination will be on the left<br>
130 m<br><br><br>

Semmozhi Poonga<br>
Cathedral Road, Teynampet, Chennai, Tamil Nadu 600086<br><br><br><br>


Duration : 18 min <br>
Distance : 5.5 km<br>
via Marshalls Rd/Rukmani Lakshmipathi Rd<br>
Best route, despite the usual traffic<br><br>

FROM : Chennai Egmore<br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>
Directions : <br><br>
•	Take Whenners Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
30 s (90 m) <br>

•	Head north-east towards Whenners Rd<br>
43 m<br>

•	Turn left onto Whenners Rd<br>
47 m<br>
•	Continue on Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd. Take Dr Nair Rd to Marshalls Rd/Rukmani Lakshmipathi Rd
4 min (1.6 km) <br>

•	Turn left at the 1st cross street onto Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
 
•	Pass by Office of the Chief Inspector - Railway Protection Force (on the left) <br>
700 m<br>

•	Turn left onto Dr Nair Rd<br>
450 m<br>

•	Continue onto Police Commisioners Rd<br>
350 m<br>

•	At the roundabout, take the 1st exit onto Adithanar Rd/Pantheon Rd<br>
43 m<br>
•	Continue on Marshalls Rd/Rukmani Lakshmipathi Rd. Take Pattullos Rd/Patullos Rd to Whites Rd in Express Estate<br>
6 min (2.0 km) <br>

•	At the roundabout, take the 3rd exit onto Marshalls Rd/Rukmani Lakshmipathi Rd<br>
1.1 km<br>

•	Turn left onto Ethiraj Salai<br>
120 m<br>

•	Continue onto Binny Rd<br>
280 m<br>

•	Turn right onto Pattullos Rd/Patullos Rd<br>
500 m<br>
•	Continue on Whites Rd. Take Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy to Cathedral Rd in Ellaiamman Colony<br>
5 min (1.8 km) <br>

•	Use any lane to turn right onto Whites Rd<br>
 
•	Pass by Corporation Bank zonal office (on the right in 450 m) <br>
700 m<br>

•	Continue onto Anna Salai/Mount Rd/Nagapattinam-Chennai Hwy/Trichy-Chennai Hwy<br>
 
•	Pass by Thousand Lights Mosque (on the left) <br>
550 m<br>

•	Slight left onto Service Rd<br>
230 m<br>

•	Slight left onto Cathedral Rd<br>
260 m<br>

•	Make a U-turn<br>
 
•	Destination will be on the left<br>
130 m<br><br><br>

Semmozhi Poonga<br>
Cathedral Road, Teynampet, Chennai, Tamil Nadu 600086<br>


</div>
 </ion-scroll>
</ion-view>
