
<ion-view view-title="CUDDALORE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "dt()"> 
	DEVANATHASWAMY TEMPLE

</button><br>
<button class="button button-clear button-royal" ng-Click = "pt()"> 
	PADALEESWARAR TEMPLE

</button><br>
<button class="button button-clear button-royal" ng-Click = "sb()"> 
	
SILVER BEACH
</button><br>
<button class="button button-clear button-royal" ng-Click = "bst()"> 
	
BHUVARAHA SWAMY TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "vt()"> 
	VEERATTESWARAR TEMPLE

</button><br>
<button class="button button-clear button-royal" ng-Click = "lt()"> 
	SINGIRIKUDI SRI LAKSHMI NARASIMHA SWAMI TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "vlt()"> 
	
VEERANAM LAKE
</ion-scroll>
</ion-view>
