<ion-view view-title="VADAPALANI MURUGAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cvp.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
	Vadapalani Murugar Temple is famous because of Sthanikar Shri V. A. Sundara .V.A.Sundara is also known as Gurukul .Gurukkal walked almost all of the streets of Chennai through his lifetime, inviting devotees people to worship and to contribute to its care. He continued until 1984.<br><br>
He performed Mahakumbabishekam there 4 times. And until retirement he was the only Pradhana Sthanikar of the temple.
Built around 1890, this temple began as a simple thatched shed. Around 7,000 couples marry there each year.
According to the sthalapurana, Muruga devotee Annaswami Nayakar built the shed and kept a Murugan painting there for his personal worship. During his worship, he experienced divine power entering his body and inspiring him to speak surprising things later found to be true. His utterances were labeled 'arul vakku' ('God blessed statements') and could cure diseases, provide jobs, solemnize marriages and more.<br><br>

	Duration : 17 min<br>
Distance :  5.7 km<br>
via 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
Fastest route, despite the usual traffic<br><br>

FROM : Koyambedu<br>
Chennai, Tamil Nadu<br><br><br>
Directions :<br><br>
•	Take Koyembedu Market E Rd to Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
            3 min (1.0 km)<br>
•	Follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd and 200 Feet Rd/Jawaharlal Nehru Rd to N Mada St in Dharan Singh Colony<br>
            12 min (4.6 km)<br>
•	Turn left onto N Mada St<br>
            1 min (190 m)
<br><br>
Vadapalani Murugan Temple<br>
Bhakthavachalam colony 1st street, Vadapalani, Chennai, Tamil Nadu 600026<br><br><br><br>

Duration : 27 min <br>
Distance : 7.7 km<br>
via Spur Tank road<br>
Fastest route now due to traffic conditions<br><br>

FROM : Egmore<br>
Chennai, Tamil Nadu<br><br><br>
Directions :<br>
•	Take Police Commisioners Rd to Tamil Salai<br>
            1 min (400 m)<br>
•	Take Egmore High Rd to E Spur Tank Rd<br>
            2 min (700 m)<br>
•	Take Spur Tank road, Sterling Rd, Nelson Manickam Rd, Shanmuganar Salai and Sivan Koil St to Sivan Koil Cross St in Kodambakkamv
            18 min (5.7 km)<br>
•	Continue on Sivan Koil Cross St. Drive to N Mada Stin Vadapalani<br>
            5 min (950 km)<br><br><br>

Vadapalani Murugan Temple<br>
Bhakthavachalam colony 1st street, Vadapalani, Chennai, Tamil Nadu 600026<br><br><br>


FROM : Chennai Central<br>
Kannappar Thidal, Periyamet, Station Rd, Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br><br>
Directions :<br><br>
•	Continue to Poongavanapuram<br>
            3 min (400 m)<br>

•	Continue on Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd. Take Spur Tank road, Dr Guruswamy Bridge and Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd/Vellore - Chennai Rd toRazzak Garden Main Rd in Razaak Garden<br>
            22 min (8.2 km)<br>
•	Continue on Razzak Garden Main Rd. Take MMDA Colony Main Rd to 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy in Balavinayagar Nagar<br>
            7 min (1.8 km)<br>
•	Follow 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy to N Mada St in Dharan Singh Colony<br>
            3 min (1.2 km)<br>
•	Turn left onto N Mada St<br>
            1 min (190 m)<br><br><br>
Vadapalani Murugan Temple<br>
Bhakthavachalam colony 1st street, Vadapalani, Chennai, Tamil Nadu 600026


</div>
 </ion-scroll>
</ion-view>
