<ion-view view-title="VEDANTHANGAL BIRD SANCTUARY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/cvs.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>Vedanthangal Bird Sanctuary is a 30-hectare (74-acre) protected area located in the Kancheepuram District of the state of Tamil Nadu, India. The sanctuary is about 75 kilometres (47 mi) from Chennai on National Highway 45 (NH45), south of Chengalpattu. More than 40,000 birds (including 26 rare species), from various parts of the world visit the sanctuary during the migratory season every year. 
Vedanthangal is home to migratory birds such as pintail, garganey, grey wagtail, blue-winged teal, common sandpiper and the like. 


	

	  <br><br>
Duration : 2 h 12 min<br>
Distance : 86.4 km<br>
via NH32<br>
Fastest route, despite the usual traffic<br>
This route has tolls. <br><br>

FROM : Chennai Egmore<br>
Gandhi Irwin Rd, Egmore, Chennai, Tamil Nadu 600008<br><br>
Directions : <br><br>
•	Take Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd, Gengu Reddy Rd, Spur Tank road and Dr Guruswamy Bridge to Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd/Vellore - Chennai Rd in Chetpet<br>
10 min (4.1 km) <br>

•	Head north-east towards Whenners Rd<br>
43 m<br>

•	Turn left onto Whenners Rd<br>
47 m<br>

•	Turn left at the 1st cross street onto Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd<br>
 
•	Pass by Office of the Chief Inspector - Railway Protection Force (on the left) <br>
1.2 km<br>

•	Use the left 2 lanes to turn left onto Gengu Reddy Rd<br>
400 m<br>

•	Keep left to stay on Gengu Reddy Rd<br>
140 m<br>

•	Continue onto E Spur Tank Rd<br>
150 m<br>

•	Slight left towards Spur Tank road<br>
22 m<br>

•	At the roundabout, take the 3rd exit onto Spur Tank road<br>
 
•	Go past the petrol station (on the right) <br>
600 m<br>

•	Keep right to stay on Spur Tank road<br>
350 m<br>

•	Keep right to stay on Spur Tank road<br>
190 m<br>

•	At Chennai Corporation, Spur Tank road turns right and becomes Dr Guruswamy Bridge/MC Nicholas Rd<br>
 
•	Continue to follow Dr Guruswamy Bridge<br>
 
•	Pass by the lake (on the right in 600 m) <br>
950 m<br>
•	Follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd/Vellore - Chennai Rd and NH32 to Padalam GST Rd - Vedanthangal Rd<br>
1 h 33 min (70.2 km) <br>

•	Turn left onto Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Continue to follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Pass by Ega Theatre (on the right) <br>
4.4 km<br>

•	Keep right to continue on Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Koyembedu Grade Seperator/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Continue to follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Pass by Srinidhi Hospital (on the left in 1.9 km) <br>
4.5 km<br>

•	Continue straight onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
100 m
<br>
•	Use the left lane to take the slip road to NH32<br>
280 m<br>

•	Take the slip road on the right onto NH32<br>
 
Partial toll road<br>
18.7 km
<br>
•	Keep right to stay on NH32<br>
 
•	Pass by the lake (on the left in 1.3 km) <br>
2.8 km<br>

•	Keep right to stay on NH32<br>
 
•	Pass by Shirdi Sai Baba Temple (on the left) <br>
2.5 km<br>

•	Keep right to stay on NH32<br>
 
•	Pass by Europa (on the left) <br>
2.4 km<br>

•	Continue straight to stay on NH32<br>
 
•	Pass by R.P. Udhiyam Star Tea Stall & Cool Bar (on the left) <br>
12.2 km<br>

•	Keep right to stay on NH32<br>
 
Partial toll road<br>
 
•	Pass by St COURIER - Pullipakkam chengalpattu (on the right in 9.1 km) <br>
22.3 km<br>
•	Follow Padalam GST Rd - Vedanthangal Rd to Vedanthangal Bird Sanctuary Rd<br>
19 min (12.1 km) <br>

•	Turn right at Padalam Junction Bus Stop onto Padalam GST Rd - Vedanthangal Rd<br>
 
•	Pass by Thamarai Xerox (on the right) <br>
7.5 km<br>

•	At Vedanthangal X Road Bus Stop, continue onto Vedanthangal Bird Sanctuary Rd<br>
3.4 km<br>

•	Turn left to stay on Vedanthangal Bird Sanctuary Rd<br>
1.2 km<br><br><br>

Vedanthangal Bird Sanctuary<br>
Vedathangal, Madurantakam, Tamil Nadu 603314<br><br><br>

Duration : 1 h 51 min<br>
Distance : 78.9 km<br>
via NH32<br>
Fastest route now due to traffic conditions<br>
 This route has tolls. <br><br><br>

FROM : Chennai Mofussil Bus Terminus<br>
CMBT Passenger Way, Koyambedu, Chennai, Tamil Nadu 600107<br><br>
Directions : <br><br>
•	Get on Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
6 min (1.5 km) <br>

•	Head west on CMBT Passenger Way towards 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
190 m<br>

•	Turn left onto 200 Feet Rd/Jawaharlal Nehru Rd/Mumbai Hwy<br>
 
•	Pass by Nathella Suchanamma Kalyana Mandapam (on the right in 700 m) <br>
1.0 km<br>

•	Slight left onto Mumbai Hwy<br>
200 m<br>

•	Use any lane to take the slip road onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
110 m<br>
•	Follow NH32 to Padalam GST Rd - Vedanthangal Rd<br>
1 h 21 min (65.3 km) <br>

•	Merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Pass by Lanson Toyota (on the left) <br>
4.0 km<br>

•	Continue straight to stay on Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
100 m<br>

•	Use the left lane to take the slip road to NH32<br>
280 m<br>

•	Take the slip road on the right onto NH32<br>
 
Partial toll road<br>
18.7 km<br>

•	Keep right to stay on NH32<br>
 
•	Pass by the lake (on the left in 1.3 km) <br>
2.8 km<br>

•	Keep right to stay on NH32<br>
 
•	Pass by Shirdi Sai Baba Temple (on the left) <br>
2.5 km<br>

•	Keep right to stay on NH32<br>
 
•	Pass by Europa (on the left) <br>
2.4 km<br>

•	Continue straight to stay on NH32<br>
 
•	Pass by R.P. Udhiyam Star Tea Stall & Cool Bar (on the left) <br>
850 m<br>

•	Slight left onto NH Service Road<br>
 
•	Pass by Christudas Hospital (on the left) <br>
750 m<br>

•	Turn right at Mahesh Mobile shop onto Nandhivaram Bazaar Rd<br>
12 m<br>

•	Turn left at the 1st cross street onto NH32<br>
 
•	Pass by Aravind Dept Store (on the right) <br>
10.6 km<br>

•	Keep right to stay on NH32<br>
 
Partial toll road<br>
 
•	Pass by St COURIER - Pullipakkam chengalpattu (on the right in 9.1 km) <br>
22.3 km<br>
•	Follow Padalam GST Rd - Vedanthangal Rd to Vedanthangal Bird Sanctuary Rd<br>
19 min (12.1 km) <br>

•	Turn right at Padalam Junction Bus Stop onto Padalam GST Rd - Vedanthangal Rd<br>
 
•	Pass by Thamarai Xerox (on the right) <br>
7.5 km<br>

•	At Vedanthangal X Road Bus Stop, continue onto Vedanthangal Bird Sanctuary Rd<br>
3.4 km<br>

•	Turn left to stay on Vedanthangal Bird Sanctuary Rd<br>
1.2 km<br><br><br>

Vedanthangal Bird Sanctuary<br>
Vedathangal, Madurantakam, Tamil Nadu 603314<br><br><br><br><br>


Duration : 2 h 16 min <br>
Distance : 88.0 km<br>
via NH32<br>
Fastest route, despite the usual traffic<br>
 This route has tolls. <br><br><br>

FROM : Central Railway Station Car Park<br>
Kannappar Thidal, Periyamet, Chennai, Tamil Nadu 600003<br><br>
Directions : <br><br>

•	Take Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd, Gengu Reddy Rd, Spur Tank road and Dr Guruswamy Bridge to Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd/Vellore - Chennai Rd in Chetpet
16 min (5.7 km) <br>

•	Head south on VP Hall Compound Rd towards Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
200 m<br>

•	Merge onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd<br>
72 m<br>

•	Make a U-turn at Pallavan Salai/Station Rd<br>
 
•	Pass by Office of the Chief Inspector - Railway Protection Force (on the left in 1.4 km) <br>
2.6 km<br>

•	Use the left 2 lanes to turn left onto Gengu Reddy Rd<br>
400 m<br>

•	Keep left to stay on Gengu Reddy Rd<br>
140 m<br>

•	Continue onto E Spur Tank Rd<br>
150 m<br>

•	Slight left towards Spur Tank road<br>
22 m<br>

•	At the roundabout, take the 3rd exit onto Spur Tank road<br>
 
•	Go past the petrol station (on the right) <br>
600 m<br>

•	Keep right to stay on Spur Tank road<br>
350 m<br>

•	Keep right to stay on Spur Tank road<br>
190 m<br>

•	At Chennai Corporation, Spur Tank road turns right and becomes Dr Guruswamy Bridge/MC Nicholas Rd<br>
 
•	Continue to follow Dr Guruswamy Bridge<br>
 
•	Pass by the lake (on the right in 600 m) <br>
950 m<br>
•	Follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd/Vellore - Chennai Rd and NH32 to Padalam GST Rd - Vedanthangal Rd<br>
1 h 33 min (70.2 km) <br>

•	Turn left onto Chennai - Villupuram - Trichy - Kanyakumari Rd/EVR Rd/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Continue to follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Pass by Ega Theatre (on the right) <br>
4.4 km<br>
•	Keep right to continue on Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Koyembedu Grade Seperator/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Continue to follow Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Pass by Srinidhi Hospital (on the left in 1.9 km) <br>
4.5 km<br>

•	Continue straight onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
100 m<br>

•	Use the left lane to take the slip road to NH32<br>
280 m<br><br>

•	Take the slip road on the right onto NH32<br>
 
Partial toll road<br>
18.7 km<br>

•	Keep right to stay on NH32<br>
 
•	Pass by the lake (on the left in 1.3 km) <br>
2.8 km<br>

•	Keep right to stay on NH32<br>
 
•	Pass by Shirdi Sai Baba Temple (on the left) <br>
2.5 km<br>

•	Keep right to stay on NH32<br>
 
•	Pass by Europa (on the left) <br>
2.4 km<br>

•	Continue straight to stay on NH32<br>
 
•	Pass by R.P. Udhiyam Star Tea Stall & Cool Bar (on the left) <br>
12.2 km<br>

•	Keep right to stay on NH32<br>
 
Partial toll road<br>
 
•	Pass by St COURIER - Pullipakkam chengalpattu (on the right in 9.1 km) <br>
22.3 km<br>
•	Follow Padalam GST Rd - Vedanthangal Rd to Vedanthangal Bird Sanctuary Rd<br>
19 min (12.1 km) <br>

•	Turn right at Padalam Junction Bus Stop onto Padalam GST Rd - Vedanthangal Rd<br>
 
•	Pass by Thamarai Xerox (on the right) <br>
7.5 km<br>

•	At Vedanthangal X Road Bus Stop, continue onto Vedanthangal Bird Sanctuary Rd<br>
3.4 km<br>

•	Turn left to stay on Vedanthangal Bird Sanctuary Rd<br>
1.2 km<br><br><br>

Vedanthangal Bird Sanctuary<br>

</div>
 </ion-scroll>
</ion-view>
