<ion-view view-title="BISON WELLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/db.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Bison Wells is the location popular for its marvelous wildlife and for its attractive vegetation. Tourists can enjoy the sight of animals, such as bison, birds, elephants, tigers, monkeys, and deer. The prefix bison has been put because earlier bison’s used to visit this place in search of water from the natural wells.<br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>

Duration : 2 h 19 min<br>
Distance : 95.5 km<br>
via Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy and Laws Ghat Rd<br>
Fastest route, the usual traffic <br>
This route has tolls. <br><br>
FROM :  Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Follow AMC Rd to Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd in Spencer Compound<br>
2 min (500 m) <br>
•	Head north-west on AMC Rd towards Thiruvalluvar Salai<br>
•	Pass by JEYAM MOBILES (on the left) <br>
450 m<br>
•	Slight left at Raj Metal Mart (Vessel's Shop) to stay on AMC Rd<br>
65 m<br>
•	Continue on Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy. Take Kodai Ghat Rd to Laws Ghat Rd in Kodaikanal<br>
2 h 20 min (95.0 km) <br><br>
Bison Wells Jungle Lodge





</div>
 </ion-scroll>
</ion-view>
