<ion-view view-title="DINDIGUL FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ddf.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The Dindigul Fort or Dindigul Malai Kottai is a 17th-century hill fort, built by Madurai Nayak situated in the town of Dindigul in the state of Tamil Nadu in India. The fort was built by the Madurai Nayak king Muthu Krishnappa Nayak in 1605. In the 18th century the fort passed on to Kingdom of Mysore (Mysore Wodeyars). During the reign of Hyder Ali and Tipu Sultan the fort was of strategic importance. In 1799 it went to the control of the British East India Company during the Polygar Wars. There is an abandoned temple on its peak apart from few cannons sealed with balls inside. In modern times, the fort is maintained by the Archaeological Survey of India and is open to tourists.<br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>

Duration : 9 min<br>
Distance : 2.5 km<br>
via Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
Fastest route<br><br><br>
FROM : Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Head north-west on AMC Rd towards Thiruvalluvar Salai<br>
•	Pass by JEYAM MOBILES (on the left) <br>
450 m<br>
•	Slight left at Raj Metal Mart (Vessel's Shop) to stay on AMC Rd<br>
65 m<br>
•	Turn left at Spice Hotspot onto Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Go past the church (on the left) <br>
750 m<br>
•	Turn left at Muthaketa Vinayaka Kovil onto W Car St/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Pass by Samuthra Maligai Kadal (on the right) <br>
350 m<br>
•	Turn right at Sangeereni Nursing Home<br>
•	Pass by Ethuha Mahall (on the left) <br>
850 m<br><br>
Dindigul Fort<br>




</div>
 </ion-scroll>
</ion-view>
