<ion-view view-title="HOGENAKKAL FALLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dh.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Hogenakkal Falls is a waterfall in South India on the Kaveri river in the Dharmapuri district of the Indian state of Tamil Nadu. It is located 180 km (110 mi) from Bangalore and 46 km (29 mi) from Dharmapuri. Sometimes referred to as the "Niagara Falls of India," it is known for medicinal baths and hide boat rides, projecting itself as a major tourist attraction. Carbonatite rocks in this site are considered to be the oldest of its kind in South Asia and one of the oldest in the world. The Government of Tamil Nadu made a proposal to convert the falls into providing drinking water for the state.

<br>
Duration : 10 min<br>
Distance : 2.2 km<br>
via Nethaji Bypass<br>
Best route<br><br>
FROM : Dharmapuri<br>
Chinnathai Colony, Indhira Nagar, Dharmapuri, Tamil Nadu 636701<br><br>
Directions : <br><br>
•	Head east on Railway Station Rd towards Nethaji Bypass/Salem Main Rd<br>
 
•	Pass by Apollo computer education ltd (on the left) <br>
450 m<br>

•	Turn left at Pommys Nighties onto Nethaji Bypass/Salem Main Rd<br>
 
•	Continue to follow Nethaji Bypass<br>
 
•	Pass by JDC (on the left in 700 m) <br>
1.4 km<br>

•	At the roundabout, take the 3rd exit onto Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
 
•	Pass by Four Roads (on the right) <br>
97 m<br>

•	Sharp right at Jai Footwear to stay on Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
11 m<br>

•	Turn left at Bata onto Bus Stand Rd<br>
 
•	Pass by SKVPS (on the left) <br>
160 m<br>

•	Turn left at Royal Signs onto Intex Service Centre Rd<br>
 
•	Pass by AARU DIGITAL STUDIO (on the left) <br>
81 m<br><br><br>
Dharmapuri Local Bus Station<br>
Dharmapuri, Tamil Nadu 636701<br>

HOGENAKKAL FALLS
Duration : 1 h 4 min<br>
Distance  : 46.3 km<br>
via Dharmapuri-Hogenakkal Rd<br>
Fastest route<br><br>
FROM : Dharmapuri Local Bus Station<br>
Dharmapuri, Tamil Nadu 636701<br><br>
Directions : <br><br>
•	Head west on Intex Service Centre Rd towards Bus Stand Rd<br>
81 m
<br>
•	Turn right at Royal Signs onto Bus Stand Rd<br>
 
•	Pass by SKVPS (on the right) <br>
160 m
<br>
•	Turn left at Bata onto Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
 
•	Continue to follow Dharmapuri-Hogenakkal Rd<br>
 
•	Pass by Sengunthar Marriage Hall (on the right) <br>
45.5 km<br>

•	Slight left at Sri Gokul Lodge onto Dharmapuri-Hogenakkal Rd/Sigaralahalli H-Hoganakkal Rd
 <br>
•	Continue to follow Dharmapuri-Hogenakkal Rd<br>
 
•	Pass by KARUR VIJYA ATM (on the right) <br>
500 m<br><br>

Hogenakal Waterfalls<br>
Chamarajnagar, Hoganakkal, Tamil Nadu 636810<br>


</div>
 </ion-scroll>
</ion-view>
