
<ion-view view-title="DHARMAPURI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "dh()"> 
	HOGENAKKAL FALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "ds()"> 
	SUBRAMANIA SIVA MEMORIAL

</button><br>
<button class="button button-clear button-royal" ng-Click = "dc()"> 
	
CHENRAYA PERUMAL TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "dm()"> 
	
MOUNT CARMEL CHURCH
</button><br>

</ion-scroll>
</ion-view>
