
<ion-view view-title="DINDIGUL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "dsc()"> 
SILVER CASCADE FALLS	
</button><br>
<button class="button button-clear button-royal" ng-Click = "dtp()"> 
	THADIKOMBU PERUMAL TEMPLE
</button><br>

<button class="button button-clear button-royal" ng-Click = "dsr()">
SIRUMALAI RESERVED FOREST</button><br>
<button class="button button-clear button-royal" ng-Click = "ddf()"> 
	DINDIGUL FORT
</button><br>
<button class="button button-clear button-royal" ng-Click = "dk()"> 
	KAMARAJAR LAKE
</button><br>
<button class="button button-clear button-royal" ng-Click = "dsk()"> 
	SRI KOTTAI MARIAMMAN KOVIL
</button><br>
<button class="button button-clear button-royal" ng-Click = "dav()"> 
	ATHOOR VILLAGE
</button><br>
<button class="button button-clear button-royal" ng-Click = "dks()"> 
	KODAIKANAL SOLAR OBSERVATORY
</button><br>
<button class="button button-clear button-royal" ng-Click = "dtf()"> 
	THALAIYAR FALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "dmp()"> 
	MOER POINT
</button><br>
<button class="button button-clear button-royal" ng-Click = "dgv()"> 
	GREEN VALLEY VIEW
</button><br>
<button class="button button-clear button-royal" ng-Click = "dmm()"> 
	MALAIKOVIL MURUGAN TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "dp()"> 
	PAMBAR FALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "dat()"> 
	ANJENEYAR TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "dmd()"> 
	MANJALAR DAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "dst()"> 
	SADAYANDI CAVE TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "dhl()"> 
	DINDIGUL HILL	
</button><br>
<button class="button button-clear button-royal" ng-Click = "db()"> 
	BISON WELLS	
</button><br>
<button class="button button-clear button-royal" ng-Click = "dbb()"> 
	BEGAMBUR BIG MOSQUE	
</button><br>

</ion-scroll>
</ion-view>
