<ion-view view-title="KAMARAJAR LAKE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dk.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The Kamarajar Sagar Dam at Kamarajar Lake is a 400-acre (1.6 km2) monsoon-fed water body 6 km (3.7 mi) from Athoor village in Dindigul District, Tamil Nadu. This lake is a beautiful location with the hills of the Western Ghats overlooking it. Fishermen in their coracles, coconut and banana plantations and cardamom estates are the common sights. Swimming is allowed.<br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>
Duration : 42 min<br> 
Distance : 22.9 km<br><br>

FROM : Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Follow AMC Rd to Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd in Spencer Compound<br>
2 min (500 m) <br>
•	Head north-west on AMC Rd towards Thiruvalluvar Salai<br>
•	Pass by JEYAM MOBILES (on the left) <br>
450 m<br>
•	Slight left at Raj Metal Mart (Vessel's Shop) to stay on AMC Rd<br>
65 m<br>
•	Follow Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy to MDR687 in Adhilakshmipuram<br>
19 min (13.2 km) <br>
•	Turn left at Spice Hotspot onto Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Go past the church (on the left) <br>
750 m<br>
•	Turn left at Muthaketa Vinayaka Kovil onto W Car St/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Continue to follow Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Pass by Samuthra Maligai Kadal (on the right) <br>
850 m<br>
•	Turn right at Begambur Centre Bus Stop onto Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy <br>
•	Pass by Begambur Bus Stop (on the right) <br>
11.6 km<br>
•	Follow MDR687 to Sadaiyandi Koil Rd<br>
21 min (9.1 km) <br>
•	Turn right onto MDR687<br>
4.1 km<br>
•	Turn right towards Akkaraipatti Rd<br>
88 m<br>
•	Turn left onto Akkaraipatti Rd<br>
650 m<br>
•	Turn left onto Sadaiyandi Koil Rd<br>
4.3 km<br><br>
Kamarajar Sagar Dam







</div>
 </ion-scroll>
</ion-view>
