<ion-view view-title="MOUNT CARMEL CHURCH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dm.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br><br>Established in the year 1898, Mount Carmel Church is one of Munnar's important places of religious importance. Known to be the first Catholic Church in the region, this religious edifice was started by Father Alphonse of the Spanish Missionary.<br>

Duration : 10 min<br>
Distance : 2.2 km<br>
via Nethaji Bypass<br>
Best route<br><br>
FROM : Dharmapuri<br>
Chinnathai Colony, Indhira Nagar, Dharmapuri, Tamil Nadu 636701<br><br>
Directions : <br><br>
•	Head east on Railway Station Rd towards Nethaji Bypass/Salem Main Rd<br>
 
•	Pass by Apollo computer education ltd (on the left) <br>
450 m<br>

•	Turn left at Pommys Nighties onto Nethaji Bypass/Salem Main Rd<br>
 
•	Continue to follow Nethaji Bypass<br>
 
•	Pass by JDC (on the left in 700 m) <br>
1.4 km<br>

•	At the roundabout, take the 3rd exit onto Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
 
•	Pass by Four Roads (on the right) <br>
97 m<br>

•	Sharp right at Jai Footwear to stay on Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
11 m<br>

•	Turn left at Bata onto Bus Stand Rd<br>
 
•	Pass by SKVPS (on the left) <br>
160 m<br>

•	Turn left at Royal Signs onto Intex Service Centre Rd<br>
 
•	Pass by AARU DIGITAL STUDIO (on the left) <br>
81 m<br><br><br>
Dharmapuri Local Bus Station<br>
Dharmapuri, Tamil Nadu 636701<br>

Duration : 15 min<br>
Distance :  5.4 km<br>
via Dharmapuri-Hogenakkal Rd<br>
Fastest route<br><br>

FROM : Dharmapuri Local Bus Station<br>
Dharmapuri, Tamil Nadu 636701<br><br>
Directions : <br><br>
•	Head west on Intex Service Centre Rd towards Bus Stand Rd<br>
81 m<br>

•	Turn right at Royal Signs onto Bus Stand Rd<br>
 
•	Pass by SKVPS (on the right) <br>
160 m<br>

•	Turn left at Bata onto Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
 
•	Continue to follow Dharmapuri-Hogenakkal Rd<br>
 
•	Pass by Sengunthar Marriage Hall (on the right) <br>
3.8 km<br>

•	At the roundabout, take the 3rd exit onto SH 17<br>
900 m<br>

•	Turn left<br>
500 m<br><br><br>

Carmel Retreat Centre<br>
(Sogathur), Pappinaickanahalli, Tamil Nadu<br>


</div>
 </ion-scroll>
</ion-view>
