<ion-view view-title="MANJALAR DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dmd.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The Manjalar Dam is a dam across the Manjalar River in the Indian state of Tamil Nadu. Across the river at around 18 kilometres (11 mi) from Batlagundu bus stand.The dam is situated in Theni District, Manjalar Dam has been constructed for irrigation purposes. Manjalar Dam is at the end of Manjalar Road about 5.5 kilometres (3.4 mi) north from SH-36 at Devadanapatti town beginning along Kamatchi Amman temple road. Manjalar dam can be viewed from the Kodai Ghat road, en route to Kodaikanal, about 19 kilometres (12 mi) from Batlagundu.<br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>

Duration : 1 h 5 min<br>
Distance  : 55.2 km<br>
via Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy<br>
Fastest route, the usual traffic<br>
This route has tolls. <br><br>
FROM : Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Follow AMC Rd to Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd in Spencer Compound<br>
2 min (500 m) <br>
•	Head north-west on AMC Rd towards Thiruvalluvar Salai<br>
•	Pass by JEYAM MOBILES (on the left) <br>
450 m<br>
•	Slight left at Raj Metal Mart (Vessel's Shop) to stay on AMC Rd<br>
65 m<br>
•	Drive<br>
51 min (46.9 km) <br>
•	Turn left at Spice Hotspot onto Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Go past the church (on the left) <br>
750 m<br>
•	Turn left at Muthaketa Vinayaka Kovil onto W Car St/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Continue to follow Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Pass by Samuthra Maligai Kadal (on the right) <br>
850 m<br>
•	Turn right at Begambur Centre Bus Stop onto Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy<br>
 Partial toll road<br>
•	Pass by Begambur Bus Stop (on the right) <br>
30.3 km<br>
•	Slight right onto Batlagundu Bypass Rd<br>
5.7 km<br>
•	Continue straight past Thalapakati onto NH183<br>
•	Pass by EB Office (on the left) <br>
9.2 km<br>
•	Drive to Manjalar Dam Rd in Manjalar Dam<br>
15 min (7.8 km) <br>
•	Continue straight<br>
•	Pass by Pullakkapatty Bus Stop (on the left in 750 m) <br>
1.6 km<br>
•	Turn right<br>
33 m<br>
•	Turn left at Subbaiya Pillai Street<br>
230 m<br>
•	Turn right<br>
220 m<br>
•	Turn left<br>
1.2 km<br>
•	Slight left onto Manjalar Dam Rd<br>
4.1 km<br>
•	Turn left to stay on Manjalar Dam Rd<br>
400 m<br><br>
Manjalar Dam





</div>
 </ion-scroll>
</ion-view>
