<ion-view view-title="MALAIKOVIL MURUGAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dmm.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>It is said that the idol inside the Palani Murugan Temple was created by Sage Bhogar, a great ascetic. He is said to have made it with a mixture of 9 substance. Since, this was a quick setting paste, the artist had to quickly finish the molding. However he took so much time investing on perfecting Lord Murugan's face that he has a little time to work on the rest of his body.
<br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>

Duration : 1 h 42 min<br> 
Distance : 108 km<br>
via Trichy - Dindugal Rd<br>
Fastest route, the usual traffic<br>
This route has tolls. <br><br>
FROM : Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Follow AMC Rd to Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
2 min (450 m) <br>
•	Head north-west on AMC Rd towards Thiruvalluvar Salai<br>
•	Pass by JEYAM MOBILES (on the left) <br>
450 m<br>
•	Slight right at Raj Metal Mart (Vessel's Shop) to stay on AMC Rd<br>
29 m<br>
•	Follow NH83 to Malai Kovil Temple Rd in Thiruverumbur<br>
1 h 41 min (108 km) <br>
•	Turn right at the statue onto Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Continue to follow Chennai Theni Hwy<br>
•	Go through 1 roundabout<br>
•	Pass by Techmyntra Dindigul Website Design Company SEO agency project center (on the right in 700 m) <br>
1.2 km<br>
•	At the roundabout, take the 3rd exit onto Chennai Theni Hwy/Trichy - Dindugal Rd<br>
•	Pass by Marten Mill Bus Stop (on the right in 850 m) <br>
2.2 km<br>
•	Turn right onto NH83<br>
 Partial toll road<br>
•	Go past the pharmacy (on the left) <br>
91.7 km<br>
•	At Aristo Roundabout, take the 2nd exit and stay on NH83<br>
•	Pass by the statue (on the right) <br>
1.3 km<br>
•	Slight left towards NH83<br>
•	Pass by ECHS Hospital (on the left) <br>
160 m<br>
•	Slight left at Excel Enterprises onto NH83<br>
•	Go past the petrol station (on the left) <br>
350 m<br>
•	Turn right to stay on NH83<br>
9 m<br>
•	Turn left onto NH38/NH83<br>
•	Pass by st.patrick school (on the right in 1.5 km) <br>
3.9 km<br>
•	Keep left to continue on NH83<br>
450 m<br>
•	Turn right at Palpannai Junction to stay on NH83 <br>
•	Pass by Vazha Ellai Hotel (on the left) <br>
6.5 km<br>
•	Turn left onto Malai Kovil Temple Rd <br>
•	Destination will be on the left<br>
26 s (130 mErumbeeswarer Temple<br><br>





</div>
 </ion-scroll>
</ion-view>
