<ion-view view-title="PAMBAR FALLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dp.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Kodaikanal the idyllic hill station is engulfed with natural rhapsodies with cascading waterfalls, lush green woods, misty mountains, placid lakes and rolling valleys. This thriving place is the source to the incredible Pambar Falls. Also called the Nom de plume grand cascade, you’ll typically spend around four hours to trek to the waterfalls. At the end of the path flanked by rugged hills you’ll be mesmerized to see the splendid falls cascade on step-like rock formation.

<br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>

Duration : 2 h 29 min<br>
Distance : 99.3 km<br>
via Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy and Laws Ghat Rd<br>
Fastest route, the usual traffic<br>
This route has tolls. <br><br>
FROM : Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Follow AMC Rd to Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd in Spencer Compound<br>
2 min (500 m) <br>
•	Head north-west on AMC Rd towards Thiruvalluvar Salai<br>
•	Pass by JEYAM MOBILES (on the left) <br>
450 m<br>
•	Slight left at Raj Metal Mart (Vessel's Shop) to stay on AMC Rd<br>
65 m<br>
•	Continue on Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy. Take Kodai Ghat Rd and Laws Ghat Rd to Observatory Rd in Kodaikanal<br>
2 h 21 min (95.0 km) <br>
•	Turn left at Spice Hotspot onto Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Go past the church (on the left) <br>
750 m<br>
•	Turn left at Muthaketa Vinayaka Kovil onto W Car St/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Continue to follow Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Pass by Samuthra Maligai Kadal (on the right) <br>
850 m<br>
•	Turn right at Begambur Centre Bus Stop onto Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy<br>
 Partial toll road<br>
•	Pass by Begambur Bus Stop (on the right) <br>
30.3 km<br>
•	Slight right onto Batlagundu Bypass Rd<br>
5.7 km<br>
•	Continue straight past Thalapakati onto NH183<br>
•	Pass by EB Office (on the left) <br>
5.1 km<br>
•	Turn right onto Kodai Ghat Rd<br>
•	Pass by Yoga Relax (on the left in 400 m) <br>
15.2 km<br>
•	Continue onto Kodaikanal Ghat Rd/Laws Ghat Rd<br>
•	Continue to follow Laws Ghat Rd<br>
•	Pass by proposed land (on the left in 11.2 km) <br>
37.0 km<br>
•	Continue on Observatory Rd. Drive to Golf Links Road<br>
11 min (3.8 km) <br>
•	Turn right at Rari onto Observatory Rd<br>
•	Pass by Canara bank holiday home (lone star) (on the left) <br>
2.1 km<br>
•	Turn left onto Upper Lake Rd<br>
•	Pass by Upper Lake View (on the left in 300 m) <br>
900 m<br>
•	Turn right at Milborow onto Upper Shola Rd<br>
•	Pass by JAS OILS AND SPICES (on the left) <br>
120 m<br>
•	Continue onto Golf Links Road<br>
•	Pass by Milborow (on the left) <br>
•	Destination will be on the right<br>
650 m<br><br><br>
Liril Falls

</div>
 </ion-scroll>
</ion-view>
