<ion-view view-title="SUBRAMANIA SIVA MEMORIAL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ds.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Subramaniya Siva was born in an Iyer family at Batlagundu near Dindigul in erstwhile Madurai district of Madras presidency. He was born to Rajam Iyer. He joined the Indian freedom movement in 1908.<br>

Duration : 10 min<br>
Distance : 2.2 km<br>
via Nethaji Bypass<br>
Best route<br><br>
FROM : Dharmapuri<br>
Chinnathai Colony, Indhira Nagar, Dharmapuri, Tamil Nadu 636701<br><br>
Directions : <br><br>
•	Head east on Railway Station Rd towards Nethaji Bypass/Salem Main Rd<br>
 
•	Pass by Apollo computer education ltd (on the left) <br>
450 m<br>

•	Turn left at Pommys Nighties onto Nethaji Bypass/Salem Main Rd<br>
 
•	Continue to follow Nethaji Bypass<br>
 
•	Pass by JDC (on the left in 700 m) <br>
1.4 km<br>

•	At the roundabout, take the 3rd exit onto Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
 
•	Pass by Four Roads (on the right) <br>
97 m<br>

•	Sharp right at Jai Footwear to stay on Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
11 m<br>

•	Turn left at Bata onto Bus Stand Rd<br>
 
•	Pass by SKVPS (on the left) <br>
160 m<br>

•	Turn left at Royal Signs onto Intex Service Centre Rd<br>
 
•	Pass by AARU DIGITAL STUDIO (on the left) <br>
81 m<br><br><br>
Dharmapuri Local Bus Station<br>
Dharmapuri, Tamil Nadu 636701<br>

Duration : 29 min<br> 
Distance  : 16.4 km<br>
via MDR100<br>
Fastest route<br><br>
FROM : Dharmapuri Local Bus Station<br>
Dharmapuri, Tamil Nadu 636701<br><br>
Directions : <br>
•	Take Bus Stand Rd to Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
1 min (240 m) <br>

•	Head west on Intex Service Centre Rd towards Bus Stand Rd<br>
81 m<br>

•	Turn right at Royal Signs onto Bus Stand Rd<br>
 
•	Pass by SKVPS (on the right) <br>
160 m<br>
•	Take MDR100 to MDR308<br>
28 min (16.2 km) <br>

•	Turn left at Bata onto Dharmapuri-Hogenakkal Rd/Tirupattur Rd<br>
56 m<br>

•	At the roundabout, take the 3rd exit onto Dharmapuri-Bengaluru Rd/Dharmapuri-Krishnagiri Rd<br>
 
•	Pass by Four Roads (on the right) <br>
2.4 km<br>

•	Turn left at Housekeeping products suppliers in Dhamapuri C K Hygiene Care onto MDR100<br>
 
•	Pass by Success Infosys (on the right in 12.6 km) <br>
12.8 km<br>

•	Turn left<br>
280 m
<br>
•	Turn right towards MDR308<br>
350 m<br>

•	Turn left onto MDR308<br>
300 m
<br><br><br>
Thiyagi Subramanya Siva Memorial<br>
Onnappagoundanahalli, Tamil Nadu 636809<br>


</div>
 </ion-scroll>
</ion-view>
