<ion-view view-title="SRI KOTTAI MARIAMMAN KOVIL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dsk.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The Mariamman idol is said to be installed by the army men of Tippu Sultan at the fort of the mountain. Hence it is called Kottai (Fort) Mariamman temple of Dindigul. The historical name of the Sri Kottai Mariamman temple is called as Dhandeeswaram. There are three special entrances to the temple.  The processions are arranged through the front entrance. The main idol in the sanctum is installed on the floor of the temple and Sakthi is always designed with golden Kavacham during the festival. <br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>
Duration : 7 min<br> 
Distance : 1.9 km<br>
via AMC Rd and Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br><br>
Direction : <br><br>
•	Head north-west on AMC Rd towards Thiruvalluvar Salai<br>
•	Pass by JEYAM MOBILES (on the left) <br>
450 m<br>
•	Slight left at Raj Metal Mart (Vessel's Shop) to stay on AMC Rd<br>
65 m<br>
•	Turn left at Spice Hotspot onto Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Go past the church (on the left) <br>
750 m<br>
•	Turn left at Muthaketa Vinayaka Kovil onto W Car St/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Pass by Samuthra Maligai Kadal (on the right) <br>
350 m<br>
•	Turn right at Sangeereni Nursing Home towards Taluk Office Rd<br>
•	Pass by Ethuha Mahall (on the left) <br>
170 m<br>
•	Turn right onto Taluk Office Rd<br>
•	Destination will be on the right<br>
110 m<br><br><br>
Arulmigu Sri Kottai Mariamman Temple







</div>
 </ion-scroll>
</ion-view>
