<ion-view view-title="SIRUMALAI RESERVED FOREST">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dsr.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Sirumalai (Tamil: சிறுமலை) is a region of 60,000 acres (200 km2) situated 25 km (16 mi) from Dindigul and 90 km (56 mi) from Madurai,Tamil Nadu, India. There are many high hills in the area. Hillock International School is located in Sirumalai. Sirumalai is a dense forest region with a moderate climate throughout the year. With an altitude of 1600 metres above sea level, it contains diversified flora and fauna. The hill has 18 hairpin bends. On the 18th bend is a church and a view point of Dindigul city and the "Dindigul Rock Fort".<br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>

Duration : 1 h 5 min<br>
Distance : 32.8 km<br>
via Dindigul - Natham - Singampunari-Tiruppattur-Karaikudi Rd<br>
Fastest route<br><br>

FROM : Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Head south-east on AMC Rd towards Scheme Rd<br>
120 m<br>
•	Turn right at The Chennai Mobiles onto Scheme Rd<br>
•	Pass by Mobile Xpress (on the right) <br>
500 m<br>
•	Turn right at Felburk Road Centre Bus Stop onto Felberg Road<br>
26 m<br>
•	Turn left onto NVGB Hall Rd<br>
•	Pass by NVGB Theatre (on the right) <br>
260 m<br>
•	Turn left at HDFC Bank ATM onto Dindigul - Natham - Singampunari-Tiruppattur-Karaikudi Rd <br>
•	Pass by Bala Vinayagar (on the left) <br>
4.0 km<br>
•	Turn right<br>
19.3 km<br>
•	Slight left<br>
•	Pass by Sirumalai Puthur Bus Stop (on the right in 2.7 km) <br>
8.5 km<br><br>
Sirumalai Reserved Forests




</div>
 </ion-scroll>
</ion-view>
