<ion-view view-title="SADAYANDI CAVE TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dst.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Athoor Sadayandi Temple is situated in a hill cave near Kamarajar Sagar Dam in Tamil Nadu, India. Every year during Aadi Amavasai, (the new moon of the Tamil month of Aadi) there is an interesting festival here which attracts upwards of 100,000 pilgrims in a day.<br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>

Duration : 2 h 5 min <br>
Distance : 125 km<br>
via NH44 and NH744<br>
Fastest route, the usual traffic<br>
This route has tolls. <br><br>
FROM : Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>
Directions : <br><br>
•	Follow AMC Rd to Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd in Spencer Compound<br>
2 min (500 m) <br>
•	Head north-west on AMC Rd towards Thiruvalluvar Salai<br>
•	Pass by JEYAM MOBILES (on the left) <br>
450 m<br>
•	Slight left at Raj Metal Mart (Vessel's Shop) to stay on AMC Rd<br>
65 m<br>
•	Follow NH44 and NH744 to MDR194 in Krishnan Kovil<br>
1 h 58 min (120 km) <br>
•	Turn left at Spice Hotspot onto Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Go past the church (on the left) <br>
750 m<br>
•	Turn left at Muthaketa Vinayaka Kovil onto W Car St/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Continue to follow Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Pass by Samuthra Maligai Kadal (on the right) <br>
850 m<br>
•	Continue straight past Begambur Centre Bus Stop onto Dindigul-Vellodu-Madurai Rd<br>
•	Pass by Rockfort Palace (on the right) <br>
2.3 km<br>
•	Turn left onto NH44<br>
 Partial toll road<br>
•	Pass by Velanchettiyur Toll Plaza (on the left in 17.4 km) <br>
71.0 km<br>
•	Take the slip road to NH744<br>
500 m<br>
•	Turn right onto NH744<br>
•	Pass by Tirumangalam Boys Town (on the right in 1.3 km) <br>
44.5 km<br>
•	Continue on MDR194. Drive to Ramachandrapuram - Sundarapandiam Rd<br>
9 min (4.9 km) <br>
•	Turn right at Krishnan Kovil Bus Stop onto MDR194<br>
•	Pass by King Mobile & Xerox (on the right in 1.3 km) <br>
4.3 km<br>
•	Turn right onto Ramachandrapuram - Sundarapandiam Rd<br>
•	Pass by Kalaimagal Higher secondary school (on the right in 300 m) <br>
650 m<br><br>
Sadaiyandi Temple<br>





</div>
 </ion-scroll>
</ion-view>
