<ion-view view-title="THADIKOMBU PERUMAL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/dtp.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Soundararajaperumal Temple is a temple dedicated to Hindu god Vishnu, located in Thadikombu, a village near Dindigul in the South Indian state of Tamil Nadu. Constructed in Dravidian style of architecture, the temple is believed to have been built by Achyuta Deva Raya during the 16th century AD. Vishnu is worshiped as Soundararaja Perumal and his consort Lakshmi as Soundaravalli.

<br>

Duration : 11 min<br> 
Distance : 850 m<br>
via Scheme Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Dindigul Railway station<br>
Mengles Rd, EB Colony, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Walk north<br>
11 m<br>

•	Turn left by the railway_station towards the Mengles Rd<br>
38 m<br>

•	Turn right at Sanjeevi Foods onto Mengles Rd<br>
8 m<br>

•	Turn left at Gowtham Polyclinic towards Scheme Rd<br>
46 m<br>

•	Turn right towards Scheme Rd<br>
250 m<br>

•	Turn left towards Scheme Rd<br>
28 m<br>

•	Turn right onto Scheme Rd<br>
 
•	Pass by Sri Vinayaga Tv Service Center (on the left in 300 m) <br>
350 m<br>

•	Turn left at Dindigul Bus Stand Mosque<br>
130 m<br><br>
Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br>

Duration : 20 min<br>
Distance  : (15.1 km) <br>
via NH44<br>
Fastest route, the usual traffic<br><br>

FROM : Dindigul Bus Stand<br>
AMC Rd, Spencer Compound, Dindigul, Tamil Nadu 624001<br><br>
Directions : <br><br>
•	Follow AMC Rd to Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
2 min (450 m) <br>
•	Head north-west on AMC Rd towards Thiruvalluvar Salai<br>
•	Pass by JEYAM MOBILES (on the left) <br>
450 m<br>
•	Slight right at Raj Metal Mart (Vessel's Shop) to stay on AMC Rd<br>
29 m<br>
•	Turn right at the statue onto Chennai - Teni Hwy/Chennai Theni Hwy/Dindigul - Theni - Kottarakkara Hwy/Dindigul-Vellodu-Madurai Rd<br>
•	Continue to follow Chennai Theni Hwy<br>
•	Go through 1 roundabout<br>
•	Pass by Techmyntra Dindigul Website Design Company SEO agency project center (on the right in 700 m) <br>
3 min (1.2 km) <br>
•	Continue on Karur Rd to Nandhavanappatty<br>
4 min (1.7 km) <br>
•	Drive from NH44 to Thadikombu<br>
11 min (11.2 km) <br>
•	Turn left<br>
2 min (1.0 km) <br>
Thadikombu





</div>
 </ion-scroll>
</ion-view>
