<ion-view view-title="ARUDRA KABALISWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/eak.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>108 Shivalingas are carved on a single Linga in the temple. This is a very pleasing darshan to the devotees. In the Kottai division of Erode, Lord Thondeswara graces the devotees. The main tower (Rajagopuram) is an outstanding example of architectural beauty..

Sun God graces in the front hall (Mandap) with His consorts. Lord Kanni Vinayaka graces in the Southwest corner while the holy tree Vanni is at the west.<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 13 min <br>
Distance : 1.1 km<br>
via Mettur Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Walk south on Mettur Rd<br>
•	Pass by The Chennai Mobiles (on the right) <br>
62 m<br>
•	Turn left at VGS Travels<br>
190 m<br>
•	Turn right<br>
150 m<br>
•	Turn left at Gayathiri Tiffen Center & Mess & Tea Stall<br>
200 m<br>
•	Turn right at Nehru St<br>
270 m<br>
•	Turn left at vasuki textile mills<br>
110 m<br>
•	Turn right<br>
55 m<br>
•	Turn left<br>
•	Destination will be on the left<br>
39 m<br><br>
Arudhra Kabaleeswarar Temple








</div>
 </ion-scroll>
</ion-view>
