<ion-view view-title="ELAKURICHI ADAIKALA MATHA SHRINE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/eam.jpg"><br>
<div class="item item-text-wrap">
	Chronicle :<br><br>
    Elakurichi a small village in Ariyalur district, Tamil Nadu, South India, is a Catholic pilgrimage center dedicated to Virgin Mary. It is 65 km from Perambalur. The ancient church built by the famous Catholic Missionary Constanzo Beschi popularly known as ‘Veeramamunivar’ on the year of 1711.<br><br>

Elakurichi previously called Tirukavalur is located near Ariyalur. Elakurichi is 25 km from ariyalur. Elakurichi holds a famous shrine called Adaikalamadha shrine. Veeramamunivar has constructed the Aadaikalamatha Church in Elakurichi. In every year the Elakurichi Adaikalamadha shrine car festival is very famous. For that car festival all Christians will come together and celebrate the festival in every year April month.<br><br><br>


	Duration :9 min <br>
Distance : 2.3 km<br>
via College Road<br>
Fastest route<br><br>


FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>

Directions : <br>

•	Head south towards Railway Station Rd<br>
               150 m<br>

•	Turn left onto Railway Station Rd<br>
 
•	Pass by Shanmugapriya Lodge AC (on the left)<br>
                450 m<br>

•	Turn right towards College Road<br>
                66 m<br>

•	Turn left at the 1st cross street onto College Road<br>
 
•	Pass by sabarmathi vidhyalaya nursery & primary (on the left)<br>
                 800 m<br>

•	At Asian Traders, continue onto Sendurai Rd<br>
 
•	Pass by Gokul Complex (on the left)<br>
                 450 m<br>

•	Turn left at R.Cinnayan Store onto Market St<br>
 
•	Pass by Newton System (on the right)<br>
                290 m<br>

•	At the roundabout, take the 3rd exit and stay on Market St<br>
 
•	Destination will be on the left<br>
                85 m<br>

Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br><br>

Duration : 1 h 29 min<br>
Distance :  48.6 km<br>
via NH136<br>
Fastest route, despite the usual traffic<br><br><br>
FROM : Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br><br>
Directions:<br>
•   Follow Jayankondam Rd to NH136<br>
            4 min (1.5 km)<br>

•   Follow NH136 to Old Thiruvaiyaru Rd<br>
            58 min (37.7 km)<br>

•   Take Thanjavur - Kumbakonam Rd, N Main St andMembalam Rd to Pudukottai Rd<br>
            24 min (9.4 km)<br><br>

Adaikala Matha Church<br>
Old Housing Unit, Arulananda Nagar West Extension, Thanjavur, Tamil Nadu 613007





</div>
 </ion-scroll>
</ion-view>
