<ion-view view-title="BHAVANI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/eb.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Bhavani is a second grade Municipality in Erode district, Tamil Nadu, India. It is situated at the north of Erode City and it is about 107 km (66 mi) from Coimbatore city on National Highway 47. Bhavani is also known as the Carpet city, as the leading business of the town is known for its carpet industry. <br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 27 min<br>
Distance : 14.1 km<br>
via Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
Fastest route, the usual traffic<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head north on Mettur Rd towards Sathy Rd<br>
•	Pass by Hi-Tech Electronic Service (on the left) <br>
30 s (120 m) <br>
•	Take Thoppur-Mettur Dam-Bhavani-Erode Rd to SH 82 in Varanapuram, Bhavani<br>
27 min (14.0 km) <br>
•	Turn right at Swasthik Circle Signal Bus Stop onto Sathy Rd<br>
•	Pass by Sbi Atm (on the left) <br>
280 m<br>
•	Turn left at Sri Geetha Cafe towards Park Rd<br>
400 m<br>
•	Turn left at Park Road Bus Stop onto Park Rd<br>
•	Pass by Saravana Oil Store (on the left) <br>
600 m<br>
•	At Sigaram Tyres, continue onto Bhavani Rd/Thoppur-Mettur Dam-Bhavani-Erode Rd/Vairapalayam Rd<br>
•	Continue to follow Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
•	Go past the petrol station (on the left) <br>
9.9 k<br>
•	Keep left to stay on Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
•	Pass by Sun Computers - KPN Lakshminagar (on the left) <br>
2.4 km<br>
•	Continue straight past Savee's Signature Spa<br>
160 m<br>
•	Turn left onto SH 82<br>
 
•	Pass by DSP Office (on the right) <br>
200 m<br><br>
Bhavani

</div>
 </ion-scroll>
</ion-view>
