<ion-view view-title="BANNARI AMMAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/eba.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Around 300 years ago, the dana Nayakkan or Dhandanyakkan forest was called “Bannari”. This name Bannari for this great historical place originated because of the great temple “Bannari Amman Temple”.

The cowherd has his own doubts about that particular cow and he decided to have an eye on it. He allowed the other cows to graze and pursued that particular cow secretly. It went alone near a Vengai tree and stood beneath it. Milk began to flow from its udder automatically. He wondered at such a strangle sight and told about it to the other cowherds.<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand

Duration : 1 h 39 min<br> 
Distance : 74.1 km<br>
via SH 15<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head north on Mettur Rd towards Sathy Rd<br>
•	Pass by Hi-Tech Electronic Service (on the left) <br>
120 m<br>
•	Turn left at Swasthik Circle Signal Bus Stop onto Sathy Rd/SH 15<br>
•	Continue to follow SH 15<br>
•	Pass by Smart Interio (on the left) <br>
60.3 km<br>

•	Turn right at Maharaja Mobiles onto NH948<br>
•	Pass by Ambika Fancy (on the right) <br>
•	Destination will be on the left<br>
13.7 km<br><br>
Sri Bannari Amman Temple


</div>
 </ion-scroll>
</ion-view>
