<ion-view view-title="BROUGH CHURCH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ebc.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Brough Church, one of the chief worship centres of the region was founded by Mr. Antony Watson Brough, an Australian missionary. This church of South India was established in the year 1928-29.

The church missionary is engaged in various public service activities in interest of the society. Situated in the middle of the city of Erode nearby Panneerselvam Park, the church can be advanced from a Brough road, which is also named after the church.<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 5 min<br> 
Distance : 1.8 km<br>
via Mettur Rd and Brough Rd<br>
Fastest route, lighter traffic than usual<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head south on Mettur Rd towards Nalli Hospital Rd<br>
•	Pass by The Chennai Mobiles (on the right) <br>
700 m<br>
•	At MGR Jct, take the 1st exit onto Brough Rd<br>
•	Pass by Aramsei Foundation (on the left) <br>
1.0 km<br>
•	Turn right at PS Park Clock Tower onto Erode Main Rd/Gandhiji Rd/Palani - Erode Rd<br>
•	Pass by Taxi Stand (on the right) <br>
•	Destination will be on the right<br>
56 m<br><br>
CSI Brough Memorial Church




</div>
 </ion-scroll>
</ion-view>
