<ion-view view-title="BHAVANISAGAR DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ebs.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Bhavanisagar dam is constructed on the Bhavani River. The dam receives water from two main catchment areas in the Western Ghats. The water is fed into the Bhavani river known as Upper Bhavani. The eastern catchment area includes the Upper Bhavani, Avalanche and Emerald lakes, Kundha, Gedhai, Pillur and Nellithurai . The western catchment area includes Portimund, Parson’s valley, Pykara, Glenmorgan, Chinkara, Maravakandy, Moyar and Thengumarahatta.[1] The dam is fed by both Southwest and Northeast monsoons<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand

Duration : 1 h 45 min<br> 
Distance : 76.0 km) <br>
via SH 15<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head north on Mettur Rd towards Sathy Rd<br>
•	Pass by Hi-Tech Electronic Service (on the left) <br>
30 s (120 m) <br>
•	Continue on SH 15 to Bhavanisagar-Erangattur Rd<br>
1 h 27 min (69.1 km) <br>

•	Turn left at Swasthik Circle Signal Bus Stop onto Sathy Rd/SH 15<br>
 
•	Continue to follow SH 15<br>
 
•	Pass by Smart Interio (on the left) <br>
59.9 km<br>

•	Turn left towards NH948<br>
280 m<br>
•	Turn right at Government School, Rangasamudram<br>
170 m<br>
•	Turn left at TVS Mani Automobiles onto NH948<br>
•	Pass by Kings Travels (on the left) <br>
400 m<br>
•	Continue straight past AMMAN MESS onto Mettupalayam - Cuddalore Rd/Sathyamangalam - Mettupalayam Main Rd<br>
•	Pass by Bannariamman Fast-foods (on the right) <br>
8.3 km<br>
•	Continue on Bhavanisagar-Erangattur Rd. Drive to MDR889<br>
13 min (6.8 km) <br>
•	Turn right onto Bhavanisagar-Erangattur Rd<br>
3.3 km<br>
•	Turn right to stay on Bhavanisagar-Erangattur Rd<br>
750 m<br>
•	Continue straight<br>
850 m<br>
•	Slight left onto MDR889<br>
2.0 km<br><br>
Bhavanisagar Dam



</div>
 </ion-scroll>
</ion-view>
