<ion-view view-title="CHENNIMALAI MURUGAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ecm.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>This temple is situated at about 600 meters above sea level and this hill is noted for its natural flora and fauna. This hill also has rare medicinal herbs in its lush green forests. In Devanagiri this hill is called Siragiri and Chenniyangiri. In Tamil it is called Chennimalai. The city underneath the hill is also called Chennimalai.<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 51 min<br>
Distance : 35.3 km<br>
via Erode-Perundurai-Kangeyam Rd<br>
Best route now due to traffic conditions<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head south on Mettur Rd towards Nalli Hospital Rd<br>
•	Pass by The Chennai Mobiles (on the right) <br>
2 min (700 m) <br>
•	Follow Erode-Perundurai-Kangeyam Rd to Somanur - Manavalakali Mandram Rd in Chennimalai<br>
41 min (30.1 km) <br>
•	At MGR Jct, take the 3rd exit onto Erode-Perundurai-Kangeyam Rd/Perudurai-Kangeyam Rd/Perundurai Rd<br>
•	Continue to follow Erode-Perundurai-Kangeyam Rd<br>
•	Pass by GB Clinic, Erode (on the left) <br>
16.7 km<br>
•	Turn left at Civil Supplies Perundurai to stay on Erode-Perundurai-Kangeyam Rd<br>
98 m<br>
•	At the roundabout, take the 2nd exit onto Erode-Perundurai-Kangeyam Rd/Olapalayam - Modakurichi Rd/Old Bus Stand Road<br>
•	Pass by Imarketerz (on the left) <br>
500 m<br>
•	At the roundabout, take the 1st exit onto Erode-Perundurai-Kangeyam Rd<br>
•	Pass by Shanmuga Bakery (on the left) <br>
12.8 km<br>
•	Drive to Chennimalai Hills Road in Ottapparai<br>
9 min (4.4 km) <br>
•	Slight right at Kumaran silai onto Somanur - Manavalakali Mandram Rd<br>
38 m<br>
•	Continue straight past Laksmi Medicals onto W Raja St<br>
•	Pass by ravi radymeds (on the right) <br>
120 m<br>
•	Turn right at Syndicate Bank onto Malai Adivaram Road <br>
•	Pass by Manager Maligai (on the right) <br>
450 m<br>
•	Malai Adivaram Road turns left and becomes Chennimalai Hills Road<br>
3.8 km<br><br>
Chennimalai Lord Murugan Temple







</div>
 </ion-scroll>
</ion-view>
