<ion-view view-title="THINDAL MURUGAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/edt.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Arulmigu Velayuthaswamy Thirukovil alias Thindalmalai Murugan Temple is a Hindu temple dedicated to Lord Murugan, located on Thindalmalai hillock near Erode. The primary deity is Sri Velayudhaswami. The temple houses a golden chariot Temple Car, which runs around the temple on the hillock. It is about 7 km from Central Bus stand at Swastik Circle, 8 km from Erode Junction. The Temple is well connected to by local buses running in-between Central Bus Terminus and Perundurai.<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 12 min<br> 
Distance : 6.0 km<br>
via Erode-Perundurai-Kangeyam Rd<br>
Fastest route, lighter traffic than usual<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head south on Mettur Rd towards Nalli Hospital Rd<br>
•	Pass by The Chennai Mobiles (on the right) <br>
700 m<br>
•	At MGR Jct, take the 3rd exit onto Erode-Perundurai-Kangeyam Rd/Perudurai-Kangeyam Rd/Perundurai Rd<br>
•	Continue to follow Erode-Perundurai-Kangeyam Rd<br>
•	Pass by GB Clinic, Erode (on the left) <br>
5.2 km<br>
•	Turn left at Bank of Baroda ATM<br>
•	Destination will be on the right<br>
61 m<br><br>
Thindalmalai Sri Velayudha Swamy Temple<br>






</div>
 </ion-scroll>
</ion-view>
