<ion-view view-title="KODIVERI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ek.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>It was constructed by Kongalvan in the year 1125 AD. Creating the dam consisted of carving a 20-foot wall of rock. The stones were then interlocked with iron bars and lead was used as mortar. These features, however, are not visible except in the dry season when the water level in the river drops considerably<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 1 h 27 min<br>
Distance : 59.0 km<br>
via SH 15<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head north on Mettur Rd towards Sathy Rd<br>
•	Pass by Hi-Tech Electronic Service (on the left) <br>
120 m<br>
•	Turn left at Swasthik Circle Signal Bus Stop onto Sathy Rd/SH 15<br>
•	Continue to follow SH 15<br>
•	Pass by Smart Interio (on the left) <br>
38.1 km<br>
•	Turn right at College Pirivu Bus Stop onto Karattadipalayam - Bungalowpudur Rd<br>
•	Pass by Jai Sri Maruthi Industries (on the right) <br>
6.6 km<br>
•	Turn left at Bungalapudur Bus Stop onto SH 82<br>
•	Pass by Bungalowpudur Police Station (on the left) <br>
11.9 km<br>
•	Turn left at Nalroad Bus Stop onto Periyakodiveri Rd<br>
•	Pass by Aircel Tower (on the right) <br>
2.1 km<br>
•	Turn left onto Dam Main Rd<br>
280 m<br><br><br>
Kodiveri

</div>
 </ion-scroll>
</ion-view>
