<ion-view view-title="KODUMUDI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/eko.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Kodumudi Mahudeswarar, Veera Narayana Perumal and brama devaTemple dedicated to Lord Shiva Lord Vishnu and lord brama respectively. Various festivals are celebrated in the temples beginning with the Tamil New Year. During this ten days of ceremony, the festive deities Siva and Vishnu will be taken out on different types of Vahanas for darsan. Mahasivarathri is a grand saivaite festival. <br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 1 h 2 min <br>
Distance : 40.9 km<br>
via Erode - Karur Rd/Karur By Pass Rd and SH 84<br>
Fastest route<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Continue to Periyar Nagar<br>
8 min (2.7 km) <br>
•	Head south on Mettur Rd towards Nalli Hospital Rd<br>
•	Pass by The Chennai Mobiles (on the right) <br>
700 m<br>
•	At MGR Jct, take the 2nd exit onto Erode-Dharapuram Rd/EVN Rd<br>
•	Pass by St Courier - Four Rd (on the left) <br>
1.6 km<br>
•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
•	Pass by Erode Railway Station Bus Stop (on the left) <br>
400 m<br>
•	Follow Erode - Karur Rd/Karur By Pass Rd and SH 84 to Chinnakandanur, Kodumudi<br>
52 min (37.4 km) <br>

•	At Kalaimaadu Silai Roundana, take the 2nd exit onto Erode-Dharapuram Rd/Erode Main Rd/Palani - Erode Rd<br>
•	Pass by Kalai Mattu Silai Bus Stop (on the left) <br>
1.0 km<br>
•	Turn left onto Vengai Rajendran St<br>
700 m<br>
•	Turn left at Indhra Nagar Bus Stop onto Erode - Karur Rd/Karur By Pass Rd<br>
•	Pass by Sakthi Nursing Home (on the left) <br>
2.5 km<br>
•	Slight left at Sri Vinayagar Driving School onto Erode - Karur Rd/Karur By Pass Rd/Unjalur RS - Erode Kangayam<br>
•	Continue to follow Erode - Karur Rd/Karur By Pass Rd<br>
•	Pass by DR.N.POONGOTHAI (on the left) <br>
18.0 km<br>
•	Slight left at Karumandampalayam Bus Stop onto Unjalur RS - Erode Kangayam/SH 84<br>
•	Continue to follow SH 84<br>
•	Pass by Karur Vysya bank (on the right) <br>
15.2 km<br>
•	Drive to your destination<br>
3 min (850 m) <br>
•	Turn left<br>
750 m<br>
•	Turn left<br>
82 m<br><br>
Kodumudi


</div>
 </ion-scroll>
</ion-view>
