<ion-view view-title="SRI KONGALAMMAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ekt.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> 	Goddess Kongalamman is a swyambumurthy.<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 5 min<br> 
Distance : 1.4 km<br>
via Sathy Rd<br>
Fastest route, the usual traffic<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head north on Mettur Rd towards Sathy Rd<br>
•	Pass by Hi-Tech Electronic Service (on the left) <br>
120 m<br>
•	Turn right at Swasthik Circle Signal Bus Stop onto Sathy Rd <br>
•	Pass by Sbi Atm (on the left) <br>
950 m<br>
•	Turn right at Ingenious Technologies<br>
•	Pass by ARAFAH LADIES COSTUME DESIGNERS (ladies tailoring) (on the left) <br>
110 m<br>
•	Turn right at I.Hameedueen onto Sulthanpet St <br>
•	Pass by Sri Laxmi Enteprises (on the left) <br>
170 m<br>
•	Turn left at SHRI ASM TRADERS onto Kongalamman Kovil St<br>
31 m<br>
•	Turn right<br>
•	Destination will be on the right<br>
70 m<br><br>
Kongalamman Temple




</div>
 </ion-scroll>
</ion-view>
