<ion-view view-title="PACHCHAMALAI MURUGAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/em.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>It is commonly believed that the temple got its name ‘Pachaimalai’ meaning ‘Green Hill’ owing to the trees and greeneries, which is wrong. The actual reason is the presence of a spring(நீரூற்று) directly beneath the presiding Deity at the sanctum santorum. It can be understood from the fact that water being used in the temple is obtained from a bore well on top of the hill. During the drought years of 2001 – 2005, when the wells went dry in the areas around the hill, the water was available on top of the hill, owing to the presence of the spring.
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 50 min<br>
Distance : 34.5 km<br>
via SH 15<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head north on Mettur Rd towards Sathy Rd<br>
•	Pass by Hi-Tech Electronic Service (on the left) <br>
120 m<br>
•	Turn left at Swasthik Circle Signal Bus Stop onto Sathy Rd/SH 15<br>
•	Continue to follow SH 15<br>
•	Pass by Smart Interio (on the left) <br>
33.3 km<br>
•	Turn left<br>
350 m<br>
•	Turn right<br>
500 m<br>
•	Turn left<br>
67 m<br>
•	Turn left<br>
•	Destination will be on the right<br>
190 m<br><br>
Pachaimalai Murugan Temple

</div>
 </ion-scroll>
</ion-view>
