
<ion-view view-title="ERODE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "edt()"> 
THINDAL MURUGAN TEMPLE</button><br>


<button class="button button-clear button-royal" ng-Click = "ecm()"> 
CHENNIMALAI MURUGAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "evb()"> 
VELLODE BIRD SANCTUARY</button><br>
<button class="button button-clear button-royal" ng-Click = "est()"> 
SATHYAMANGALAM TIGER RESERVE</button><br>
<button class="button button-clear button-royal" ng-Click = "ebc()"> 
BROUGH CHURCH</button><br>
<button class="button button-clear button-royal" ng-Click = "ekt()"> 
SRI KONGALAMMAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "esa()"> 
SANGAMESHWARA TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "eak()"> 
ARUDRA KABALISWARAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "ep()"> 
PARIYUR</button><br>

<button class="button button-clear button-royal" ng-Click = "eb()"> 
BHAVANI</button><br>
<button class="button button-clear button-royal" ng-Click = "em()"> 
PACHCHAMALAI MURUGAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "ek()"> 
KODIVERI</button><br>
<button class="button button-clear button-royal" ng-Click = "eko()"> 
KODUMUDI</button><br>
<button class="button button-clear button-royal" ng-Click = "esl()"> 
SIVANMALAI</button><br>
<button class="button button-clear button-royal" ng-Click = "eba()"> 
BANNARI AMMAN TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "ebs()"> 
BHAVANISAGAR DAM</button><br>

</ion-scroll>
</ion-view>
