<ion-view view-title="SANGAMESHWARA TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/esa.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Sangameswarar temple (also called Thirunana and Thirukooduthurai) is a temple in Bhavani, in the Erode district, of the Indian state of Tamil Nadu. It is a Hindu temple dedicated to Lord Shiva. It is 15 km from Erode, 30 km from Gobichettipalayam, 56 km from Salem and 106 km from Coimbatore.
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand

Duration : 26 min <br>
Distance : 13.4 km<br>
via Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
Fastest route, the usual traffic<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head north on Mettur Rd towards Sathy Rd<br>
•	Pass by Hi-Tech Electronic Service (on the left) <br>
30 s (120 m) <br>
•	Take Thoppur-Mettur Dam-Bhavani-Erode Rd to Sangameshwar Temple Rd in Bhavani<br>
25 min (13.1 km) <br>
•	Turn right at Swasthik Circle Signal Bus Stop onto Sathy Rd<br>
•	Pass by Sbi Atm (on the left) <br>
280 m<br>
•	Turn left at Sri Geetha Cafe towards Park Rd<br>
400 m<br>
•	Turn left at Park Road Bus Stop onto Park Rd<br>
•	Pass by Saravana Oil Store (on the left) <br>
600 m<br>
•	At Sigaram Tyres, continue onto Bhavani Rd/Thoppur-Mettur Dam-Bhavani-Erode Rd/Vairapalayam Rd<br>
•	Continue to follow Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
•	Go past the petrol station (on the left) <br>
9.9 km<br>
•	Keep left to stay on Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
•	Pass by Sun Computers - KPN Lakshminagar (on the left) <br>
1.5 km<br>
•	Turn right at Ravi Mess Evening hotel towards Main Rd<br>
98 m<br>
•	Turn right at Manappuram Finance Limited onto Main Rd<br>
•	Pass by Sabari Towers (on the right) <br>
250 m<br>
•	Turn left onto Sangameshwar Temple Rd<br>
1 min (230 m) <br><br>
Sangameshwar Temple Rd






</div>
 </ion-scroll>
</ion-view>
