<ion-view view-title="SIVANMALAI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/esl.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Legend has it that Murugan married Valli against the wishes of her kinsmen who pursued the couple to Sivanmalai; all of the tribal huntsmen who fought with the couple were slain. An ahast Valli requested Murugan to restore to life, a long list of her kinsmen and Murugan obliged and restored all the Vedars to life.

<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand

Duration : 1 h 8 min<br> 
Distance : 46.2 km<br>
via Erode-Chennimalai Rd and Erode-Perundurai-Kangeyam Rd<br>
Fastest route<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Drive from Erode-Chennimalai Rd and Erode-Perundurai-Kangeyam Rd to Sivanmalai<br>
1 h 7 min (45.6 km) <br>
•	Head south on Mettur Rd towards Nalli Hospital Rd<br>
 
•	Pass by The Chennai Mobiles (on the right) <br>
700 m<br>
•	At MGR Jct, take the 2nd exit onto Erode-Dharapuram Rd/EVN Rd<br>
•	Pass by St Courier - Four Rd (on the left) <br>
1.6 km<br>
•	Turn right towards Chennimalai Rd/Erode-Chennimalai Rd<br>
100 m<br>
•	Turn left towards Chennimalai Rd/Erode-Chennimalai Rd<br>
49 m<br>
•	Turn right onto Chennimalai Rd/Erode-Chennimalai Rd<br>
•	Continue to follow Erode-Chennimalai Rd<br>
•	Pass by tamil selvi (on the right in 1.0 km) <br>
8.9 km<br>
•	At Amman Temple, continue onto Vellode Rd<br>
140 m<br>
•	Continue onto Vellode-Kavinchipalayam Rd <br>
•	Pass by Post Office (on the right) <br>
3.5 km<br>
•	Turn right onto Erode-Chennimalai Rd/Olapalayam - Modakurichi Rd/Vellode-Kavinchipalayam Rd <br>
•	Pass by Arulmigu Subramaniaswamy Temple (on the right in 350 m) <br>
750 m<br>
•	At the roundabout, take the 1st exit onto Erode-Chennimalai Rd <br>
•	Pass by Jaya Lakshmi Maligai (on the left) <br>
400 m<br>
•	Sharp right to stay on Erode-Chennimalai Rd <br>
•	Pass by The Ambal All Cars (on the left in 400 m) <br>
10.3 km<br>
•	Merge onto Erode-Perundurai-Kangeyam Rd<br>
•	Pass by Kumaran silai (on the right) <br>
14.7 km<br>
•	Turn right<br>
4.3 km<br>
•	Slight left onto Sivanmalai Rd<br>
260 m<br>
•	Drive to Sivan Malai Kovil Rd<br>
2 min (600 m) <br>
•	Turn right towards Sivan Malai Kovil Rd<br>
260 m<br>
•	Turn right onto Sivan Malai Kovil Rd<br>
350 m<br><br>
Sivanmalai


</div>
 </ion-scroll>
</ion-view>
