<ion-view view-title="SATHYAMANGALAM TIGER RESERVE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/est.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Sathyamangalam Wildlife Sanctuary and Tiger Reserve is a protected area and tiger reserve along the Western Ghats in the Indian state of Tamil Nadu. First declared as a wildlife sanctuary in 2008 and enlarged in 2011, it covers a forest area of 1,411.6 km2 (545.0 sq mi) and is the largest wildlife sanctuary in Tamil Nadu. In 2013, it became the fourth tiger reserve as a part of Project Tiger in the state of Tamil Nadu.<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 2 h 27 min<br>
Distance : 95.1 km<br>
via SH 15<br>
Fastest route<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>
•	Head north on Mettur Rd towards Sathy Rd<br>
•	Pass by Hi-Tech Electronic Service (on the left) <br>
120 m<br>
•	Turn left at Swasthik Circle Signal Bus Stop onto Sathy Rd/SH 15 <br>
•	Continue to follow SH 15<br>
•	Pass by Smart Interio (on the left) <br>
60.3 km<br>
•	Turn right at Maharaja Mobiles onto NH948 <br>
•	Pass by Ambika Fancy (on the right) <br>
2.5 km<br>
•	Turn left onto Kothamangalam Road<br>
•	Pass by Dr.Thiruvengadam M.V.Sc (on the left) <br>
11.2 km<br>
•	Merge onto Puliampatti-Bhavanisagar-Bannari Rd <br>
•	Pass by SUSAI MESS (on the right) <br>
2.4 km<br>
•	Slight right at Karachikorai Bus Station<br>
18.5 km<br><br>
Sathyamangalam Tiger Reserve




</div>
 </ion-scroll>
</ion-view>
