<ion-view view-title="VELLODE BIRD SANCTUARY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/evb.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Vellode Birds Sanctuary is an 80 ha (200-acre) sanctuary located in the Erode District in the state of Tamil Nadu, India.

The sanctuary is about 13 km from Erode Central Bus Terminus on the way to Chennimalai, near Vellode, and 10 km from Erode Junction Railway Station, in the south.<br>
Duration : 8 min<br>
Distance : 2.5 km<br>
via Erode-Dharapuram Rd and Mettur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Erode Junction<br>
Erode Railway Colony, Erode, Tamil Nadu 638002<br><br>
Directions : <br><br>
•	Head north-west towards Bus Bay<br>
80 m<br>

•	Turn left onto Erode-Chennimalai Rd/Erode-Dharapuram Rd<br>
 
•	Go past the petrol station (on the left) <br>
120 m<br>

•	Turn right onto Erode-Dharapuram Rd/EVN Rd<br>
 
•	Pass by Amma Hotel (on the left) <br>
1.6 km<br>

•	At MGR Jct, take the 3rd exit onto Mettur Rd<br>
 
•	Pass by Jayam Mosquito Nets Service (on the right) <br>
 
•	Destination will be on the right<br>
750 m<br><br>
Erode Bus Stand
Duration : 28 min<br>
Distance : 14.9 km<br>
via Erode-Chennimalai Rd<br>
Fastest route, the usual traffic<br><br>
FROM : Erode Bus Stand<br>
Mettur Rd, Erode Fort, Erode, Tamil Nadu 638001<br><br>
Directions : <br><br>

•	Drive along Erode-Chennimalai Rd and Vellode-Kavinchipalayam Rd<br>
26 min (14.1 km) <br>
•	Head south on Mettur Rd towards Nalli Hospital Rd <br>
•	Pass by The Chennai Mobiles (on the right) <br>
700 m<br>
•	At MGR Jct, take the 2nd exit onto Erode-Dharapuram Rd/EVN Rd<br>
•	Pass by St Courier - Four Rd (on the left) <br>
1.6 km<br>

•	Turn right towards Chennimalai Rd/Erode-Chennimalai Rd<br>
100 m<br>

•	Turn left towards Chennimalai Rd/Erode-Chennimalai Rd<br>
49 m<br>
•	Turn right onto Chennimalai Rd/Erode-Chennimalai Rd<br>
•	Continue to follow Erode-Chennimalai Rd<br>
•	Pass by tamil selvi (on the right in 1.0 km) <br>
8.9 km<br>
•	At Amman Temple, continue onto Vellode Rd<br>
140 m<br>
•	Continue onto Vellode-Kavinchipalayam Rd<br>
•	Pass by Post Office (on the right) <br>
1.8 km<br>
•	Turn right at Kanagapuram - V Mettupalayam Rd<br>
800 m<br>
•	Slight left<br>
3 min (750 m) <br><br>
Vellode Bird Sanctuary




</div>
 </ion-scroll>
</ion-view>
