<ion-view view-title="GANGAI KONDA CHOLAPURAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/gkc.jpg"><br>
<div class="item item-text-wrap">
	Chronicle : <br><br>
Gangaikonda Cholapuram was built during medieval India and was erected as the capital of the Cholas by Rajendra Chola I, the son and successor of Rajaraja Chola, the great Chola who conquered a large area in South India, Sri Lanka, Bangladesh, Sumatra, Kadaram (Kedah in Malaysia), Cambodia and others at the beginning of the 11th century A.D. It occupies an important place in the history of India. As the capital of the Cholas from about 1025 A.D. for about 250 years, the city controlled the affairs of entire southern India, from the Tungabhadra in the north to Ceylon in the south and other south east Asian countries. As of 2014, the ancient city exists as a small forlorn village in the Ariyalur district of Tamil Nadu, India. The great temple of Brihadeeswarar Temple at this place is next only to the Brihadisvara temple at Thanjavur in its monumental nature and surpasses it in sculptural quality.<br><br><br>
Duration :9 min <br>
Distance : 2.3 km<br>
via College Road<br>
Fastest route<br><br>


FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>

Directions : <br>

•	Head south towards Railway Station Rd<br>
               150 m<br>

•	Turn left onto Railway Station Rd<br>
 
•	Pass by Shanmugapriya Lodge AC (on the left)<br>
                450 m<br>

•	Turn right towards College Road<br>
                66 m<br>

•	Turn left at the 1st cross street onto College Road<br>
 
•	Pass by sabarmathi vidhyalaya nursery & primary (on the left)<br>
                 800 m<br>

•	At Asian Traders, continue onto Sendurai Rd<br>
 
•	Pass by Gokul Complex (on the left)<br>
                 450 m<br>

•	Turn left at R.Cinnayan Store onto Market St<br>
 
•	Pass by Newton System (on the right)<br>
                290 m<br>

•	At the roundabout, take the 3rd exit and stay on Market St<br>
 
•	Destination will be on the left<br>
                85 m<br>

Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br><br>

Duration : 1 h 6 min <br>
Distance : 46.5 km<br>
via NH81<br>
Fastest route<br><br>

FROM : Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br>
Directions :<br><br>

•	Take Ariyalur - Muttuvancheri - Govindaputhur Roadto NH81 in V.Kaikatti, Reddipalayam<br>
            20 min (11.9 km)<br>

•	At the roundabout, take the 1st exit onto NH81<br>
 
•	Pass by DJ Mobiles (on the left)<br>
            42 min (34.2 km)<br>
•	Drive to your destination<br>
            2 min (500 m)<br><br><br>


Gangai Konda Cholapuram<br>
Tamil Nadu




</div>
 </ion-scroll>
</ion-view>
