<ion-view view-title="ANURADHA COMPLEX">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kac.jpg"><br>
<div class="item item-text-wrap">
Duration : 7 min<br>
Distance : 2.0 km<br>
via Bangalore Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Krishnagiri Bus Stand<br>
Londenpet, Krishnagiri, Tamil Nadu 635002<br><br>
Directions : <br><br>
•	Head south-west<br>
62 m
<br>
•	Turn left towards Bangalore Rd<br>
 
•	Pass by Manappuram Finance Limited (on the right) <br>
350 m
<br>
•	At Banu Tools -Krishnagiri Branch, continue onto Bangalore Rd<br>
 
•	Pass by CADD Centre, Krishnagiri, Tamil Nadu, India (on the left) <br>
 
•	Destination will be on the left<br>
1.6 km<br><br>
anuradha complex<br>
Bangalore Rd, New Pet, Krishnagiri, Tamil Nadu 635001<br>
</div>
</ion-scroll>
</ion-view>
