<ion-view view-title="ALAMPARAI FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kaf.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The ruins of Alamparai Fort (also called Alampara) lie near Kadappakkam, a village 50 km from Mamallapuram on the land overlooking the sea. Constructed in the late 17th century during the Mughal era, the Alamparai Fort once had a 100-metre long dockyard stretching into the sea, from which zari cloth, salt, and ghee were exported. During 1735 AD it was ruled by Nawab Doste Ali Khan. In 1750, for the services rendered by the famous French commander Duplex to Subedar Muzarfarzang, the fort was given to the French. When French were defeated by the British, the fort was captured and destroyed in 1760 AD. More recently the structure was damaged in the 2004 Indian Ocean earthquake.<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamilnadu<br>
Duration : 2 h 4 min<br> 
Distance : (93.4 km) <br>
via SH 118A and SH 117<br>
Fastest route<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
	
Directions : <br><br>
•	Continue to Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
2 min (230 m) <br>
•	Head north-east<br>
3 m<br>

•	Turn left towards Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
230 m<br>
•	Follow SH 118A to Chinnanarasam pettai CC Road<br>
38 min (27.0 km)
<br>
•	Turn left at Central Sutdio kanchipuram onto Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St
 <br>
•	Continue to follow Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd<br>
 
•	Pass by aditya trading solution(stock&commodity-pancard) (on the left) <br>
700 m<br>

•	Slight right at Hotel Sakthi Ganapathy (Veg) onto Vallal Pachaiyappan St<br>
 
•	Pass by Bus Station (on the left) <br>
1.0 km
<br>
•	Continue onto Uthramerur Main Rd/SH 118A<br>
 Continue to follow SH 118A<br>
 
•	Pass by Orikkai (on the right in 2.4 km) <br>
25.3 km<br>
•	Follow MDR518 to Cheyur - Vandavasi Rd/Cheyur - Vandawasi - Polur Rd/Cheyyar - Vandawasi - Polur Rd in Keezhamur<br>
24 min (19.5 km)
<br>
•	Continue straight onto Chinnanarasam pettai CC Road<br>
 
•	Pass by Ramamoorthy Electrion (on the right) <br>
500 m<br>

•	Turn left towards Vaigunda Perumal Koil St<br>
 
•	Pass by SRI RAM TRADERS - TILES , SANITARYWARE , JAQUAR TAP, SINKS, (on the right) <br>
150 m<br>

•	Continue onto Vaigunda Perumal Koil St<br>
130 m<br>

•	At Ashok Jewels, continue onto Endathoor Rd/MDR518<br>
 
•	Continue to follow MDR518<br>
 
•	Pass by Bss computer college (on the right) <br>
18.7 km<br>
•	Drive from SH 117 to Kadappakkam<br>
50 min (43.1 km) <br>

•	Turn left onto Cheyur - Vandavasi Rd/Cheyur - Vandawasi - Polur Rd/Cheyyar - Vandawasi - Polur Rd<br>
 
•	Continue to follow Cheyur - Vandavasi Rd/Cheyur - Vandawasi - Polur Rd<br>
 
•	Pass by the park (on the left in 3.8 km) <br>
13.3 km
<br>
•	Turn right at Chithamur Bus Stop onto SH 117<br>
 
•	Pass by Chithamoor Post Office (on the right) <br>
25.5 km<br>

•	Turn left at Vennangupattu Bus Stop onto E Coast Rd<br>
 
•	Pass by Dhanalakshmi restaurant (on the left) <br>
4.3 km<br>
•	Drive to Kadapakkam - Alamparai Fort Bridge Rd<br>
7 min (3.6 km)
<br>
•	Turn right at Sekar Super Stores<br>
2.5 km<br>

•	At sugana Electrcal Hardwar, continue onto Kadapakkam - Alamparai Fort Bridge Rd<br>
 
•	Destination will be on the right<br>
1.1 km<br><br>
Alamparai Fort






</div>
 </ion-scroll>
</ion-view>
