
<ion-view view-title="KANCHIPURAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "ket()"> 
EKAMBARESHVARA TEMPLE</button><br>


<button class="button button-clear button-royal" ng-Click = "kct()"> CHITRAGUPTA SWAMY TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "kks()"> KAILASANATHA TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "kvp()"> 
VARADHARAJA PERUMAL TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "kkk()"> 
SHRI KANCHI KAMAKOTI PEETHAM</button><br>


<button class="button button-clear button-royal" ng-Click = "kvb()"> VEDANTHANGAL BIRD SANCTUARY</button><br>
<button class="button button-clear button-royal" ng-Click = "kvt()"> 
VAIKUNTHA PERUMAL TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "kut()"> 
SRI ULAGALANDAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "kka()"> 
KAMAKSHI AMMAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "ktp()"> 
THENNANGUR PANDURANGA TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "kkp()"> 
KACHAPESHWARAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "kd()"> 
DUTCH FORT</button><br>
<button class="button button-clear button-royal" ng-Click = "kaf()"> 
ALAMPARAI FORT</button><br>
<button class="button button-clear button-royal" ng-Click = "kak()"> 
KANCHI KUDHIL</button><br>

<button class="button button-clear button-royal" ng-Click = "kpv()"> 
SRI PRASANNA VENKATESA PERUMAAL</button><br>
<button class="button button-clear button-royal" ng-Click = "ksa()"> 
SRI AATCHEESWARAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "kst()"> 

SOMANAADHEESWARAR TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "kku()"> 
KUTTU KALAI KUDAM
</button><br>




</ion-scroll>
</ion-view>
