
<ion-view view-title="KANNIYAKUMARI ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "kvr()"> 
VIVEKANANDHA ROCK MEMORIAL
</button><br>
<button class="button button-clear button-royal" ng-Click = "kp()">
PADHMANADHAPURAM PALACE
</button><br>
<button class="button button-clear button-royal" ng-Click = "kt()">
THIRUVALLUVAR STATUE
</button><br>
<button class="button button-clear button-royal" ng-Click = "ktt()">
THANUMALAYAM TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "kb()">
KANYAKUMARI BEACH
</button><br>
<button class="button button-clear button-royal" ng-Click = "kba()">
BHAGAVATHY AMMAN TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "ksv()">
SUNSET VIEW POINT
</button><br>
<button class="button button-clear button-royal" ng-Click = "kv()">
VATTAKOTTAI FORT
</button><br>
<button class="button button-clear button-royal" ng-Click = "ktf()">
THIRPARAPPU FALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "kr()">
OUR LADY OF RANSOM CHURCH
</button><br>
<button class="button button-clear button-royal" ng-Click = "km()">
MATHUR AQUEDUCT
</button><br>
<button class="button button-clear button-royal" ng-Click = "kw()">

KANYAKUMARI WAX MUSEUM
</button><br>

<button class="button button-clear button-royal" ng-Click = "kc()">
CHOTHAVILLAI BEACH
</button><br>

<button class="button button-clear button-royal" ng-Click = "kf()">
COURTALLAM FALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "ks()">
 SANGUTHURAI BEACH
</button><br>

<button class="button button-clear button-royal" ng-Click = "kj()">
 JAIN TEMPLE KANYAKUMARI
</button><br>
<button class="button button-clear button-royal" ng-Click = "kpr()">
 PECHIPARAI RESERVOIR
</button><br>
<button class="button button-clear button-royal" ng-Click = "kkm()">
 KAMARAJAR MANIMANDAPAM MONUMENT
</button><br>
<button class="button button-clear button-royal" ng-Click = "kbp()">
 BAYWALK AMUSEMENT PARK
</button><br>
<button class="button button-clear button-royal" ng-Click = "kkw()">
 KAALIKESAM WATERFALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "ktn()">
 THOLLAVILLAI NARAYANA SWAMY TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "kuf()">
 UDHAYAGIRI FORT
</button><br>
<button class="button button-clear button-royal" ng-Click = "ksx()">
 ST XAVIER CHURCH
</button><br>
<button class="button button-clear button-royal" ng-Click = "kot()">
 OBSERVATION TOWER
</button><br>
<button class="button button-clear button-royal" ng-Click = "koc()">
 ST.MARYS ORTHODOX CHURCH
</button><br>

</ion-scroll>
</ion-view>
