<ion-view view-title="PASUPATHIESWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kap.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Lord Shiva as a Linga slightly leaning is a swayambumurthy on a square Avudayar-seat. The rays of Sun fall on the Lord for five days in the month of Masi-February-March.<br>
Duration : 9 min<br>
Distance : 1.9 km<br>
via Nagapattinam - Coimbatore - Gundlupet Hwy/N Pradhaksanam Rd<br>
Best route
<br><br>
FROM : Karur Junction<br>
Neelimedu, Karur, Tamil Nadu 639001<br><br>
Directions : <br><br>
•	Head south towards Thiruvikka Rd/Thiruvikka Salai<br>
180 m
<br>
•	Turn left at Junction Bus Stop onto Thiruvikka Rd/Thiruvikka Salai<br>
 
•	Pass by Nandhini Printers (on the left) <br>
190 m
<br>
•	Turn right onto Nagapattinam - Coimbatore - Gundlupet Hwy/N Pradhaksanam Rd<br>
 
•	Pass by Subha Shree XRAYS (on the right) <br>
1.4 km<br>

•	At the roundabout, take the 3rd exit onto Nagapattinam - Coimbatore - Gundlupet Hwy/W Pradhaksanam Rd<br>
 
•	Pass by Thunaivan Travels - Karur (on the left) <br>
160 m<br>

•	Turn left at Arun Ice-Cream Parlor<br>
40 m<br><br>

Karur Bus Stand<br>
Madavilagam, Karur, Tamil Nadu 639002<br>

PASUPATHIESWARAR TEMPLE
Duration : 4 min<br> 
Distance : 300 m<br>
via S Madavallagam Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Karur Bus Stand<br>
Madavilagam, Karur, Tamil Nadu 639002<br><br>
Directions : <br><br>
•	Walk east towards Nagapattinam - Coimbatore - Gundlupet Hwy/W Pradhaksanam Rd<br>
40 m<br>

•	Turn left at Arun Ice-Cream Parlor onto Nagapattinam - Coimbatore - Gundlupet Hwy/W Pradhaksanam Rd<br>
6 m<br>

•	Turn right onto Muruganathapuram S<br>
 
•	Pass by Goldan Bag Karur (on the right) <br>
140 m<br>

•	Turn left at Manivel Cloths Centre Karur Wholesale&retail towards S Madavallagam Rd<br>
6 m
<br>
•	Turn right at MTC IAS ACADEMY-KARUR onto S Madavallagam Rd<br>
 
•	Destination will be on the left<br>
130 m<br><br>
Arulmigu Kalyana Pasupatheswarar Temple<br>
Sannathi Street, Karur, Tamil Nadu 639001<br>



</div>
 </ion-scroll>
</ion-view>
