
<ion-view view-title="KARUR ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "kap()"> 
PASUPATHIESWARAR TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "ksb()"> 
SADASIVA BRAHMENDRA SAMADHI</button><br>
<button class="button button-clear button-royal" ng-Click = "kad()"> 
AATHUPALAYAM DAM</button><br>
<button class="button button-clear button-royal" ng-Click = "ktd()"> 
THIRUMUKKUDALUR </button><br>


</ion-scroll>
</ion-view>
