<ion-view view-title="KANYAKUMARI BEACH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kb.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br><br>Kanyakumari About this sound pronunciation also known as Kanniyakumari, formerly known as Cape Comorin, is a town in Kanyakumari District in the state of Tamil Nadu in India. The name comes from the Devi Kanya Kumari Temple in the region. It is the southernmost tip of peninsular India. Kanyakumari town is the southern tip of the Cardamom Hills, an extension of the Western Ghats range. The nearest town is Nagercoil, the administrative headquarters of Kanyakumari District, 22 km (14 mi) away. Kanyakumari has been a town since Sangam periodvand is a popular tourist destination.<br>


Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 8 min <br>
Distance : 2.5 km<br>
via NH44<br>
Fastest route<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Head south on NH44<br>
•	Pass by Hotel Safan (on the left in 500 m) <br>
1.1 km<br>
•	At the roundabout, take the 1st exit onto Main Rd<br>
 
•	Pass by Devi Resturant (on the right) <br>
600 m<br>
•	Turn right at Indian Bank ATM onto Church Rd<br>
 
•	Pass by Expo Center (on the right) <br>
110 m<br>

•	Turn left at the 1st cross street to stay on Church Rd<br>
400 m
<br>
•	Turn right towards Kanyakumari Beach Rd<br>
 
•	Pass by ST.JOSEPH CALASANZ CBSE SCHOOL (SJCS) (on the left) <br>
200 m<br>

•	Turn left onto Kanyakumari Beach Rd<br>
 
•	Pass by Kanyakumari Beach (on the left) <br>
 
•	Destination will be on the right<br>
170 m<br><br>

Kanyakumari Beach


</div>
 </ion-scroll>
</ion-view>
