<ion-view view-title="BHAGAVATHY AMMAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kba.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>	Mother Bhagavathi graces in white robe as Saraswathi in the morning, in red in the midday as Mahalakshmi and blue in the evening as Durga. Generally Gods and Goddesses are seen showing their left hand to their feet and bless by the right hand. Mother Bhagavathi as the destroyer of our sins, appears showing Her right hand to the feet and bless by the left hand.<br>

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970

Duration : 4 min<br>
Distance : 1.4 km<br>
via NH44<br>
Fastest route<br><br>
FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Head south on NH44
 <br>
•	Pass by Hotel Safan (on the left in 500 m) <br>
1.1 km<br>

•	At the roundabout, continue straight onto New Rd<br>
 
•	Pass by MySpicesshop (on the right) <br>
150 m<br>

•	Turn right at Juiceataria onto Sanidhi St/Sannathi St/Sannathy St/Temple Rd<br>
 
•	Pass by Hotel Srimaniya (on the left) <br>
170 m
<br><br>
Bhagavathy Amman Temple<br>
Temple Road, Kanyakumari, Tamil Nadu 629702
<br>


</div>
 </ion-scroll>
</ion-view>
