<ion-view view-title="BAYWALK AMUSEMENT PARK">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kbp.jpg"><br>
<div class="item item-text-wrap">

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970


Duration : 3 min<br>
Distance : 1.1 km<br>
via Kovalam Rd<br>
Fastest route<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Head south on NH44<br>
46 m<br>
•	Turn right onto Kovalam Rd<br>
•	Pass by Rotary Community Center (on the right in 400 m) <br>
550 m<br>
•	Turn right<br>
450 m<br><br>

Baywatch Park<br>
Kovalam Road, Kanyakumari, Tamil Nadu 629702<br>



</div>
 </ion-scroll>
</ion-view>
