<ion-view view-title="CHOTHAVILLAI BEACH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kc.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The Sotha Vilaibeach is one among the most important beaches in the district of Kanyakumari, Tamil Nadu. The beach here stretches over 4 km which make it one among the longest beaches in Tamil Nadu. It is also one among the most seriously affected areas of the district during the 2004 Tsunami.


<br>
Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970

Duration : 20 min<br>
Distance : 10.4 km<br>
via Kovalam Rd, Manakudi-Kanyakumari Rd and Manakudy Beach Rd<br>
Fastest route<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Take Kovalam Rd and Manakudi-Kanyakumari Rd to Manakkudy Rd<br>
12 min (7.1 km) <br>

•	Head south on NH44<br>
46 m<br>

•	Turn right onto Kovalam Rd<br>
 
•	Pass by Rotary Community Center (on the right in 400 m) <br>
2.9 km<br>

•	Kovalam Rd turns left and becomes Manakudi-Kanyakumari Rd<br>
 
•	Pass by Muhilankudierppu Bus Stop (on the left in 1.9 km) <br>
3.2 km<br>

•	Turn left onto Manakudi Rd<br>
170 m<br>

•	At the roundabout, take the 1st exit and stay on Manakudi Rd<br>
150 m
<br>
•	Turn right onto SH 179<br>
 
•	Pass by Old Bridge (on the right in 500 m) <br>
650 m<br>
•	Take Manakudy Beach Rd to Annai Nagar Beach Rd<br>
7 min (3.3 km) <br>

•	Turn left onto Manakkudy Rd<br>
67 m<br>

•	Continue straight past Chappara Perai onto Manakudy Beach Rd<br>
 
•	Pass by St Andrews Auditoriam (on the left) <br>
2.7 km<br>

•	Continue onto Annai Nagar Beach Rd<br>
 
•	Pass by Calvary Chapel India (on the right in 400 m) <br>
 
•	Destination will be on the left<br>
500 m<br><br>

Chothavilai Beach






</div>
 </ion-scroll>
</ion-view>
