<ion-view view-title="CHITRAGUPTA SWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kct.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Chitragupta temple is a Hindu temple located in Nellukara Street Kanchipuram in the South Indian state of Tamil Nadu. It is one of the rare temples of the Hindu deity Chitragupta, considered to the assistant of Yama, the Hindu god of death. Chitragupta is believed to have emerged from a painting and set as the accountant of good and bad deeds of human beings by Shiva. The temple has a three-tiered Rajagopuram (gateway tower) and a single precinct around the sanctum.<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamil Nadu 631501

Duration : 4 min<br>
Distance :  350 m<br>
via Hospital Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Walk north-east towards Hospital Rd<br>
94 m<br>

•	Turn left at MAHALAKSHMI TRADERS onto Hospital Rd<br>
51 m<br>

•	Turn left at Sun Cool Fresh Juices and Icecream onto Hospital Rd/Nellukara St<br>
 
•	Pass by Sun Paper Stores (on the right in 42 m) <br>
 
•	Destination will be on the right<br>
200 m<br><br><br>

Chitragupta Swamy Temple



</div>
 </ion-scroll>
</ion-view>
