<ion-view view-title="EKAMBARESHVARA TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ket.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>
Ekambaranathar Temple (Ekambareswarar Temple) is a Hindu temple dedicated to the deity Shiva, located in the town of Kanchipuram in Tamil Nadu, India.] It is significant to the Hindu sect of Saivism as one of the temples associated with the five elements, the Pancha Bhoota Stalas, and specifically the element of earth, or Prithvi. Shiva is worshiped as Ekambareswarar or Ekambaranathar, and is represented by the lingam, with his idol referred to as Prithvi lingam. His consort Parvati is depicted as Gowridevi Amman. The presiding deity is revered in the 7th century Tamil Saiva canonical work, the Tevaram, written by Tamil saint poets known as the nayanars and classified as Paadal Petra Sthalam. The temple also houses Nilathingal Thundam Perumal temple, a Divyadesam, the 108 temples revered in the Vaishnava canon Nalayira Divya Prabhandam.
<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamil Nadu 631501

EKAMBARESHVARA TEMPLE
Duration : 7 min<br>
Distance : 1.7 km<br>
via Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
Best route<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>

Directions : <br><br>
•	Head north-east towards Hospital Rd<br>
37 s (94 m) <br>
•	Drive from Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St to Periya<br>
5 min (1.2 km)
<br>
•	Turn left at MAHALAKSHMI TRADERS onto Hospital Rd<br>
44 m<br>

•	Turn left at handloom weavers saree shop onto Hospital Rd/Nellukara St<br>
 
•	Pass by OLYMBIC SRIDHAR WEDDING CARDS (on the left) <br>
250 m<br>

•	At the roundabout, continue straight onto Annai Indira Gandhi Salai/Kanchipuram - Vellore Bypass Rd/Nellukara St/W Raja St/Salai St
 <br>
•	Continue to follow Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
 
•	Pass by Indian Oil Petrol Bunk (on the left) <br>
850 m<br>
•	Take Car St to Ekambaranathar Sannidhi St<br>
2 min (400 m)
<br>
•	Continue straight<br>
130 m<br>

•	Continue onto Vaithiyar St<br>
69 m
<br>
•	Turn right onto Car St<br>
110 m
<br>
•	Turn left onto S Mada St<br>
70 m<br>

•	Turn left at Sri Subbiah Sthapathi onto Ekambaranathar Sannidhi St<br>
 
•	Destination will be on the right<br>
25 m<br><br>
Ekambareswarar Temple Parking Lot


</div>
 </ion-scroll>
</ion-view>
