<ion-view view-title="COURTALLAM FALLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kf.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Coutrallam Falls (also called Kutralam Falls) is located in Coutrallam in Tirunelveli district in the South Indian state of Tamil Nadu. The falls is located on the Western Ghats on the river Chittar and is considered a "medical spa" on account of the medical smell in the waters<br>
Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970

Duration : 2 h 46 min<br>
Distance : 132 km<br>
via Kanniyakumari - Tiruchendur Rd<br>
Fastest route<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Take Chennai - Villupuram - Trichy - Kanyakumari Rd to Kalakad - Nanguneri Rd<br>
53 min (54.1 km) <br>
•	Head south on NH44<br>
46 m
<br>
•	Make a U-turn<br>
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km<br>

•	At the roundabout, take the 3rd exit onto Kanniyakumari - Tiruchendur Rd/Thoothukudi-Tiruchendur-Kanyakumari Rd<br>
110 m
<br>
•	Turn left onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanniyakumari - Tiruchendur Rd/Thoothukudi-Tiruchendur-Kanyakumari Rd<br>
 
•	Continue to follow Chennai - Villupuram - Trichy - Kanyakumari Rd
 <br>
•	Pass by Ambalavanapuram Highway Bus Stop (on the left in 17.7 km) <br>
48.0 km<br>

•	Take the exit towards Bharathiyar St<br>
300 m
<br>
•	Continue onto Bharathiyar St<br>
 
•	Pass by Annai xerox kadayam (on the left in 1.4 km) <br>
2.1 km<br>

•	Turn left onto SH 92<br>
400 m<br>
•	Continue on Kalakad - Nanguneri Rd to Cheranmahadevi - Panagudi Rd<br>
18 min (11.7 km)
<br>
•	Turn right onto Kalakad - Nanguneri Rd<br>
7.4 km
<br>
•	Turn right<br>
2.2 km
<br>
•	Sharp left<br>
2.1 km<br>
•	Continue on Cheranmahadevi - Panagudi Rd. Take Tirunelveli - Pottalpudur Rd to Courtallam Rd/Tirunelveli - Shencottai Rd<br>
1 h 22 min (57.8 km) <br>

•	Turn right onto Cheranmahadevi - Panagudi Rd<br>
 
•	Pass by Pilavukkal Isakki amman Kovil (on the left in 3.0 km) <br>
16.4 km<br>

•	At the roundabout, continue straight onto Cheranmahadevi Road<br>
 
•	Drive along Periyar Government Higher Secondary School (on the right for 120 m) <br>
4.2 km
<br>
•	Turn left onto Cheranmahadevi - Mukkudal - Pudukadi Rd/Tirunelveli - Pottalpudur Rd<br>
 
•	Continue to follow Tirunelveli - Pottalpudur Rd<br>
 
•	Pass by Sri Ramaswamy Koil (on the right in 8.9 km) <br>
23.6 km<br>

•	Slight right at W Bus Stop onto Ambai Main Rd/Ambasamudram -Tenkasi Main Rd/Tirunelveli - Shencottai Rd<br>
 
•	Continue to follow Ambasamudram -Tenkasi Main Rd/Tirunelveli - Shencottai Rd<br>
 
•	Pass by Jayam Tailors (on the left in 3.0 km) <br>
13.6 km<br>

•	Turn left onto Courtallam Rd/Tirunelveli - Shencottai Rd<br>
 
•	Pass by karur jubilee literary association guest house (on the right in 3.8 km) <br>
10 min (7.3 km) <br>

•	Turn left at Suriyaa Tourist Home onto SH 40<br>
 
•	Pass by பேரருவி பேருந்து நிலையம் (on the left in 450 m) <br>
1 min (600 m) <br>

•	Turn left<br>
2 min (450 m)
<br><br>
Kutralam Falls<br>
Courtallam, Tirunelveli, Tamil Nadu 627802<br>





</div>
 </ion-scroll>
</ion-view>
