<ion-view view-title="JAIN TEMPLE KANYAKUMARI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kj.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Chitharal is historically known as Thirucharanathupalli – the abode of Jain monks belonging to the Digambara sect. It is famous for the hillock which has a cave containing rock-cut sculptures of Thirthankaras and attendant deities carved inside and outside dating back to the 9th century. Among the rock-cut relief sculptures is a figure of the goddess Dharmadevi.[3] Jain influence in this region was due to the King Mahendravarman I (610-640). <br>

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 5 min <br>
Distance  : 350 m<br>
via Kovalam Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk south on NH44<br>
46 m<br>

•	Turn right onto Kovalam Rd<br>
 
•	Destination will be on the right<br>
300 m<br><br>
JAIN TEMPLE<br>
WEST, Kovalam Rd, Kanyakumari, Tamil Nadu 629702<br>




</div>
 </ion-scroll>
</ion-view>
