<ion-view view-title="KAMAKSHI AMMAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kka.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The Kamakshi Temple (Tamil:அருள்மிகு காமாட்சி அம்மன் திருகோயில்) is an ancient Hindu Temple dedicated to Kamakshi, one of the forms of Goddess. It is located in the historic city of Kanchipuram, near Chennai, India The Meenakshi Temple in Madurai, the Akilandeswari temple in Thiruvanaikaval near Tiruchirappalli and this Kamakshi are the important centers of worship of Goddess, in the state of Tamil Nadu. The Temple was most probably built by the Pallava kings, whose capital was Kanchipuram.<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamilnadu<br>
Duration : 10 min<br>
Distance : 750 m<br>
via Ulagandar Mada St<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Walk north<br>
80 m<br>

•	Turn left towards Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
95 m
<br>
•	Turn right at Central Sutdio kanchipuram onto Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
 
•	Pass by VP Xerox & Narayani Real Estate (on the right in 59 m) <br>
98 m<br>

•	At the roundabout, take the 3rd exit onto Ulagandar Mada St<br>
 
•	Pass by Anna Coaching Centre (on the left in 25 m) <br>
300 m<br>

•	Turn left at Anand Art Gallery - Gift Show Room onto Kamachi Amman Koil Sannathi St<br>
170 m<br>
•	Turn left at Canara bank ATM<br>
•	Destination will be on the right<br>
17 m<br>


Sri Kanchi Kamakshi Amman temple


</div>
 </ion-scroll>
</ion-view>
