<ion-view view-title="KRP DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkd.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The Krishnagiri Dam is a dam that spans the Thenpennai River by the village of Dhuduganahalli, located in Krishnagiri district, Tamil Nadu, India. The Krishnagiri Dam is also known as Krishnagiri Reservoir Project (KRP) Dam. The KRP Dam is located 7 km (4.3 mi) from Krishnagiri, between Dharmapuri and Krishnagiri which irrigates thousands of acres of land around Krishnagiri.The Dam is operational from 1958, inaugurated by the then Chief Minister of Tamil Nadu K. Kamaraj.

Duration : 25 min <br>
Distance : 16.6 km<br>
via NH44<br>
Fastest route<br><br>

FROM  : Krishnagiri Bus Stand<br>
Londenpet, Krishnagiri, Tamil Nadu 635002<br><br>
Directions : <br><br>
•	Continue to Bangalore Rd<br>
3 min (1.1 km) <br>

•	Head south-west<br>
62 m
<br>	
•	Turn right<br>
350 m<br>

•	Turn left<br>
 
•	Pass by Kalyana Sundharam Transports (on the left in 350 m) <br>
750 m<br>
•	Drive from NH44 and MDR193 to Dhuduganahalli<br>
12 min (11.1 km) <br>

•	Turn right onto Bangalore Rd<br>
36 m<br>

•	Turn left<br>
850 m
<br>
•	Slight left onto NH44/NH48<br>
 
•	Pass by EXPRESS SWASTIK P𝐀𝐂𝐊𝐄𝐑𝐒 & Movers Krishnagiri (on the right in 900 m) <br>
1.6 km
<br>
•	Slight right onto NH44
 <br>
•	Pass by Krishnagiri sree Saravana hotel (on the right in 2.4 km) <br>
5.3 km
<br>
•	Turn left towards MDR193<br>
7 m<br>

•	Turn right at Fish Fry Shops. onto the slip road to MDR193<br>
450 m<br>

•	Turn right onto MDR193<br>
 
•	Pass by HARINI TRADING COMPANY (on the right) <br>
2.9 km<br>
•	Drive<br>
2 min (1.0 km)
<br>
•	Turn left<br>
750 m<br>

•	Turn right<br>
280 m<br>

•	Turn left at MDR193<br>
5 min (2.5 km) <br>

•	Turn right<br>
3 min (850 m) <br><br>
Krishnagiri Dam


</div>

</ion-scroll>
</ion-view>
