<ion-view view-title="KRISHNAGIRI FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkf.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Krishnagiri Fort is one of the strongest forts in the Krishnagiri district and is now one of the monuments protected by the Archaeological Survey of India. The fort was built by King Krishnadevaraya of the Vijayanagar Empire. For this reason, the town and the fort got the name Krishnagiri (“Krishna” from the king’s name, “giri” meaning hill). The fort and the surrounding areas, then called “baramahal”, were given to Jagadevarayan by the Vijayanagar for his valour in the wars. Jagadevarayan made Jagadevi his capital.<br>
Duration : 1 h 19 min <br>
Distance : 55.5 km<br>
via Krishnagiri - Royakottai Rd and Attibele-Rayakottai Rd<br>
Fastest route<br><br>

FROM : Krishnagiri Bus Stand<br>
Londenpet, Krishnagiri, Tamil Nadu 635002<br><br>
Directions : <br><br>
•	Continue to Bangalore Rd/Court Rd/Krishnagiri - Royakottai Rd<br>
3 min (1.1 km) <br>

•	Head south-west<br>
62 m<br>

•	Turn right<br>
350 m
<br>
•	Turn left<br>
 
•	Pass by Kalyana Sundharam Transports (on the left in 350 m) <br>
750 m<br>
•	Follow Krishnagiri - Royakottai Rd and Attibele-Rayakottai Rd<br>
1 h 2 min (47.1 km) <br>

•	Turn right onto Bangalore Rd/Court Rd/Krishnagiri - Royakottai Rd<br>
 
•	Continue to follow Krishnagiri - Royakottai Rd<br>
 
•	Pass by Sri Saranya Hospital (on the right) <br>
29.8 km<br>

•	At Narayana Fruit Stall, continue onto Rayakottai Rd<br>
 
•	Pass by Jaaveeyes Oil Industries (on the left in 1.2 km) <br>
1.6 km<br>

•	Slight left onto Attibele-Rayakottai Rd<br>
15.8 km<br>
•	Drive to your destination<br>
13 min (7.3 km) <br>

•	Turn left<br>
6.1 km
<br>
•	Turn left<br>
1.2 km
<br><br>
Ratnagiri Fort<br>
Krishnagiri, Tamil Nadu 635113<br>

</div>
</ion-scroll>
</ion-view>
