<ion-view view-title="SHRI KANCHI KAMAKOTI PEETHAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkk.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Kanchi Kamakoti Peetham is a Hindu monastic institution located in Kanchipuram, Tamil Nadu kanchipuram is one of the five pancha-bhUta-sthalas ("Temples denoting the five elements"). The five pancha-bhUta-sthalas or material sites represent earth (Kanchipuram), sky (Chidambaram), air (Kalahasti), fire (Thiruvannamalai), and water (Thiruvanaikoil). It is known as Shri Kanchi Kamakoti Peetam, and the head of the matha is referred to as a "Sankaracharya".<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamil Nadu 631501

Duration : 16 min<br>
Distance : 4.1 km<br>
via SH 118A<br>
Best route now, avoids road closure on Arcot - Kanchipuram Rd<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Continue to Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
2 min (230 m) <br>

•	Head north-east<br>
3 m<br>
•	Turn left towards Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
230 m<br>
•	Drive along Vallal Pachaiyappan St<br>
6 min (1.7 km) <br>

•	Turn left at Central Sutdio kanchipuram onto Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
 
•	Continue to follow Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd<br>
•	Pass by aditya trading solution(stock&commodity-pancard) (on the left) <br>
700 m<br>
•	Slight right at Hotel Sakthi Ganapathy (Veg) onto Vallal Pachaiyappan St<br>
•	Pass by Bus Station (on the left) <br>
1.0 km<br>
•	Continue to Gem Nagar<br>
4 min (1.2 km) <br>
•	Turn right<br>
650 m<br>
•	Turn right at Tennis Clay Ct onto Varadaraja Pannai St<br>
550 m<br>
•	Turn left at BSNL Microwave Tower onto Arcot - Kanchipuram Rd/Tiruvannamalai - Kanchipuram Rd/Vandavasi Rd<br>
•	Pass by Housing Board Bus Stop (on the left) <br>
2 min (750 m) <br>
•	Drive to 1st Cross Rd<br>
1 min (260 m)
<br>
•	Turn right towards 1st Cross Rd<br>
160 m<br>

•	Turn left at Dr M. Venkatramani onto 1st Cross Rd<br>
100 m<br><br>
Shri Kanchi Kamakoti Peetham


</div>
 </ion-scroll>
</ion-view>
