<ion-view view-title="KAMARAJAR MANIMANDAPAM MONUMENT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkm.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Kamarajar Manimandapam is a monument dedicated to Sri Kamarajar, in the district of Kanyakumari. Popularly known as the 'Black Gandhi', he was the erstwhile Chief Minister of Tamil Nadu, who served the state for a long period.<br>

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 16 min <br>
Distance : 1.4 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk south on NH44<br>
46 m<br>

•	Turn left to stay on NH44<br>
 
•	Pass by Hotel Safan (on the left in 450 m) <br>
850 m<br>

•	Turn right towards Beach Rd/Kovalam Beach Rd<br>
140 m<br>

•	Turn right towards Beach Rd/Kovalam Beach Rd<br>
180 m
<br>
•	Turn left at Aqua World - Fish Exhibition onto Beach Rd/Kovalam Beach Rd<br>
52 m
<br>
•	Turn right at the park onto Kovalam Beach Rd<br>
 
•	Destination will be on the left<br>
100 m<br><br>

Kamarajar Memorial<br>
Kanyakumari, Tamil Nadu 629702<br>





</div>
 </ion-scroll>
</ion-view>
