<ion-view view-title="KACHAPESHWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkp.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>It is at the Kachapeshwarar Temple that the Lord Shiva can be seen being worshipped by Lord Vishnu in the form of a tortoise. This image can be viewed on sculptures and engravings that have ornated this beautiful temple from start to end.<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamilnadu<br>
Duration : 1 h 1 min<br>
Distance : 36.6 km<br>
via SH 116<br>
Fastest route now, avoids road closure on Arcot - Kanchipuram Rd<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Duration : 10 min<br> 
Distance : 750 m<br>
via Annai Indira Gandhi Salai/Kanchipuram - Vellore Bypass Rd/Nellukara St/W Raja St/Salai St<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Walk north<br>
80 m<br>
•	Turn left towards Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
95 m<br>
•	Turn right at Central Sutdio kanchipuram onto Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
 
•	Pass by VP Xerox & Narayani Real Estate (on the right in 59 m) <br>
98 m<br>
•	At the roundabout, take the 2nd exit onto Annai Indira Gandhi Salai/Kanchipuram - Vellore Bypass Rd/Nellukara St/W Raja St/Salai St<br>
•	Pass by Indian Oil Petrol Bunk (on the left in 160 m) <br>
300 m<br>
•	Turn left onto Vanigar St<br>
100 m<br>
•	Turn right at Elangovan Agencies onto Kachi Mada Vedhi<br>
 
•	Pass by JAYAM TUITION & VETRI TUTORIAL (on the left in 25 m) <br>
•	Destination will be on the right<br>
70 m<br><br>

Kachapeshwarar Temple




</div>
 </ion-scroll>
</ion-view>
