<ion-view view-title="KELAVARAPALLI RESERVOIR PROJECT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkr.jpg"><br>
<div class="item item-text-wrap">
Duration : 59 min <br>
Distance : 51.5 km<br>
via NH44/NH48<br>
Fastest route, the usual traffic<br>
This route has tolls. <br><br>

FROM : Krishnagiri Bus Stand<br>
Londenpet, Krishnagiri, Tamil Nadu 635002<br><br>
Directions : <br><br>
•	Continue to Wahab Nagar<br>
4 min (1.8 km)
<br>
•	Head south-west
62 m

•	Turn right<br>
350 m<br>

•	Turn left<br>
 
•	Pass by Kalyana Sundharam Transports (on the left in 350 m) <br>
750 m<br>

•	Turn right onto Bangalore Rd/Court Rd/Krishnagiri - Royakottai Rd<br>
69 m<br>

•	Turn right
 <br>
•	Pass by Krishnagiri Highway Bus Stop (on the left) <br>
550 m
<br>
•	Slight left onto NH44/NH48<br>
 
Partial toll road
 <br>
•	Go past the petrol station (on the right in 40.8 km) <br>
36 min (41.3 km) <br>
•	Take Moranapalli to Chinnakullu and Dam Rd to your destination in Kelavarapalli<br>
21 min (8.4 km) <br>

•	Turn left<br>
 
•	Pass by Perandapalli Bus Stop (on the left) <br>
1.9 km<br>
•	Turn right<br>
34 m
<br>
•	Turn left<br>
1.1 km<br>

•	Slight right towards Sipcot Service Road<br>
10 m<br>

•	Turn right onto Sipcot Service Road<br>
27 m<br>

•	Turn left at Bathlapalli EB Office onto Sipcot ph 2 IV Cross Rd<br>
 
•	Pass by ELECTRICAL SUBSTATION (on the right) <br>
500 m
<br>
•	Turn right onto Sipcot Ph 3rd Cross Rd<br>
31 m<br>

•	Turn left onto Moranapalli to Chinnakullu<br>
 
•	Pass by Sri Maha Pratyangira Kalika Devi Alayam (on the right) <br>
2.6 km<br>
•	Turn left towards Dam Rd<br>
37 m<br>
•	Turn left towards Dam Rd<br>
350 m<br>

•	Turn right onto Dam Rd<br>
750 m
<br>
•	Turn left<br>
1.1 km<br><br>

Kelavarapalli<br>
Tamil Nadu
<br>
</div>
</ion-scroll>
</ion-view>
