<ion-view view-title="KAILASANATHA TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkt.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>
The kanchi Kailasanathar temple is the oldest structure in Kanchipuram Located in Tamil Nadu, India, it is a Hindu temple in the Dravidian architectural style. It is dedicated to the Lord Shiva, and is known for its historical importance. The temple was built from 685-705AD by a Rajasimha ruler of the Pallava Dynasty. The low-slung sandstone compound contains a large number of carvings, including many half-animal deities which were popular during the early Dravidian architectural period.
<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamil Nadu 631501

 Duration : 8 min<br>
Distance : 2.1 km<br>
via SVN Pillai St and Kailasanathar Temple Rd/SVN Pillai St<br>
Fastest route<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Head north-east towards Hospital Rd<br>
94 m<br>
•	Turn left at MAHALAKSHMI TRADERS onto Hospital Rd<br>
44 m<br>
•	Turn left at handloom weavers saree shop onto Hospital Rd/Nellukara St<br>
•	Pass by OLYMBIC SRIDHAR WEDDING CARDS (on the left) <br>
250 m<br>

•	At the roundabout, continue straight onto Annai Indira Gandhi Salai/Kanchipuram - Vellore Bypass Rd/Nellukara St/W Raja St/Salai St<br>
 
•	Continue to follow Kanchipuram - Vellore Bypass Rd/Nellukara St/W Raja St/Salai St<br>
•	Pass by Indian Oil Petrol Bunk (on the left) <br>
350 m<br>
•	Slight left onto SVN Pillai St<br>
 
•	Pass by Ishta Siteeswarar Temple (on the left) <br>
700 m<br>
•	Turn left at Arunagiri Tea Coffee Shop onto Sathan Kuttai St<br>
9 m<br>
•	Turn right at Raja Cafe onto Kailasanathar Temple Rd/SVN Pillai St<br>
•	Pass by Shanmuganandha modern rice mill (on the left) <br>
•	Destination will be on the right<br>
600 m<br><br>
Kailasanathar Temple


</div>
 </ion-scroll>
</ion-view>
