<ion-view view-title="KALAIYAR KOVIL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkt.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Kalaiyar Kovil is a place which is situated in Sivaganga District, Tamil Nadu, India which was ruled by the Maruthu Pandiyar. There is a very large Shiva temple. Kalaiyar Kovil is owned by the family of the Rajah of Sivaganga. It is run by their devasthanam, and a trust of the zamindar family of Devakottai.

Duration : 19 min<br>
Distance : 17.7 km<br>
via NH85<br>
Fastest route, despite the usual traffic<br><br>

FROM : Sivagangai Bus Stand<br>
96, SH 33, Aranmanai Vaasal, Sivaganga, Tamil Nadu 630561<br><br>
Directions : <br>

•	Head east on NH85<br>
 
•	Pass by PSYEC Bus Stop (on the left) <br>
17.7 km<br><br>
            PNT010-Kalayar Koil Shiva Temple<br>
Kalayarkoil, Tamil Nadu 630551





</div>
 </ion-scroll>
</ion-view>
