<ion-view view-title="SRI KAATU VEERA ANJANEYA TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkv.jpg"><br>
<div class="item item-text-wrap">

Duration : 19 min <br>
Distance : 7.5 km<br>
via Krishnagiri - Royakottai Rd<br>
Fastest route<br><br>

FROM : Krishnagiri Bus Stand<br>
Londenpet, Krishnagiri, Tamil Nadu 635002<br><br>
Directions : <br><br>
•	Continue to Bangalore Rd/Court Rd/Krishnagiri - Royakottai Rd<br>
3 min (1.1 km) <br>

•	Head south-west<br>
62 m
<br>
•	Turn right<br>
350 m<br>

•	Turn left<br>
 
•	Pass by Kalyana Sundharam Transports (on the left in 350 m) <br>
750 m<br>

•	Turn right onto Bangalore Rd/Court Rd/Krishnagiri - Royakottai Rd<br>
 
•	Continue to follow Krishnagiri - Royakottai Rd
 <br>
•	Pass by Sri Saranya Hospital (on the right) <br>
6 min (2.1 km) <br>
•	Drive to your destination in Devasamuthiram<br>
10 min (4.2 km) <br>

•	Turn left<br>
190 m<br>

•	Turn right<br>
3.9 km<br>

•	Continue onto Devasamuthiram Rd<br>
62 m<br>

•	Turn right<br>
81 m<br><br>

Sri Kattu Veera Anjaneya Temple<br>
Devasamuthiram, Krishnagiri, Tamil Nadu 635101<br>

</div>
</ion-scroll>
</ion-view>
