<ion-view view-title="KAALIKESAM WATERFALLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kkw.jpg"><br>
<div class="item item-text-wrap">

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970

Duration : 1 h 24 min <br>
Distance : 49.2 km<br>
via NH66<br>
Best route now due to traffic conditions<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Take NH66, SH 194 and Nedumangad Hwy to MDR54 in Thadikkarankonam<br>
1 h 5 min (37.2 km)
<br>
•	Head south on NH44<br>
46 m<br>

•	Make a U-turn<br>
 
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km<br>

•	Slight left towards NH66<br>
40 m
<br>
•	Continue straight onto NH66<br>
 
•	Pass by Muthukrishna Marriage Hall (on the right in 9.7 km) <br>
14.1 km<br>

•	Continue straight past INDICASH ATM onto Cape Rd<br>
 
•	Pass by Sakthi Store (on the left) <br>
400 m<br>

•	Turn right onto Avvai Shanmughi Salai<br>
 
•	Pass by Balu Clinic (on the right) <br>
1.5 km
<br>
•	Turn left<br>
 
•	Go past the church (on the left in 550 m) <br>
650 m<br>

•	Turn left at Vadasery Bus Stop onto NH944<br>
 
•	Pass by Tvm-Vadasery Turning Point (on the right) <br>
99 m<br>

•	Turn right onto SH 194<br>
 
•	Pass by sr mobiles (on the right) <br>
9.0 km<br>

•	At Bethel Store, continue onto Nedumangad Hwy<br>
 
•	Pass by Abirami Tex&Stores (on the right) <br>
8.4 km<br>

•	Turn right onto MDR54<br>
 
•	Pass by Thadikkarankonam Volleyball Ground (on the left) <br>
20 min (12.0 km) <br><br>

Kaalikesam Water Falls<br>
Veerapuli R.F., Tamil Nadu 627133<br>





</div>
 </ion-scroll>
</ion-view>
