<ion-view view-title="ST.MARYS ORTHODOX CHURCH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/koc.jpg"><br>
<div class="item item-text-wrap">

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 3 h 5 min <br>
Distance : 96.3 km<br>
via NH66<br>
Best route now, avoids road closure on NH66<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Follow NH66 to Karamana, Thiruvananthapuram<br>
2 h 28 min (85.7 km) <br>

•	Head south on NH44<br>
46 m<br>

•	Make a U-turn<br>
 
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km<br>

•	Slight left towards NH66<br>
40 m<br>

•	Continue straight onto NH66<br>
 
•	Pass by Muthukrishna Marriage Hall (on the right in 9.7 km) <br>
14.1 km<br>

•	Turn left to stay on NH66<br>
29.2 km<br>

•	Turn left onto Market Rd<br>
350 m
<br>
•	Turn right onto Mathi Agency Rd<br>
140 m<br>

•	Turn left onto PPK Rd<br>
41 m
<br>
•	Turn right<br>
450 m
<br>
•	Turn left towards Railway Rd<br>
180 m
<br>
•	Turn right onto Railway Rd<br>
800 m<br>

•	Slight right onto Karavilakam Rd<br>
400 m<br>

•	Turn right<br>
500 m<br>

•	Turn right onto Marthandam-Thengapattanam Rd<br>
1.1 km<br>

•	Turn left onto NH66<br>
 
•	Pass by Bank of India ATM (on the left in 33.9 km) <br>
34.6 km<br>

•	Continue straight to stay on NH66<br>
 
•	Pass by Popular Hyundai (on the left) <br>
550 m<br>
•	Take Poojapura-Karamana Rd, Vazhuthacaud Poojappura Rd, Pattom Rd/PMG Rd, Kesavadasapuram Rd and Kesavadasapuram - Venjaramoodu Rd/Trivandrum - Kilimanoor Rd to Convent Rd in Nalanchira<br>
30 min (10.7 km)
<br>
•	Turn right at Kalpalyam Jct towards Poojapura-Karamana Rd<br>
270 m<br>

•	Turn right onto Poojapura-Karamana Rd
 <br>
•	Pass by Pareeksha Bhavan (on the left in 750 m) <br>
900 m<br>

•	At Poojappura Jct, take the 1st exit onto Vazhuthacaud Poojappura Rd<br>
 
•	Pass by State Institute of Correctional Administration (on the left) <br>
1.4 km<br>

•	Turn left at DPI Jct<br>
49 m<br>

•	Slight right towards K Anirudhan Rd<br>
200 m<br>

•	Continue onto K Anirudhan Rd<br>
350 m<br>

•	At Annie Mascrene Square, continue straight onto Pulimoodu - Panacode Rd<br>
 
•	Pass by BSNL DGM Planning (on the left) <br>
450 m<br>

•	Slight left towards Backery Junction Palayam Service Rd/Bakery Junction Service Road<br>
12 m<br>

•	Slight right at Bakery Jct onto Backery Junction Palayam Service Rd/Bakery Junction Service Road<br>
 
•	Go past the petrol station (on the left) <br>
450 m
<br>
•	Slight left onto Palayam Service Road/Palayam Stadium Service Rd<br>
130 m
<br>
•	Turn right onto Mahathma Gandhi Rd<br>
 
•	Go past the stadium (on the left) <br>
140 m
<br>
•	Turn left onto Palayam PMG Road<br>
 
•	Pass by Kerala University Students Centre (on the left in 500 m) <br>
550 m<br>

•	At PMG Junction, continue onto Pattom Rd/PMG Rd<br>
 
•	Pass by The Chief Postmaster General Kerala Circle Office (on the left) <br>
2.0 km
<br>
•	At Reliance Fresh Thiruvananthapuram, continue onto Kesavadasapuram Rd<br>
 
•	Pass by Archies (on the left) <br>
600 m<br>

•	At Kesavadasapuram Jct, take the 2nd exit onto Kesavadasapuram - Venjaramoodu Rd/Thiruvananthapuram - Ponmudi Rd/Trivandrum - Kilimanoor Rd<br>
 
•	Continue to follow Kesavadasapuram - Venjaramoodu Rd/Trivandrum - Kilimanoor Rd<br>
 
•	Pass by Vijaya Bank (on the left) <br>
2.1 km<br>

•	Slight right onto Market Road<br>
120 m<br>

•	Turn right onto Kusavarkal Rd<br>
6 m<br>

•	Slight right onto Convent Rd<br>
 
•	Destination will be on the right<br>
900 m<br><br>
St Mary's Orthodox Church<br>
Nalanchira, Paruthippara, Thiruvananthapuram, Kerala 695004<br>






</div>
 </ion-scroll>
</ion-view>
