<ion-view view-title="PADHMANADHAPURAM PALACE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kp.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The palace was constructed around 1601 AD by Iravi Varma Kulasekhara Perumal who ruled Venad between 1592 and 1609. It is believed that the Thai Kottaram was built in 1550. The founder of modern Travancore, King Anizham Thirunal Marthanda Varma (1706–1758) who ruled Travancore from 1729 to 1758, rebuilt the palace in around 1750. King Marthaanda Varma dedicated the kingdom to his family deity Sree Padmanabha, a form of Lord Vishnu and ruled the kingdom as Padmanabha dasa or servant of Lord Padmanabha. Hence the name Padmanabhapuram or City of Lord Padmanabha.<br>


Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration  : 59 min <br>
Distance : 33.1 km<br>
via NH66<br>
Fastest route, the usual traffic<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Head south on NH44<br>
46 m<br>

•	Make a U-turn<br>
 
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km<br>

•	Slight left towards NH66<br>
40 m<br>

•	Continue straight onto NH66<br>
 
•	Pass by Muthukrishna Marriage Hall (on the right in 9.7 km) <br>
14.1 km<br>

•	Turn left at INDICASH ATM to stay on NH66<br>
 
•	Pass by SICT Study Center (on the left) <br>
14.0 km<br>

•	Turn right onto Kulasekharam Thuckalay Rd<br>
 
•	Pass by Kumarapuram Jct (on the left in 900 m) <br>
1.5 km<br>

•	Turn right<br>
 
•	Destination will be on the right<br>
300 m<br><br>
Padmanabhapuram Palace<br>
Kanyakumari district, Chakala, Thuckalay, Tamil Nadu 629175<br>



</div>
 </ion-scroll>
</ion-view>
