<ion-view view-title="PECHIPARAI RESERVOIR">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kpr.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The reservoir was formed by the construction of the Pechiparai Dam, which was built across the Kodayar River about 1 mi (1.6 km) below the confluence of the Kallar, Chittar and Kuttiyar tributaries. It was built during the period 1897 - 1906 by the European engineer, Mr. Minchin,(called as mookanthurai by the local people) during the reign of the Travancore Maharaja Moolam Thirunal.<br>

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970

Duration : 1 h 40 min <br>
Distance : 58.4 km<br>
via NH66<br>
Fastest route
<br><br>
FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions  : <br><br>
•	Follow NH66 to Mekkamandapam - Moolachal Rd/MDR269 in Thuckalay<br>
54 min (32.9 km) <br>
•	Head south on NH44<br>
46 m<br>
	
•	Make a U-turn<br>
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km<br>

•	Slight left towards NH66<br>
40 m<br>
•	Continue straight onto NH66<br>
 
•	Pass by Muthukrishna Marriage Hall (on the right in 9.7 km) <br>
14.1 km
<br>
•	Turn left at INDICASH ATM to stay on NH66<br>
 
•	Pass by SICT Study Center (on the left) <br>
15.6 km<br>
•	Follow MDR488 and Kulasekharam Thuckalay Rd to SH 90 in Pechiparai<br>
44 min (25.5 km) <br>

•	Turn right at Spencer Xerox onto Mekkamandapam - Moolachal Rd/MDR269<br>
 
•	Continue to follow MDR269<br>
 
•	Pass by Akshaya Mobiles (on the right) <br>
850 m
<br>
•	Turn right onto MDR269/MDR488<br>
 
•	Continue to follow MDR488<br>

•	Pass by Tomar Hardwares (on the right) <br>
7.7 km<br>

•	Slight left at the petrol station onto Kulasekharam Thuckalay Rd<br>
 
•	Go past the church (on the right in 1.9 km) <br>
7.1 km<br>

•	Turn right at Forest Office onto SH 90<br>
 
•	Pass by Star Motors, Yamaha Showroom (on the right) <br>
450 m<br>

•	Continue straight through Arasumudu Jct onto Convent Rd/Nedumangad Hwy<br>
800 m<br>

•	Continue straight past Shalom Enterprises onto SH 90<br>
 
•	Pass by Kakkachal (on the right in 4.6 km) <br>
8.6 km<br><br>

Pechiparai Dam




</div>
 </ion-scroll>
</ion-view>
