<ion-view view-title="SRI PRASANNA VENKATESA PERUMAAL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kpv.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Places where noble souls-Acharyas are interned are called Brindavan. The Brindavan where Acharya Sri Ramanjua was interned in Sri Rangam is considered very important for Vaishnavas, so the Brindavan of the 36th Jeeyar Azhagia Singar Vansadagopa Srinivasa Mahadesikan Swami’s Jeeva Brindavan is in this temple. The rays of Sun fall on the feet of the Lord of the temple from Avani 7 to 12 – August September.	 
 	 <br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamilnadu<br>
Duration : 41 min<br>
Distance : (32.5 km) <br>
via NH48<br>
Fastest route, the usual traffic<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Follow Kanchipuram - Vellore Bypass Rd to NH48 in Kilambi<br>
16 min (7.8 km) <br>
•	Head north-east towards Hospital Rd<br>
94 m<br>

•	Turn left at MAHALAKSHMI TRADERS onto Hospital Rd<br>
44 m<br>

•	Turn left at handloom weavers saree shop onto Hospital Rd/Nellukara St<br>
 
•	Pass by OLYMBIC SRIDHAR WEDDING CARDS (on the left) <br>
250 m<br>

•	At the roundabout, continue straight onto Annai Indira Gandhi Salai/Kanchipuram - Vellore Bypass Rd/Nellukara St/W Raja St/Salai St<br>
 
•	Continue to follow Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
 
•	Pass by Indian Oil Petrol Bunk (on the left) <br>
850 m<br>

•	Turn left onto Kanchipuram - Vellore Bypass Rd/Salai St<br>
 
•	Continue to follow Kanchipuram - Vellore Bypass Rd<br>
 
•	Pass by Ramanatha Eswarar (on the right) <br>
6.6 km<br>

•	Slight left onto NH48<br>
 
•	Pass by Easa Food Court, Hotel Thanjavur, Kumbakonnam Degree Coffee (on the right in 16.2 km) <br>
19 min (21.6 km) <br>
•	Drive to Perumal Koil St in Thiruparkadal<br>
7 min (3.1 km)
<br>
•	Turn left at SH128<br>
1.9 km<br>

•	Turn right onto Perumal Koil St<br>
 
•	Pass by Sri Ranganathar Temple (on the left) <br>
 
•	Destination will be on the left<br>
1.2 km<br><br>

Sri Prasanna Venkatesa Perumal Temple
Sumaithangi, Tamil Nadu 632508





</div>
 </ion-scroll>
</ion-view>
