<ion-view view-title="OUR LADY OF RANSOM CHURCH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kr.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The tomb stones unearthed at Kumari Muttom, near Kanniyakumari contain evidences to show that Catholics were living there for many centuries. The tomb stones dated 1496 contain the edict of the local ruler granting tax exemptions to the residents of Kumari Muttom and authorizing levy of a cess from the fishermen in Kumari Muttom.The aggregate income thus generated had to be used to keep the lights of the church burning.<br>

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 6 min <br>
Distance : 2.0 km<br>
via NH44 and Main Rd<br>
Fastest route, the usual traffic<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Head south on NH44<br>
 
•	Pass by Hotel Safan (on the left in 500 m) <br>
1.1 km<br>

•	At the roundabout, take the 1st exit onto Main Rd<br>
 
•	Pass by Devi Resturant (on the right) <br>
600 m<br>

•	Turn right at Indian Bank ATM onto Church Rd<br>
 
•	Pass by Expo Center (on the right) <br>
350 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
38 m<br><br>

Our Lady of Ransom Shrine<br>
Church Rd, கன்னியாகுமரி, Kanyakumari, Tamil Nadu 629702<br>






</div>
 </ion-scroll>
</ion-view>
