
<ion-view view-title="KRISHNAGIRI ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "krp()"> 
SHREE PARSHWA PADMAVATHI SHAKTHIPEET TIRTH DHAM</button><br>

<button class="button button-clear button-royal" ng-Click = "kkv()"> 
SRI KAATU VEERA ANJANEYA TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "kkr()"> 
KELAVARAPALLI RESERVOIR PROJECT</button><br>
<button class="button button-clear button-royal" ng-Click = "kkf()"> 
KRISHNAGIRI FORT </button><br>

<button class="button button-clear button-royal" ng-Click = "kkd()"> 
KRP DAM </button><br>
<button class="button button-clear button-royal" ng-Click = "krk()"> 
RAYAKOTTAH </button><br>
<button class="button button-clear button-royal" ng-Click = "kac()"> 
ANURADHA COMPLEX</button><br>


</ion-scroll>
</ion-view>
