<ion-view view-title="RAYAKOTTAH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/krk.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>

Duration : 46 min <br>
Distance : 50.6 km<br>
via NH44/NH48<br>
Fastest route, the usual traffic<br>
This route has tolls. <br><br>

FROM : Krishnagiri Bus Stand<br>
Londenpet, Krishnagiri, Tamil Nadu 635002<br><br>
Directions : <br><br>
•	Continue to Wahab Nagar<br>
4 min (1.8 km) <br>

•	Head south-west<br>
62 m<br>

•	Turn right<br>
350 m<br>

•	Turn left<br>
 
•	Pass by Kalyana Sundharam Transports (on the left in 350 m) <br>
750 m<br>

•	Turn right onto Bangalore Rd/Court Rd/Krishnagiri - Royakottai Rd<br>
69 m<br>

•	Turn right<br>
 
•	Pass by Krishnagiri Highway Bus Stop (on the left) <br>
550 m<br>

•	Slight left onto NH44/NH48<br>
 
Partial toll road<br>
 
•	Pass by Vegetable Wholesale Market (on the right in 45.0 km) <br>
41 min (46.9 km) <br>
•	Continue on ESI Ring Rd/Inner Ring Rd. Drive to Hosur - Rayakotta Rd/Rayakottai Rd<br>
4 min (2.0 km)
<br>
•	Turn left onto ESI Ring Rd/Inner Ring Rd<br>
 
•	Pass by Sun City Mobile (on the right) <br>
1.3 km
<br>
•	Turn right at PS CONSTRUCTIONS onto Hosur - Rayakotta Rd/Rayakottai Rd<br>
 
•	Go past the petrol station (on the right in 400 m) <br>
 
•	Destination will be on the left<br>
650 m<br><br>

Rayakottah Housing Board Stop<br>
Hosur - Rayakotta Rd, Sanasandiram, Hosur, Tamil Nadu 635109<br>


</div>
</ion-scroll>
</ion-view>
