<ion-view view-title="SHREE PARSHWA PADMAVATHI SHAKTHIPEET TIRTH DHAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/krp.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>
Krishnagiri Shaktipeetam, dedicated to Sri Padmavathi Devi, was founded by Sri Vasanth Gurudev-Ji and it focuses on Mathru Upasana of Sri Parshwanath Bhagwan, the 23rd Thirthankar of the 24 Thirthankars of Jainism. Krishnagiri Shaktipeetam is situated at a distance of 7 km from Krishnagiri town at Orappam Village.
 <br>
Duration : 15 min<br> 
Distance : 11.9 km<br>
via NH48<br>
Fastest route now due to traffic conditions<br><br>

FROM : Krishnagiri Bus Stand<br>
Londenpet, Krishnagiri, Tamil Nadu 635002<br><br>
Directions : <br><br>
•	Continue to Gandhi Nagar<br>
4 min (2.0 km) <br>

•	Head south-west<br>
62 m<br>

•	Turn right<br>
350 m<br>

•	Turn left<br>
 
•	Pass by Kalyana Sundharam Transports (on the left in 350 m) <br>
750 m<br>

•	Turn right onto Bangalore Rd<br>
36 m<br>

•	Turn left<br>
850 m<br>
•	Follow NH48 to Sundampatti<br>
9 min (9.2 km) <br>

•	Slight left onto NH44/NH48<br>
 
•	Pass by EXPRESS SWASTIK P𝐀𝐂𝐊𝐄𝐑𝐒 & Movers Krishnagiri (on the right in 900 m) <br>
1.6 km<br>

•	Keep left to continue on NH48<br>
 
•	Pass by Water Servising (on the left in 400 m) <br>
550 m<br>

•	Turn left onto NH48/NH77<br>
65 m<br>

•	Continue straight onto NH48<br>
6.5 km<br>

•	Make a U-turn<br>
450 m<br>
•	Drive to your destination<br>
2 min (650 m) <br>

•	Turn left<br>
180 m
<br>
•	Turn right<br>
500 m<br><br>
Parshwa Padmavathi Jain Temple<br>
Krishnagiri, Tamil Nadu 635108
<br>

</div>
</ion-scroll>
</ion-view>
