<ion-view view-title="SANGUTHURAI BEACH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ks.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The palm-fringed Sanguthurai Beach is located about 10 kilometres away from the main city in Kanyakumari. Adding to the beauty of this beach is a white conch-shaped structure that belongs to the Chola period that is a suitable subject for photography.<br>
Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 24 min <br>
Distance : (15.6 km) <br>
via Ethamozhi Puthalam Road/Nainaputhoor - Kanniyakumari Rd<br>
Fastest route<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Take Kovalam Rd, Manakudi-Kanyakumari Rd, Manakkudy Rd and Ethamozhi Puthalam Road/Nainaputhoor - Kanniyakumari Rd to MDR930 in Melakrishnanputhur<br>
22 min (14.4 km) <br>

•	Head south on NH44<br>
46 m<br>

•	Turn right onto Kovalam Rd<br>
 
•	Pass by Rotary Community Center (on the right in 400 m) <br>
2.9 km<br>

•	Kovalam Rd turns left and becomes Manakudi-Kanyakumari Rd<br>
 
•	Pass by Muhilankudierppu Bus Stop (on the left in 1.9 km) <br>
3.2 km<br>

•	Turn left onto Manakudi Rd<br>
170 m<br>

•	At the roundabout, take the 2nd exit onto Keela Manakudy - Mela Manakudy Bridge<br>
 
•	Pass by the bridge (on the right in 550 m) <br>
700 m
<br>
•	At the roundabout, take the 2nd exit onto Manakkudy Rd<br>
 
•	Pass by C.S.Mechanical &Plumbing works (on the right in 2.5 km) <br>
2.6 km<br>

•	Turn left onto Ethamozhi Puthalam Road/Nainaputhoor - Kanniyakumari Rd<br>
 
•	Pass by Nainaputhoor Siva Shakthi Kalaiarangam Bus Stop (on the left in 2.9 km) <br>
4.8 km<br>
•	Follow MDR930 to Pallam Main Rd<br>
2 min (1.2 km) <br>

•	Turn left onto MDR930<br>
1.1 km<br>

•	Turn left onto Pallam Main Rd<br>
 
•	Destination will be on the right<br>
37 m<br><br>
Sanguthurai Beach


</div>
 </ion-scroll>
</ion-view>
