<ion-view view-title="SRI AATCHEESWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ksa.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> 	The temple has two presiding deities Atcheeswarar and Umai Atcheeswarar gracing the devotees from two separate sanctum sanctorums. Also, two Mother-Goddesses Ilangili Ammai and Umayambigai grace from their respective sanctums. Lord Shiva is a Swayambumurthi. Saivite Saint Tirunavukkarasar mentions this temple in Kshetra Kovai hymns. Saint Gnanasambandar has praised this temple in his Thevaram hymns. Demons Tharaka and Vidyunmali destroyed by Lord Shiva are the Dwarapalakas. Meditation Nandhi is before Umai Atcheeswarar shrine.<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamil Nadu 631501
Duration : 1 h 20 min<br>
Distance : 57.5 km<br>
via SH 118A and MDR518<br>
Fastest route<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Continue to Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
2 min (230 m)
<br>
•	Head north-east<br>
3 m<br>

•	Turn left towards Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
230 m<br>
•	Follow SH 118A to Chinnanarasam pettai CC Road<br>
38 min (27.0 km) <br>

•	Turn left at Central Sutdio kanchipuram onto Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
 
•	Continue to follow Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd<br>
 
•	Pass by aditya trading solution(stock&commodity-pancard) (on the left) <br>
700 m
<br>
•	Slight right at Hotel Sakthi Ganapathy (Veg) onto Vallal Pachaiyappan St<br>
 
•	Pass by Bus Station (on the left) <br>
1.0 km<br>
•	Continue onto Uthramerur Main Rd/SH 118A<br>
•	Continue to follow SH 118A<br>
•	Pass by Orikkai (on the right in 2.4 km) <br>
25.3 km<br>
•	Follow MDR518 to Cheyur - Vandavasi Rd/Cheyur - Vandawasi - Polur Rd/Cheyyar - Vandawasi - Polur Rd in Keezhamur<br>
24 min (19.5 km) <br>

•	Continue straight onto Chinnanarasam pettai CC Road
 <br>
•	Pass by Ramamoorthy Electrion (on the right) <br>
500 m
<br>
•	Turn left towards Vaigunda Perumal Koil St<br>
 
•	Pass by SRI RAM TRADERS - TILES , SANITARYWARE , JAQUAR TAP, SINKS, (on the right) <br>
150 m<br>

•	Continue onto Vaigunda Perumal Koil St<br>
130 m<br>

•	At Ashok Jewels, continue onto Endathoor Rd/MDR518<br>
 
•	Continue to follow MDR518<br>
 
•	Pass by Bss computer college (on the right) <br>
18.7 km<br>
•	Continue on Cheyur - Vandavasi Rd/Cheyur - Vandawasi - Polur Rd to Acharapakkam<br>
13 min (10.0 km) <br>

•	Turn left onto Cheyur - Vandavasi Rd/Cheyur - Vandawasi - Polur Rd/Cheyyar - Vandawasi - Polur Rd<br>
 
•	Continue to follow Cheyur - Vandavasi Rd/Cheyur - Vandawasi - Polur Rd
 <br>
•	Pass by the park (on the left in 3.8 km) <br>
6.4 km
<br>
•	Sharp right onto NH Service Road<br>
300 m<br>

•	Slight left onto NH32<br>
 
•	Pass by ACMEC Trust Accomdation Facility (on the left in 400 m) <br>
3.2 km<br>
•	Continue on Bazaar Street to your destination in Ravathanallur<br>
3 min (850 m)
<br>
•	Turn left onto Bazaar Street<br>
 
•	Pass by Weight Loss Centre (on the right) <br>
500 m<br>

•	Turn left at Srivari Cards<br>
170 m<br>

•	Slight left<br>
180 m
<br><br>
Sri Aatcheeswarar temple (Siva Temple)
Atcheeswarar Temple, Ravathanallur, Acharapakkam, Tamil Nadu 603301



</div>
 </ion-scroll>
</ion-view>
