<ion-view view-title="SADASIVA BRAHMENDRA SAMADHI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ksb.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Sadasiva Brahmendra was a saint, composer of Carnatic music and Advaita philosopher who lived near Kumbakonam, Tamil Nadu during the 18th century. He composed mainly in Sanskrit. Only a few of his compositions have survived but they are recognised as great compositions of Carnatic music<br>
Duration : 9 min<br>
Distance : 1.9 km<br>
via Nagapattinam - Coimbatore - Gundlupet Hwy/N Pradhaksanam Rd<br>
Best route
<br><br>
FROM : Karur Junction<br>
Neelimedu, Karur, Tamil Nadu 639001<br><br>
Directions : <br><br>
•	Head south towards Thiruvikka Rd/Thiruvikka Salai<br>
180 m
<br>
•	Turn left at Junction Bus Stop onto Thiruvikka Rd/Thiruvikka Salai<br>
 
•	Pass by Nandhini Printers (on the left) <br>
190 m
<br>
•	Turn right onto Nagapattinam - Coimbatore - Gundlupet Hwy/N Pradhaksanam Rd<br>
 
•	Pass by Subha Shree XRAYS (on the right) <br>
1.4 km<br>

•	At the roundabout, take the 3rd exit onto Nagapattinam - Coimbatore - Gundlupet Hwy/W Pradhaksanam Rd<br>
 
•	Pass by Thunaivan Travels - Karur (on the left) <br>
160 m<br>

•	Turn left at Arun Ice-Cream Parlor<br>
40 m<br><br>

Karur Bus Stand<br>
Madavilagam, Karur, Tamil Nadu 639002<br>

Duration : 25 min <br>
Distance : 12.5 km<br>
via Karur - Nerur - Thirumukudalur Road<br>
Fastest route<br><br>

FROM : Karur Bus Stand<br>
Madavilagam, Karur, Tamil Nadu 639002<br><br>
Directions : <br><br>
•	Head east towards Nagapattinam - Coimbatore - Gundlupet Hwy/W Pradhaksanam Rd<br>
40 m<br>

•	Turn left at Arun Ice-Cream Parlor onto Nagapattinam - Coimbatore - Gundlupet Hwy/W Pradhaksanam Rd<br>
 
•	Pass by Punita Flour Mill (on the left) <br>
2.0 km
<br>
•	Turn left onto Karur - Vangal - Nerur Road<br>
 
•	Pass by Thinjayamman Temple (on the left in 600 m) <br>
1.7 km<br>

•	Turn right onto Karur - Nerur - Thirumukudalur Road<br>
 
•	Pass by Punitha Annai Hospital (on the right in 6.5 km) <br>
8.4 km
<br>
•	Turn left<br>
 
•	Destination will be on the left<br>
250 m<br><br>

Sri Sadasiva Brahmendra Adhishtanam Nerur<br>
Nerur South, Tamil Nadu 639114<br>




</div>
 </ion-scroll>
</ion-view>
