<ion-view view-title="SOMANAADHEESWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kst.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>This temple is one of the Navagraha temples of Chennai (or Thondai Mandalam) devoted to Sri Chandra Bhagavan (Moon God). According to legend, once, Sri Chandra Bhagavan (also called Soman) is said to have been cursed by Dhakshan. As a result, he lost his divine charm and forgot all the 16 forms of arts he had acquired. To come out of this, He is said to have created a pond called Soma Theertham and worshipped Lord Shiva here. After this, he got back his beauty and wisdom. As Sri Soman (Sri Chandra Bhagavan) worshipped the Lord here, Lord Shiva here is called Somanaadheeswarar and the place came to be known as Somangalam.<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamilnadu<br>
Duration : 1 h 6 min<br>
Distance : 47.9 km<br>
via Kanchipuram - Chennai Rd<br>
Fastest route, the usual traffic<br><br>

FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Take Kanchipuram - Chennai Rd to NH48<br>
11 min (4.4 km) <br>
•	Head north-east towards Hospital Rd<br>
94 m<br>

•	Turn left at MAHALAKSHMI TRADERS onto Hospital Rd<br>
44 m<br>

•	Turn right at handloom weavers saree shop onto E Raja St/Sengaluneer Odai St<br>
 
•	Pass by Sun Cool Fresh Juices and Icecream (on the left) <br>
950 m<br>

•	Turn right at Gowri Jewelry onto Big Kamala St/Kanchipuram - Chennai Rd<br>
 
•	Continue to follow Kanchipuram - Chennai Rd<br>
 
•	Pass by Sri Dhanalakshmi jewellers (on the right) <br>
3.3 km<br>
•	Follow NH48 to Katchipedu, Sriperumbudur<br>
32 min (29.6 km) <br>

•	Turn right onto NH48<br>
 
•	Pass by sh electronics (on the right in 9.1 km) <br>
28.8 km<br>

•	Sharp right to stay on NH48<br>
750 m<br>
•	Take Kundrathur - Sriperumbudur Rd to your destination in Poonthandalam<br>
24 min (13.9 km) <br>

•	Keep left to continue towards Karasangal - Manimangalam - Sriperumpudur Rd/Kundrathur - Sriperumbudur Rd/Tambaram - Mudichur - Sriperumbudur Rd<br>
39 m<br>

•	Turn left onto Karasangal - Manimangalam - Sriperumpudur Rd/Kundrathur - Sriperumbudur Rd/Tambaram - Mudichur - Sriperumbudur Rd<br>
 
•	Continue to follow Kundrathur - Sriperumbudur Rd<br>
 
•	Pass by ICICI Bank ATM (on the left) <br>
10.4 km<br>

•	Turn right at Nallur Bus Stand<br>
1.3 km<br>

•	Continue onto Nallur Main Rd<br>
 
•	Pass by Sedona Green Park - Somangalam (on the left in 1.0 km) <br>
1.6 km<br>

•	Turn right<br>
180 m<br>

•	Turn left<br>
300 m
<br>
•	Turn right<br>
 
•	Destination will be on the right<br>
100 m<br><br>

Somanaadheeswarar Temple



</div>
 </ion-scroll>
</ion-view>
