<ion-view view-title="SUNSET VIEW POINT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ksv.jpg"><br>
<div class="item item-text-wrap">

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970

Duration : 15 min<br>
Distance : 1.3 km<br>
via Beach Rd<br>
Use caution - may involve errors or sections not suited for walking
<br><br>
FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk south on NH44<br>
46 m<br>

•	Turn right onto Kovalam Rd<br>
140 m
<br>
•	Turn left onto Beach Rd<br>
 
•	Pass by TCI FREIGHT (on the right in 140 m) <br>
300 m<br>

•	Turn left onto Beach Rd/Erumanayakkanpatti Beach Rd<br>
 
•	Pass by High Value Point (on the right in 240 m) <br>
650 m
<br>
•	Turn right to stay on Beach Rd/Erumanayakkanpatti Beach Rd<br>
99 m<br><br>

Sunset View Point
Kanyakumari, Tamil Nadu 629702




</div>
 </ion-scroll>
</ion-view>
