<ion-view view-title="ST XAVIER CHURCH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ksx.jpg"><br>
<div class="item item-text-wrap">
Chronicle : <br>The St. Francis Xavier's Cathedral also St. Xavier Church is a Roman Catholic Latin Rite shrine located at Kottar, Nagercoil in Kanyakumari district of Tamil Nadu state, India. While Saint Xavier was doing missionary work at Kottar and its neighbourhood, he averted an invasion of Padagas with the help of his cross alone and thus protected the people of Venad kingdom from that attack which was appreciated by the king, Unni Kerala Varma, who became closer to the priest and befriended him from then on. In recognition of Xavier’s services, the king allotted him a piece of land to construct a Catholic church, as a gesture of goodwill, as per the church records. There was already a small church, in the same place where St. Xavier’s church stands at present, dedicated to Mary the Mother of God, since AD 1544<br>

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 27 min<br>
Distance : 17.4 km<br>
via NH66<br>
Fastest route, the usual traffic<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Head south on NH44<br>
46 m
<br>
•	Make a U-turn<br>
 
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km<br>

•	Slight left towards NH66<br>
40 m
<br>
•	Continue straight onto NH66
 <br>
•	Pass by Muthukrishna Marriage Hall (on the right in 9.7 km) <br>
14.1 km<br>

•	Turn right at INDICASH ATM onto Kottar N St<br>
52 m<br>

•	Continue straight<br>
 
•	Destination will be on the right<br>
43 m
<br><br>
St. Xavier's Cathedral<br>
Kottar, Nagercoil, Tamil Nadu 629002<br>






</div>
 </ion-scroll>
</ion-view>
