<ion-view view-title="THIRUMUKKUDALUR ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ktd.jpg"><br>
<div class="item item-text-wrap">
Duration : 9 min<br>
Distance : 1.9 km<br>
via Nagapattinam - Coimbatore - Gundlupet Hwy/N Pradhaksanam Rd<br>
Best route
<br><br>
FROM : Karur Junction<br>
Neelimedu, Karur, Tamil Nadu 639001<br><br>
Directions : <br><br>
•	Head south towards Thiruvikka Rd/Thiruvikka Salai<br>
180 m
<br>
•	Turn left at Junction Bus Stop onto Thiruvikka Rd/Thiruvikka Salai<br>
 
•	Pass by Nandhini Printers (on the left) <br>
190 m
<br>
•	Turn right onto Nagapattinam - Coimbatore - Gundlupet Hwy/N Pradhaksanam Rd<br>
 
•	Pass by Subha Shree XRAYS (on the right) <br>
1.4 km<br>

•	At the roundabout, take the 3rd exit onto Nagapattinam - Coimbatore - Gundlupet Hwy/W Pradhaksanam Rd<br>
 
•	Pass by Thunaivan Travels - Karur (on the left) <br>
160 m<br>

•	Turn left at Arun Ice-Cream Parlor<br>
40 m<br><br>

Karur Bus Stand<br>
Madavilagam, Karur, Tamil Nadu 639002<br>

Duration : 30 min<br>
Distance : 14.5 km<br>
via Karur - Nerur - Thirumukudalur Road<br>
Fastest route<br><br>

FROM : Karur Bus Stand<br>
Madavilagam, Karur, Tamil Nadu 639002<br><br>
Directions : <br><br>
•	Head east towards Nagapattinam - Coimbatore - Gundlupet Hwy/W Pradhaksanam Rd<br>
40 m<br>

•	Turn left at Arun Ice-Cream Parlor onto Nagapattinam - Coimbatore - Gundlupet Hwy/W Pradhaksanam Rd
 <br>
•	Pass by Punita Flour Mill (on the left) <br>
2.0 km<br>

•	Turn left onto Karur - Vangal - Nerur Road<br>
 
•	Pass by Thinjayamman Temple (on the left in 600 m) <br>
1.7 km<br>

•	Turn right onto Karur - Nerur - Thirumukudalur Road<br>
3.9 km<br>

•	Turn right onto Karur - Somur - Thirumukudular Road<br>
6.6 km<br>

•	Turn right at Karur - Nerur - Thirumukudalur Road<br>
9 m<br>

•	Slight right<br>
 
•	Destination will be on the left<br>
210 m
<br><br>
Thirumukkudalur<br>
Thirumukudlur, Tamil Nadu 639114<br>




</div>
 </ion-scroll>
</ion-view>
