<ion-view view-title="THIRPARAPPU FALLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ktf.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Thirparappu is famous for its waterfalls and is located in Kanyakumari District of Tamil Nadu in the southern part of India. Thirparappu Falls is located 42 km (26 mi) from Nagercoil (headquarters of Kanyakumari District), 55 km (34 mi) from Thiruvananthapuram (capital of Kerala) and a distance of 5 km (3.1 mi) from Kulasekaram (nearest town panchayat). This famous falls is in the Kodayar (Kothai River). The Kodayar makes its descend at Thirparappu and the water fall at this place is about 13 km (8.1 mi) from Pechiparai dam.<br>

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 1 h 33 min <br>
Distance : 54.4 km<br>
via NH66<br>
Fastest route
<br><br>
FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Follow NH66 to Colachel - Thiruvattar Rd/Thiruvattar - Thingal Nagar Rd in Azahiamandapam<br>
1 h 1 min (36.6 km) <br>

•	Head south on NH44<br>
46 m<br>

•	Make a U-turn<br>
 
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km<br>

•	Slight left towards NH66<br>
40 m<br>

•	Continue straight onto NH66<br>
 
•	Pass by Muthukrishna Marriage Hall (on the right in 9.7 km) <br>
14.1 km
<br>
•	Turn left at INDICASH ATM to stay on NH66<br>
 
•	Pass by SICT Study Center (on the left) <br>
19.3 km<br>
•	Continue on Colachel - Thiruvattar Rd/Thiruvattar - Thingal Nagar Rd. Take Mathaar - Vettukuzhi Rd to Thiruvattar - Thirparapu Rd in Tiruparapu<br>
30 min (17.8 km) <br>
	
•	Turn right at Azaghiamandapam Jct onto Colachel - Thiruvattar Rd/Thiruvattar - Thingal Nagar Rd<br>
 
•	Pass by Leela Towers (on the right in 2.2 km) <br>
5.5 km<br>

•	Slight right at Vettukuzhi Bus Stop onto Mathaar - Vettukuzhi Rd<br>
 
•	Pass by Anayadi (on the left in 1.0 km) <br>
2.7 km<br>

•	Turn left<br>
1.0 km<br>

•	Turn left onto Mathaar - Vettukuzhi Rd<br>
400 m<br>

•	Turn right at Padma Hospital onto SH 90<br>
 
•	Pass by Block Resource Centre (on the right in 350 m) <br>
550 m<br>

•	Turn left at Santhosam Complex, Alen Mobile,Indian Bank onto Thiruvattar - Thirparapu Rd/Thiruvattar - Thiruvarambu Rd<br>
 
•	Continue to follow Thiruvattar - Thirparapu Rd<br>
 
•	Pass by Thiruvattar (on the left) <br>
4.1 km<br>

•	Turn left to stay on Thiruvattar - Thirparapu Rd<br>
3.6 km
<br><br>
Tirparappu Water Falls






</div>
 </ion-scroll>
</ion-view>
