<ion-view view-title="THOLLAVILLAI NARAYANA SWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ktn.jpg"><br>
<div class="item item-text-wrap">

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration  : 36 min <br>
Distance : 18.6 km<br>
via Manakkudy Rd<br>
Best route<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Follow Kovalam Rd, Manakudi-Kanyakumari Rd and Manakkudy Rd<br>
23 min (14.1 km) <br>

•	Head south on NH44<br>
46 m<br>

•	Turn right onto Kovalam Rd<br>
 
•	Pass by Rotary Community Center (on the right in 400 m) <br>
2.9 km<br>

•	Kovalam Rd turns left and becomes Manakudi-Kanyakumari Rd<br>
 
•	Pass by Muhilankudierppu Bus Stop (on the left in 1.9 km) <br>
3.2 km<br>

•	Turn left onto Manakudi Rd<br>
170 m<br>

•	At the roundabout, take the 2nd exit onto Keela Manakudy - Mela Manakudy Bridge<br>
 
•	Pass by the bridge (on the right in 550 m) <br>
700 m<br>

•	At the roundabout, take the 2nd exit onto Manakkudy Rd<br>
 
•	Pass by the bridge (on the left in 4.5 km) <br>
7.1 km<br>
•	Drive to Thollavilai Temple Ln in Thollavilai, Nagercoil<br>
13 min (4.5 km) <br>

•	Turn left<br>
650 m<br>

•	Turn right<br>
550 m<br>

•	Continue straight<br>
700 m<br>

•	Turn left<br>
 
•	Pass by the park (on the right in 1.3 km) <br>
2.1 km<br>

•	At Thollavilai Bridge, continue onto Thollavilai - Melasurankudy Rd<br>
 
•	Pass by Thollavilai Junction Bus Stop (on the left) <br>
180 m<br>

•	Slight right onto Esaki Amman Temple St/Thollavilai Rd<br>
160 m<br>

•	Turn left at Arulmigu Esaki Amman Kovil<br>
86 m<br>

•	Continue onto Thollavilai Temple Ln
 <br>
•	Destination will be on the left<br>
150 m<br><br>

Thollavilai Narayana Swamy Temple<br>
Thollavilai Temple Ln, Thollavilai, Nagercoil, Tamil Nadu 629004
<br>






</div>
 </ion-scroll>
</ion-view>
