<ion-view view-title="THANUMALAYAM TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ktt.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The Thanumalayan Temple, also called Sthanumalayan Temple is an important Hindu temple located in Suchindram in the Kanyakumari district of Tamil Nadu, India.

The Thanumalayan Temple is of importance to both Shaivaite and Vaishnavite sects of Hinduism, as the name Stanumalaya denotes Trimurtis; "Stanu" means Siva; "Mal" means Vishnu; and the "Aya" means Brahma.<br>


Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 18 min <br>
Distance : 13.3 km<br>
via NH66<br>
Fastest route, the usual traffic<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Head south on NH44<br>
46 m
<br>
•	Make a U-turn<br>
 
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km<br>

•	Slight left towards NH66<br>
40 m
<br>
•	Continue straight onto NH66<br>
 
•	Pass by Muthukrishna Marriage Hall (on the right in 9.7 km) <br>
9.8 km
<br>
•	Turn left at Lakshmi Vilas ATM onto Sannithi St<br>
 
•	Pass by Hotel NanjilNadu Pure Veg (on the left) <br>
250 m
<br>
•	Turn right at the 1st cross street onto N Car St<br>
13 m
<br><br>
Suchindram Thanumalayan Temple<br>



</div>
 </ion-scroll>
</ion-view>
