<ion-view view-title="UDHAYAGIRI FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kuf.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The fort in Tamil Nadu is located 14 kilometres (8.7 mi) from Nagercoil in Thuckalay Town, Kanyakumari District on the Thiruvananthapuram-Nagercoil National highway at Puliyoorkurichi. This was the most important military barracks of the Travancore rulers, when Padmanabhapuram was their capital.<br>

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970
Duration : 55 min<br>
Distance : 31.7 km<br>
via NH66<br>
Fastest route, the usual traffic<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Head south on NH44<br>
46 m
<br>
•	Make a U-turn<br>
 
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km
<br>
•	Slight left towards NH66<br>
40 m<br>

•	Continue straight onto NH66<br>
 
•	Pass by Muthukrishna Marriage Hall (on the right in 9.7 km) <br>
14.1 km<br>

•	Turn left at INDICASH ATM to stay on NH66<br>
 
•	Pass by SICT Study Center (on the left) <br>
14.0 km
<br>
•	Turn right onto Kulasekharam Thuckalay Rd<br>
14 m
<br>
•	Turn right onto Noorul Islam University to Puliyuurkurichi<br>
 
•	Drive along Udayagiri Fort (on the right for 1.3 km) <br>
 
•	Destination will be on the right<br>
400 m<br><br>

Udayagiri Fort<br>
Noorul Islam University to Puliyuurkurichi, Kumaracoil, Tamil Nadu 629180<br>





</div>
 </ion-scroll>
</ion-view>
