<ion-view view-title="KURANGANI HILLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kur.jpg"><br>
<div class="item item-text-wrap">
 
Chronicle :<br>
Kurangani is a hill station atop the Western Ghats accessed from Bodinayakkanur in Tamil Nadu, India. It has estates growing coconut, mangos, all spices, and coffee. There is a mountain rivulet that passes between Kurangani mountains in the east and Kolukkumalai in the west.<br>

Kurangani Hills near Bodinayakanur in Theni district is suitable for trekking and nature walks, including the 12 km walk from Kurangani village to Top Station through the central village. Those who visit Munnar in Kerala can also enter the trekking route here by walking down the dense woods and plain grasslands of Kurangani Hills. By reaching Top Station, border of Theni district, from Munnar after 35 km travel, one can start trekking down the hills.<br><br>
Duration : 9 min<br>
Distance : 2.6 km<br>
via NRT Main Rd<br>
Fastest route<br><br>

FROM : Railway Station<br>
Railway Feeder Rd, Theni, Tamil Nadu 625531<br><br>
Directions : <br><br>
•	Head south-east on Railway Feeder Rd towards NH183<br>
650 m<br>

•	Turn left at VL Krishnaswamy Rukmaniammal Kalyan mahal onto NH183<br>
 
•	Pass by Theni Coconut Producers Company (on the left) <br>
98 m<br>

•	Turn right at Sri Vi Broilers onto NRT Main Rd<br>
 
•	Pass by El Shaddai (on the left) <br>
1.0 km<br>

•	Turn left at Theni Grand Master Chess Academy<br>
67 m<br>

•	Turn right<br>
750 m
<br>
•	Turn right onto Theni By-Pass<br>
 
•	Destination will be on the left<br>
98 m<br><br>
Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br>

Duration : 52 min<br>
Distance : 34.8 km<br>
via NH85 and Kottagudi Rd<br>
Fastest route
<br><br>
FROM : Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br><br>
Directions : <br><br>
•	Head south on Theni By-Pass towards NH85<br>
 
•	Pass by SRI KARPAGAVINAYAGAR SNACKS (on the right) <br>
1 min (600 m) <br>
•	Follow NH85 to Kottagudi Rd in Munthal<br>
30 min (23.6 km) <br>

•	Turn right onto NH85<br>
 
•	Pass by KRISHNASDEPARTMENTSTORE (on the right in 1.3 km) <br>
1.6 km<br>

•	Turn left at Hotel Sree Kavitha onto NH183/NH85<br>
 
•	Pass by thanigai marketting (on the left) <br>
2.9 km<br>

•	Turn right onto NH85<br>
 
•	Pass by Muniyandi Vilas (on the left in 2.5 km) <br>
12.4 km
<br>
•	At the roundabout, take the 2nd exit and stay on NH85<br>
 
•	Drive along the park (on the left for 280 m) <br>
6.7 km<br>
•	Drive to Kottagudi Rd in Kottagudi<br>
21 min (10.6 km) <br>

•	Continue straight through Kottagudi Rd Jct onto Kottagudi Rd<br>
 
•	Pass by Kuragani Bus Stop (on the right in 8.9 km) <br>
9.7 km<br>

•	Turn right to stay on Kottagudi Rd<br>
650 m
<br>
•	Turn right to stay on Kottagudi Rd<br>
 
•	Pass by Kurangani Trekking, Best Trekking Adventure Kurangani (on the right) <br>
300 m<br><br>
Kurangani Hills<br>
Kurangani-Top Station Trail, Kottagudi, Tamil Nadu 625582<br>



</div>
</ion-scroll>
</ion-view>
