<ion-view view-title="SRI ULAGALANDAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kut.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>The name of the temple literally means One Who Measured the entire word . This temple is very close to Kamakshi Amman temple around 300 m on the Kamakshi Amman Sannidhi St and Ulagahandhar St intersection. <br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamil Nadu 631501
Duration : 8 min<br> 
Distance : 600 m<br> 
via Vaigundaperumal Koil St<br> 
Use caution - may involve errors or sections not suited for walking<br> <br> 

FROM : Kanchipuram Bus Stand<br> 
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br> <br> 
Directions : <br> <br> 
•	Walk north-east towards Hospital Rd<br>
94 m<br>

•	Turn left at MAHALAKSHMI TRADERS onto Hospital Rd<br>
44 m<br>

•	Turn right at handloom weavers saree shop onto E Raja St/Sengaluneer Odai St<br>
 
•	Pass by MOHAN TEA STALL (on the right in 67 m) <br>
99 m<br>

•	Turn right onto Vaigundaperumal Koil St<br>
 
•	Pass by Karthik Hardwares (on the right in 91 m) <br>
260 m<br>

•	Turn left towards Vaigundaperumal Koil Mada Veedhi<br>
23 m<br>

•	Turn right onto Vaigundaperumal Koil Mada Veedhi<br>
 
•	Destination will be on the right<br>
96 m<br><br>
Vaikunta Perumal Temple

</div>
 </ion-scroll>
</ion-view>
