<ion-view view-title="VATTAKOTTAI FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kv.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>It was constructed under the supervision of Captain Eustachius De Lannoy, an ex-Dutch naval officer of the Dutch East India Company, who became commander of the Travancore Army (the very army that defeated him in the Battle of Colachel) in the 18th century, after he earned the trust of the Travancore King Marthanda Varma. De Lannoy constructed Vattakottai, as part of the defence-fortifications he undertook throughout Travancore.<br>

Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970

Duration : 15 min<br>
Distance : 8.3 km<br>
via NH44 and Anjugramam Rd<br>
Fastest route<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Follow NH44 to Mahadanapuram-Panchalingapuram Rd<br>
6 min (3.3 km) <br>
•	Head south on NH44<br>
46 m
<br>
•	Make a U-turn
 <br>
•	Pass by herbalife store (on the right in 1.4 km) <br>
3.1 km<br>

•	At the roundabout, take the 3rd exit onto Kanniyakumari - Tiruchendur Rd/Thoothukudi-Tiruchendur-Kanyakumari Rd<br>
110 m<br>

•	Turn left onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanniyakumari - Tiruchendur Rd/Thoothukudi-Tiruchendur-Kanyakumari Rd<br>
12 m<br>
•	Continue on Mahadanapuram-Panchalingapuram Rd to Anjugramam Rd<br>
4 min (1.6 km)
<br>
•	Continue straight onto Mahadanapuram-Panchalingapuram Rd<br>
550 m<br>

•	Continue onto Mahathanapuram - Vivekanandapuram Rd<br>
110 m<br>

•	Turn left<br>
950 m<br>

•	Turn left onto Anjugramam Rd<br>
 
•	Pass by Govt Primary School, Leepuram (on the right in 400 m) <br>
3 min (2.4 km) <br>

•	Turn right at Vattakkottai Jct onto Rd to Vattakottai Fort<br>
3 min (1.0 km)
<br><br>
Vattakottai Fort



</div>
 </ion-scroll>
</ion-view>
