<ion-view view-title="VEDANTHANGAL BIRD SANCTUARY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kvb.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Vedanthangal Bird Sanctuary is a 30-hectare (74-acre) protected area located in the Kancheepuram District of the state of Tamil Nadu, India. The sanctuary is about 75 kilometres (47 mi) from Chennai on National Highway 45 (NH45), south of Chengalpattu. More than 40,000 birds (including 26 rare species), from various parts of the world visit the sanctuary during the migratory season every year<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamil Nadu 631501

Duration : 1 h 6 min<br> 
Distance : 46.0 km<br>
via SH 118A<br>
Fastest route, the usual traffic<br><br>
FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Continue to Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
2 min (230 m)
<br>
•	Head north-east<br>
3 m<br>

•	Turn left towards Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
230 m<br>
•	Take SH 118A to Melavalampettai - Nelvoy Rd in Rettamangalam<br>
50 min (35.6 km) <br>

•	Turn left at Central Sutdio kanchipuram onto Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
 
•	Continue to follow Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd<br>
 
•	Pass by aditya trading solution(stock&commodity-pancard) (on the left) <br>
700 m<br>

•	Slight right at Hotel Sakthi Ganapathy (Veg) onto Vallal Pachaiyappan St<br>
 
•	Pass by Bus Station (on the left) <br>
1.0 km
<br>
•	Continue onto Uthramerur Main Rd/SH 118A<br>
 
•	Continue to follow SH 118A<br>
 
•	Pass by Orikkai (on the right in 2.4 km) <br>
25.7 km
<br>
•	Turn left onto Bukkathurai-Uthiramerur Rd<br>
 
•	Go past the petrol station (on the left) <br>
8.2 km<br>
•	Follow Melavalampettai - Nelvoy Rd to Vedanthangal Bird Sanctuary Rd<br>
13 min (10.1 km) <br>

•	Turn right at SIB ATM onto Melavalampettai - Nelvoy Rd<br>
 
•	Pass by Nelvoy Cross Road Bus Stop (on the left) <br>
5.5 km<br>

•	Turn right at Vedanthangal X Road Bus Stop onto Vedanthangal Bird Sanctuary Rd<br>
3.4 km
<br>
•	Turn left to stay on Vedanthangal Bird Sanctuary Rd<br>
1.2 km<br><br>

Vedanthangal Bird Sanctuary

</div>
 </ion-scroll>
</ion-view>
