<ion-view view-title="VARADHARAJA PERUMAL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kvp.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Varadharaja Perumal Temple or Hastagiri or Attiyuran is a Hindu temple dedicated to Lord Vishnu located in the holy city of Kanchipuram, Tamil Nadu, India. It is one of the Divya Desams, the 108 temples of Vishnu believed to have been visited by the 12 poet saints, or Alwars. It is located in a suburb of Kanchipuram known as the Vishnu Kanchi that is a home for many famous Vishnu temples. One of the greatest Hindu scholars of Vaishnava VisishtAdvaita philosophy, Ramanuja is believed to have resided in this temple. The temple along with Ekambareswarar Temple and Kamakshi Amman Temple in Kanchipuram is popularly known as Mumurtivasam (abode of trio), while Srirangam is referred to as ‘ The Koil’ (meaning: "temple") and Tirupathi as the ‘Malai’ (Meaning: "hill").<br>
Duration : 8 min<br>
Distance : 1.8 km<br>
via Big Kamala St/Kanchipuram - Chennai Rd and E Raja St/Sengaluneer Odai St<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Kanchipuram Old Railway Station<br>
Periya, Kanchipuram, Tamil Nadu 631502<br><br>
Directions : <br><br>
•	Head south towards Big Kamala St/Kanchipuram - Chennai Rd<br>
58 m<br>
•	Slight right onto Big Kamala St/Kanchipuram - Chennai Rd<br>
•	Pass by Iravadeeswarar temple (on the right) <br>
600 m<br>
•	Turn left at Gowri Jewelry onto E Raja St/Sengaluneer Odai St<br>
•	Pass by Mahaveer Jewellery (on the left) <br>
950 m<br>
•	Turn left at handloom weavers saree shop onto Hospital R<br>d
44 m<br>
•	Turn right at MAHALAKSHMI TRADERS<br>
91 m<br>
•	Continue straight<br>
3 m<br><br>
Kanchipuram Bus Stand
Ennaikaran, Kanchipuram, Tamil Nadu 631501

Duration : 13 min<br>
Distance :  (3.6 km) <br>
via Kancheepuram - Chengalpattu Rd<br>
Fastest route, despite the usual traffic
<br><br>
FROM : Kanchipuram Bus Stand<br>
Ennaikaran, Kanchipuram, Tamil Nadu 631501<br><br>
Directions : <br><br>
•	Head north-east<br>
3 m<br>
•	Turn left towards Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
230 m<br>
•	Turn left at Central Sutdio kanchipuram onto Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd/W Raja St/Salai St<br>
•	Continue to follow Gandhi Rd/Kancheepuram - Chengalpattu Rd/Kanchipuram - Vellore Bypass Rd<br>
•	Pass by aditya trading solution(stock&commodity-pancard) (on the left) <br>
700 m<br>
•	Turn left at Hotel Sakthi Ganapathy (Veg) onto Gandhi Rd/Kancheepuram - Chengalpattu Rd<br>
•	Continue to follow Kancheepuram - Chengalpattu Rd<br>
•	Pass by Aadithya Opticals (on the right) <br>
2.3 km<br>
•	Slight right at Aanchaneyar Temple onto Sannidhi St<br>
•	Pass by TRS jewellery (on the left) <br>
290 m<br><br>

Sri Varadharaja Perumal Temple (100 Pillared Mandapam)



</div>
 </ion-scroll>
</ion-view>
