<ion-view view-title="KANYAKUMARI WAX MUSEUM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/kw.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Set within the premises of Bay Watch (Water Theme Amusement Park), the Kanyakumari Wax Museum is an unmissable attraction for tourists visiting this beautiful city. Noted as India's first wax museum, it was open to public on 24th December 2005.
<br>
Duration : 34 min<br>
Distance : 2.7 km<br>
via NH44<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Kanyakumari Junction<br>
Tamil Nadu 629702<br><br>
Directions : <br><br>
•	Walk north<br>
35 m<br>

•	Turn right towards Main Rd<br>
140 m<br>

•	Turn left towards Main Rd<br>
120 m
<br>
•	Turn right at Girishva Tours and Travels onto Main Rd<br>
 
•	Pass by G.H.S.SCHOOL.KOTTARAM (on the right in 72 m) <br>
400 m<br>

•	Turn right at Sridevi Coffee Bar onto Anchukootuvilai Rd<br>
350 m<br>

•	Turn right at Selvamony Retreat Centre<br>
1.1 km<br>

•	Turn left onto NH44<br>
550 m
<br><br>
State Transport Corporation Bus Stand
NH44, Puthugramam, Kanyakumari, Tamil Nadu 62970

Duration : 5 min <br>
Distance : 1.8 km<br>
via NH44 and Main Rd<br>
Fastest route, the usual traffic<br><br>

FROM : State Transport Corporation Bus Stand<br>
NH44, Puthugramam, Kanyakumari, Tamil Nadu 629702<br><br>

Directions : <br><br>
•	Head south on NH44<br>
 
•	Pass by Hotel Safan (on the left in 500 m) <br>
1.1 km<br>

•	At the roundabout, take the 1st exit onto Main Rd<br>
 
•	Pass by Devi Resturant (on the right) <br>
700 m<br>

•	Turn left at Girishva Tours and Travels<br>
 
•	Destination will be on the left<br>
27 m<br><br>

Mayapuri - Wonder Wax




</div>
 </ion-scroll>
</ion-view>
