<ion-view view-title="SINGIRIKUDI SRI LAKSHMI NARASIMHA SWAMI TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/lt.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>This is one of the Nava-Narasimhar temples of Tamil Nadu which are popular for Lord Narasimha worship. Also, this is one of the 3 temples along with Poovarasankuppam and Parikkal which are being worshipped on the same day by the bakthas. The Narasimhar is in Ugra posture killing the demon Hiranya Kasibu in His lap. There are separate shrines for Thayar and Andal and unusually, they both are facing the opposite direction to that of Lord.<br>

Duration : 8 min<br>
SCHEDULE EXPLORER<br>

FROM : Cuddalore Port Junction<br>
Tamil Nadu 607003<br>


Cuddalore Port Junction<br>
 Mail Express16854Chennai Egmore<br>
 8 min (non-stop) · Stop ID: CUPJ<br>

Tirupadripulyur Railway Station<br>


Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>

Duration : 56 min<br>
Distance : (34.0 km) <br>
via SH 9 and NH36<br>
Fastest route<br><br><br>
FROM : Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>
Direction : <br><br>
•	Head west towards Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
21 s (75 m) <br>

•	Turn right at Khadi Vastiralaya onto Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
 
•	Pass by Nathan Studio (on the right) <br>
2 min (350 m) <br>
•	Continue on Gedilam Ring Road to Kondur<br>
6 min (2.6 km) <br>



•	Turn left at Manappuram Finance Ltd onto SH 9<br>
 
•	Pass by Shanthi (on the right) <br>
24 min (14.4 km) <br>

•	Turn right onto Melapattambakkam - Rajapalayam Rd<br>
11 min (7.7 km) <br>

•	Turn right at Rajapalayam Bus Stand onto NH36<br>
 
•	Pass by AK Kuchipalayam Bus Stop (on the left in 5.4 km) <br>
10 min (8.6 km) <br>

•	Turn right at Sri Vari Traders & Balaji Industries onto Narasimha Temple Road<br>
1 min (220 m) <br><br><br>
Sri Lakshmi Narasimha Perumal Temple<br>
Narasimha Temple Road, Malavarayanur, Tamil Nadu 605105<br>


	

</div>
 </ion-scroll>
</ion-view>
