
<ion-view view-title="MADURAI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "mma()"> 
MEENAKSHI AMMAN TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "mtnm()"> 
THIRUMALAI NAYAKKAR MAHAL
</button><br>
<button class="button button-clear button-royal" ng-Click = "mmgm()"> 
GANDHI MEMORIAL MUSEUM
</button><br>
<button class="button button-clear button-royal" ng-Click = "mkat()"> 
KOODAL ALAGAR TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "mvmt()"> 
VANDIYUR MARIAMMAN TEPPAKULAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "matp()"> 
ATHISAYAM WATER AMUSEMENT PARK
</button><br>
<button class="button button-clear button-royal" ng-Click = "mtmt()"> 
THIRUPPARAMKUNRAM MURUGAN TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "mmq()"> 
MAQBARA
</button><br>
<button class="button button-clear button-royal" ng-Click = "mpk()"> 
PANDI KOVIL TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "mrp()"> 
RAJAJI PARK
</button><br>
<button class="button button-clear button-royal" ng-Click = "mpm()"> 
PUTHU MANDAPAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "mvt()"> 
VILAKKUTH THOON
</button><br>
<button class="button button-clear button-royal" ng-Click = "mcep()"> 
MADURAI CORPORATION ECO PARK
</button><br>
<button class="button button-clear button-royal" ng-Click = "msmc()"> 
ST.MARY’S CATHEDRAL
</button><br>
<button class="button button-clear button-royal" ng-Click = "mmgr()"> 
MGR RACE COURSE STATDIUM
</button><br>
<button class="button button-clear button-royal" ng-Click = "mkp()"> 
KOVALAN POTTAL
</button><br>
<button class="button button-clear button-royal" ng-Click = "msmg()"> 
ST. GEORGE'S CHURCH
</button><br>
<button class="button button-clear button-royal" ng-Click = "myk()"> 
YANAIKKAL
</button><br>
<button class="button button-clear button-royal" ng-Click = "mapk()"> 
ARULMIGU PARMANAINAR KOVIL
</button><br>
<button class="button button-clear button-royal" ng-Click = "mvd()"> 
VAIGAI DAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "mkt()"> 
THIRUMOHOOR KALAMEGHAPERUMAL TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "msh()"> 
SAMANAR MALAI
</button><br>
<button class="button button-clear button-royal" ng-Click = "mic()"> 

IDAIKATTUR CHURCH
</button><br>
<button class="button button-clear button-royal" ng-Click = "mgd()"> 
SULTHAN ALAUDEEN DHARGA
</button><br>
<button class="button button-clear button-royal" ng-Click = "macri()"> 
AGRICULTURAL COLLEGE AND RESEARCH INSTITUTE MADURAI
</button><br>
<button class="button button-clear button-royal" ng-Click = "mkf()"> 
KUTLADAMPATTI FALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "msrm()"> 
SRI RAMANA MANDIRAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "mast()"> 
KUDAVARAI SIVAN TEMPLE (ARITTAPATTI)
</button><br>
<button class="button button-clear button-royal" ng-Click = "mitt()"> 
INMAIYIL NANMAI THARUVAR TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "gm()"> 
MDU GOVERNMENT MUSEUM
</button><br>
<button class="button button-clear button-royal" ng-Click = "mbm()"> 
KAZIMAR BIG MASJIDH
</button><br>
<button class="button button-clear button-royal" ng-Click = "mvm()"> 
VISHAAL DE MAL
</button><br>
<button class="button button-clear button-royal" ng-Click = "mmm()">
MILLENIUM MALL
</button><br>
 </ion-scroll>
</ion-view>
