<ion-view view-title="MATHA KOVIL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/mk.jpg"><br>
<div class="item item-text-wrap">
	Duration :9 min <br>
Distance : 2.3 km<br>
via College Road<br>
Fastest route<br><br>


FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>

Directions : <br>

•	Head south towards Railway Station Rd<br>
               150 m<br>

•	Turn left onto Railway Station Rd<br>
 
•	Pass by Shanmugapriya Lodge AC (on the left)<br>
                450 m<br>

•	Turn right towards College Road<br>
                66 m<br>

•	Turn left at the 1st cross street onto College Road<br>
 
•	Pass by sabarmathi vidhyalaya nursery & primary (on the left)<br>
                 800 m<br>

•	At Asian Traders, continue onto Sendurai Rd<br>
 
•	Pass by Gokul Complex (on the left)<br>
                 450 m<br>

•	Turn left at R.Cinnayan Store onto Market St<br>
 
•	Pass by Newton System (on the right)<br>
                290 m<br>

•	At the roundabout, take the 3rd exit and stay on Market St<br>
 
•	Destination will be on the left<br>
                85 m<br>

Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br><br>
 Duration : 11 min <br>
Distance  :  850 m<br>
via Market St and Ponnusamy Aranmanai St<br>
Use caution - may involve errors or sections not suited for walking<br><br>.

FROM : Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br>


Directions :<br>
•	Walk west on Market St towards Court Street<br>
 
•	Pass by Sendurai Bus Bay (on the left in 21 m)<br>
(350 m)<br>

•	Turn left at Thradi Bus Stop onto Kailasanathar Kovil St<br>
(130 m)<br>

•	Turn right onto Ponnusamy Aranmanai St<br>
(290 m)<br>

•	Turn left at MKR MEDICALS onto Trichy Rd<br>
 
•	Destination will be on the left<br>
(65 m)<br><br>

Matha kovil<br>
SH 27, Ariyalur South, Ariyalur, Tamil Nadu 621704<br>



</div>
 </ion-scroll>
</ion-view>
