<ion-view view-title="SAMANAR HILLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/msh.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Samanar Hills or Samanar Malai is a hill rock complex located in Keelakuyilkudi village, 15 kilometres (9.3 mi) from Madurai, Tamil Nadu, India. The hill has been declared as a protected monument by the Archaeological Survey of India. <br><br>

Duration : 24 min<br>
Distance : 6.7 km<br>
via Mellur Main Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Mattuthavani Integrated Bus Terminus<br>
Melur Main Rd, Madurai, Tamil Nadu<br><br>
Directions : <br><br>
•	Head north-west towards Mellur Main Rd
 <br>
Restricted-usage road<br>
2 s (9 m) <br>
•	Continue on Mellur Main Rd. Take Alagar Kovil Main Rd, NH85, N Veli St and W Velli St to Netaji Rd in Madurai Main<br>
20 min (6.7 km) <br>

•	Turn left onto Mellur Main Rd<br>
 
•	Go through 1 roundabout<br>
 
•	Pass by Flower Bazzar (on the left in 450 m) <br>
1.5 km<br>

•	At the roundabout, take the 2nd exit and stay on Mellur Main Rd<br>
 
•	Pass by Synergy, KK Nagar (on the left) <br>
350 m<br>

•	At the roundabout, take the 1st exit and stay on Mellur Main Rd<br>
 
•	Pass by Rani Meyammai Atchi Tamil Isai College (on the left) <br>
500 m<br>

•	Slight left at Madurai Best Muniyandi Vilas onto Alagar Kovil Main Rd<br>
 
•	Pass by Sakthi Plaza (on the left) <br>
1.2 km<br>

•	Turn left at Jazz Pub onto NH85<br>
 
•	Pass by Sangeeth Plaza (on the left) <br>
850 m
<br>
•	At the roundabout, take the 1st exit onto Kalluppatti - Maravapatty Rd/N Veli St<br>
 
•	Pass by Pantech SOlutions Pvt Ltd (on the right) <br>
130 m<br>

•	Turn left at Vivekananda Yoga Centre onto Kalluppatti - Maravapatty Rd/Kalpalam Rd/Kochi - Madurai - Dhanushkodi Rd/Kochi-Madurai-Tondi Point Rd/E Masi St/Yanaikkal St<br>
 
•	Pass by ASP Watch Repairs (on the right) <br>
51 m
<br>
•	Turn right at Sri Madurai Meenaksi Fruit Stall onto NH85<br>
 
•	Pass by Neutral Information Technology (on the right) <br>
500 m<br>

•	Continue straight past Sv Club onto N Veli St<br>
 
•	Pass by Ballika tours and travels (on the left) <br>
650 m<br>

•	Continue onto W Velli St
 <br>
•	Pass by S Indian Bank (on the right) <br>
800 m
<br>
•	Turn left onto Netaji Rd
 <br>
•	Pass by ANANDAM PATTAS - BRANDED CRACKERS SHOP (on the left) <br>
130 m
<br><br>
Periyar Bus Stand<br>
Netaji Rd, Periyar, Madurai Main, Madurai, Tamil Nadu 625001<br><br>

Duration : 12 min<br>
Distance : 3.3 km<br>
via AA Rd and Travelers Bunglow Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Arapalayam Bus Stand<br>
Puttuthoppu Rd, Old Arppalayam, West Ponnagaram, Arappalayam, Madurai, Tamil Nadu 625016<br><br>
Directions : <br><br>
•	Head west on Arappalayam Main Rd/DD Main Rd/Puttuthoppu Rd towards Hanuman Temple Road<br>
 
•	Pass by standard diagnostics (on the left) <br>
250 m
<br>
•	Turn left at SMARTINFO SOLUTIONS onto AA Rd<br>
 
•	Pass by Dr Agarwal's Eye Hospital (on the left) <br>
950 m<br>

•	Turn right onto NH85<br>
35 m
<br>
•	Turn left onto Travelers Bunglow Rd<br>
 
•	Pass by Kalam Forum of Clinical Bio Chemist & Micro Biologist (on the left) <br>
1.9 km
<br>
•	Travelers Bunglow Rd turns slightly right and becomes Netaji Rd<br>
 
•	Pass by Ganesh Priya Complex (on the left) <br>
130 m<br><br>
Periyar Bus Stand<br>
Netaji Rd, Periyar, Madurai Main, Madurai, Tamil Nadu 625001<br><br>

Duration : 26 min<br>
Distance : 10.6 km<br>
via NH85<br>
Fastest route<br><br>

FROM : Periyar Bus Stand<br>
Netaji Rd, Periyar, Madurai Main, Madurai, Tamil Nadu 625001<br><br>
Directions : <br><br>
•	Take Travelers Bunglow Rd to NH85<br>
7 min (2.4 km)
<br>
•	Head south on TPK Rd towards Katarapalayam St<br>
 
•	Pass by VKR Complex (on the left) <br>
190 m
<br>
•	Turn right at Jigarthanda Jct onto Hayathkhan Sahib St/W Vadampokki St<br>
 
•	Pass by ஹயாத்கான் சாய்ப் சாலை மதுரை (on the left) <br>
110 m<br>

•	Turn right at Hotel Mubarak onto W Velli St<br>
 
•	Pass by Tata Agrico (on the right) <br>
200 m<br>

•	Turn left at Parking Lot<br>
 
•	Pass by ABT Maruti-Suzuki (New & Used Cars) (on the right) <br>
300 m<br>

•	Turn right onto Travelers Bunglow Rd<br>
 
•	Pass by City Electronics Pvt Ltd Madurai (on the right in 850 m) <br>
1.6 km<br>
•	Follow NH85 to Nagamalai Puthukottai<br>
12 min (6.0 km) <br>

•	Turn left onto NH85
 <br>
•	Go through 1 roundabout<br>
 
•	Pass by RPK Enterprices videocon (on the left) <br>
1.3 km
<br>
•	Turn left at Sri Nala Vilas to stay on NH85<br>
 
•	Pass by Sundaram Rubber Industries (on the left in 350 m) <br>
3.8 km<br>

•	Turn left to stay on NH85<br>
 
•	Pass by Karuvaayan kadai(shop) (on the left in 550 m) <br>
800 m<br>
•	Drive to Keelakuilkudi Rd<br>
6 min (2.2 km) <br>

•	Turn left at State Bank Of India ATM<br>
 
•	Pass by Patanjali Sudesi Store (on the left) <br>
1.3 km<br>

•	Turn right onto Keelakuilkudi Rd<br>
900 m<br><br>
Samanar Malai


<br>


</div>
 </ion-scroll>
</ion-view>
