
<ion-view view-title="SRI RAMANA MANDIRAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/msrm.jpg"><br>

<div class="item item-text-wrap"><br>

Duration : 24 min<br>
Distance : 6.7 km<br>
via Mellur Main Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Mattuthavani Integrated Bus Terminus<br>
Melur Main Rd, Madurai, Tamil Nadu<br><br>
Directions : <br><br>
•	Head north-west towards Mellur Main Rd
 <br>
Restricted-usage road<br>
2 s (9 m) <br>
•	Continue on Mellur Main Rd. Take Alagar Kovil Main Rd, NH85, N Veli St and W Velli St to Netaji Rd in Madurai Main<br>
20 min (6.7 km) <br>

•	Turn left onto Mellur Main Rd<br>
 
•	Go through 1 roundabout<br>
 
•	Pass by Flower Bazzar (on the left in 450 m) <br>
1.5 km<br>

•	At the roundabout, take the 2nd exit and stay on Mellur Main Rd<br>
 
•	Pass by Synergy, KK Nagar (on the left) <br>
350 m<br>

•	At the roundabout, take the 1st exit and stay on Mellur Main Rd<br>
 
•	Pass by Rani Meyammai Atchi Tamil Isai College (on the left) <br>
500 m<br>

•	Slight left at Madurai Best Muniyandi Vilas onto Alagar Kovil Main Rd<br>
 
•	Pass by Sakthi Plaza (on the left) <br>
1.2 km<br>

•	Turn left at Jazz Pub onto NH85<br>
 
•	Pass by Sangeeth Plaza (on the left) <br>
850 m
<br>
•	At the roundabout, take the 1st exit onto Kalluppatti - Maravapatty Rd/N Veli St<br>
 
•	Pass by Pantech SOlutions Pvt Ltd (on the right) <br>
130 m<br>

•	Turn left at Vivekananda Yoga Centre onto Kalluppatti - Maravapatty Rd/Kalpalam Rd/Kochi - Madurai - Dhanushkodi Rd/Kochi-Madurai-Tondi Point Rd/E Masi St/Yanaikkal St<br>
 
•	Pass by ASP Watch Repairs (on the right) <br>
51 m
<br>
•	Turn right at Sri Madurai Meenaksi Fruit Stall onto NH85<br>
 
•	Pass by Neutral Information Technology (on the right) <br>
500 m<br>

•	Continue straight past Sv Club onto N Veli St<br>
 
•	Pass by Ballika tours and travels (on the left) <br>
650 m<br>

•	Continue onto W Velli St
 <br>
•	Pass by S Indian Bank (on the right) <br>
800 m
<br>
•	Turn left onto Netaji Rd
 <br>
•	Pass by ANANDAM PATTAS - BRANDED CRACKERS SHOP (on the left) <br>
130 m
<br><br>
Periyar Bus Stand<br>
Netaji Rd, Periyar, Madurai Main, Madurai, Tamil Nadu 625001<br><br>

Duration : 12 min<br>
Distance : 3.3 km<br>
via AA Rd and Travelers Bunglow Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Arapalayam Bus Stand<br>
Puttuthoppu Rd, Old Arppalayam, West Ponnagaram, Arappalayam, Madurai, Tamil Nadu 625016<br><br>
Directions : <br><br>
•	Head west on Arappalayam Main Rd/DD Main Rd/Puttuthoppu Rd towards Hanuman Temple Road<br>
 
•	Pass by standard diagnostics (on the left) <br>
250 m
<br>
•	Turn left at SMARTINFO SOLUTIONS onto AA Rd<br>
 
•	Pass by Dr Agarwal's Eye Hospital (on the left) <br>
950 m<br>

•	Turn right onto NH85<br>
35 m
<br>
•	Turn left onto Travelers Bunglow Rd<br>
 
•	Pass by Kalam Forum of Clinical Bio Chemist & Micro Biologist (on the left) <br>
1.9 km
<br>
•	Travelers Bunglow Rd turns slightly right and becomes Netaji Rd<br>
 
•	Pass by Ganesh Priya Complex (on the left) <br>
130 m<br><br>
Periyar Bus Stand<br>
Netaji Rd, Periyar, Madurai Main, Madurai, Tamil Nadu 625001<br><br>
Duration : 5 min <br>
Distance : 1.0 km<br>
via Netaji Rd and S Avani St/W Avani Moola St<br>
Fastest route, despite the usual traffic<br><br>

FROM : Periyar Bus Stand<br>
Netaji Rd, Periyar, Madurai Main, Madurai, Tamil Nadu 625001<br><br>
Directions : <br><br>
•	Head east on Netaji Rd towards Patchai Nachiamman Kovil St<br>
 
•	Pass by XPRESS SHOPPE (on the left) <br>
350 m<br>

•	Turn left at Hotel Arya Bhavan onto W Masi St<br>
6 m
<br>
•	Turn right at Arulmigu Dhandayuthapani Samy Temple onto Netaji Rd<br>
 
•	Pass by Arulmigu Jagamuneeswarar Temple (on the left) <br>
190 m<br>

•	Turn right at HVAC TRAINING INSTITUTE onto S Avani St/W Avani Moola St<br>
 
•	Pass by the monument (on the left) <br>
110 m<br>
•	Turn left at HVAC MEP COACHING INSTITUTE onto S Avani St<br>
 
•	Pass by RMA JEWELLERY (on the right) <br>
240 m
<br>
•	Turn left at SNR Velli Golusugal onto Chokkapa Naicken St/Ganapathy Complex Rd<br>
90 m
<br><br>
Sri Ramana Mandiram<br>
21/11, Chokkapa Naicken St, Madurai, Tamil Nadu 625001<br>


<br>


</div>
 </ion-scroll>
</ion-view>
