<ion-view view-title="VAIGAI DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/mvd.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
The Vaigai Dam is built across the Vaigai River near Andipatti, in the Theni district of Tamil Nadu, southern India. It provides water for irrigation for the Madurai district and the Dindigul district as well as drinking water to Madurai and Andipatti. Near the dam, the Government of Tamil Nadu has constructed an Agricultural Research Station for researching the growing of a variety of crops, including rice, sorghum, blackgram, cowpea and cotton.<br><br>

Duration : 24 min<br>
Distance : 6.7 km<br>
via Mellur Main Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Mattuthavani Integrated Bus Terminus<br>
Melur Main Rd, Madurai, Tamil Nadu<br><br>
Directions : <br><br>
•	Head north-west towards Mellur Main Rd
 <br>
Restricted-usage road<br>
2 s (9 m) <br>
•	Continue on Mellur Main Rd. Take Alagar Kovil Main Rd, NH85, N Veli St and W Velli St to Netaji Rd in Madurai Main<br>
20 min (6.7 km) <br>

•	Turn left onto Mellur Main Rd<br>
 
•	Go through 1 roundabout<br>
 
•	Pass by Flower Bazzar (on the left in 450 m) <br>
1.5 km<br>

•	At the roundabout, take the 2nd exit and stay on Mellur Main Rd<br>
 
•	Pass by Synergy, KK Nagar (on the left) <br>
350 m<br>

•	At the roundabout, take the 1st exit and stay on Mellur Main Rd<br>
 
•	Pass by Rani Meyammai Atchi Tamil Isai College (on the left) <br>
500 m<br>

•	Slight left at Madurai Best Muniyandi Vilas onto Alagar Kovil Main Rd<br>
 
•	Pass by Sakthi Plaza (on the left) <br>
1.2 km<br>

•	Turn left at Jazz Pub onto NH85<br>
 
•	Pass by Sangeeth Plaza (on the left) <br>
850 m
<br>
•	At the roundabout, take the 1st exit onto Kalluppatti - Maravapatty Rd/N Veli St<br>
 
•	Pass by Pantech SOlutions Pvt Ltd (on the right) <br>
130 m<br>

•	Turn left at Vivekananda Yoga Centre onto Kalluppatti - Maravapatty Rd/Kalpalam Rd/Kochi - Madurai - Dhanushkodi Rd/Kochi-Madurai-Tondi Point Rd/E Masi St/Yanaikkal St<br>
 
•	Pass by ASP Watch Repairs (on the right) <br>
51 m
<br>
•	Turn right at Sri Madurai Meenaksi Fruit Stall onto NH85<br>
 
•	Pass by Neutral Information Technology (on the right) <br>
500 m<br>

•	Continue straight past Sv Club onto N Veli St<br>
 
•	Pass by Ballika tours and travels (on the left) <br>
650 m<br>

•	Continue onto W Velli St
 <br>
•	Pass by S Indian Bank (on the right) <br>
800 m
<br>
•	Turn left onto Netaji Rd
 <br>
•	Pass by ANANDAM PATTAS - BRANDED CRACKERS SHOP (on the left) <br>
130 m
<br><br>
Periyar Bus Stand<br>
Netaji Rd, Periyar, Madurai Main, Madurai, Tamil Nadu 625001<br><br>

Duration : 12 min<br>
Distance : 3.3 km<br>
via AA Rd and Travelers Bunglow Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Arapalayam Bus Stand<br>
Puttuthoppu Rd, Old Arppalayam, West Ponnagaram, Arappalayam, Madurai, Tamil Nadu 625016<br><br>
Directions : <br><br>
•	Head west on Arappalayam Main Rd/DD Main Rd/Puttuthoppu Rd towards Hanuman Temple Road<br>
 
•	Pass by standard diagnostics (on the left) <br>
250 m
<br>
•	Turn left at SMARTINFO SOLUTIONS onto AA Rd<br>
 
•	Pass by Dr Agarwal's Eye Hospital (on the left) <br>
950 m<br>

•	Turn right onto NH85<br>
35 m
<br>
•	Turn left onto Travelers Bunglow Rd<br>
 
•	Pass by Kalam Forum of Clinical Bio Chemist & Micro Biologist (on the left) <br>
1.9 km
<br>
•	Travelers Bunglow Rd turns slightly right and becomes Netaji Rd<br>
 
•	Pass by Ganesh Priya Complex (on the left) <br>
130 m<br><br>
Periyar Bus Stand<br>
Netaji Rd, Periyar, Madurai Main, Madurai, Tamil Nadu 625001<br><br>
Duration : 1 h 31 min<br>
Distance : 67.0 km<br>
via NH85<br>
Fastest route, the usual traffic<br>
This route has tolls. <br><br>

FROM : Periyar Bus Stand<br>
Netaji Rd, Periyar, Madurai Main, Madurai, Tamil Nadu 625001<br><br>
Directions : <br><br>
•	Take Travelers Bunglow Rd to NH85<br>
7 min (2.4 km)
<br>
•	Head south on TPK Rd towards Katarapalayam St<br>
 
•	Pass by VKR Complex (on the left) <br>
190 m<br>

•	Turn right at Jigarthanda Jct onto Hayathkhan Sahib St/W Vadampokki St<br>
 
•	Pass by ஹயாத்கான் சாய்ப் சாலை மதுரை (on the left) <br>
110 m<br>

•	Turn right at Hotel Mubarak onto W Velli St<br>
 
•	Pass by Tata Agrico (on the right) <br>
200 m<br>

•	Turn left at Parking Lot<br>
 
•	Pass by ABT Maruti-Suzuki (New & Used Cars) (on the right) <br>
300 m
<br>
•	Turn right onto Travelers Bunglow Rd<br>
 
•	Pass by City Electronics Pvt Ltd Madurai (on the right in 850 m) <br>
1.6 km<br>
•	Follow NH85 to MDR763 in Andippatti<br>
1 h 10 min (57.2 km) <br>

•	Turn left onto NH85<br>
 
•	Go through 1 roundabout<br>
 
•	Pass by RPK Enterprices videocon (on the left) <br>
1.3 km<br>

•	Turn left at Sri Nala Vilas to stay on NH85<br>
 
•	Pass by Sundaram Rubber Industries (on the left in 350 m) <br>
3.8 km<br>

•	Turn left to stay on NH85<br>
 
Partial toll road<br>
 
•	Pass by V.MUTHUPATTI (on the right in 4.5 km) <br>
30.8 km
<br>
•	Turn right at Maheswaran shop to stay on NH85<br>
 
•	Pass by Hotel Amma Bhavan (on the left) <br>
21.2 km<br>
•	Continue on MDR763. Drive to Guest House Rd in Melmangalam<br>
12 min (7.3 km) <br>

•	Continue straight past SRI DURGA MOBILES onto MDR763<br>
 
•	Pass by Arun shop (on the right) <br>
6.6 km<br>

•	At the roundabout, take the 2nd exit onto Vaigai dam - Varusanadu Rd/TN SH101<br>
300 m<br>

•	At the roundabout, take the 1st exit onto Guest House Rd<br>
450 m<br><br>
Vaigai Dam<br>



<br>


</div>
 </ion-scroll>
</ion-view>
