<ion-view view-title=" ANJANEYA TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/naa.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> 
The temple has a pillared hall leading to the sanctum. Four daily rituals and many yearly festivals are held at the temple, of which fifteen-day Panguni Uthiram festival celebrated during the Tamil month of Panguni (March - April) when the image of presiding deities are taken around the streets of the temple, being the most prominent. The temple is maintained and administered by the Hindu Religious and Endowment Board of the Government of Tamil Nadu.<br><br>

Duration : 5 min<br>
Distance : 1.7 km<br>
via Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
Fastest route<br><br>
FROM : Namakkal Railway Station<br>
Mohanur - Namakkal - Sendamangalam - Rasipuram Rd, Bharathiar Nagar, Namakkal, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south-west on Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd<br>
800 m
<br>
•	Turn left onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
450 m<br>

•	Turn right towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
300 m<br>

•	Turn left by the pharmacy on to Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
64 m
<br>
•	Turn left at Nehru Park Boat House<br>
 
•	Destination will be on the right<br>
120 m
<br><br>
Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001
<br>

ANJANEYA TEMPLE
Duration : 13 min <br>
Distance : 1.0 km<br>
via Kulakarai St<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001<br><br>

Directions : <br><br>
•	Walk north towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
120 m<br>

•	Turn left at Nehru Park Boat House onto Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
45 m<br>

•	Turn right at herbalife store onto Park Rd<br>
 
•	Pass by Indian Info Tech (on the left in 45 m) <br>
120 m<br>

•	Continue straight past SMR TRAVELS onto Kulakarai St<br>
 
•	Pass by Municipality Car and Two Wheeler Parking (on the right in 140 m) <br>
350 m<br>

•	Turn right at Medical Shop onto Kottai Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
 
•	Pass by Namakkal Co-operative Urban Bank Ltd - SP Pudur Branch (on the left) <br>
120 m
<br>
•	Turn left at JAI SMAART AQUAA SYSTEMS towards Sellandi Amman Kovil St<br>
150 m<br>

•	Turn right towards Sellandi Amman Kovil St<br>
70 m<br>

•	Turn left onto Sellandi Amman Kovil St<br>
14 m
<br>
•	Turn right onto Hanumar Koil St<br>
 
•	Destination will be on the left<br>
47 m<br><br>

Sri Digambara Namakal Anjaneya Swamy Temple<br>
Hanumar Koil St, Palaniyappa Colony, Thillaipuram, Namakkal, Tamil Nadu 637001<br>









</div>
</ion-scroll>
</ion-view>
