
<ion-view view-title="NAGAPATTINAM ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "nv()"> 
VELANKANNI</button><br>

<button class="button button-clear button-royal" ng-Click = "nvr()"> 
VEDARANYAM</button><br>
<button class="button button-clear button-royal" ng-Click = "nt()"> 
THIRUKKADAIYUR</button><br>
<button class="button button-clear button-royal" ng-Click = "ns()"> 
SIRKAZHI </button><br>

<button class="button button-clear button-royal" ng-Click = "ntm()"> 
THIRUMANANCHERI </button><br>
<button class="button button-clear button-royal" ng-Click = "ntk()"> 
THIRUVENKADU </button><br>
<button class="button button-clear button-royal" ng-Click = "nk()"> 
KUTHALAM </button><br>

<button class="button button-clear button-royal" ng-Click = "nss()"> 
SIKKAL SINGARAVELAR TEMPLE </button><br>
<button class="button button-clear button-royal" ng-Click = "nm()"> 
MAYURANATHASWAMY TEMPLE </button><br>
<button class="button button-clear button-royal" ng-Click = "nw()"> 
KODIKKARAI WILDLIFE SANCTUARY</button><br>
<button class="button button-clear button-royal" ng-Click = "ng()"> 
GODDESS ABHIRAMI SHRINE</button><br>
<button class="button button-clear button-royal" ng-Click = "np()"> 
POOMPUHAR BEACH</button><br>
<button class="button button-clear button-royal" ng-Click = "nsp()"> 
SOUNDARARAJAN PERUMAL TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "nn()"> 
NATARAJA OF KONERIRAJAPURAM</button><br>
<button class="button button-clear button-royal" ng-Click = "nsk()"> 
KAZHEESIRAMA VINNAGARAM</button><br>
<button class="button button-clear button-royal" ng-Click = "ngt()"> 
SRI GOMUKTHEESWARAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "nat()"> 
AKSHYALINGASWAMY TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "nkt()"> 
 SRI KAYAROHANASWAMY TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "nmt()"> 
 THIRUVADAIKAZHI MURUGAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "npc()"> 
 POINT CALIMERE WILDLIFE AND BIRD SANCTUARY</button><br>
<button class="button button-clear button-royal" ng-Click = "nrg()"> 
SRI RAJAGOPALASAMY TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "nem()"> 
ETTUKUDI MURUGAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "ngp()"> 
GOPALAKRISNAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "nts()"> 
THEVARAM SHRINE</button><br>

<button class="button button-clear button-royal" ng-Click = "nam()"> 
ARCHAEOLOGICAL MUSEUM</button><br>

</ion-scroll>
</ion-view>
