<ion-view view-title=" KOOLIPPATTI MURUGAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/nak.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Koolippatti Murugan temple is popular attraction and is situated on a small hill. It is located at a distance of 3 km from Namakkal on the way to Thuraiyur.<br>


Duration : 5 min<br>
Distance : 1.7 km<br>
via Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
Fastest route<br><br>
FROM : Namakkal Railway Station<br>
Mohanur - Namakkal - Sendamangalam - Rasipuram Rd, Bharathiar Nagar, Namakkal, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south-west on Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd<br>
800 m
<br>
•	Turn left onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
450 m<br>

•	Turn right towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
300 m<br>

•	Turn left by the pharmacy on to Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
64 m
<br>
•	Turn left at Nehru Park Boat House<br>
 
•	Destination will be on the right<br>
120 m
<br><br>
Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001
<br>

Duration : 14 min<br>
Distance : 5.3 km<br>
via Tiruchengode - Namakkal - Trichy Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
89 m
<br>
•	Turn left at Herbalife Weight Loss Centre onto Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
14 m<br>

•	Turn right at Shri Sakthi Internet Centre onto Karur - Namakkal Hwy/Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Salem - Namakkal Rd<br>
57 m
<br>
•	Turn left towards Karur - Namakkal Hwy/Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Paramathi Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
17 m
<br>
•	Turn right at Namakkal News 4 U onto Karur - Namakkal Hwy/Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Paramathi Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
 
•	Continue to follow Karur - Namakkal Hwy/Paramathi Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
 
•	Pass by herbalife nutrition centre (on the right) <br>
450 m<br>

•	Turn right at Canara Bank ATM onto Kottai Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
 
•	Pass by KRT Towers (on the left) <br>
750 m
<br>
•	Turn left at Rock Studio onto Tiruchengode - Namakkal - Trichy Rd<br>
 
•	Pass by Raja Sweets & cooldrinks (on the right) <br>
 
•	Destination will be on the left<br>
3.9 km<br><br>
Murugan Temple<br>







</div>
</ion-scroll>
</ion-view>
