
<ion-view view-title="NAMAKKAL ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "naa()"> 
ANJANEYA TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "nan()"> 
NAMAKKAL NARASHMHA TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "nak()"> 
KOOLIPPATTI MURUGAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "nav()"> 
SRI KALYANA PRASANNA VENKATRAMANA PERUMAL TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "nap()"> 
SEEKU PARAI VIEW POINT</button><br>

<button class="button button-clear button-royal" ng-Click = "nca()"> 
SIDDHAR CAVES</button><br>
<button class="button button-clear button-royal" ng-Click = "nrp()"> 
ROCK FORT</button><br>
<button class="button button-clear button-royal" ng-Click = "nbh()"> 
BOAT HOUSE</button><br>

<button class="button button-clear button-royal" ng-Click = "nnm()"> 
NAINA MALAI</button><br>
<button class="button button-clear button-royal" ng-Click = "nnf()"> 
NAMAKKAL FORT</button><br>



</ion-scroll>
</ion-view>
