<ion-view view-title="SEEKU PARAI VIEW POINT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/nap.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The place is an awesome view point in Kolli malai and it’s very near to Semmedu. It has a reasonable parking space and we need to take a short walk of 2-3 Min to reach the view point. This place would provide an awesome and scenic view of the valley and it’s very beautiful.
<br>
Duration : 5 min<br>
Distance : 1.7 km<br>
via Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
Fastest route<br><br>
FROM : Namakkal Railway Station<br>
Mohanur - Namakkal - Sendamangalam - Rasipuram Rd, Bharathiar Nagar, Namakkal, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south-west on Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd<br>
800 m
<br>
•	Turn left onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
450 m<br>

•	Turn right towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
300 m<br>

•	Turn left by the pharmacy on to Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
64 m
<br>
•	Turn left at Nehru Park Boat House<br>
 
•	Destination will be on the right<br>
120 m
<br><br>
Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001
<br>

Duration : 1 h 36 min<br>
Distance : 51.5 km<br>
via Kolli Hills Rd<br>
Fastest route<br><br>
FROM : Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
24 s (89 m) <br>
•	Drive from SH 95 and Kolli Hills Rd to Semmedu<br>
1 h 31 min (49.7 km) <br>

•	Turn left at Herbalife Weight Loss Centre onto Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
14 m<br>

•	Turn left at Shri Sakthi Internet Centre onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
 
•	Pass by Srinivasa Trading company (on the right) <br>
750 m<br>

•	Turn right onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd/SH 95<br>
 
•	Continue to follow SH 95<br>
 
•	Pass by ARG Solutions Pvt Ltd (on the left in 4.6 km) <br>
12.0 km<br>

•	Turn right<br>
2.5 km
<br>
•	Turn left<br>
4.9 km<br>

•	Slight left<br>
3.2 km
<br>
•	Continue onto Hair-Pin Rd<br>
350 m<br>

•	Turn right onto Hair-Pin Rd/Kolli Hills Rd
 <br>
•	Continue to follow Kolli Hills Rd<br>
 
•	Pass by மூலிகை வனம்,கொல்லிமலை (on the left in 16.0 km) <br>
20.6 km<br>

•	At Solakkadu, continue onto Semmedu Rd<br>
 
•	Pass by Kannan Dept Store (on the right) <br>
5.5 km<br>

•	Turn right<br>
5 min (1.7 km) <br><br>

Seeku Parai View Point - Kolli Hills<br>
Kolli Hills, District, Semmedu, Tamil Nadu







</div>
</ion-scroll>
</ion-view>
