<ion-view view-title="SRI KALYANA PRASANNA VENKATRAMANA PERUMAL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/nav.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> 
 	The temple is situated on the banks of Cauvery flowing southward from north. Bathing in this spot is considered very holy.	 
 	 <br>

Duration : 5 min<br>
Distance : 1.7 km<br>
via Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
Fastest route<br><br>
FROM : Namakkal Railway Station<br>
Mohanur - Namakkal - Sendamangalam - Rasipuram Rd, Bharathiar Nagar, Namakkal, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south-west on Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd<br>
800 m
<br>
•	Turn left onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
450 m<br>

•	Turn right towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
300 m<br>

•	Turn left by the pharmacy on to Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
64 m
<br>
•	Turn left at Nehru Park Boat House<br>
 
•	Destination will be on the right<br>
120 m
<br><br>
Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001
<br>




Duration : 30 min <br>
Distance : 19.3 km<br>
via Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
Fastest route<br><br>
FROM : Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
24 s (89 m) <br>
•	Follow Mohanur - Namakkal - Sendamangalam - Rasipuram Rd to Mohanur<br>
28 min (18.8 km) <br>

•	Turn left at Herbalife Weight Loss Centre onto Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
14 m<br>

•	Turn right at Shri Sakthi Internet Centre onto Karur - Namakkal Hwy/Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Salem - Namakkal Rd<br>
57 m
<br>
•	Turn left onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
 
•	Pass by Aniyapuram G H school (on the left in 8.7 km) <br>
18.4 km<br>

•	Slight left onto Mohanur - Namakkal Rd<br>
 
•	Pass by Velan Store And Printers (on the left) <br>
170 m<br>

•	Slight right<br>
230 m<br>
•	Drive to your destination<br>
2 min (400 m)
<br>
•	Turn right<br>
70 m<br>

•	Turn left<br>
 
•	Destination will be on the right<br>
350 m<br><br>
Sri Kalyana Prasanna Venkataramana Perumal<br>
	




</div>
</ion-scroll>
</ion-view>
