<ion-view view-title="SIDDHAR CAVES">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/nca.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> This is a cave located in Kolli hills. It is a small cave that can accommodate one or two members. It is found to be on the way of Agaya Gangai. The cave includes ancient materials used by the Siddhar, who lived in that cave.

<br>


Duration : 5 min<br>
Distance : 1.7 km<br>
via Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
Fastest route<br><br>
FROM : Namakkal Railway Station<br>
Mohanur - Namakkal - Sendamangalam - Rasipuram Rd, Bharathiar Nagar, Namakkal, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south-west on Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd<br>
800 m
<br>
•	Turn left onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
450 m<br>

•	Turn right towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
300 m<br>

•	Turn left by the pharmacy on to Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
64 m
<br>
•	Turn left at Nehru Park Boat House<br>
 
•	Destination will be on the right<br>
120 m
<br><br>
Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001
<br>


Duration : 36 min <br>
Distance : 23.7 km<br>
via SH 95<br>
Fastest route<br><br>
FROM : Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
24 s (89 m) <br>
•	Follow SH 95 to Gandhipuram<br>
20 min (12.8 km) <br>

•	Turn left at Herbalife Weight Loss Centre onto Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
14 m<br>

•	Turn left at Shri Sakthi Internet Centre onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
 
•	Pass by Srinivasa Trading company (on the right) <br>
750 m<br>

•	Turn right onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd/SH 95<br>
 
•	Continue to follow SH 95<br>
 
•	Pass by ARG Solutions Pvt Ltd (on the left in 4.6 km) <br>
12.0 km<br>
•	Drive to Hair-Pin Rd<br>
15 min (10.8 km) <br>

•	Turn right<br>
2.5 km<br>

•	Turn left<br>
4.9 km<br>

•	Slight left<br>
3.2 km<br>

•	Continue onto Hair-Pin Rd<br>
280 m<br><br>
Kolli Hills<br>



</div>
</ion-scroll>
</ion-view>
