<ion-view view-title=" SRI KAYAROHANASWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/nsk.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> 	 The Kayarohanaswami Temple is a Hindu temple dedicated to Lord Siva situated in the town of Nagapattinam in Tamil Nadu, India. The presiding deity is known as Kayarohana and his consort is Nilayathakshi.[1] The temple has been in existence from the 6th century AD and has been praised by the Nayanmars Appar, Sambandar and Sundarar.The temple has been constructed by the Lakolisa cult which originated in Gujarat and their only other temple in Tamil Nadu is at Kanchipuram. The idol of Thyagaraja in the temple is made of lapis lazuli.	 
 	 	 <br>

Duration : 6 min<br>
Distance : 2.1 km<br>
via Chennai - Nagapattinam Hwy<br>
Fastest route<br><br>

FROM : Nagapattinam junction<br>
Eruthukara St, Tata Nagar, Nagapattinam, Tamil Nadu 611003<br><br>
Directions : <br><br>
•	Head east towards Chennai - Nagapattinam Hwy<br>
85 m<br>
•	Turn right at Sivasakthi Supermarket onto Chennai - Nagapattinam Hwy<br>
•	Pass by Mynor Enterprises P Ltd (on the left) <br>
2.0 km<br>
•	Turn left<br>
•	Destination will be on the right<br>
72 m<br>
Nagapattinam New Bus Stand<br>
DOSS CIVIL solution, Public Office Rd, Kadambadi, Nagapattinam, Tamil Nadu 611001<br>


Duration : 42 min<br> 
Distance : 25.1 km<br>
via NH32<br>
Fastest route, the usual traffic<br><br>
FROM : Nagapattinam New Bus Stand<br>
DOSS CIVIL solution, Public Office Rd, Kadambadi, Nagapattinam, Tamil Nadu 611001<br><br>
Directions : <br><br>
•	Take Nagai Sangamangalam Puliur Rd to NH32 in Sellur<br>
7 min (2.3 km)
<br>
•	Head west towards Chennai - Nagapattinam Hwy/Hospital Rd/Public Office Rd<br>
170 m<br>

•	Turn left onto Chennai - Nagapattinam Hwy/Hospital Rd/Public Office Rd<br>
71 m<br>

•	Turn left onto Public Office Rd<br>
 
•	Pass by District Central Library (on the left) <br>
300 m<br>

•	Turn right onto Nagai Sangamangalam Puliur Rd<br>
1.7 km<br>
•	Follow NH32 to Kumbakonam - Karaikal Rd/Thirunallar Rd in Karaikal<br>
26 min (18.2 km) <br>

•	Turn right onto NH32<br>
 
•	Pass by HAPPY DECORATION (on the left in 17.0 km) <br>
17.2 km<br>

•	Turn left to stay on NH32<br>
190 m<br>

•	Turn right at IDBI BANK ATM to stay on NH32<br>
 
•	Pass by Universal Power Systems (on the left) <br>
750 m<br>
•	Follow Kumbakonam - Karaikal Rd/Thirunallar Rd to your destination in Thirunallar<br>
9 min (4.6 km)
<br>
•	Turn left at Moder Radios onto Kumbakonam - Karaikal Rd/Thirunallar Rd<br>
 
•	Pass by New Rathina Vilas (Kumbakonam Pathira Kadai) (on the left) <br>
4.4 km
<br>
•	Turn left at Tirunallar Bus Stop<br>
4 m<br>

•	Turn right<br>
91 m<br>

•	Slight right<br>
130 m<br><br>

Sri Dharbaranyeswara Swamy Temple<br>
Kumbakonam-Karaikal Road, Thirunallar, Karaikal, Puducherry 609607<br>





</div>
</ion-scroll>
</ion-view>
