<ion-view view-title="NATARAJA OF KONERIRAJAPURAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/nn.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> 	Konerirajapuram is a sleepy little village surrounded by paddy fields in Tamil Nadu’s fertile and historic Cauvery Delta. In ancient times it was known as TiruNallam. Konerirajapuram’s claim to fame is the huge bronze cast icon of Lord Siva as Nataraja at the Uma Maheswarar temple. This is bigger than the Nataraja at Chidambaram.

	 <br>

Duration : 6 min<br>
Distance : 2.1 km<br>
via Chennai - Nagapattinam Hwy<br>
Fastest route<br><br>

FROM : Nagapattinam junction<br>
Eruthukara St, Tata Nagar, Nagapattinam, Tamil Nadu 611003<br><br>
Directions : <br><br>
•	Head east towards Chennai - Nagapattinam Hwy<br>
85 m<br>
•	Turn right at Sivasakthi Supermarket onto Chennai - Nagapattinam Hwy<br>
•	Pass by Mynor Enterprises P Ltd (on the left) <br>
2.0 km<br>
•	Turn left<br>
•	Destination will be on the right<br>
72 m<br>
Nagapattinam New Bus Stand<br>
DOSS CIVIL solution, Public Office Rd, Kadambadi, Nagapattinam, Tamil Nadu 611001<br>

Duration : 1 h 31 min <br>
Distance : 56.8 km<br>
via SH 67<br>
Fastest route<br><br>

FROM : Nagapattinam New Bus Stand<br>
DOSS CIVIL solution, Public Office Rd, Kadambadi, Nagapattinam, Tamil Nadu 611001<br>
Directions : <br><br>
•	Head west towards Chennai - Nagapattinam Hwy/Hospital Rd/Public Office Rd<br>
54 s (170 m) <br>
•	Take SH 67 to Nachiyar Kovil-Poonthottam Main Rd in Koothanur<br>
58 min (38.9 km)
<br>
•	Turn left onto Chennai - Nagapattinam Hwy/Hospital Rd/Public Office Rd<br>
71 m<br>

•	Turn left onto Public Office Rd<br>
 
•	Pass by District Central Library (on the left) <br>
300 m<br>

•	Turn right onto Nagai Sangamangalam Puliur Rd<br>
1.7 km<br>

•	Turn right onto NH32<br>
6.4 km<br>

•	At the roundabout, take the 1st exit onto SH 67<br>
 
•	Pass by Sri kaththiyayiniamman -ஸ்ரீ காத்தியாயினி அம்மன் அருட்பீடம் -மேலவாஞ்சூர் (on the right) <br>24.3 km<br>

•	Turn right at Kumaran Textiles onto SH 23<br>
 
•	Pass by Maruthi Mahal (on the left) <br>
6.2 km<br>
•	Follow Nachiyar Kovil-Poonthottam Main Rd and Ayyavadi - Abishegamangalam Rd to your destination in Konerirajapuram<br>
33 min (17.7 km) <br>

•	Turn left onto Nachiyar Kovil-Poonthottam Main Rd<br>
 
•	Pass by RSV Thirumana Mandapam (on the right in 7.0 km) <br>
9.1 km<br>

•	Turn right onto Ayyavadi - Abishegamangalam Rd<br>
850 m
<br>
•	Turn right to stay on Ayyavadi - Abishegamangalam Rd<br>
 
•	Pass by S.Natarajan Jawlly Store (நடராஜன் ஜவுளி கடை) (on the right in 6.3 km) <br>
6.4 km
<br>
•	Turn right<br>
87 m
<br>
•	Turn right<br>
130 m<br>

•	Turn left<br>
450 m
<br>
•	Turn right<br>
650 m	
<br><br>
Uma Maheswarar Mangala Nayaki Temple<br>
Konerirajapuram



</div>
</ion-scroll>
</ion-view>
