<ion-view view-title="NAMAKKAL FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/nnf.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Namakkal Fort is a historic fort present in Namakkal in Namakkal district in the South Indian state of Tamil Nadu. The fort was built during the reign of Thirumalai Nayak of Madurai in 17th century.The fort is located on the top of a hillock made of a single rock, 75 m (246 ft) tall. There is a temple and a mosque that are located within the fort, both of which are popular tourist attractions of the town. In modern times, the fort is under the control of the Archaeological Department of the Government of Tamil Nadu.<br>


Duration : 5 min<br>
Distance : 1.7 km<br>
via Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
Fastest route<br><br>
FROM : Namakkal Railway Station<br>
Mohanur - Namakkal - Sendamangalam - Rasipuram Rd, Bharathiar Nagar, Namakkal, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south-west on Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd<br>
800 m
<br>
•	Turn left onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
450 m<br>

•	Turn right towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
300 m<br>

•	Turn left by the pharmacy on to Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
64 m
<br>
•	Turn left at Nehru Park Boat House<br>
 
•	Destination will be on the right<br>
120 m
<br><br>
Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001
<br>

Duration : 7 min <br>
Distance : 550 m<br>
via Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Walk north towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
120 m<br>

•	Turn right at Nehru Park Boat House onto Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
 
•	Go past the pharmacy (on the left in 47 m) <br>
300 m<br>

•	Turn left at PWD office<br>
100 m<br><br>
Namakkal Fort<br>
Salem - Namakkal - Trichy Rd, Thillaipuram, Namakkal, Tamil Nadu 637001<br>


</div>
</ion-scroll>
</ion-view>
