<ion-view view-title="NAINA MALAI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/nnm.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Nainamali varadharaja swamy is one of the most ancient temples in tamil nadu. This temple is called as "Thirupathi of Salem". Main deitials Sri Varadharaja Swamy and Kuvalayavali Thayar.

During the month of Puratasi lakhs of devotees come to the temple on saturdays. The temple is situated at a hill top. The hill top can be reached by climbing 3500 steps which would hardly take 3 hours trek up the hill. Thala vrucham is nali tree which is said to be there for four yugams in the temple.
<br>


Duration : 5 min<br>
Distance : 1.7 km<br>
via Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
Fastest route<br><br>
FROM : Namakkal Railway Station<br>
Mohanur - Namakkal - Sendamangalam - Rasipuram Rd, Bharathiar Nagar, Namakkal, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south-west on Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd<br>
800 m
<br>
•	Turn left onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
450 m<br>

•	Turn right towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
300 m<br>

•	Turn left by the pharmacy on to Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
64 m
<br>
•	Turn left at Nehru Park Boat House<br>
 
•	Destination will be on the right<br>
120 m
<br><br>
Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001
<br>
Duration : 33 min<br>
Distance : 20.3 km<br>
via Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd and NH44<br>
Fastest route<br><br>

FROM : Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
24 s (89 m) <br>
•	Follow Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd, NH44 and Sendamangalam-Puthansanthai Rd to Nainamalai Adivaram<br>
24 min (15.9 km) <br>

•	Turn left at Herbalife Weight Loss Centre onto Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
14 m<br>

•	Turn right at Shri Sakthi Internet Centre onto Karur - Namakkal Hwy/Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Salem - Namakkal Rd<br>
57 m<br>

•	Turn left towards Karur - Namakkal Hwy/Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Paramathi Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
17 m<br>

•	Turn right at Namakkal News 4 U onto Karur - Namakkal Hwy/Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Paramathi Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
 
•	Continue to follow Karur - Namakkal Hwy/Paramathi Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
 
•	Pass by herbalife nutrition centre (on the right) <br>
450 m<br>

•	Turn right at Canara Bank ATM onto Kottai Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
 
•	Pass by KRT Towers (on the left) <br>
750 m<br>

•	Turn left at Rock Studio onto Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
32 m
<br>
•	Turn right at Paneer Pori Shop onto Salem Rd/Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd<br>
 
•	Continue to follow Salem - Namakkal Rd/Salem-Namakkal-Thuraiyur Rd<br>
 
•	Pass by HI-RES INFO TECH (on the left) <br>
4.3 km<br>

•	Merge onto Salem - Namakkal Rd/NH44<br>
 
•	Pass by Sri Lakshmi Thirumana Maaligai (on the left in 3.3 km) <br>
6.1 km
<br>
•	Turn left onto Old NH<br>
50 m<br>

•	Turn right to stay on Old NH<br>
190 m<br>

•	Continue onto Service Rd<br>
450 m
<br>
•	Turn right at Pudanchandai Bus Stop onto Sendamangalam-Puthansanthai Rd<br>
 
•	Pass by Renu Printers (on the left) <br>
3.5 km<br>
•	Drive to Nainamalai Hill Temple Road<br>
9 min (4.3 km) <br>

•	Turn left towards Nainamalai Hill Temple Road<br>
170 m<br>

•	Turn left towards Nainamalai Hill Temple Road<br>
300 m<br>

•	Turn right onto Nainamalai Hill Temple Road<br>
3.8 km<br><br>
Naina Malai






</div>
</ion-scroll>
</ion-view>
