<ion-view view-title="ROCK FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/nrp.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Tiruchirappalli Rockfort is a historic fortification and temple complex built on an ancient rock. It is located in the city of Tiruchirappalli, Tamil Nadu, India. It is constructed on a 83 metres (272 ft) high rock[1][2] that may date to over one billion years ago. There are two Hindu temples inside, the Ucchi Pillayar Temple, Rockfort and the Thayumanaswami Temple, Rockfort. Other local tourist attractions include the famous Pallava-era Ganesha temple and the Madurai Nayak-era fort. <br>


Duration : 5 min<br>
Distance : 1.7 km<br>
via Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
Fastest route<br><br>
FROM : Namakkal Railway Station<br>
Mohanur - Namakkal - Sendamangalam - Rasipuram Rd, Bharathiar Nagar, Namakkal, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south-west on Mohanur - Namakkal - Sendamangalam - Rasipuram Rd/Sendhamangalam Rd<br>
800 m
<br>
•	Turn left onto Mohanur - Namakkal - Sendamangalam - Rasipuram Rd<br>
450 m<br>

•	Turn right towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
300 m<br>

•	Turn left by the pharmacy on to Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
64 m
<br>
•	Turn left at Nehru Park Boat House<br>
 
•	Destination will be on the right<br>
120 m
<br><br>
Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001
<br>

Duration : 1 h 46 min<br>
Distance : 82.4 km<br>
via Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd and NH81<br>
Fastest route, the usual traffic<br>
This route has tolls. <br><br>

FROM : Namakkal Bus Stand<br>
Kamaraj Nagar, Periyapatti, Tamil Nadu 637001<br><br>
Directions : <br><br>
•	Head south towards Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd<br>
24 s (89 m) <br>
•	Follow Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd/Trichy Main Rd and NH81 to Karappalayam - Kattur Rd/Nagapattinam - Coimbatore - Gundlupet Hwy/Nandhi Koil St in Melachinthamani, Tiruchirappalli<br>
1 h 39 min (80.9 km) <br>

•	Turn left at Herbalife Weight Loss Centre onto Salem-Namakkal-Thuraiyur Rd/Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd/Trichy Main Rd<br>
 
•	Continue to follow Salem - Namakkal - Trichy Rd/Tiruchengode - Namakkal - Trichy Rd/Trichy Main Rd<br>
 
•	Pass by RS BOOK SHOP (on the left) <br>
43.6 km<br>

•	Turn left onto Kumaramangalam - Panruti Rd<br>
180 m<br>

•	Continue straight to stay on Kumaramangalam - Panruti Rd<br>
51 m
<br>
•	Turn right onto Kumaramangalam - Panruti Rd/Musiri - Kulithalai Bypass Rd<br>
 
•	Pass by the bridge (on the left in 1.7 km) <br>
2.2 km
<br>
•	At the roundabout, take the 1st exit<br>
 
•	Pass by Kulithalai Sungagate Bus Stop (on the right) <br>
450 m<br>

•	Turn left at JJR Trading onto S Madavala St<br>
16 m
<br>
•	Turn left onto W Madavala St<br>
150 m<br>

•	Turn left at Kadambar Street<br>
130 m<br>

•	Turn right onto NH81<br>
 
Partial toll road<br>
 
•	Pass by Rly Stn Town bus stop (on the right in 9.9 km) <br>
34.0 km<br>
•	Continue on Nandhi Koil St. Take N Andar St to South St in Teppakulam<br>
7 min (1.4 km) <br>

•	At the roundabout, take the 2nd exit onto Karappalayam - Kattur Rd/Nagapattinam - Coimbatore - Gundlupet Hwy/Nandhi Koil St
 <br>
•	Continue to follow Nandhi Koil St<br>
 
•	Pass by TWG NDT COURSE (on the right) <br>
550 m<br>

•	Turn left at Rama Cafe onto N Andar St<br>
 
•	Pass by The Outlook Solutions (on the right) <br>
350 m<br>

•	Turn right at TGS Electronics towards South St<br>
100 m<br>

•	Turn left towards South St<br>
210 m
<br>
•	Turn right onto South St<br>
 
•	Pass by Muniswaran Medai (on the right) <br>
 
•	Destination will be on the right<br>
250 m<br><br>
Tiruchirapalli Rock Fort<br>




</div>
</ion-scroll>
</ion-view>
