<ion-view view-title="THIRUMANANCHERI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ntm.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br><br>Thirumanancheri (Thiru Manam Cheri) is a village located near Cauvery River in Nagapattinam district. The village name comes from the god Shiva. Thirumanam mean marriage; cheri denotes a village or hamlet. Shiva married Parvathi at this place so the village is called marriage (Thirumanancheri).<br>
Duration : 6 min<br>
Distance : 2.1 km<br>
via Chennai - Nagapattinam Hwy<br>
Fastest route<br><br>

FROM : Nagapattinam junction<br>
Eruthukara St, Tata Nagar, Nagapattinam, Tamil Nadu 611003<br><br>
Directions : <br><br>
•	Head east towards Chennai - Nagapattinam Hwy<br>
85 m<br>
•	Turn right at Sivasakthi Supermarket onto Chennai - Nagapattinam Hwy<br>
•	Pass by Mynor Enterprises P Ltd (on the left) <br>
2.0 km<br>
•	Turn left<br>
•	Destination will be on the right<br>
72 m<br>
Nagapattinam New Bus Stand<br>
DOSS CIVIL solution, Public Office Rd, Kadambadi, Nagapattinam, Tamil Nadu 611001<br>

Duration : 1 h 55 min<br>
Distance : 68.9 km<br>
via NH32<br>
Fastest route<br><br>

FROM  : Nagapattinam New Bus Stand<br>
DOSS CIVIL solution, Public Office Rd, Kadambadi, Nagapattinam, Tamil Nadu 611001<br><br>
Directions : <br><br>
•	Head west towards Chennai - Nagapattinam Hwy/Hospital Rd/Public Office Rd<br>
54 s (170 m) <br>
•	Drive from NH32 and Pushpa Nagar to Nedungadu<br>
46 min (29.9 km) <br>

•	Turn left onto Chennai - Nagapattinam Hwy/Hospital Rd/Public Office Rd<br>
71 m
<br>
•	Turn left onto Public Office Rd<br>
 
•	Pass by District Central Library (on the left) <br>
300 m<br>

•	Turn right onto Nagai Sangamangalam Puliur Rd<br>
1.7 km<br>

•	Turn right onto NH32<br>
 
•	Pass by HAPPY DECORATION (on the left in 17.0 km) <br>
17.2 km<br>

•	Turn left to stay on NH32<br>
190 m<br>

•	Turn right at IDBI BANK ATM to stay on NH32<br>
 
•	Pass by Universal Power Systems (on the left) <br>
750 m
<br>
•	Turn left at Moder Radios onto Kumbakonam - Karaikal Rd/Thirunallar Rd<br>
 
•	Pass by New Rathina Vilas (Kumbakonam Pathira Kadai) (on the left) <br>
1.0 km
<br>
•	Turn right at SAVITHIRI KALIYAPERUMAL MARRIAGE HALL AC KARAIKAL onto Pushpa Nagar
 <br>
•	Pass by Sridhar Electricals Nedungadu (on the left in 8.6 km) <br>
8.7 km
<br>
•	Continue straight past GPS,Kurumbagarampet<br>
21 min (12.7 km) <br>

•	Turn right at Kollumangudi Bus Stop onto SH 23<br>
 
•	Pass by Kumaramangalam Bus Stop (on the left in 3.6 km) <br>
9 min (5.7 km) <br>
•	Continue on Aduthurai - Mangainallur Rd/Aduthurai - Porayar Rd to Arayapuram, Melaiyur<br>
21 min (13.3 km) <br>



•	Turn left onto SH 22/SH 64<br>
 
•	Pass by Komal Road Bus Stop (on the right) <br>
4 min (2.1 km) <br>
•	Follow Pandanallur - Kuttalam Rd to Kuthalam - Thirumanancheri Rd in Thirumanancheri<br>
11 min (5.0 km)
<br>
•	Turn right at Sentha Saloon onto Pandanallur - Kuttalam Rd<br>
 
•	Pass by Hotel Thillai (on the left) <br>
1.7 km<br>

•	Turn left at MADHU MEDICALS onto Aduthurai-Kuthalam Rd/Pandanallur - Kuttalam Rd<br>
67 m
<br>
•	Turn right onto Kuthalam - Thirumanancheri Rd<br>
 
•	Pass by கண்டியூர் (on the left in 1.2 km) <br>
3.2 km<br><br>

Thirumanancheri<br>
Tamil Nadu<br>


</div>
</ion-scroll>
</ion-view>
