
<ion-view view-title="AVALANCHE LAKE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/oal.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Avalanche Lake is an important tourism destination in the Nilgiris district. The lake is surrounded by a rolling landscape with blooming flowers like magnolias, orchids and rhododendrons. Tourists can traverse beside the lake through winding paths around the lake.[1] Tourists visiting the lake can also engage themselves in Trout fishing. A trout hatchery is established near the lake, from where visitoras can get fishing rods and other fishing accessories required for trout fishing. The lake is also used by tourists as a camp site wherein they pitch tents near the lake. Other tourist activities in the area include rafting across the lake and trekking the nearby hilly regions like Upper Bhavani where there are thick forests and untouched wild habitats.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>

Duration : 51 min <br>
Distance : 22.5 km<br>
via MDR1071<br>
Fastest route, the usual traffic<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head south on MDR1071 towards St Thomas Rd<br>
 
•	Pass by Ooty Taxi Services (on the left in 1.7 km) <br>
17.0 km<br>

•	Turn left<br>
650 m<br>

•	Slight left onto MDR1071<br>
1.6 km<br>

•	Keep right to continue on Avalanchi Rd<br>
 
•	Pass by Forest Rest House (on the right in 2.0 km) <br>
3.3 km<br>
Avalanche Lake



<br>


</div>
 </ion-scroll>
</ion-view>
