
<ion-view view-title="TAMIZHAGAM GUEST HOUSE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/oap.jpg"><br>

<div class="item item-text-wrap"><br>

Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 10 min <br>
Distance : 2.8 km<br>
via Sylks Rd<br>
Fastest route<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head north on MDR1071<br>
83 m<br>

•	At the roundabout, take the 2nd exit<br>
 
•	Pass by Hotel Navarang (on the left) <br>
1.2 km
<br>
•	Turn left at Celebrations towards NH181<br>
30 m<br>

•	Turn left at Celebrations onto NH181<br>
170 m<br>

•	Turn right at Hindustan Bakery Kandal towards Sylks Rd<br>
34 m
<br>
•	Slight left onto Sylks Rd<br>
1.3 km
<br>
•	Slight right onto De Winton Rd<br>
22 m<br>v
Tamizhagam Guest House<br>
Udhagamandalam, Monterosa Colony, Ooty, Tamil Nadu 643001

<br>


</div>
 </ion-scroll>
</ion-view>
