
<ion-view view-title="BISON VALLEY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/obv.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Bison Valley gained its name from the Indian bison that roams throughout this area. Splendid views of the cardamom forests and momentous possible from this beautiful valley.<br>

Beautiful greenery exists in almost every place that you look. A wide variety of wildlife inhabits this valley. The wildlife includes such animals as bears, bison, deer, tigers, and elephants. Taking leisurely walks on the numerous pathways that meander around the valley are a popular pastime for tourists. Mountain biking and trekking are also popular activities to participate in. Bird watching is another popular activity in Bison Valley. Such birds as woodpeckers, drongos, morning doves, shrikes, and bulbuls can be seen in the area.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>

Duration : 37 min <br>
Distance : 15.3 km<br>
via NH181<br>
Fastest route<br>
<br>
FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Continue to Davisdale<br>
3 min (1.2 km)
<br>
•	Head south on MDR1071<br>
180 m
<br>
•	Turn left<br>
 
•	Pass by Hotel Nilgiris Inn Ooty (on the left in 800 m) <br>
1.0 km<br>
•	Follow Elk Hill Rd to NH181 in Nondimedu<br>
6 min (1.3 km)
<br>
•	Turn right at Coonoor Ramachandra Hotel onto Elk Hill Rd<br>
 
•	Pass by Ooty Travels (Lakshmi Travels) (on the right) <br>
1.1 km<br>

•	Turn left at Blue Hills Apartments to stay on Elk Hill Rd<br>
 
•	Pass by Eye Hospital (on the right) <br>
170 m
<br>
•	Turn right onto NH181<br>
 
•	Pass by Hotel Blue Bird Bar & Restaurant (on the right) <br>
12 min (6.0 km) <br>
•	Drive to your destination<br>
16 min (6.8 km)
<br>
•	Turn right towards Yelanalli to Kethorai Road<br>
51 m<br>

•	Sharp left towards Yelanalli to Kethorai Road<br>
350 m<br>
•	Continue straight onto Yelanalli to Kethorai Road<br>
600 m<br>

•	Continue straight<br>
2.4 km
<br>
•	Turn left<br>
1.3 km<br>

•	Sharp right towards Sogathorai Rd<br>
450 m<br>

•	Continue onto Sogathorai Rd<br>
650 m
<br>
•	Turn left<br>
 
•	Destination will be on the left<br>
1.1 km<br><br>
Bison Inn Ooty, Ketti Valley, Tamil Nadu<br>
Hubbathala, Tamil Nadu 643202




<br>


</div>
 </ion-scroll>
</ion-view>
