
<ion-view view-title="CAIRN HILL RESERVE FOREST OFFICE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/och.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Great place for trekking in the midst of nature, deep inside the jungle, A guide along would be really helpful.Situated around 3 km on the road to Avalanche Cairn hill. This is an excellent spot for a picnic, must watch in day time only.<br>
The entrance road to the bill is flanked by dense cypress trees.<br>
This reserve gets its name because of a Cairn, piled stone circle – a pre-historical burial site of the tribal, and has the oldest Cyprus plantation. This reserve is one of the few surviving original walks that the Britishers enjoyed. During rains, you can easily slip on the ground covered with dried leaves. Wear good walking/trekking shoes. Obey all rules of a forest reserve. If you are observant, you can sight a variety of birds (depending on the time of the day and season) such as Nilgiri Laughing Thrush, Scimitar Babbler, Flycatchers, Fantails, Jungle Fowls, Sunbirds, Warblers, and so on.No cafeteria available.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 6 min<br>
Distance : 2.5 km<br>
via MDR1071<br>
Fastest route, the usual traffic<br><br>
FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head south on MDR1071 towards St Thomas Rd<br>
 
•	Pass by Ooty Taxi Services (on the left in 1.7 km) <br>
 
•	Destination will be on the left<br>
2.5 km<br><br>
Cairn Hill Reserve Forest Office<br>
MDR1071, West Mere, Ooty, Tamil Nadu 643004


<br>


</div>
 </ion-scroll>
</ion-view>
