
<ion-view view-title="DODDABETTA PEAK">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/odp.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Doddabetta (தமிழ்:தொட்டபெட்டா) is the highest mountain in the Nilgiri Hills at 2,637 metres (8,650 feet). There is a reserved forest area around the peak. It is 9 km from Ooty, on the Ooty-Kotagiri Road in the Nilgiris district of Tamil Nadu, India. It is a popular tourist attraction with road access to the summit. It is the fourth highest peak in South India next to Anamudi, Mannamalai and Meesapulimala. The peaks Hecuba (2375 m), Kattadadu (2418 m) and Kulkudi (2439 m) are the three closely linked summits in the west of the Doddabetta range near to Udagamandalam (Ooty).<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>

Duration : 30 min <br>
Distance : 8.9 km<br>
via SH 15 and Doddabetta Rd<br>
Fastest route<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Take SH 15 and Kotagiri Rd/Ooty - Kappachi Rd/Ooty - Kotagiri Hwy to Doddabetta Rd<br>
19 min (6.1 km) <br>

•	Head north on MDR1071<br>
83 m
<br>
•	At the roundabout, take the 3rd exit onto Commercial Rd<br>
 
•	Pass by Ooty CCTV Camera Dealers & Installation (on the left) <br>
650 m
<br>
•	Turn left at Thattukada<br>
87 m
<br>
•	Turn right towards Commercial Rd<br>
 
•	Pass by UMC Shopping Complex (on the left) <br>
450 m<br>

•	At Canara Bank ATM, continue onto Commercial Rd<br>
 
•	Pass by Valliappa Store (on the left) <br>
650 m
<br>
•	Turn right at The Ootacamund Eucalyptus Oil Refinery onto NH181<br>
48 m
<br>
•	Turn left at Clock Tower onto SH 15<br>
 
•	Pass by Toda Emporium (on the right) <br>
2.8 km<br>

•	Sharp left onto Kotagiri Rd/Ooty - Kappachi Rd/Ooty - Kotagiri Hwy<br>
 
•	Pass by High Hill Tea Shop (on the right in 350 m) <br>
1.4 km
<br>
•	Turn right at Doddabetta Junction Bus Stop onto Doddabetta Rd<br>
 
•	Pass by AG Wonderland (on the left in 1.3 km) <br>
12 min (2.8 km) <br><br>
Doddabetta Peak<br>


<br>


</div>
 </ion-scroll>
</ion-view>
