
<ion-view view-title="ELK HILL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/oeh.jpg"><br>

<div class="item item-text-wrap"><br>

Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 14 min <br>
Distance : 4.1 km<br>
via Elk Hill Rd<br>
Fastest route<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Continue to Davisdale<br>
3 min (1.2 km) <br>

•	Head south on MDR1071<br>
180 m<br>

•	Turn left<br>
 
•	Pass by Hotel Nilgiris Inn Ooty (on the left in 800 m) <br>
1.0 km<br>
•	Continue on Elk Hill Rd to your destination in Elk Hill<br>
10 min (3.0 km) <br>

•	Turn right at Coonoor Ramachandra Hotel onto Elk Hill Rd<br>
 
•	Pass by Ooty Travels (Lakshmi Travels) (on the right) <br>
850 m
<br>
•	Keep right<br>
170 m<br>

•	Turn right<br>
450 m<br>

•	Turn right<br>
38 m<br>

•	Turn left<br>
60 m
<br>
•	Turn right<br>
350 m<br>
•	Turn right<br>
500 m<br>

•	Turn left<br>
550 m<br>
Elk Hill<br>
Ooty, Tamil Nadu


<br>


</div>
 </ion-scroll>
</ion-view>
