
<ion-view view-title="JEWEL PALACE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ojp.jpg"><br>

<div class="item item-text-wrap"><br>

Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 8 min <br>
Distance : 600 m<br>
via Commercial Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk north on MDR1071<br>
83 m<br>

•	At the roundabout, take the 1st exit onto Commercial Rd<br>
 
•	Pass by Ooty CCTV Camera Dealers & Installation (on the left in 100 m) <br>
350 m
<br>
•	Turn left at LAKSHAN Hosiery towards Upper Bazar Rd<br>
66 m
<br>
•	Turn right at Shri Vasupujya Swami Jain Bhojanshala onto Upper Bazar Rd
 <br>
•	Destination will be on the left<br>
120 m<br><br>
JEWEL PALACE<br>
267 , Main Bazaar, Ooty, Tamil Nadu 643001<br>





<br>


</div>
 </ion-scroll>
</ion-view>
