
<ion-view view-title="KANDAL CROSS SHRINE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/okcc.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
One of the best known Catholic churches in Ooty, the Kandal Cross and is known to cure the ill while many believe that their wishes came true after visiting the holy shrine. To fulfill their wishes, candles are lighted on Fridays. The architectural splendor of the Church also deserves mention.<br>

Kandal Cross is a Roman Catholic Shrine, situated at Ooty, in Nilgiris District, Tamil Nadu. It is considered as the Jerusalem of the East. The Nilgiri Catholics consider the shrine as the ‘Calvary of Tamil Nadu’.<br>

The cross erected here is a relic of the true cross, which was brought to India by an Apostolic delegate.<br>

Special Novena Prayers and Holly Masses are offered every Friday.<br>

The annual feast is held on 3rd May.<br>

Kandal Cross is about 3 Km west of Ooty Railway Station.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 11 min <br>
Distance : 3.4 km<br>
via N Lake Rd<br>
Fastest route
<br><br>
FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head north on MDR1071<br>
83 m<br>

•	At the roundabout, take the 1st exit onto N Lake Rd<br>
 
•	Pass by Hotel Sapphire Garden View (on the left) <br>
2.4 km
<br>
•	Slight left towards Old Pykara Rd<br>
72 m<br>
•	Turn left onto Old Pykara Rd<br>
120 m<br>
•	Turn left<br>
160 m<br>

•	Turn right<br>
53 m
<br>
•	Continue straight<br>
450 m<br><br>
Kandal Cross Shrine<br>
Kasturibai Colony, Kandal, Ooty, Tamil Nadu 643006<br>




<br>


</div>
 </ion-scroll>
</ion-view>
