
<ion-view view-title="KETTI VALLEY VIEW">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/okv.jpg"><br>

<div class="item item-text-wrap"><br>

Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 21 min <br>
Distance : 6.3 km<br>
via NH181<br>
Fastest route<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head south on MDR1071<br>
180 m<br>

•	Turn left<br>
 
•	Pass by Hotel Nilgiris Inn Ooty (on the left in 800 m) <br>
1.0 km<br>

•	Turn right at Coonoor Ramachandra Hotel onto Elk Hill Rd<br>
 
•	Pass by Ooty Travels (Lakshmi Travels) (on the right) <br>
1.1 km<br>

•	Turn left at Blue Hills Apartments to stay on Elk Hill Rd<br>
 
•	Pass by Eye Hospital (on the right) <br>
170 m
<br>
•	Turn right onto NH181<br>
 
•	Pass by Hotel Blue Bird Bar & Restaurant (on the right) <br>
2.0 km
<br>
•	Turn right onto Tamilagam Rd<br>
1.5 km<br>

•	Turn left onto Granduff Road<br>
 
•	Destination will be on the right<br>
350 m<br><br>
RGM Valley View Public School<br>
Ketti Valley, Tamil Nadu 643215<br>


<br>


</div>
 </ion-scroll>
</ion-view>
