
<ion-view view-title="WALLWOOD GARDEN NEEMRANA">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/olc.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Great place for trekking in the midst of nature, deep inside the jungle, A guide along would be really helpful.Situated around 3 km on the road to Avalanche Cairn hill. This is an excellent spot for a picnic, must watch in day time only.<br>
The entrance road to the bill is flanked by dense cypress trees.<br>
This reserve gets its name because of a Cairn, piled stone circle – a pre-historical burial site of the tribal, and has the oldest Cyprus plantation. This reserve is one of the few surviving original walks that the Britishers enjoyed. During rains, you can easily slip on the ground covered with dried leaves. Wear good walking/trekking shoes. Obey all rules of a forest reserve. If you are observant, you can sight a variety of birds (depending on the time of the day and season) such as Nilgiri Laughing Thrush, Scimitar Babbler, Flycatchers, Fantails, Jungle Fowls, Sunbirds, Warblers, and so on.No cafeteria available.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 43 min<br> 
Distance : 20.2 km<br>
via NH181 and MDR1081<br>
Fastest route<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Take Elk Hill Rd to NH181 in Nondimedu<br>
9 min (2.5 km)
<br>
•	Head south on MDR1071<br>
180 m<br>

•	Turn left<br>
 
•	Pass by Hotel Nilgiris Inn Ooty (on the left in 800 m) <br>
1.0 km<br>

•	Turn right at Coonoor Ramachandra Hotel onto Elk Hill Rd<br>
 
•	Pass by Ooty Travels (Lakshmi Travels) (on the right) <br>
1.1 km
<br>
•	Turn left at Blue Hills Apartments to stay on Elk Hill Rd<br>
 
•	Pass by Eye Hospital (on the right) <br>
170 m
<br>
•	Turn right onto NH181<br>
 
•	Pass by Hotel Blue Bird Bar & Restaurant (on the right) <br>
24 min (12.1 km) <br>
•	Follow MDR1081 to Coonoor-Kattabettu-Kotagiri Road in Attadi, Coonoor<br>
11 min (5.7 km) <br>

•	Turn left onto Black Bridge/MDR1081<br>
 
•	Continue to follow MDR1081<br>
 
•	Pass by Karur Vysya Bank ATM (on the left in 1.2 km) <br>
2.0 km<br>

•	At the roundabout, take the 4th exit and stay on MDR1081<br>
500 m
<br>
•	Turn left to stay on MDR1081<br>
 
•	Pass by DSSC Mandir Gurudwara (on the left) <br>
2.1 km
<br>
•	Turn left to stay on MDR1081<br>
 
•	Pass by Tantea Tea Museum (on the right) <br>
650 m
<br>
•	Turn left at HDFC onto Coonoor-Kattabettu-Kotagiri Road<br>
 
•	Pass by Redbrook (on the left in 350 m) <br>
 
•	Destination will be on the left<br>
450 m<br><br>
Wallwood Garden Neemrana<br>
58, Kotagiri Road, Coonoor, Tamil Nadu 643101<br>


<br>


</div>
 </ion-scroll>
</ion-view>
