
<ion-view view-title="M&N CHOCOLATE MUSEUM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/oml.jpg"><br>

<div class="item item-text-wrap"><br>

Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 12 min <br>
Distance  : 4.6 km<br>
via NH181<br>
Fastest route, the usual traffic<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head north on MDR1071<br>
83 m
<br>
•	At the roundabout, take the 2nd exit<br>
 
•	Pass by Hotel Navarang (on the left) <br>
550 m
<br>
•	Turn left<br>
700 m<br>

•	Turn left at Classic Residency onto NH181<br>
 
•	Pass by Rohini Theatre (on the left in 450 m) <br>
 
•	Destination will be on the left<br>
3.3 km<br><br>
M&N Chocolate Museum<br>
Ooty-Mysore Road, Near HPF, Ooty, Tamil Nadu 643005<br>



<br>


</div>
 </ion-scroll>
</ion-view>
