
<ion-view view-title="ELK HILL MURUGAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/omt.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Elk Hill is the place in Udagamandalam (Ooty) South India. Famous for Lord Murugar Temple. It is a Replica of Batu caves (Tamil: பத்து மலை) Malaysia. Approximately 40 feet statue of Lord Murugar constructed and placed in the form of Suthai (Tamil-சுதை-Made up of Brick and Cement) in a standing posture out side this temple open space. *Side view of the Temple from Top* The Moolavar is very much pretty .Other than Lord Murugar, Lord Ganesha, Lord Shiva, Goddesses Sakthi, Nava Kanikas and Navagraha sanithanams are there in the hill.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 9 min<br>
Distance : 2.6 km<br>
via Elk Hill Rd<br>
Fastest route<br><br>
FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head south on MDR1071<br>
180 m
<br>
•	Turn left<br>
 
•	Pass by Hotel Nilgiris Inn Ooty (on the left in 800 m) <br>
1.0 km
<br>
•	Turn right at Coonoor Ramachandra Hotel onto Elk Hill Rd<br>
 
•	Pass by Ooty Travels (Lakshmi Travels) (on the right) <br>
850 m
<br>
•	Sharp right at HMT Watch House<br>
600 m<br><br>
Sri Baladandayuthapani temple / Elk Hill Murugan Temple<br>
Elk Hill, Ooty, Tamil Nadu 643001<br>


<br>


</div>
 </ion-scroll>
</ion-view>
