
<ion-view view-title="NILGIRI DISTRICT LIBRARY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/onl.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
The District Central Library, Nilgiris commenced to render its service to the public since 26.11.1953 at Near District Collector’s Office, Udhagamandalam.. <br>
The Library was subsequently shifted on 24.09.2000 to the existing building situated in 35/A, Government Hospital Road, Sri Aiyappan Koil Back side, Udhagamandalam, The Nilgiris. It is a multistoried Building having carpet area of nearly 570 sq.meter. <br>
It serves the General Public of all Category especially the elite society living all the District Activities of the Library are designed to facilitate use of resources to guide the readers to achieve their object stimulates the public to cultivate increase reading habits. 
 
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>

Duration : 7 min<br>
Distance :  1.6 km<br>
via Hospital Rd<br>
Fastest route<br><br>
FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head north on MDR1071<br>
83 m<br>

•	At the roundabout, take the 2nd exit<br>
 
•	Pass by Hotel Navarang (on the left) <br>
750 m<br>

•	Turn right towards Hospital Rd<br>
 
•	Pass by Giriappa gowder Conventional Hall (on the left) <br>
450 m
<br>
•	Turn left onto Hospital Rd<br>
 
•	Pass by Dr.Deviprasad (on the right) <br>
190 m<br>

•	Turn right at SBI ATM<br>
 
Restricted-usage road<br>
75 m
<br>
•	Turn right<br>
 
Restricted-usage road<br>
 
•	Destination will be on the right<br>
25 m<br><br>
Nilgiri District Library<br>
Upper Bazaar, Ooty, Tamil Nadu 643001<br>



<br>


</div>
 </ion-scroll>
</ion-view>
