
<ion-view view-title="RAJ BHAVAN">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/orb.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle : <br>
Raj Bhavan of Ooty is the Summer residence of the Governor of Tamil Nadu, It is located in the city of Ooty, Tamil Nadu.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 19 min <br>
Distance : 5.4 km<br>
via Snowdon Rd<br>
Fastest route<br><br>
FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Drive along Snowdon Rd<br>
12 min (4.1 km) <br>

•	Head north on MDR1071<br>
83 m<br>
•	At the roundabout, take the 2nd exit<br>
 
•	Pass by Hotel Navarang (on the left) <br>
1.2 km
<br>
•	Slight right at The Black and White Travel solutions - ooty onto NH181<br>
650 m
<br>
•	Turn left<br>
650 m<br>

•	At Summit Paradise Ooty, continue onto Snowdon Rd<br>
 
•	Pass by Cloud Nine (on the left in 600 m) <br>1.4 km<br>

•	Turn right<br>
97 m<br>
•	Drive to your destination in Vannarapettai<br>
6 min (1.3 km)
<br>
•	Keep right<br>
750 m
<br>
•	Turn left<br>
450 m
<br>
•	Turn right<br>
 
•	Destination will be on the left<br>
110 m<br><br>
Raj Bhavan<br>
Vannarapettai, Ooty (Ootacamund) (Udhagamandalam), Tamil Nadu 643002<br>




<br>


</div>
 </ion-scroll>
</ion-view>
