
<ion-view view-title="UDHAGAI– ROSE GARDEN">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/org.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
The Government Rose Garden (formerly known as the Jayalalithaa Rose Garden, Centerary Rose Park and Nootrandu Roja Poonga) It is situated on the slopes of the Elk Hill in Vijayanagaram of Ooty town in Tamil Nadu, India at an altitude of 2200 meters.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>

Duration : 8 min<br>
Distance : 2.1 km<br>
via Elk Hill Rd<br>
Fastest route<br><br>
FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head south on MDR1071<br>
180 m
<br>
•	Turn left<br>
 
•	Pass by Hotel Nilgiris Inn Ooty (on the left in 800 m) <br>
1.0 km<br>

•	Turn right at Coonoor Ramachandra Hotel onto Elk Hill Rd<br>
 
•	Pass by Ooty Travels (Lakshmi Travels) (on the right) <br>
550 m<br>

•	Slight left<br>
 
•	Destination will be on the right<br>
350 m<br><br>
Udhagai– Rose Garden<br>
Bombay Castel, Ooty, Tamil Nadu 643001



<br>


</div>
 </ion-scroll>
</ion-view>
