
<ion-view view-title="ST. STEPHEN'S CHURCH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/osc.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
St. Stephen's Church is located on the road to Mysore in Ooty, in the state of Tamil Nadu, India. It is one of the oldest churches in the Nilgiris district
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 6 min<br>
 Distance : 1.9 km<br>
via NH181<br>
Fastest route, the usual traffic<br><br>
FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head north on MDR1071<br>
83 m
<br>
•	At the roundabout, take the 2nd exit<br>
 
•	Pass by Hotel Navarang (on the left) <br>
1.2 km
<br>
•	Slight right at The Black and White Travel solutions - ooty onto NH181<br>
600 m<br><br>
St. Stephen's Church<br>
Upper Bazaar, Ooty, Tamil Nadu 643001<br>

<br>


</div>
 </ion-scroll>
</ion-view>
