
<ion-view view-title="THREAD GARDEN">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/otg.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Located by the side of North Lake Road, opposite the Boat House in Ooty, is a marvel of creation, the Artificial Plant Kingdom – The Thread Garden. A magnificent display of flowers, plants and lawns fabricated entirely from thread, canvas and wire awaits you here at the Thread Garden, Ooty!<br>

A stunning spectacle to behold, it is the end result of the untiring work of nearly 12 Years of Mr. Antony Joseph and an enthusiastic group of workers. Absolutely everything is done by hand and no machinery or needle is used at any stage. Many artificial models of plants and flowers, creepers, climbers, lawns, lotus ponds etc. are kept in the most natural ambience.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 4 min <br>
Distance : 1.4 km<br>
via N Lake Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head north on MDR1071<br>
83 m<br>

•	At the roundabout, take the 1st exit onto N Lake Rd<br>
 
•	Pass by Hotel Sapphire Garden View (on the left) <br>
 
•	Destination will be on the right<br>
1.3 km<br><br>
Thread Garden<br>
North Lake Road, Opp. Boat House, Ooty, Tamil Nadu 643001<br>


<br>


</div>
 </ion-scroll>
</ion-view>
