
<ion-view view-title="TRIBAL RESEARCH CENTER">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/otrc.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
The Tribal Research Center (TRC) in Ooty (Udhagamandalam) is located in 25 acres of hilly terrain at M Paladin, 10 kms from the Ooty bus stand. The center was set up for the welfare of the 36 Scheduled Tribes of Tamil Nadu and has many lofty objectives. These include, studying tribal communities, imparting training and orientation on tribal cultures and their development, recording socio-economic, religious, political and psychological changes among them, publishing monographs on their life and culture, developing a tribal museum to preserve their culture and working towards the upliftment of these tribes.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 17 min <br>
Distance : 8.1 km<br>
via MDR1071<br>
Fastest route, the usual traffic<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head south on MDR1071 towards St Thomas Rd<br>
 
•	Pass by Ooty Taxi Services (on the left in 1.7 km) <br>
8.1 km<br><br>
Tribal Research Center<br>
Tamil Nadu 643004


<br>


</div>
 </ion-scroll>
</ion-view>
