
<ion-view view-title="UNION CHURCH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ouc.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Union Church in Ooty (Udhagamandalam) is an elegant and striking building. This heritage building which is over 150 years old is place where evangelical believers gather to offer prayer.
<br><br>
Duration : 3 min<br>
Distance :  230 m<br>
via MDR1071<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ooty Railway Station<br>
Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Walk south<br>
110 m<br>

•	Turn right towards MDR1071<br>
6 m
<br>
•	At the roundabout, take the 2nd exit onto MDR1071<br>
 
•	Destination will be on the right<br>
120 m<br><br>
Ooty Main Bus Stand<br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br>
<br>
Duration : 8 min <br>
Distance : 2.3 km<br>
via NH181<br>
Fastest route, the usual traffic<br><br>

FROM : Ooty Bus Stand (Udhagamandalam) <br>
Mani Vihar, Kathadimattam, Ooty, Tamil Nadu 643001<br><br>
Directions : <br><br>
•	Head north on MDR1071<br>
83 m<br>

•	At the roundabout, take the 2nd exit<br>
 
•	Pass by Hotel Navarang (on the left) <br>
1.2 km
<br>
•	Slight right at The Black and White Travel solutions - ooty onto NH181<br>
650 m
<br>
•	Turn left towards Maruthi Cottage Rd<br>
21 m<br>

•	Turn right at SATHISH RESORT onto Maruthi Cottage Rd<br>
 
•	Pass by SpanKPO Solutions (on the right) <br>
 
•	Destination will be on the right<br>
300 m<br><br>
Union Church<br>
Church Hill Rd, Nilgiris District, Ooty, Tamil Nadu 643001<br>


<br>


</div>
 </ion-scroll>
</ion-view>
