<ion-view view-title="AVUDAIYAR KOIL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/pa.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Tirupperunturai, known as Avudaiyarkoil., is a Shaiva temple situated near Aranthangi in the Pudukkottai district of Tamil Nadu. One of the sacred books of Tamil Saiva Siddhanta, Manikkavacakar's Tiruvacakam, originated from this shrine. Manikkavacakar is said to have converted the king to the cult of Shiva and built the temple with money that had been intended for war-horses<br>
Duration : 6 min <br>
Distance : 2.1 km<br>
via Ramanathapuram Rd and Vadakkadu - Alangudi Rd<br>
Fastest route<br><br>
FROM : <br>
Pudukkottai Railway Station<br>
Nainar Colony, Kavinad West, Tamil Nadu 622003<br><br>
Directions : <br>
•	Head south towards Pudukkottai Railway Station Rd<br>
13 m<br>

•	Turn left by the railway_station on to Pudukkottai Railway Station Rd<br>
 
•	Pass by Saravana marriage Hall (on the left) <br>
350 m<br>

•	Turn left at Sri Lakshmi Medical onto Ramanathapuram Rd
 <br>
•	Pass by Venus and Venus Transport Carrier (on the right) <br>
1.0 km<br>

•	Turn right onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Abirami Hotel (on the left in 700 m) <br>
750 m<br>

•	Turn right<br>
 
•	Destination will be on the right<br>
40m<br><br>
Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br>

Duration : 1 h 11 min <br>
Distance : 46.8 km<br>
via SH 26<br>
Fastest route<br><br>
FROM : Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br><br>
Directions : <br>
•	Head north towards Vadakkadu - Alangudi Rd<br>
40 m<br>
•	Turn right onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Deepam Colour Lab (on the left) <br>
5.0 km<br>

•	Slight right onto SH 26<br>
 
•	Pass by Vallathirakottai Bus Stop (on the right in 6.0 km) <br>
28.6 km
<br>
•	Turn right at City Jewelry- Big Bazar onto Aranthangi - Karaikkudi Rd/Karaikkudi - Manamelkudi Rd/Thanjavur - Kalayarkoil - Sayalkudi Rd/SH 26<br>
 
•	Continue to follow SH 26<br>
 
•	Pass by Majthee Store (on the left) <br>
12.0 km<br><br>

•	Turn right
1.1 km<br><br><br>
Avudaiyarkoil<br><br>
Tamil Nadu

</div>
 </ion-scroll>
</ion-view>
