<ion-view view-title="BRAHADAMBAL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/pb.jpg"><br>
<div class="item item-text-wrap">
Duration : 6 min <br>
Distance : 2.1 km<br>
via Ramanathapuram Rd and Vadakkadu - Alangudi Rd<br>
Fastest route<br><br>
FROM : <br>
Pudukkottai Railway Station<br>
Nainar Colony, Kavinad West, Tamil Nadu 622003<br><br>
Directions : <br>
•	Head south towards Pudukkottai Railway Station Rd<br>
13 m<br>

•	Turn left by the railway_station on to Pudukkottai Railway Station Rd<br>
 
•	Pass by Saravana marriage Hall (on the left) <br>
350 m<br>

•	Turn left at Sri Lakshmi Medical onto Ramanathapuram Rd
 <br>
•	Pass by Venus and Venus Transport Carrier (on the right) <br>
1.0 km<br>

•	Turn right onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Abirami Hotel (on the left in 700 m) <br>
750 m<br>

•	Turn right<br>
 
•	Destination will be on the right<br>
40m<br><br>
Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br>

Duration : 8 min<br>
Distance : 3.1 km<br>
via Vadakkadu - Alangudi Rd and New St<br>
Fastest route<br><br>
FROM : Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br><br>
Directions : <br>
•	Head north towards Vadakkadu - Alangudi Rd<br>
40 m<br>

•	Turn left onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Abirami Hotel (on the right) <br>
700 m<br>

•	Turn right onto Ramanathapuram Rd/Vadakkadu - Alangudi Rd<br>
300 m
<br>
•	At the roundabout, continue straight onto Samathi St<br>
650 m<br>

•	Turn left towards New St<br>
42 m<br>

•	Turn left at Smart Creative onto New St<br>
 
•	Pass by New Street Bus Stop (on the left in 500 m) <br>
1.2 km
<br>
•	Turn right<br>
130 m<br><br>
Brahadambal Temple<br>
Palaniappa Nagar, Pudukkottai, Tamil Nadu 622005<br>



</div>
 </ion-scroll>
</ion-view>
