<ion-view view-title="ELAMBALUR BRUMMARISHI MALAI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/pe.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The Brahmma Rishi Hill is a Hindu holy place — located in the Elambalur Hills, within the Perambalur District of Tamil Nadu state, in southeastern India.Rishis and Siddhas live in caves of thick jungles away from human contact<br>

Duration : 40 min<br>
Distance : 28.3 km<br>
via NH136<br>
Fastest route, the usual traffic<br><br>

FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>
Directions : <br><br>
•	Take Perambalur Rd to NH136 in Alagiripalayam<br>
4 min (1.9 km) <br>

•	Head south-west towards Perambalur Rd<br>
300 m
<br>
•	Turn right onto Perambalur Rd<br>
1.4 km<br>

•	Slight left towards NH136<br>
160 m<br>

•	Slight left onto NH136<br>
 
•	Pass by Shri Parasakthy Agency - Swaraj Tractor (on the right in 23.8 km) <br>
31 min (24.4 km) <br>
•	Drive to your destination in Sungu Pettai<br>
5 min (2.0 km)
<br>
•	Continue straight<br>
 
•	Pass by Shanthi Restaurant (on the left in 1.4 km) <br>
1.5 km
<br>
•	Sharp right at Aswins Sweets & Snacks<br>
99 m<br>

•	Turn left<br>
140 m<br>

•	Turn left<br>
110 m<br>

•	Turn left<br>
160 m<br><br>
New Bus Stand<br>
SH 142, Sungu Pettai, Perambalur, Tamil Nadu 621212<br>
  Duration : 11 min<br>
Distance : 7.1 km<br>
via NH38<br>
Fastest route<br><br>
FROM : New Bus Stand<br>
SH 142, Sungu Pettai, Perambalur, Tamil Nadu 621212<br><br>
Directions : <br><br>
•	Drive<br>
1 min (400 m) <br>

•	Head east<br>
160 m<br>

•	Turn right<br>
110 m<br>

•	Turn right<br>
140 m<br>
•	Drive along NH38<br>
6 min (4.6 km)
<br>
•	Turn left<br>
1.3 km<br>

•	Turn left onto NH Service Rd<br>
 
•	Pass by Pitchaimani Tea Shop (on the left) <br>
500 m
<br>
•	Turn left onto NH38<br>
 
•	Go past the petrol station (on the left in 1.8 km) <br>
2.8 km<br>
•	Take Perambalur Bypass Rd to your destination in Elambalur<br>
4 min (2.1 km) <br>

•	Slight left towards Perambalur Bypass Rd<br>
70 m
<br>
•	Slight left onto Perambalur Bypass Rd<br>
1.2 km<br>

•	Slight left<br>
800 m
<br>
•	Turn right<br>
43 m<br><br>
Elambalur

</div>
</ion-scroll>
</ion-view>
