
<ion-view view-title="PERAMBALUR ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "pr()"> 
RANJANKUDI FORT</button><br>

<button class="button button-clear button-royal" ng-Click = "pe()"> 

 ELAMBALUR BRUMMARISHI MALAI
</button><br>
<button class="button button-clear button-royal" ng-Click = "pl()"> 
 LADAPURAM NATURAL FALLS</button><br>
<button class="button button-clear button-royal" ng-Click = "pss()"> 
SIRUVACHUR MADURA KALI KOIL</button><br>
<button class="button button-clear button-royal" ng-Click = "pf()"> 
 SATTANUR FOSSIL TREE</button><br>




</ion-scroll>
</ion-view>
