<ion-view view-title="PILAIYARPATTI TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/pil.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Pillaiyar patti Pillaiyar temple is an ancient rock-cut cave shrine dedicated to Ganesha, located at Thiruppatthur (1 km from Thiruppatthur, Sivaganga district in the state of Tamil Nadu, India.
In the cave temple, there are rock cut images of Siva and other gods as well as several shrines. The Āgama texts found on stones in the temple help date the temple between the years 1091 and 1238. A unique Tamil image of Pillaiyar found in the temple helps to verify this dating. The presiding deity of the temple is Karpaka Vinayakar
<br>
 Duration  : 49 min<br> 
Distance  : 43.0 km<br>
via NH36<br>
Fastest route, the usual traffic<br><br>
 FROM : Sivagangai Bus Stand<br>
96, SH 33, Aranmanai Vaasal, Sivaganga, Tamil Nadu 630561<br><br>
Directions :v

•	Follow NH36 to Dindigul - Natham - Singampunari-Tiruppattur-Karaikudi Rd/Edaiyur - Tirupattur Rd/Manamelkudi - Tirupattur Rd/Soorakudi - Palavangudi - Tirupattur Rd/Thiruppathur - Karaikudi Rd/Thriruppatur-Karaikudi Rd<br>
40 min (36.5 km) <br>

•	Head east on NH85<br>
20 m<br>

•	Turn left at Subprime Salon towards Manamadurai Main Rd<br>
190 m<br>

•	Continue onto Manamadurai Main Rd<br>
180 m<br>

•	Turn left<br>
500 m<br>

•	Turn right at Selection Groups onto Gandhi Rd<br>
 
•	Pass by UniverCell (on the left) <br>
450 m<br>

•	Slight right at Bismi Xerox onto NH36<br>
 
•	Pass by Airmoon Travels (on the right) <br>
35.2 km<br>
•	Follow Dindigul - Natham - Singampunari-Tiruppattur-Karaikudi Rd/Edaiyur - Tirupattur Rd/Manamelkudi - Tirupattur Rd/Soorakudi - Palavangudi - Tirupattur Rd/Thiruppathur - Karaikudi Rd/Thriruppatur-Karaikudi Rd to Pillayarpatti Temple Rd in Koothadipatti, Pillayarpatti<br>
9 min (6.5 km) <br>

•	Turn right onto Dindigul - Natham - Singampunari-Tiruppattur-Karaikudi Rd/Edaiyur - Tirupattur Rd/Manamelkudi - Tirupattur Rd/Soorakudi - Palavangudi - Tirupattur Rd/Thiruppathur - Karaikudi Rd/Thriruppatur-Karaikudi Rd<br>
 
•	Pass by Punjab National Bank (on the right in 5.9 km) <br>
6.0 km
<br>
•	Turn right towards Pillayarpatti Temple Rd<br>
130 m<br>

Turn left onto Pillayarpatti Temple Rd<br>
300 m<br><br>
Pillayarpatti
Tamil Nadu




</div>
 </ion-scroll>
</ion-view>
