<ion-view view-title="KUDUMIYANMALAI TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/pk.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The cave temple in here belongs to the late Pandya Era of the 8th and 9th C. The cave temple has a Shiva Linga made of live rock. The Lord Shiva here is called Shika Natha, indicating a bun / bulge atop the lingam. 

<br>
Duration : 6 min <br>
Distance : 2.1 km<br>
via Ramanathapuram Rd and Vadakkadu - Alangudi Rd<br>
Fastest route<br><br>
FROM : <br>
Pudukkottai Railway Station<br>
Nainar Colony, Kavinad West, Tamil Nadu 622003<br><br>
Directions : <br>
•	Head south towards Pudukkottai Railway Station Rd<br>
13 m<br>

•	Turn left by the railway_station on to Pudukkottai Railway Station Rd<br>
 
•	Pass by Saravana marriage Hall (on the left) <br>
350 m<br>

•	Turn left at Sri Lakshmi Medical onto Ramanathapuram Rd
 <br>
•	Pass by Venus and Venus Transport Carrier (on the right) <br>
1.0 km<br>

•	Turn right onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Abirami Hotel (on the left in 700 m) <br>
750 m<br>

•	Turn right<br>
 
•	Destination will be on the right<br>
40m<br><br>
Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br>

Duration : 43 min<br>
Distance : 26.0 km<br>
via Pudukottai - Manapparai Rd<br>
Fastest route<br><br>
FROM : Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br><br>
Directions : <br>
•	Head north towards Vadakkadu - Alangudi Rd<br>
10 s (40 m) <br>
•	Take Pudukottai - Manapparai Rd to Kudumiyanmalai - Karasooranpatti Rd in Seranur<br>
33 min (21.5 km) <br>

•	Turn left onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Abirami Hotel (on the right) <br>
700 m
<br>
•	Turn right onto Ramanathapuram Rd/Vadakkadu - Alangudi Rd<br>
300 m<br>

•	At the roundabout, take the 1st exit onto Manapparai-Pudukottai Rd/Ramanathapuram Rd/Vadakkadu - Alangudi Rd<br>
 
•	Continue to follow Manapparai-Pudukottai Rd/Vadakkadu - Alangudi Rd<br>
 
•	Pass by Raja Petrol Bunk (on the left) <br>
1.4 km
<br>
•	Turn right at Thiruvappur Bus Stop onto Manapparai-Pudukottai Rd/Trichy - Pudukkottai/Vadakkadu - Alangudi Rd<br>
 
•	Continue to follow Manapparai-Pudukottai Rd<br>
 
•	Pass by Tamil Nadu Government Warehouse, Pudukkottai (on the left in 550 m) <br>
1.4 km
<br>
•	Turn left onto Pudukottai - Manapparai Rd<br>
6.0 km<br>

•	Continue straight past Kumaramalai Jn to stay on Pudukottai - Manapparai Rd<br>
 
•	Pass by jahir store (on the left in 9.5 km) <br>
10.2 km
<br>
•	Turn left onto Kudumiyanmalai - Nerinjikkudi Rd<br>
1.5 km
<br>
•	Turn right onto Kudumiyanmalai - Karasooranpatti Rd<br>
 
•	Destination will be on the right<br>
9 min (4.4 km) <br><br>
Sri Lakshmi Narayana Perumal Temple, Kazhanivai Patti. <br>
Kudumiyanmalai - Karasooranpatti Rd, Keelathanian, Tamil Nadu 622408<br>





</div>
 </ion-scroll>
</ion-view>
