<ion-view view-title=" LADAPURAM NATURAL FALLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/pl.jpg"><br>
<div class="item item-text-wrap">

Duration : 40 min<br>
Distance : 28.3 km<br>
via NH136<br>
Fastest route, the usual traffic<br><br>

FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>
Directions : <br><br>
•	Take Perambalur Rd to NH136 in Alagiripalayam<br>
4 min (1.9 km) <br>

•	Head south-west towards Perambalur Rd<br>
300 m
<br>
•	Turn right onto Perambalur Rd<br>
1.4 km<br>

•	Slight left towards NH136<br>
160 m<br>

•	Slight left onto NH136<br>
 
•	Pass by Shri Parasakthy Agency - Swaraj Tractor (on the right in 23.8 km) <br>
31 min (24.4 km) <br>
•	Drive to your destination in Sungu Pettai<br>
5 min (2.0 km)
<br>
•	Continue straight<br>
 
•	Pass by Shanthi Restaurant (on the left in 1.4 km) <br>
1.5 km
<br>
•	Sharp right at Aswins Sweets & Snacks<br>
99 m<br>

•	Turn left<br>
140 m<br>

•	Turn left<br>
110 m<br>

•	Turn left<br>
160 m<br><br>
New Bus Stand<br>
SH 142, Sungu Pettai, Perambalur, Tamil Nadu 621212<br>
 Duration : 37 min <br>
Distance : 17.8 km<br>
via Thuraiyur-Perambalur Rd<br>
Fastest route
<br><br>
FROM : New Bus Stand<br>
SH 142, Sungu Pettai, Perambalur, Tamil Nadu 621212<br><br>
Directions : <br><br>
•	Drive<br>
1 min (400 m) <br>
•	Head east<br>
160 m
<br>
•	Turn right<br>
110 m<br>

•	Turn right<br>
140 m<br>
•	Follow Thuraiyur-Perambalur Rd to Ladapuram Rd<br>
30 min (14.8 km) <br>

•	Turn left towards Attur - Perambalur Rd/Salem - Perambalur Rd/Thuraiyur-Perambalur Rd<br>
15 m<br>

•	Turn right towards Attur - Perambalur Rd/Salem - Perambalur Rd/Thuraiyur-Perambalur Rd<br>
 
•	Pass by Shanthi Restaurant (on the left) <br>
400 m
<br>
•	At the roundabout, take the 3rd exit onto Attur - Perambalur Rd/Salem - Perambalur Rd/Thuraiyur-Perambalur Rd<br>
 
•	Pass by Vallalar Motors (on the left) <br>
1.3 km<br>

•	Turn left at wall street finance onto Bazaar St/Thuraiyur-Perambalur Rd<br>
 
•	Continue to follow Thuraiyur-Perambalur Rd<br>
 
•	Pass by JK Complex (on the left) <br>
13.1 km<br>
•	Continue on Ladapuram Rd. Drive to Ladapuram - Melapuliyur Rd in Ladapuram<br>
5 min (2.6 km)
<br>
•	Turn right at Ladapuram Rd onto Ladapuram Rd<br>
 
•	Pass by Ladapuram Road Bus Stop (on the left) <br>
2.2 km
<br>
•	Turn left onto Ammapalayam Rd/Ladapuram - Melapuliyur Rd<br>
 
•	Continue to follow Ladapuram - Melapuliyur Rd<br>
450 m
<br><br>
Ladapuram<br>
Tamil Nadu



</div>
</ion-scroll>
</ion-view>
