<ion-view view-title="SITANAVASAL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ps.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Sittanavasal Cave (also, Arivar Koil) is a 2nd-century Jain complex of caves in Sittanavasal village in Pudukottai district of Tamil Nadu, India. Its name is a distorted form of Sit-tan-na-va-yil, a Tamil word which means "the abode of great saints" 
The monument is a rock-cut monastery or temple. Created by Jains, it is called the Arivar Koil, and is a rock cut cave temple of the Arihants. It contains remnants of notable frescoes from the 7th century. The murals have been painted with vegetable and mineral dyes in black, green, yellow, orange, blue, and white. Paintings have been created by applying colours over a thin wet surface of lime plaster. 

<br>
Duration : 6 min <br>
Distance : 2.1 km<br>
via Ramanathapuram Rd and Vadakkadu - Alangudi Rd<br>
Fastest route<br><br>
FROM : <br>
Pudukkottai Railway Station<br>
Nainar Colony, Kavinad West, Tamil Nadu 622003<br><br>
Directions : <br>
•	Head south towards Pudukkottai Railway Station Rd<br>
13 m<br>

•	Turn left by the railway_station on to Pudukkottai Railway Station Rd<br>
 
•	Pass by Saravana marriage Hall (on the left) <br>
350 m<br>

•	Turn left at Sri Lakshmi Medical onto Ramanathapuram Rd
 <br>
•	Pass by Venus and Venus Transport Carrier (on the right) <br>
1.0 km<br>

•	Turn right onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Abirami Hotel (on the left in 700 m) <br>
750 m<br>

•	Turn right<br>
 
•	Destination will be on the right<br>
40m<br><br>
Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br>

Duration : 25 min <br>
Distance : 15.8 km<br>
via Manapparai-Pudukottai Rd/SH 71<br>
Fastest route, the usual traffic<br><br>
FROM : Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br><br>
Directions : <br>
•	Head north towards Vadakkadu - Alangudi Rd<br>
40 m<br>

•	Turn left onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Abirami Hotel (on the right) <br>
700 m<br>

•	Turn right onto Ramanathapuram Rd/Vadakkadu - Alangudi Rd<br>
300 m<br>

•	At the roundabout, take the 1st exit onto Manapparai-Pudukottai Rd/Ramanathapuram Rd/Vadakkadu - Alangudi Rd<br>
 
•	Continue to follow Manapparai-Pudukottai Rd/Vadakkadu - Alangudi Rd
 <br>
•	Pass by Raja Petrol Bunk (on the left) <br>
1.4 km
<br>
•	Turn right at Thiruvappur Bus Stop onto Manapparai-Pudukottai Rd/SH 71/Trichy - Pudukkottai/Vadakkadu - Alangudi Rd<br>
 
•	Continue to follow Manapparai-Pudukottai Rd/SH 71<br>
 
•	Pass by Tamil Nadu Government Warehouse, Pudukkottai (on the left in 550 m) <br>
11.8 km<br>

•	Turn right onto Sittannavasal Cave Rd<br>
 
•	Pass by Sittannavasal Jain Cave - Wellcome Board (on the left) <br>
1.5 km<br><br>
Sittannavasal Rock-Cut Jaina Temple<br>
Sittannavasal Cave Rd, Madiyanallur, Tamil Nadu 622101<br>



</div>
 </ion-scroll>
</ion-view>
