<ion-view view-title="SIRUVACHUR MADURA KALI KOIL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/pss.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The Mathura Kaliamman Temple is a Hindu temple dedicated to the goddess Kali located in the village of Siruvachur in the Perambalur taluk of Perambalur District, India. Siruvachur is located at a distance of 5 km from Perambalur, its nearest town. The Car festival and the annual Panguni festivals are important festivals celebrated.<br>

Duration : 40 min<br>
Distance : 28.3 km<br>
via NH136<br>
Fastest route, the usual traffic<br><br>

FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>
Directions : <br><br>
•	Take Perambalur Rd to NH136 in Alagiripalayam<br>
4 min (1.9 km) <br>

•	Head south-west towards Perambalur Rd<br>
300 m
<br>
•	Turn right onto Perambalur Rd<br>
1.4 km<br>

•	Slight left towards NH136<br>
160 m<br>

•	Slight left onto NH136<br>
 
•	Pass by Shri Parasakthy Agency - Swaraj Tractor (on the right in 23.8 km) <br>
31 min (24.4 km) <br>
•	Drive to your destination in Sungu Pettai<br>
5 min (2.0 km)
<br>
•	Continue straight<br>
 
•	Pass by Shanthi Restaurant (on the left in 1.4 km) <br>
1.5 km
<br>
•	Sharp right at Aswins Sweets & Snacks<br>
99 m<br>

•	Turn left<br>
140 m<br>

•	Turn left<br>
110 m<br>

•	Turn left<br>
160 m<br><br>
New Bus Stand<br>
SH 142, Sungu Pettai, Perambalur, Tamil Nadu 621212<br>
Duration : 16 min <br>
Distance : 9.6 km<br>
via NH38<br>
Fastest route, the usual traffic<br><br>

FROM : New Bus Stand<br>
SH 142, Sungu Pettai, Perambalur, Tamil Nadu 621212<br><br>
Directions : <br><br>
•	Continue to NH136<br>
4 min (1.8 km) <br>

•	Head east<br>
160 m<br>

•	Turn right<br>
110 m
	<br>
•	Turn right<br>
140 m
<br>
•	Turn left<br>
1.3 km<br>
•	Take NH38 to Keelakanavai - Siruvachur Rd/Perumal Kovil St in Siruvachur<br>
7 min (6.7 km) <br>

•	Keep right to continue on NH136<br>
95 m
<br>
•	Turn right onto NH Service Rd<br>
 
•	Pass by Kasam Exports (on the left in 1.3 km) <br>
2.0 km<br>

•	Merge onto NH38<br>
 
•	Pass by Dheeran Nagar Bus Stop (on the left in 1.0 km) <br>
4.6 km<br>
•	Follow Keelakanavai - Siruvachur Rd/Perumal Kovil St to your destination<br>
5 min (1.2 km)
<br>
•	Turn right onto Keelakanavai - Siruvachur Rd/Perumal Kovil St<br>
 
•	Pass by Agilan Salon (on the left) <br>
400 m<br>

•	Slight left to stay on Keelakanavai - Siruvachur Rd/Perumal Kovil St<br>
800 m<br>

•	Turn left<br>
 
•	Destination will be on the left<br>
26 m<br><br>
Siruvachur Madhurakali Temple<br>
Siruvachur, Tamil Nadu 621113
<br>



</div>
</ion-scroll>
</ion-view>
