<ion-view view-title="SIVAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/pst.jpg"><br>
<div class="item item-text-wrap">
Duration : 6 min <br>
Distance : 2.1 km<br>
via Ramanathapuram Rd and Vadakkadu - Alangudi Rd<br>
Fastest route<br><br>
FROM : <br>
Pudukkottai Railway Station<br>
Nainar Colony, Kavinad West, Tamil Nadu 622003<br><br>
Directions : <br>
•	Head south towards Pudukkottai Railway Station Rd<br>
13 m<br>

•	Turn left by the railway_station on to Pudukkottai Railway Station Rd<br>
 
•	Pass by Saravana marriage Hall (on the left) <br>
350 m<br>

•	Turn left at Sri Lakshmi Medical onto Ramanathapuram Rd
 <br>
•	Pass by Venus and Venus Transport Carrier (on the right) <br>
1.0 km<br>

•	Turn right onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Abirami Hotel (on the left in 700 m) <br>
750 m<br>

•	Turn right<br>
 
•	Destination will be on the right<br>
40m<br><br>
Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br>

Duration : 27 min<br> 
Distance : 19.2 km<br>
via NH36<br>
Best route<br> 
This route has tolls. <br><br>
FROM : Pudukkottai bus stand<br>
Rajagopalapuram, Pudukkottai, Tamil Nadu 622001<br><br>

Directions : <br>

•	Take Ramanathapuram Rd to NH36 in KSM Nagar, Kavinad West<br>
7 min (2.9 km) <br>

•	Head north towards Vadakkadu - Alangudi Rd<br>
40 m<br>

•	Turn left onto Vadakkadu - Alangudi Rd<br>
 
•	Pass by Abirami Hotel (on the right) <br>
700 m
<br>
•	Turn left onto Ramanathapuram Rd<br>
 
•	Pass by Marriage Hall (on the left in 550 m) <br>
2.1 km<br>
•	Follow NH36 to MDR1005<br>
18 min (15.8 km) <br>

•	Slight right onto NH36<br>
 
•	Pass by Kalidasan sirpa kalaikutam namunasamudram (on the right in 4.8 km) <br>
5.9 km<br>

•	Turn left to stay on NH36<br>
 
      Partial toll road
 
•	Pass by Lembalakudi Toll Plaza (on the right in 2.8 km) <br>
9.9 km<br>
•	Continue on MDR1005 to your destination in Thirumayam<br>
2 min (600 m) <br>

•	Turn right onto MDR1005<br>
450 m<br>

•	Continue straight<br>
63 m
<br>
•	Turn right<br>
 
•	Destination will be on the right<br>
90 m<br><br>
Sivan Temple<br>
Fort ,Thirumyam<br>




</div>
 </ion-scroll>
</ion-view>
