<ion-view view-title="PADALEESWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/pt.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Pataleeswarar Temple is a Hindu shrine dedicated to Lord Shiva in the town of Cuddalore. It was constructed during the Pallava and Medieval Chola periods.The Saivite saint Appar is believed to have adopted Saivism at this temple.There is a belief/myth that by worshiping this God single time is equal to 16 times worshiping the Shiva in Kasi, 8 times in Thiruvannamalai and 3 times in Chidambaram.


Duration : 8 min<br>
SCHEDULE EXPLORER<br>

FROM : Cuddalore Port Junction<br>
Tamil Nadu 607003<br>


Cuddalore Port Junction<br>
 Mail Express16854Chennai Egmore<br>
 8 min (non-stop) · Stop ID: CUPJ<br>

Tirupadripulyur Railway Station<br>


Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>

Duration : 5 min<br> 
Distance : 1.0 km<br>
via Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd and Padaleeswarar Koil St
Fastest route<br><br>
FROM : Cuddalore Main Bus Stand<br><br>
Directions : <br><br>
•	SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br>

•	Head west towards Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
70 m<br>

•	Turn left at Ambika Textiles onto Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd/State Highway-68<br>
 
•	Continue to follow Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
 
•	Pass by Anandha Jewellery (on the right) <br>
280 m<br>

•	Turn right at Saraswathi Juice Stall onto Car St<br>
160 m<br>

•	Turn left at Lush Green Tours onto Padaleeswarar Koil St<br>
 
•	Pass by Ayeramvaisiya (on the left) <br>
400 m<br>

•	Turn right at TNEB,Tirupapuliyur onto Pidari Amman Koil St<br>
 
•	Destination will be on the left<br>
98 m<br><br><br>
Padaleeswarar Temple<br>
Pidari Amman Koil St, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br>



	

</div>
 </ion-scroll>
</ion-view>
