
<ion-view view-title="RAMANADHAPURAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "rm()"> 
	MANGALANATHA SWAMY TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "rk()"> 
	
KURUSADAI ISLAND

</button><br>
<button class="button button-clear button-royal" ng-Click = "rmp()"> 
	
RAMALINGAVILASAM PALACE</button><br>
<button class="button button-clear button-royal" ng-Click = "rff()"> 
	
FIVE-FACED HANUMAN TEMPLE
</button><br>

<button class="button button-clear button-royal" ng-Click = "rv()"> 
	
VILLOONDI THEERTHAM
</button><br>

<button class="button button-clear button-royal" ng-Click = "rt()"> 
	
TOMB OF THAYUMANA SWAMIGAL</button><br>

<button class="button button-clear button-royal" ng-Click = "rd()"> 
	
DHANUSHKODI</button><br>
<button class="button button-clear button-royal" ng-Click = "rig()">MANDAPAM and PAMBAN
</button><br>

</ion-scroll>
</ion-view>
