<ion-view view-title="DHANUSHKODI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/rd.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Dhanushkodi is an abandoned town at the south-eastern tip of Pamban Island of the state of Tamil Nadu in India. It is situated to the South-East of Pamban and is about 18 miles (29 km) west of Talaimannar in Sri Lanka. The town was destroyed during the 1964 Rameswaram cyclone and remains uninhabited in the aftermath.
<br>
Duration :8 min<br>
Distance : 650 m<br>
via NH87<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ramanathapuram<br>
Railway Feeder Rd, MSK Nagar, Pasumpon Nagar, Ramanathapuram, Tamil Nadu 623501<br>
Directions :

•	Walk north on Railway Feeder Rd towards NH87<br>
 
•	Pass by MR HI-TECH ENGINEERS PVT LTD (on the left) <br>
110 m<br>

•	Turn left at Sbi Atm onto NH87<br>
 
•	Pass by Hotel Nawab Kitchen (on the left in 44 m) <br>
550 m
<br>
•	Turn right at Dr.Liaqaut Ali Dental Clinic<br>
 
•	Destination will be on the left<br>
9 m<br><br>
Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br><br>Ramanathapuram, Tamil Nadu 623501<br>

Duration : 1 h 28 min<br><br> 
Distance : 75.2 km
via Kochi - Madurai - Dhanushkodi Rd<br>
Fastest route, the usual traffic<br><br>
FROM : Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br>Ramanathapuram, Tamil Nadu 623501<br><br>
Directions : <br><br>

•	Head west towards NH87<br>
9 m<br>

•	Turn left at Dr.Liaqaut Ali Dental Clinic onto NH87<br>
 
•	Pass by Deen Chamber Bricks (on the right) <br>
55.8 km<br>

•	Turn right by the petrol station on to Kochi - Madurai - Dhanushkodi Rd/Rameswaram-Dhanushkodi Rd/NH87<br>
 
•	Continue to follow Kochi - Madurai - Dhanushkodi Rd/Rameswaram-Dhanushkodi Rd<br>
 
•	Pass by Sekar Medicals (on the left) <br>
18.2 km
<br>
•	Slight left<br>
280 m<br>

•	Turn right<br>
550 m<br>

•	Turn left<br>
300 m<br><br><br>
Dhanushkodi
Tamil Nadu


</div>
 </ion-scroll>
</ion-view>
