<ion-view view-title="MANDAPAM and PAMBAN">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/rig.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Pamban Bridge is a railway bridge which connects the town of Rameswaram on Pamban Island to mainland India. Opened on 24 February 1914, it was India's first sea bridge, and was the longest sea bridge in India until the opening of the Bandra-Worli Sea Link in 2010. The rail bridge is, for the most part, a conventional bridge resting on concrete piers, but has a double-leaf bascule section midway, which can be raised to let ships and barges pass through.
<br>
Duration :8 min<br>
Distance : 650 m<br>
via NH87<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ramanathapuram<br>
Railway Feeder Rd, MSK Nagar, Pasumpon Nagar, Ramanathapuram, Tamil Nadu 623501<br>
Directions :

•	Walk north on Railway Feeder Rd towards NH87<br>
 
•	Pass by MR HI-TECH ENGINEERS PVT LTD (on the left) <br>
110 m<br>

•	Turn left at Sbi Atm onto NH87<br>
 
•	Pass by Hotel Nawab Kitchen (on the left in 44 m) <br>
550 m
<br>
•	Turn right at Dr.Liaqaut Ali Dental Clinic<br>
 
•	Destination will be on the left<br>
9 m<br><br>
Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br><br>Ramanathapuram, Tamil Nadu 623501<br>
Duration :53 min<br>
Distance : 46.2 km<br>
via NH87<br>
Fastest route, the usual traffic<br>
FROM : Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br>Ramanathapuram, Tamil Nadu 623501<br><br>
Directions :
<br>
•	Head west towards NH87<br>
9 m<br>

•	Turn left at Dr.Liaqaut Ali Dental Clinic onto NH87<br>
 
•	Pass by Deen Chamber Bricks (on the right) <br>
44.9 km<br>

•	Turn right onto Railway Station Rd<br>
46 m<br>

•	Slight right at Liyan Mobiles & Repairs towards Church Rd<br>
400 m<br>

•	Continue onto Church Rd<br>
220 m<br>
•	Turn right onto S Vadi St<br>
120 m
<br>
•	Turn left to stay on S Vadi St<br>
550 m<br><br><br>
Pamban Beach, Rameswaram
Kochi-Dhanushkodi Road, Pamban, Tamil Nadu 623521




</div>
 </ion-scroll>
</ion-view>
