<ion-view view-title="KURUSADAI ISLAND">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/rk.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Kurusadai Island is located at a distance of 4 Kms from Mandapam. This Island can be seen from the main land of Ramanathapuram in the Gulf of Mannar. It is a Marine Biosphere, a paradise for the Marine Biologists and Nature lovers. Abundance of Marine wealth here attracts researchers and Marine life scholars. Permission from the Fisheries is mandatory to visit this Island. Coral Reefs, Dolphins, Sea cows and Dugong can be seen in plenty of Kurusadai.
<br>
Duration :8 min<br>
Distance : 650 m<br>
via NH87<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ramanathapuram<br>
Railway Feeder Rd, MSK Nagar, Pasumpon Nagar, Ramanathapuram, Tamil Nadu 623501<br>
Directions :

•	Walk north on Railway Feeder Rd towards NH87<br>
 
•	Pass by MR HI-TECH ENGINEERS PVT LTD (on the left) <br>
110 m<br>

•	Turn left at Sbi Atm onto NH87<br>
 
•	Pass by Hotel Nawab Kitchen (on the left in 44 m) <br>
550 m
<br>
•	Turn right at Dr.Liaqaut Ali Dental Clinic<br>
 
•	Destination will be on the left<br>
9 m<br><br>
Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br><br>Ramanathapuram, Tamil Nadu 623501<br>
Duration : 1 h <br>
Distance : 50.6 km<br>
via NH87<br>
Fastest route, the usual traffic<br>
FROM : Ramanathapuram New Bus Stand<br><br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, Ramanathapuram, Tamil Nadu 623501<br><br>
Directions : <br><br>

•	Head west towards NH87<br>
9 m<br>

•	Turn left at Dr.Liaqaut Ali Dental Clinic onto NH87<br>
 
•	Pass by Deen Chamber Bricks (on the right) <br>
46.4 km<br>

•	Turn right onto Akkal Madam to Swami Vivekanda mani mandapam Rd/Pamban- Tharavai Thoppu Rd<br>
 
•	Continue to follow Akkal Madam to Swami Vivekanda mani mandapam Rd<br>
 
•	Pass by Dr a p j abdul kalam memorial (on the right in 1.0 km) <br>
2.7 km<br>

•	Turn right to stay on Akkal Madam to Swami Vivekanda mani mandapam Rd<br>
1.5	km<br><br>
Krusadai Island






</div>
 </ion-scroll>
</ion-view>
