<ion-view view-title="MANGALANATHA SWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/rm.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The temple is believed to be built by the Panyda kings. Achutappa Nayak (1529–1542 A.D.), a Hindu ruler of Thanjavur, Muthuveerappar and other kings of Ramanthapuram Sethupathy dynasty has contributed to the temple. The last renovation was carried out by the queen of Ramanthapuram.
<br>
Duration :8 min<br>
Distance : 650 m<br>
via NH87<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ramanathapuram<br>
Railway Feeder Rd, MSK Nagar, Pasumpon Nagar, Ramanathapuram, Tamil Nadu 623501<br>
Directions :

•	Walk north on Railway Feeder Rd towards NH87<br>
 
•	Pass by MR HI-TECH ENGINEERS PVT LTD (on the left) <br>
110 m<br>

•	Turn left at Sbi Atm onto NH87<br>
 
•	Pass by Hotel Nawab Kitchen (on the left in 44 m) <br>
550 m
<br>
•	Turn right at Dr.Liaqaut Ali Dental Clinic<br>
 
•	Destination will be on the left<br>
9 m<br><br>
Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br><br>Ramanathapuram, Tamil Nadu 623501<br>

Mangalanatha Swamy Temple
Duration : 26 min<br>
Distance :17.4 km<br>
via NH87 and Ramanathapuram Rd<br>
Fastest route<br>
FROM : Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br> Ramanathapuram, Tamil Nadu 623501<br><br>
Directions : <br>
•	Head west towards NH87<br>
9 m<br>

•	Turn right at Dr.Liaqaut Ali Dental Clinic onto NH87<br>
38 m
<br>
•	Turn left at KALYANA BIRIYANI to stay on NH87<br><br>
 
•	Pass by Schwartz Higher Secondary School (on the right in 500 m) <br>
10.2 km<br>

•	Turn left onto Ramanathapuram Rd<br>
7.1 km<br>

•	Turn left onto Ramanathapuram Rd/Utira - Thiruppulani Rd<br>
 
•	Destination will be on the left<br>
140 m<br><br>
Mangalanatha Swamy Temple<br>
Ramanathapuram Rd, Uthiragosamangai, Tamil Nadu 623533





</div>
 </ion-scroll>
</ion-view>
