<ion-view view-title="RAMALINGAVILASAM PALACE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/rmp.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The palace was built in the 17th century portrays the past glory of King Sethupathi. This palace is a heritage building which is under the control of State Archaeological Department and is best known for its mural paintings with natural dyes picturing the historical days ok King Sethupathi. The palace also holds complex weapons which were used by King Sethupathi on various wars.
<br>
Duration :8 min<br>
Distance : 650 m<br>
via NH87<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ramanathapuram<br>
Railway Feeder Rd, MSK Nagar, Pasumpon Nagar, Ramanathapuram, Tamil Nadu 623501<br>
Directions :

•	Walk north on Railway Feeder Rd towards NH87<br>
 
•	Pass by MR HI-TECH ENGINEERS PVT LTD (on the left) <br>
110 m<br>

•	Turn left at Sbi Atm onto NH87<br>
 
•	Pass by Hotel Nawab Kitchen (on the left in 44 m) <br>
550 m
<br>
•	Turn right at Dr.Liaqaut Ali Dental Clinic<br>
 
•	Destination will be on the left<br>
9 m<br><br>
Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br><br>Ramanathapuram, Tamil Nadu 623501<br>
Duration : 6 min <br>
Distance : 1.5 km<br>
via NH87 and Ramanathapuram - Sivagangai - Melur Rd/Salai St<br>
Best route<br>
FROM : Ramanathapuram New Bus Stand<br><br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, Ramanathapuram, Tamil Nadu 623501<br><br>
Directions : <br>

•	Head west towards NH87<br>
9 m<br>

•	Turn right at Dr.Liaqaut Ali Dental Clinic onto NH87<br>
38 m<br>

•	Turn left at KALYANA BIRIYANI to stay on NH87<br>
 
•	Pass by Schwartz Higher Secondary School (on the right in 500 m) <br>
650 m
<br>
•	Turn right at Hotel Annapoornaas onto Ramanathapuram - Sivagangai - Melur Rd/Salai St<br>
 
•	Pass by Morning Star Computer world (on the left)
 <br>
•	Destination will be on the left<br>
800 m<br><br><br>
Ramalinga Vilasam
SH 34, Laxmi Puram, Ramanathapuram, Tamil Nadu 623501





</div>
 </ion-scroll>
</ion-view>
