<ion-view view-title="TOMB OF THAYUMANA SWAMIGAL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/rt.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The Thayumanavar Temple is a temple situated in the Rockfort complex in the city of Tiruchirappalli, India. The temple is situated close to the base of the Rockfort and was constructed by the Pallava king Mahendravarman I in the 6th century AD. Shiva is worshiped as Thayumanavar, and is represented by the lingam and his consort Parvati is depicted as Mattuvar Kuzhalammai. The presiding deity is revered in the 7th century Tamil Saiva canonical work, the Tevaram, written by Tamil saint poets known as the nayanars and classified as Paadal Petra Sthalam.
<br>
Duration :8 min<br>
Distance : 650 m<br>
via NH87<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ramanathapuram<br>
Railway Feeder Rd, MSK Nagar, Pasumpon Nagar, Ramanathapuram, Tamil Nadu 623501<br>
Directions :

•	Walk north on Railway Feeder Rd towards NH87<br>
 
•	Pass by MR HI-TECH ENGINEERS PVT LTD (on the left) <br>
110 m<br>

•	Turn left at Sbi Atm onto NH87<br>
 
•	Pass by Hotel Nawab Kitchen (on the left in 44 m) <br>
550 m
<br>
•	Turn right at Dr.Liaqaut Ali Dental Clinic<br>
 
•	Destination will be on the left<br>
9 m<br><br>
Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br><br>Ramanathapuram, Tamil Nadu 623501<br>
Duration :6 min<br> 
Distance : 1.6 km<br>
via NH536<br>
Fastest route<br>
FROM : Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br>Ramanathapuram, Tamil Nadu 623501<br><br>
Directions : <br><br>
•	Head west towards NH87<br>
9 m<br>

•	Turn right at Dr.Liaqaut Ali Dental Clinic onto NH536<br><br>
 
•	Pass by Optic Center (on the left)
1.1 km<br>

•	Turn right
 <br>
•	Destination will be on the left<br>
450 m<br><br><br>
Tayumana swamy Temple<br>
Indira Nagar, Velipattinam, Ramanathapuram, Tamil Nadu 623504<br>


</div>
 </ion-scroll>
</ion-view>
