<ion-view view-title="VILLOONDI THEERTHAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/rv.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Villoondi theertham is a famous tourist attraction in Rameshwaram . It is one of the beaches  and also one of the 64 theerthas (sacred water body) in Rameswaram. It is situated 6 Km far from Rameswaram main bus stand. Villoondi theertham beach is a calm place with the silent  tides. There is a good water spring situated inside the sea ,it is the main attraction of this place. (Sometimes sea water mixed with that spring water and makes it saline).
<br>
Duration :8 min<br>
Distance : 650 m<br>
via NH87<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Ramanathapuram<br>
Railway Feeder Rd, MSK Nagar, Pasumpon Nagar, Ramanathapuram, Tamil Nadu 623501<br>
Directions :

•	Walk north on Railway Feeder Rd towards NH87<br>
 
•	Pass by MR HI-TECH ENGINEERS PVT LTD (on the left) <br>
110 m<br>

•	Turn left at Sbi Atm onto NH87<br>
 
•	Pass by Hotel Nawab Kitchen (on the left in 44 m) <br>
550 m
<br>
•	Turn right at Dr.Liaqaut Ali Dental Clinic<br>
 
•	Destination will be on the left<br>
9 m<br><br>
Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br><br>Ramanathapuram, Tamil Nadu 623501<br>
Duration : 56 min <br>
Distance : (50.7 km) <br>
via NH87<br>
Fastest route, the usual traffic<br><br>
FROM : Ramanathapuram New Bus Stand<br>
RMD Railway station Short Code, Madurai-Rameshwaram Rd, Rose Nagar, Chalai Bazar, <br>Ramanathapuram, Tamil Nadu 623501<br><br>
Directions : <br><br>
•	Head west towards NH87<br>
9 m<br>

•	Turn left at Dr.Liaqaut Ali Dental Clinic onto NH87<br>
 
•	Pass by Deen Chamber Bricks (on the right) <br>
49.8 km<br>

•	Turn left onto Villoondi Theertham Beach Rd<br>
900 m<br><br>
Villoondi Theertham Beach, Rameswaram<br>
Thangachi madam, Rameswaram - 623526, Tamilnadu, Thangachimadam, Tamil Nadu 623526<br>







</div>
 </ion-scroll>
</ion-view>
