<ion-view view-title="SILVER BEACH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/sb.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Silver Beach is a beach on the southeast coast of India. It is located 2 km (1.2 mi) from downtown Cuddalore, the headquarters of Cuddalore district in the state of Tamil Nadu. Silver Beach, however, is untouched by the busy life of the city. It is the second longest beach on the Coromandel Coast and one of the longest beaches in Asia. The 57 km-long stretch of beach faces severe seafront erosion<br>

Duration : 8 min<br>
SCHEDULE EXPLORER<br>

FROM : Cuddalore Port Junction<br>
Tamil Nadu 607003<br>


Cuddalore Port Junction<br>
 Mail Express16854Chennai Egmore<br>
 8 min (non-stop) · Stop ID: CUPJ<br>

Tirupadripulyur Railway Station<br>


Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>
Duration : 12 min<br>
Distance : 4.6 km<br>
via Kurinjipadi - Cuddalore Rd<br>
Fastest route<br><br>
FROM : Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>
Directions : <br><br>
•	Head west towards Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
75 m<br>

•	Turn right at Khadi Vastiralaya onto Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
 
•	Continue to follow Kurinjipadi - Cuddalore Rd<br>
 
•	Pass by Nathan Studio (on the right) <br>
1.2 km<br>

•	Turn right at Joy Opticals onto Kurinjipadi - Cuddalore Rd/Silver Beach Rd<br>
 
•	Continue to follow Silver Beach Rd
 <br>
•	Drive along Manjai Nagar Maidan (on the left for 270 m) <br>
3.2 km<br>

•	Turn left at Tourist Banglow Road<br>
25 m<br>

•	Turn left<br>
 
•	Destination will be on the right<br>
55 m<br><br><br>
Silver Beach<br>


	

</div>
 </ion-scroll>
</ion-view>
