<ion-view view-title="ELLAIPIDARI AMMAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/se.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Goddess graces facing West.<br>
Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>
Duration : 8 min<br>
Distance :  2.7 km<br>
via Omalur Main Road/Sankagiri - Salem Main Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Salem New Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>

•	Head south-east on Advaitha Ashram Rd towards Omalur Main Road/Sankagiri - Salem Main Rd<br>
100 m<br>

•	Turn right at Sree Colour Lab onto Omalur Main Road/Sankagiri - Salem Main Rd<br>
 
•	Pass by Kalyan Silks (on the left) <br>
1.5 km<br>

•	Slight left at Anna Park Bus Stop onto Rajaram Nagar Rd/Rajaram Nagar - Omalur Rd<br>
 
•	Pass by Bharathi Vidyalaya School (on the left) <br>
450 m<br>

•	Continue straight<br>
 
•	Pass by SSR Marriage Hall (on the left) <br>
550 m
<br>
•	Turn left onto Cherry Rd<br>
 
•	Pass by R.T. Parthasarathy Memorial Hall (on the left) <br>
 
•	Destination will be on the right<br>
130 m<br><br>
Ellai Pidari Amman Temple


</div>
 </ion-scroll>
</ion-view>
