
<ion-view view-title="SELAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "sy()"> 
	YERKAUD
</button><br>
<button class="button button-clear button-royal" ng-Click = "sl()"> 
	
1008 LINGAM TEMPLE

</button><br>
<button class="button button-clear button-royal" ng-Click = "smd()"> 
	
METTUR DAM</button><br>
<button class="button button-clear button-royal" ng-Click = "ss()"> 
	SIDDHAR TEMPLE
</button><br>

<button class="button button-clear button-royal" ng-Click = "si()"> 
	
ISKCON TEMPLE
</button><br>

<button class="button button-clear button-royal" ng-Click = "sst()"> 
	
SUGAVANESHWARAR TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "skz()"> 
	
KURUMPAPATTI ZOOLOGICAL PARK</button><br>
<button class="button button-clear button-royal" ng-Click = "sg()">THE GRANGE
</button><br>
<button class="button button-clear button-royal" ng-Click = "sf()">SILK FARM
</button><br>
<button class="button button-clear button-royal" ng-Click = "sr()">SRI RAMAR TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "se()">ELLAIPIDARI AMMAN TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "spk()">POIMAN KARADU
</button><br>
<button class="button button-clear button-royal" ng-Click = "spu()">PARAVASA ULAGAM WATER THEME PARK
</button><br>

</ion-scroll>
</ion-view>
