<ion-view view-title="THE GRANGE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/sg.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The Grange, officially referred to as The National Grange of the Order of Patrons of Husbandry, is a fraternal organization in the United States that encourages families to band together to promote the economic and political well-being of the community and agriculture.<br>

Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>
Duration : 1 h 4 min<br>
Distance : 30.1 km<br>
via SH 188<br>
Fastest route, the usual traffic<br><br>
FROM : Salem New Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br><br>
Directions : <br>
•	Follow Advaitha Ashram Rd to Sarada College Rd in Fairlands<br>
4 min (950 m) <br>

•	Head south-east towards Omalur Main Road/Sankagiri - Salem Main Rd<br>
91 m
<br>
•	Continue onto Advaitha Ashram Rd<br>
 
•	Pass by allied electronics (on the right) <br>
850 m
•	Follow SH 188 to Pagoda Point Road in Kombaikkadu<br>
55 min (27.1 km) <br>

•	Turn right at 360EYES onto Sarada College Rd<br>
 
•	Pass by Fairlands Police Station Bus Stop (on the left) <br>
1.7 km
<br>
•	Continue straight to stay on Sarada College Rd<br>
 
•	Pass by Salem Corporation Office II (on the left) <br>
250 m<br>

•	At the roundabout, take the 1st exit onto Yercaud Main Rd/SH 188<br>
 
•	Continue to follow SH 188<br>
 
•	Pass by Travellers Bungalow Bus Stop (on the right) <br>
24.9 km
<br>
•	At the roundabout, take the 2nd exit onto Kuppanur - Yercaud Ghat Rd<br>
 
•	Drive along the park (on the right) <br><br>
250 m

•	Turn left onto Pagoda Point Road<br>
 
•	Pass by Lake forest club mahindra (on the left) <br>
4 min (1.9 km) <br>

•	Turn right onto Kuppanur - Yercaud Ghat Rd<br>
 
•	Destination will be on the right<br>
41 s (210 m) <br><br><br>
Grange Resort


</div>
 </ion-scroll>
</ion-view>
