<ion-view view-title="ISKCON TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/si.jpg"><br>
<div class="item item-text-wrap">

Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>

Duration :17 min<br>
Distance : 8.1 km<br>
via NH44<br>
Fastest route, lighter traffic than usual<br><br>
FROM : Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br><br>
Directions : <br>
•	Take Omalur Main Road to NH44 in Narasothipatti<br>
7 min (2.1 km) <br>

•	Head south on Meyyanur Bypass Rd towards Central Bus Terminus Rd<br>
4 m<br>

•	Make a U-turn at Central Bus Terminus Rd<br>
 
•	Pass by Amman Parking (on the left) <br>
280 m<br>

•	Turn left at Olympic Prints & Xerox onto Omalur Main Road/Sankagiri - Salem Main Rd<br>
 
•	Pass by Sri Lakshmi Complex (on the left) <br><br>
700 m
<br>At the roundabout, take the 3rd exit onto Omalur Main Rd/Omalur Main Road
 
•	Pass by Barbie Restuarent (on the right) <br>
1.2 km
<br>
•	Turn right onto NH44<br>
 
•	Pass by Veej8 (on the right in 1.8 km) <br>
6 min (4.4 km) <br>
•	Drive to your destination<br>
4 min (1.6 km) <br>

•	Turn left<br>
500 m<br>

•	Turn right<br>
450 m<br>

•	Sharp left<br>
300 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
300 m<br><br>
ISKCON SALEM<br><br>
Hare Krishna Land,, Karuppur, Salem, Tamil Nadu 636012
 


</div>
 </ion-scroll>
</ion-view>
