<ion-view view-title="SRI KALIUGA VARATHARAJA PERUMAAL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/skv.jpg"><br>
<div class="item item-text-wrap">
	Temple’s Speciality :<br> 
 	 	 
 	There are no idols as presiding deity in the sanctum sanctorum. Only a 12 feet tall post held by Sri Anjaneya is considered the presiding deity of the temple	 <br>
 	 	 
 	Opening Time:	<br> 

 	 	 
 	The temple is open from 6.30 a.m. to 12.30 p.m. and from 3.00 p.m. to 9.00 p.m.	<br>
<br><br>

	Duration :9 min <br>
Distance : 2.3 km<br>
via College Road<br>
Fastest route<br><br>


FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>

Directions : <br>

•	Head south towards Railway Station Rd<br>
               150 m<br>

•	Turn left onto Railway Station Rd<br>
 
•	Pass by Shanmugapriya Lodge AC (on the left)<br>
                450 m<br>

•	Turn right towards College Road<br>
                66 m<br>

•	Turn left at the 1st cross street onto College Road<br>
 
•	Pass by sabarmathi vidhyalaya nursery & primary (on the left)<br>
                 800 m<br>

•	At Asian Traders, continue onto Sendurai Rd<br>
 
•	Pass by Gokul Complex (on the left)<br>
                 450 m<br>

•	Turn left at R.Cinnayan Store onto Market St<br>
 
•	Pass by Newton System (on the right)<br>
                290 m<br>

•	At the roundabout, take the 3rd exit and stay on Market St<br>
 
•	Destination will be on the left<br>
                85 m<br>

Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br><br>

Duration : 4 h 11 min <br>
Distance : 259 km<br>

via Chennai Theni Hwy<br>

Fastest route, the usual traffic <br>
This route has tolls.<br><br><br>


FROM : Ariyalur Bus Stand<br>

6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br>
Directions : <br><br>


•	Take Kallankurichi Rd to NH136 in Vila Ngara<br>

            3 min (850 m)<br>


•	Take NH38 and Chennai Theni Hwy to NH Service Rd in Melmaruvathur<br>

            3 h 1 min (206 km)<br>


•	Follow Cheyur - Vandavasi Rd/Cheyur - Vandawasi - Polur Rd/Cheyyar - Vandawasi - Polur Rd,MDR518 and SH 118A to W Mada St in Nethaji Nagar, 
Kanchipuram<br>

            1 h 12 min (51.7 km)<br>


Sri Varadharaja Perumal Temple (100 Pillared Mandapam)<br>

Nethaji Nagar, Kanchipuram, Tamil Nadu 631501<br>





</div>
 </ion-scroll>
</ion-view>
