<ion-view view-title="KURUMPAPATTI ZOOLOGICAL PARK">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/skz.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Kurumpapatti Zoological Park is a small zoological park situated at a distance of 6 km from the city of Salem. This park is mainly known for its bird species, like the white peacock and small multicolour cranes.<br>

Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>

Duration : 28 min<br>
Distance :11.1 km) <br>
via Kurumbapatti Road<br>
Fastest route<br><br>
FROM : Salem New Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>
Directions : <br><br>

•	Head south-east towards Omalur Main Road/Sankagiri - Salem Main Rd<br>
91 m<br>

•	Continue onto Advaitha Ashram Rd<br>
 
•	Pass by allied electronics (on the right) <br>
850 m<br>

•	Turn right at 360EYES onto Sarada College Rd<br>
 
•	Pass by Fairlands Police Station Bus Stop (on the left) <br>
1.7 km<br>

•	Continue straight to stay on Sarada College Rd<br>
 
•	Pass by Salem Corporation Office II (on the left) <br>
250 m<br>

•	At the roundabout, take the 1st exit onto Yercaud Main Rd<br>
 
•	Pass by Travellers Bungalow Bus Stop (on the right) <br>
2.3 km<br>

•	Slight left at Gorimedu Bus Stop onto Kurumbapatti Road<br>
 
•	Pass by Subham Rukmani Kalyana Mandabam (on the right) <br>
3.4 km<br>

•	Continue onto Uyiriyal Poonga Road<br>
 
•	Pass by Industrial Minerals & Refractories (on the right in 450 m) <br>
 
•	Destination will be on the right<br>
2.5 km<br><br>
Kurumbapatti Zoological Park<br>
Kurumbampatti, Tamil Nadu 636008<br>



</div>
 </ion-scroll>
</ion-view>
