<ion-view view-title="METTUR DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/smd.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The Mettur Dam is one of the largest dams in India. Built in 1934, it was constructed in a gorge, where the Kaveri River enters the plains. It provides irrigation facilities to parts of Salem, the length of Erode, Namakkal, Karur, Tiruchirappali and Thanjavur district for 271,000 acres (110,000 ha) of farm land.<br>

Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>

Duration :1 h 16 min<br>
Distance : 50.1 km<br>
via Omalur - Mecheri - Pennagaram Rd and Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
Fastest route, despite the usual traffic<br>
 
This route has tolls. <br><br>
FROM : Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br><br>
Directions :

•	Take Omalur Main Road to NH44 in Narasothipatti<br>
7 min (2.1 km) <br>

•	Head south on Meyyanur Bypass Rd towards Central Bus Terminus Rd<br>
4 m<br>

•	Make a U-turn at Central Bus Terminus Rd<br>
 
•	Pass by Amman Parking (on the left) <br>
280 m<br>

•	Turn left at Olympic Prints & Xerox onto Omalur Main Road/Sankagiri - Salem Main Rd<br> 
•	Pass by Sri Lakshmi Complex (on the left) <br>
700 m<br>

At the roundabout, take the 3rd exit onto Omalur Main Rd/Omalur Main Road<br>
 
•	Pass by Barbie Restuarent (on the right) <br>
1.2 km<br>
•	Follow NH44, Omalur - Mecheri - Pennagaram Rd and Thoppur-Mettur Dam-Bhavani-Erode Rd to Mettur<br>
1 h 7 min (47.6 km) <br>

•	Turn right onto NH44<br>
 
       Partial toll road<br>
 
•	Pass by Veej8 (on the right in 1.8 km) <br>
9.9 km<br>

•	Slight left towards NH Service Rd<br>
24 m<br>
•	Slight right onto NH Service Rd<br>
350 m
<br>
•	At the roundabout, take the 1st exit onto Salem Main Rd<br>
 
•	Pass by GHSS Pannapptti, (on the left in 500 m) <br>
900 m
<br>
•	Turn left onto Mettur Main Rd/Omalur Main Rd/Omalur - Mecheri - Pennagaram Rd<br>
 
•	Pass by SAKTHI VILAS HOTEL (on the left) <br>
1.6 km
<br>
•	Turn right onto Omalur - Mecheri - Pennagaram Rd<br>
 
•	Pass by Paalikadai Bus Stop (on the left in 3.6 km) <br>
15.0 km
<br>
•	Turn left at Mecheri Jct onto Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
 
•	Pass by Mecheri Taluk Office (on the left) <br>
14.6 km<br>

•	Turn left to stay on Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
 
•	Pass by Patanjali Shop (on the left in 500 m) <br>
550 m<br>

•	Turn right to stay on Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
 
•	Pass by Sri Balamurugan Agencies (on the right in 850 m) <br>
4.7 km<br>

•	At Motorcycle repair and puncture shop, continue onto Mettur - Madheswara Betta Rd/Mettur Main Rd<br>
100 m<br>

•	Turn left<br>
 
•	Destination will be on the left<br>
58 s (300 m) <br><br><br>
Mettur Dam


</div>
 </ion-scroll>
</ion-view>
