<ion-view view-title="SWAMI MALAI TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/smt.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Swamimalai Swaminathaswamy Temple is a Hindu temple located in Swamimalai dedicated Murugan 5 km from Kumbakonam on the banks of a tributary of river Cauvery, 250 km from Chennai, the capital of Tamil Nadu, India. The temple is one of the six holy shrines of Murugan called Arupadaiveedu. The shrine of the presiding deity, Swaminathaswamy is located atop a 60 ft (18 m) hillock and the shrine of his mother Meenakshi (Parvathi) and father Shiva (Sundareswarar) is located downhill. The temple has three gopuram (gateway towers), three precincts and sixty steps and each one is named after the sixty Tamil years.
<br>
Duration : 38 min<br>
Distance : 29.4 km<br>
via NH36<br>
Fastest route, the usual traffic<br><br>
 FROM : Thanjavur Railway Station<br>
Soolamangalam, Thanjavur, Tamil Nadu<br><br>
Directions : <br>
•	Take Solamangalam Road to NH36 in Pasupathikoil<br>
4 min (1.8 km) <br>

•	Head north-east towards Solamangalam Road<br>
200 m<br>

•	Turn left onto Solamangalam Road<br>
 
•	Pass by Electricity Board Offices (on the left in 950 m) <br>
1.0 km<br>

•	Turn left at Soolamangalam Road Bus Stop onto Bypass Rd<br>
 
•	Pass by ADHAVAN MOTORS (TVS) (on the left in 400 m) <br>
600 m<br>
•	Follow NH36 to Trichy Main Rd in AVP Azhagammal Nagar, Thanjavur<br>
31 min (26.0 km) <br>

•	Turn left at Anna Silai Bus Stop onto NH36<br>
 
•	Pass by Thandankorai Ooradachchi Amman Temple (on the left in 3.9 km) <br>
9.6 km
<br>
•	At the roundabout, take the 1st exit and stay on NH36<br>
 
•	Pass by Ayyappan Ready Mix Plant (on the left in 2.9 km) <br>
6.7 km
<br>
•	At the roundabout, take the 3rd exit and stay on NH36<br>
450 m<br>

•	Merge onto NH36<br>
 
•	Pass by Capital Honda (on the left in 6.4 km) <br>
8.7 km<br>

•	Take the slip road to NH36<br>
65 m<br>

•	Continue onto NH36<br>
300 m<br>

•	Continue straight<br>
10 m<br>

•	Turn right onto NH36<br>
 
•	Go past the petrol station (on the left) <br>
180 m<br>
•	Follow Trichy Main Rd to Local Buses Way in Neelagiri<br>
3 min (1.6 km) <br>

•	At the roundabout, take the 1st exit onto Trichy Main Rd<br>
 
•	Pass by Janani Maligai Store (on the right) <br>
1.5 km<br>

•	Turn left onto Local Buses Way<br>
 
•	Pass by Two Wheeler Parking Stand (on the left) <br>
99 m<br><br>
Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br>

Duration :1 h 7 min<br>
Distance :  47.4 km<br>
via NH36 and SH 22<br>
Fastest route, the usual traffic<br><br>
FROM : Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br><br>
Directions : <br>
•	Follow Trichy Main Rd to NH36 in New Housing Unit<br>
4 min (1.6 km) <br>

•	Head south-east on Local Buses Way towards Trichy Main Rd<br>
 
•	Pass by Two Wheeler Parking Stand (on the right) <br>
110 m
<br>
•	Turn right at Shree Gnanam Groups of Companies onto Trichy Main Rd<br>
 
•	Pass by Hotel Ram Aariyas (on the left) <br>
1.5 km<br>
•	Follow NH36 to Kavery Bridge in Ayyampet<br>
33 min (26.8 km) <br>

•	At the roundabout, take the 2nd exit onto NH36<br>
 
•	Pass by Ahash Nissan (on the left) <br>
300 m<br>

•	Merge onto NH36/NH83<br>
 
•	Go past the petrol station (on the left in 6.0 km) <br>
7.2 km<br>

•	Keep right to continue on NH36<br>
1.5 km<br>

•	Turn left onto the slip road to NH36<br>
67 m<br>

•	Continue onto NH36<br>
280 m<br>

•	At the roundabout, take the 2nd exit and stay on NH36<br>
 
•	Pass by P.R. Auto Spare Parts (on the left) <br>
6.8 km<br>

•	At the roundabout, take the 3rd exit and stay on NH36<br>
 
•	Pass by getvisa4u (on the right in 10.4 km) <br>
10.7 km<br>
•	Take SH 22 to your destination in Swamimalai, Alavandipuram<br>
30 min (18.9 km) <br>

•	Turn left at Mathagadi Bazaar Bus Stop onto Kavery Bridge<br>
 
•	Pass by Ayampett Bridge (on the left in 450 m) <br>
2.2 km<br>

•	Turn right onto SH 22<br>
 
•	Pass by Ganapathi Agraharam Bus Stop (on the left) <br>
16.6 km

•	Turn right at Swamimalai Bus Stop<br>
 
•	Destination will be on the right<br>
74 m<br><br>
Swamimalai Murugan Temple<br>
Swamimalai, Kumbakonam, Tamil Nadu 612302


</div>
 </ion-scroll>
</ion-view>
