<ion-view view-title="SOTHUPPARAI DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/sot.jpg"><br>
<div class="item item-text-wrap">
 
Chronicle :<br>
The Sothupparai Dam is built across the Varaha River, at a distance of 12 km from Periyakulam. The dam has a wide area to store water.<br><br>
Duration : 9 min<br>
Distance : 2.6 km<br>
via NRT Main Rd<br>
Fastest route<br><br>

FROM : Railway Station<br>
Railway Feeder Rd, Theni, Tamil Nadu 625531<br><br>
Directions : <br><br>
•	Head south-east on Railway Feeder Rd towards NH183<br>
650 m<br>

•	Turn left at VL Krishnaswamy Rukmaniammal Kalyan mahal onto NH183<br>
 
•	Pass by Theni Coconut Producers Company (on the left) <br>
98 m<br>

•	Turn right at Sri Vi Broilers onto NRT Main Rd<br>
 
•	Pass by El Shaddai (on the left) <br>
1.0 km<br>

•	Turn left at Theni Grand Master Chess Academy<br>
67 m<br>

•	Turn right<br>
750 m
<br>
•	Turn right onto Theni By-Pass<br>
 
•	Destination will be on the left<br>
98 m<br><br>
Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br>


Duration : 39 min<br>
Distance : 24.8 km<br>
via NH183<br>
Fastest route<br><br>

FROM : Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br><br>
Directions : <br><br>
•	Head north on Theni By-Pass<br>
 
•	Pass by Paalam Matriculation School (on the right in 2.4 km) <br>
3.8 km
<br>
•	Turn right onto NH183
 <br>
•	Pass by GGN SPINNING MILL B UNIT (on the left in 1.6 km) <br>
10.6 km<br>

•	Turn left at J.T.V LAW ASSOCIATES onto Rd No. 18<br>
 
•	Go past the petrol station (on the left) <br>
290 m
<br>
•	Turn right at Perumal Kovil onto Perumal Kovil St<br>
 
•	Pass by Naga Net World & Xerox (on the right) <br>
120 m<br>

•	Turn left at Periakulam Head Post Office onto Katcheri Rd<br>
 
•	Pass by Priya Hotal (on the right in 350 m) <br>
3.6 km
<br>
•	Continue onto Sothuparai Rd<br>
5.6 km
<br>
•	At Sothu Parai Bust Stop, continue onto Periyakulam Agamalai Road<br>
700 m<br><br>
Sothuparai Dam<br>



</div>
</ion-scroll>
</ion-view>
