<ion-view view-title="POIMAN KARADU">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/spk.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>A tourist hilltop giving off a mirage of a deer with two horns, Poiman Karadu lies 9 km from the Salem City on the Salem-Namakkal National highway.  Renowned place as it is, you definitely do not require to be reined in since it can be explored easily. The vantage point on the contrary might give difficult time locating to enjoy the panoramic view of the valley. It is not a hill station but a hill top where the swashbucklers and the flamboyant traveler would want to lock horns with to reach the apogee of a natural point.
<br>
Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>
Duration : 20 min <br> 
Distance : 14.8 km<br>
via NH44<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Salem New Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br><br>

Directions : <br>

•	Follow Sankagiri - Salem Main Rd to NH44 in Meyyanur<br>
5 min (1.7 km) <br>

•	Head south-east towards Omalur Main Road/Sankagiri - Salem Main Rd<br>
91 m<br>

•	Turn left at the 1st cross street onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by Sri Lakshmi Complex (on the left in 400 m) <br>
1.0 km<br>

•	At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by Barbie Restuarent (on the right) <br>
700 m<br>
•	Follow NH44 to PM Nagar<br>
10 min (7.2 km) <br>

•	At the roundabout, take the 1st exit onto NH44<br>
 
•	Pass by Kumar Mansion ,room NO: 123 (on the left in 750 m) <br>
1.0 km<br>

•	At the roundabout, take the 2nd exit and stay on NH44<br>
 
•	Pass by Sachin sports club Gopichand academy (on the left) <br>
4.3 km<br>

•	At the roundabout, take the 2nd exit and stay on NH44<br>
 
•	Pass by NEW TECH MOBILES (on the left) <br>
2.0 km<br>
•	Continue to Govindammal Nagar, Jerugumalai R.F. <br>
1 min (850 m) <br>

•	Slight right<br>
450 m<br>

•	Slight right towards NH44<br>
400 m
<br>
•	Slight left onto NH44<br>
 
•	Pass by Ajith Vishva Old Steel Shop (on the right in 400 m) <br>
 
•	Destination will be on the left<br>
4 min (5.0 km) <br><br><br>
RRK Hitech Petroleum Bpcl Dealer<br>
poiman karadu



</div>
 </ion-scroll>
</ion-view>
