<ion-view view-title="PARAVASA ULAGAM WATER THEME PARK">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/spu.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Paravasa Ulagam is a Water theme Park situated in the midst of a cool hilly region surrounded by lush green trees and lawns in a calm atmosphere on the AH-43/NH-7 (National Highways) between Salem and Namakkal, located at a distance of about 16 km from Salem City near Mallur. Started humbly in 6 acres of land, it has extended its capacity and also the number of attractions since it was opened in 2004 and it is now spread over 15 acres with more expansions in the pipeline.
<br>
Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>
Duration :25 min<br>
Distance : 21.2 km <br>
via NH44<br>
Fastest route, the usual traffic<br><br>
FROM : Salem New Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br><br>
Directions : <br>
•	Follow Sankagiri - Salem Main Rd to NH44 in Meyyanur<br>
5 min (1.7 km) <br>

•	Head south-east towards Omalur Main Road/Sankagiri - Salem Main Rd<br>
91 m<br>

•	Turn left at the 1st cross street onto Omalur Main Road/Sankagiri - Salem Main Rd<br>
 
•	Pass by Sri Lakshmi Complex (on the left in 400 m) <br>
1.0 km<br>

•	At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by Barbie Restuarent (on the right) <br>
700 m<br>
•	Follow NH44 to Paravasa Ulagam Rd in Annamalaipatti<br>
20 min (19.2 km)
<br>
•	At the roundabout, take the 1st exit onto NH44<br>
 
•	Pass by Kumar Mansion ,room NO: 123 (on the left in 750 m) <br>
1.0 km<br>

•	At the roundabout, take the 2nd exit and stay on NH44<br>
 
•	Pass by Sachin sports club Gopichand academy (on the left) <br>
4.3 km<br>

•	At the roundabout, take the 2nd exit and stay on NH44<br>
 
•	Pass by NEW TECH MOBILES (on the left) <br>
2.0 km<br>

•	Slight right<br>
450 m<br>

•	Slight right towards NH44<br>
400 m<br>
•	Slight left onto NH44<br>
 
•	Pass by Ajith Vishva Old Steel Shop (on the right in 400 m) <br>
11.2 km<br>

•	Turn left onto Paravasa Ulagam Rd<br>
31 s (260 m) <br><br>
Paravasa Ulagam<br>Salem to Namakkal Highway, NH-7, KK Valasu, Mallur, Salem, Tamil Nadu 636203<br>


</div>
 </ion-scroll>
</ion-view>
