<ion-view view-title="SRI RAMAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/sr.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>There are pillars in the temple of high architectural beauty producing melodious musical sounds when tapped. In a sculpture of a single stone, it is lion at the top and an elephant at the bottom. Earlier, the rays of sun fell on the Anjaneya shrine through the hole in doors. It is now prevented by buildings built around the temple.<br>
Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>
Duration :1 h 39 min<br>
Distance : 90.0 km<br>
via NH544<br>
Fastest route, the usual traffic <br>
This route has tolls<br>.<br>
FROM : Salem New Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>v
Directions :
<br>
•	Follow Sankagiri - Salem Main Rd to NH44 in Meyyanur<br>
5 min (1.7 km) <br>

•	Head south-east towards Omalur Main Road/Sankagiri - Salem Main Rd<br>
91 m<br>

•	Turn left at the 1st cross street onto Omalur Main Road/Sankagiri - Salem Main Rd<br>
 
•	Pass by Sri Lakshmi Complex (on the left in 400 m) <br>
1.0 km<br>

•	At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by Barbie Restuarent (on the right) <br>
700 m<br>
•	Follow NH544 to Kalingarayanpalayam, Mettunasuvanpalayam<br>
53 min (61.8 km) <br>

•	At the roundabout, take the 1st exit onto NH44<br>
 
•	Pass by Kumar Mansion ,room NO: 123 (on the left in 750 m) <br>
1.0 km<br>

•	At the roundabout, take the 2nd exit and stay on NH44<br>
 
•	Pass by Sachin sports club Gopichand academy (on the left) <br>
2.8 km<br>

•	Take the slip road to NH544<br>
1.1 km<br>

•	Continue onto NH544<br>
 
Partial toll road<br>
 
•	Pass by SRI VINAYAGA MOBILES (on the right in 6.3 km) <br>
57.0 km<br>
•	Take Bhavani-Anthiyur-Kollegal Rd to Anthiyur - Vellithiruppur Rd<br>
41 min (26.5 km) <br>

•	Turn right towards Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
76 m
<br>
•	Slight right at SHRI RAJ DEPARTMENTAL STORE onto Thoppur-Mettur Dam-Bhavani-Erode Rd<br>
 
•	Pass by Mauriya Computer Solution (on the left) <br>
2.4 km<br>

•	Continue straight past Savee's Signature Spa<br>
160 m<br>

•	Turn left onto SH 82<br>
 
•	Pass by DSP Office (on the right) <br>
1.2 km<br>

•	Turn right at Kaadayampatti Bus Stop onto Bhavani-Anthiyur-Kollegal Rd<br>
 
•	Pass by Iyanarapan Temple (on the left) <br>
17.3 km<br>

•	Turn right at KSR Boilers<br><br>
2.0 km

•	Continue onto Anthiyur - Vellithiruppur Rd<br>
 
•	Pass by Sri Maha Sakthi Temple (on the left in 3.1 km) <br>
3.3 km<br><br><br>
Sri Ramar Temple<br>
SRI SIDHESWARER TEMPLE,, Anthiyur - Vellithiruppur Rd, Gettisamudram, Tamil Nadu<br>


</div>
 </ion-scroll>
</ion-view>
