<ion-view view-title="SIDDHAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ss.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>There are seperate shrine for 18 siddhar. First Sivakiya siddhar and last is pampatti siddhar<br>

Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>



Duration : 31 min<br>
Distance : 17.0 km<br>
via Siddhar Kovil Rd<br>
Fastest route<br><br>
FROM : Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>
Directions : <br>
•	Head south on Meyyanur Bypass Rd towards Central Bus Terminus Rd<br>
 
•	Pass by Auto Stand (on the left) <br>
3 min (700 m) <br>
•	Take NH44 to Siddhar Kovil Rd<br>
28 min (16.3 km) <br>
•	Turn left at SANTOSH NOVELTY onto Meyyanur Main Rd<br>
 
•	Pass by Tata Badri Tower (on the right) <br>
450 m
<br>
•	Turn right at 3 Roads Bus Stop onto Suramangalam Main Rd<br>
 
•	Pass by Theerthamalai Vaniga Valagam (on the left) <br>
850 m<br>

      At the roundabout, take the 1st exit onto NH44<br>
 
•	Pass by Sachin sports club Gopichand academy (on the left) <br>
2.0 km<br>

•	Turn left at Iyengar Bakery onto Mollapillayar Kovil Rd/Siddhar Kovil Rd<br>
19 m<br>

•	Turn left<br>
 
•	Pass by Blue Dart DHL (on the right in 450 m) <br>
700 m<br>

•	Turn left<br>
650 m<br>

•	Slight right towards Siddhar Kovil Rd<br>
43 m<br>

•	Turn right at Indian Modern Gym onto Siddhar Kovil Rd<br>
 
•	Pass by saravana xerox (on the left) <br>
11.5 km<br><br><br>
Siddhar Kovil
Siddhar Kovil Rd, Kanjamalai R.F., Tamil Nadu 636307

</div>
 </ion-scroll>
</ion-view>