<ion-view view-title="SUBRAMANIYA SWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ssk.jpg"><br>
<div class="item item-text-wrap">
    Duration: 43 min <br>
Distance:  23.2 km<br>
via Alathur - Ariyalur Rd<br>
Fastest route
<br><br>
FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>

Directions :<br>


•	Head south-west towards Perambalur Rd<br>
             (300 m)<br>

•	Turn right onto Perambalur Rd<br>
(650 m)<br>

•	Turn left onto Alathur - Ariyalur Rd<br>
 
•	Pass by Kizha Uzhan Nagaram Bus Stop (on the right in 850 m)<br>
            (2.0 km)<br>

•	Turn right to stay on Alathur - Ariyalur Rd<br>
 
•	Pass by Mela Uzhan Nagaram Bus Stop (on the right in 500 m)<br>
(7.6 km)<br>

•	Turn left to stay on Alathur - Ariyalur Rd<br><br>
(6.3 km)<br>

•	Turn left<br>
(400 m)
<br>
•	Turn left<br>
 
•	Destination will be on the right<br>
(5.8 km)<br><br>

Subramaniya Swamy Koil<br>
Garudamangalam, Tamil Nadu 621106<br>


</div>
 </ion-scroll>
</ion-view>
