<ion-view view-title=" SARASVATI MAHAL LIBRARY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ssm.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Saraswathi Mahal Library or Tanjore Maharaja Serfoji's Sarasvati Mahal Library (TMSSML) is located in Thanjavur (Tanjore), Tamil Nadu, India. It is one of the oldest libraries in Asia, and has on display a rare collection of Palm leaf manuscripts and paper written in Tamil, Hindi, Telugu, Marathi, English and a few other languages indigenous to India. The collection comprises well over 60,000 volumes, though only a tiny fraction of these are on display. The library has a complete catalogue of holdings, which is being made available online. Some rare holdings can be viewed on site by prior arrangement

<br>
Duration : 38 min<br>
Distance : 29.4 km<br>
via NH36<br>
Fastest route, the usual traffic<br><br>
 FROM : Thanjavur Railway Station<br>
Soolamangalam, Thanjavur, Tamil Nadu<br><br>
Directions : <br>
•	Take Solamangalam Road to NH36 in Pasupathikoil<br>
4 min (1.8 km) <br>

•	Head north-east towards Solamangalam Road<br>
200 m<br>

•	Turn left onto Solamangalam Road<br>
 
•	Pass by Electricity Board Offices (on the left in 950 m) <br>
1.0 km<br>

•	Turn left at Soolamangalam Road Bus Stop onto Bypass Rd<br>
 
•	Pass by ADHAVAN MOTORS (TVS) (on the left in 400 m) <br>
600 m<br>
•	Follow NH36 to Trichy Main Rd in AVP Azhagammal Nagar, Thanjavur<br>
31 min (26.0 km) <br>

•	Turn left at Anna Silai Bus Stop onto NH36<br>
 
•	Pass by Thandankorai Ooradachchi Amman Temple (on the left in 3.9 km) <br>
9.6 km
<br>
•	At the roundabout, take the 1st exit and stay on NH36<br>
 
•	Pass by Ayyappan Ready Mix Plant (on the left in 2.9 km) <br>
6.7 km
<br>
•	At the roundabout, take the 3rd exit and stay on NH36<br>
450 m<br>

•	Merge onto NH36<br>
 
•	Pass by Capital Honda (on the left in 6.4 km) <br>
8.7 km<br>

•	Take the slip road to NH36<br>
65 m<br>

•	Continue onto NH36<br>
300 m<br>

•	Continue straight<br>
10 m<br>

•	Turn right onto NH36<br>
 
•	Go past the petrol station (on the left) <br>
180 m<br>
•	Follow Trichy Main Rd to Local Buses Way in Neelagiri<br>
3 min (1.6 km) <br>

•	At the roundabout, take the 1st exit onto Trichy Main Rd<br>
 
•	Pass by Janani Maligai Store (on the right) <br>
1.5 km<br>

•	Turn left onto Local Buses Way<br>
 
•	Pass by Two Wheeler Parking Stand (on the left) <br>
99 m<br><br>
Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br>

Duration : 18 min <br> 
Distance : 6.9 km<br>
via Trichy Main Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br><br>
Directions : <br>

•	Head south-east on Local Buses Way towards Trichy Main Rd<br>
24 s (99 m) <br>
•	Continue on Trichy Main Rd. Take Membalam Rd to Palace Rd<br>
15 min (6.5 km)
<br>
•	Turn left at the 1st cross street onto Trichy Main Rd<br>
 
•	Pass by Hotel Annamalai (on the left) <br>
2.7 km<br>

•	Continue onto New Bus Stand Rd/Trichy Rd<br>
 
•	Go through 1 roundabout<br>
 
•	Pass by District Collector's Camp Office (on the right) <br>
600 m<br>

•	At the roundabout, take the 1st exit onto Sachidananda Moopanar Rd<br>
 
•	Pass by S Ladies Police Station (on the right) <br>
900 m<br>

•	At the roundabout, take the 2nd exit onto Membalam Rd<br>
 
•	Pass by Membalam Bus Stop (on the left) <br>
1.0 km<br>

•	Turn right at Thanjavur Periya Kovil Bus Stop onto Hospital Rd<br>
 
•	Pass by District Central Library (on the left)
600 m<br>

•	Turn left at New Thevars Restaurant onto Gandhiji Rd/Mattumestri Ln<br>
 
•	Pass by Old Bus Stop Police Check Post (on the left) <br>
120 m<br>

•	Continue straight past Anbu Pal Nilayam onto E Main St/Thanjavur - Kumbakonam Rd<br>
 
•	Pass by Amazing Add 3 (on the left) <br>
600 m<br>
•	Drive to your destination<br>
1 min (270 m) <br>

•	Turn left at Balaji Arts And Crafts onto Palace Rd<br>
64 m<br>

•	Turn left<br>
 
•	Destination will be on the left<br>
210 m<br><br>
Saraswathi Mahal Library<br>
E Main St, Rajakrisnapuram, Thanjavur, Tamil Nadu 613001<br>





</div>
 </ion-scroll>
</ion-view>
