<ion-view view-title="SUGAVANESHWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/sst.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The Sugavaneshwarar Temple, situated near the old bus stand of Salem, is one of the important pilgrimage sites of Salem. According to a legend, Sage Sugha Brahmarishi worshipped and performed penance at this place. This is one of the five Shiva temples built along the river Manimuthar. These five temple's main Shiva lingas are of Suyambu. There is a belief that worshiping the 5 temples in a single day will remove all the sins. Arunagirinathar also sang a song on Lord Muruga, at this temple. The interiors of this temple contain several historical monuments and a statuette of its main deity.<be>



Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>

Duration : 10 min<br>
Distance : 3.2 km<br>
via Omalur Main Road/Sankagiri - Salem Main Rd<br>
Fastest route, lighter traffic than usual<br><br><br>
 FROM : Salem New Bus Stand
Angammal Colony, Salem, Tamil Nadu 636009<br>
Directions : <br><br>
•	Head south-east on Advaitha Ashram Rd towards Omalur Main Road/Sankagiri - Salem Main Rd<br>
45 s (100 m) <br>
•	Follow Omalur Main Road to First Agraharam<br>
8 min (2.8 km) <br>

•	Turn right at Sree Colour Lab onto Omalur Main Road/Sankagiri - Salem Main Rd<br>
 
•	Pass by Kalyan Silks (on the left) <br>
2.2 km<br>

•	At the roundabout, take the 2nd exit onto Fort Main Rd/Omalur Main Road/Salem-Namakkal-Thuraiyur Rd<br>
 
•	Pass by Elite Travels (P) Ltd. (on the left) <br>
350 m<br>

•	Turn left at the statue onto Cherry Rd<br>
 
•	Pass by NGO Union Sabanayagam Bldg (on the left) <br>
230 m<br>
•	Take Mettu Agraharam to your destination<br>
1 min (280 m) <br>

•	Turn right at Usha Company Store towards Mettu Mariamman Koil St<br>
 
•	Pass by Sugavaneswarar Temple (on the left) <br>
100 m<br>

•	Slight left at TV Fashion Studio onto Mettu Mariamman Koil St<br>
49 m<br>

•	Turn left at Metro Sarees onto Mettu Agraharam<br>
93 m
<br>
•	Turn left<br>
38 m<br><br>
Sugavaneswarar Temple<br>
First Agraharam, Salem, Tamil Nadu 636001<br>




</div>
 </ion-scroll>
</ion-view>
