<ion-view view-title="YERKAUD">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/sy.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Yercaud is a hill station in Salem District, in Tamil Nadu, India. It is located in the Shevaroys range of hills in the Eastern Ghats. It is situated at an altitude of 1515 metres (4970 ft) above sea level, and the highest point in Yercaud is the Servarayan temple, at 5,326 feet (1,623 m). The hill station is named owing to the abundance of forest near the lake, the name signifying Lake Forest. As a popular tourist destination, Yercaud is also called as Jewel of the South. Yercaud is connected to the city of Salem, Tamil Nadu through a Highway of 28 km. Coffee and citrus fruits, most notably oranges, are grown in abundance, as well as bananas, pears and jackfruit. Scenically, Yercaud is as enchanting and picturesque as the hill stations on the Eastern Ghats and trekking will be an experience.
<br>

Duration : 10 min<br> 
Distance : 3.5 km<br>
via Junction Main Rd/Post Office Rd<br>
Fastest route, lighter traffic than usual<br>

FROM : Salem Junction<br>
Mullai Nagar, Suramangalam, Salem, Tamil Nadu 636005<br>

Directions : <br>
•	Head east towards Junction Main Rd/Post Office Rd<br>
28 m<br>

•	Turn right at Railway Parking onto Junction Main Rd/Post Office Rd<br>
 
•	Pass by JAGRUTHI PODUPU SANGHAM (on the left) <br>
1.7 km<br>

At the roundabout, take the 2nd exit onto Junction Main Rd/Sankagiri - Salem Main Rd<br>
 
•	Pass by CJ PALLAZZIO (on the left) <br>
650 m
<br>
At the roundabout, take the 4th exit onto Omalur Main Road/Sankagiri - Salem Main Rd
 <br>
•	Pass by thiagarajar polytechnic college (on the left) <br>
800 m
<br>
•	Turn right onto Meyyanur Bypass Rd<br>
 
•	Pass by Om Complex (on the right) <br>
290 m<br><br>
Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br>

Duration :1 h 4 min<br><br>
Distance : 30.2 km
via SH 188<br>
Fastest route, the usual traffic<br><br>
FROM : Salem Bus Stand<br>
Angammal Colony, Salem, Tamil Nadu 636009<br><br>
Directions : <br>
•	Head south on Meyyanur Bypass Rd towards Central Bus Terminus Rd<br>
4 m
<br>
•	Make a U-turn at Central Bus Terminus Rd<br>
 
•	Pass by Amman Parking (on the left) <br>
280 m<br>

•	Turn left at Olympic Prints & Xerox onto Omalur Main Road/Sankagiri - Salem Main Rd<br>
 
•	Pass by Sri Lakshmi Complex (on the left) <br>
700 m<br>

At the roundabout, take the 5th exit onto Sarada College Rd<br>
 
•	Pass by Barbie Restuarent (on the right) <br>
2.7 km
<br>
•	Continue straight to stay on Sarada College Rd<br>
 
•	Pass by Salem Corporation Office II (on the left) <br>
250 m<br>

At the roundabout, take the 1st exit onto Yercaud Main Rd/SH 188<br>
 
•	Continue to follow SH 188<br>
 
•	Pass by Travellers Bungalow Bus Stop (on the right) <br>
24.9 km<br>

At the roundabout, take the 2nd exit onto Kuppanur - Yercaud Ghat Rd<br>
 
•	Drive along the park (on the right for 210 m) <br>
1.3 km<br><br>
Yercaud


</div>
 </ion-scroll>
</ion-view>
