<ion-view view-title="AVINASHI TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ta.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> This is one of the seven Shivastalams in Kongu Nadu; however this temple is better known as Karunaiyaaththaal temple. Avinashi is also referred to in inscriptions as Dakshina Varanasi, Tiruppukkozhiyur etc. Tirumular's Tirumantiram, Arunagirinathar's Tiruppugazh & Manikkavacakar's Tiruvacakam refer to this shrine. This temple is regarded as the first of the seven Thevara Stalams in the Kongu Region of Tamil Nadu.<br>

Duration : 9 min<br>
Distance : 1.9 km<br>
via Somanur - Manavalakali Mandram Rd<br>
Fastest route<br>
<br>
FROM : Tiruppur<br>
திருப்பூர்-அவினாசி சாலை, Tiruppur, Tamil Nadu 641601<br><br>
Directions : <br><br>
•	Head east on Railway Station Road towards Amaravathi Palayam Rd<br>
 
•	Pass by Jeeva Health Care (on the right) <br>
82 m<br>

•	Slight right at New Happy Travels onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
1.0 km<br>

•	Keep right to continue on Avinashi-Tiruppur Rd/Municipal Office Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd/Tiruppur-Somanur Rd<br>
 
•	Continue to follow Somanur - Manavalakali Mandram Rd/Tiruppur-Somanur Rd<br>
 
•	Pass by Tiruppur Corporation Office (on the right) <br>
350 m<br>

•	Turn left at the petrol station towards the Jammanai St<br>
70 m<br>

•	Turn left towards Jammanai St<br>
 
•	Pass by Nanda Two Wheeler Stand (on the right)v<br>
220 m<br>

•	Turn left at Hotel Mohan Lodge onto Jammanai St<br>
 
•	Pass by New golden footwear (on the left) <br>
91 m
<br>
•	Turn right at Sri Kamatchi Tex onto New Market Street<br>
 
•	Pass by Gokul Audio & Electronics (on the right) <br>
 
•	Destination will be on the left<br>
83 m<br><br>
Tiruppur Old Bus Stand<br>


AVINASHI TEMPLE
Duration : 21 min <br>
Distance : 11.1 km<br>
via Avinashi-Tiruppur Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Avinashi-Tiruppur Rd<br>
Tiruppur, Tamil Nadu<br><br>
Directions : <br><br>
•	Head north-west on Avinashi Main Rd/Avinashi-Tiruppur Rd towards 60 Feet Rd/Asher Nagar 60 Feet Rd
 <br>
•	Continue to follow Avinashi-Tiruppur Rd<br>
 
•	Pass by SAP Theatre (on the left) <br>
8.7 km<br>

•	Continue straight onto Avinashi-Tiruppur Rd/Devampalayam - Palangarai - Avinashi Rd<br>
 
•	Pass by Ram Traders (on the left) <br>
900 m
<br>
•	Turn left onto Annur - Avinashi - Mettupalayam Rd/Annur to Avinashi Rd/Devampalayam - Palangarai - Avinashi Rd<br>
 
•	Pass by Mega Digital (on the left in 650 m) <br>
1.0 km<br>

•	Make a U-turn at SARAN TAILORS<br>
29 m<br>

•	Turn left towards Avinashi - Kunnathur Main Rd/Avinashi - Sevur - Puliampatty - Sathy Rd/Devampalayam - Palangarai - Avinashi Rd/Puliampatti - Avinashi Rd<br>
94 m<br>
•	Turn left towards Avinashi - Kunnathur Main Rd/Avinashi - Sevur - Puliampatty - Sathy Rd/Devampalayam - Palangarai - Avinashi Rd/Puliampatti - Avinashi Rd<br>
93 m<br>

•	Turn left onto Avinashi - Kunnathur Main Rd/Avinashi - Sevur - Puliampatty - Sathy Rd/Devampalayam - Palangarai - Avinashi Rd/Puliampatti - Avinashi Rd<br>
 
•	Pass by Sheela Ambulance (on the right) <br>100 m<br>

•	Turn right at Sevur Privu onto Annur - Avinashi - Mettupalayam Rd/Annur to Avinashi Rd/Avinashi - Coimbatore Rd<br>
 
•	Pass by Veera Anjayenar Temple (on the left) <br>
 
•	Destination will be on the left<br>
110 m<br><br>
Avinashilingeswarar Temple<br>
Avinashi, Tamil Nadu 641654<br>




</div>
</ion-scroll>
</ion-view>
