<ion-view view-title="ANTHONY CHURCH">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tac.jpg"><br>
<div class="item item-text-wrap">
 

Duration : 5 min<br> 
Distance : 350 m<br>
via Panagal Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Thiruvarur Junction<br>
Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610003<br><br>
Directions : <br><br>
•	Walk west towards Panagal Rd<br>
140 m<br>

•	Turn right onto Panagal Rd<br>
 
•	Pass by Repco Bank (on the right in 85 m) <br>
100 m<br>

•	At the roundabout, take the 1st exit and stay on Panagal Rd<br>
 
•	Destination will be on the right<br>
120 m<br><br>
•	Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br>

Duration : 51 min<br>
Distance : 28.9 km<br>
via NH83<br>
Fastest route, the usual traffic<br><br>

FROM : Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br><br>
Directions : <br>v
•	Follow Panagal Rd to NH83<br>
2 min (550 m) <br>

•	Head south on Panagal Rd<br>
100 m<br>

•	At the roundabout, take the 2nd exit and stay on Panagal Rd<br>
 
•	Pass by Repco Bank (on the left) <br>
450 m<br>
•	Follow NH83 to Mannargudi - Thirumakottai Rd/VOC Rd in Mannargudi<br>
44 min (27.5 km) <br>

•	At the roundabout, take the 2nd exit onto NH83<br>
 
•	Pass by Taluk Office Bus Stop (on the right in 450 m) <br>
1.8 km<br>

•	Turn left to stay on NH83<br>
 
•	Pass by Sri Murugan Pipes & Electricals Vilamal (on the left) <br>
24.6 km<br>

•	At the roundabout, take the 2nd exit and stay on NH83<br>
 
•	Pass by the bridge (on the right) <br>
1.2 km<br>
•	Take Old Thanjavur Rd to Pookkollai Rd<br>
3 min (800 m) <br>

•	Turn left by the church on to Mannargudi - Thirumakottai Rd/VOC Rd<br>
120 m
<br>
•	Turn right onto Fourth Street (East)/Old Thanjavur Rd<br>
 
•	Continue to follow Old Thanjavur Rd<br>
500 m
<br>
•	Turn left at Keerthi Polyclinic onto Pookkollai Rd<br>
 
•	Pass by MLA's Office- Mannargudi (on the right) <br>
 
•	Destination will be on the right<br>
180 m<br><br>
Antony Church<br>
62, Pookkollai Rd, Rajaji Nagar, Mannargudi, Tamil Nadu <br>




</div>
</ion-scroll>
</ion-view>
