<ion-view view-title="AGASTHIYAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tag.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Agasthiyar temple adjoining the falls named Agasthiyar falls is located half way to Panatheertham, which is at a distance of 4-km from Papanasam Shiva temple. One can reach the Agasthiyar falls and temple by trekking a distance of 3-km. Regular buses are available to these temples. <br>

Duration : 3 min<br>
Distance :  (260 m) <br>
via Railway Feeder Road<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tirunelveli Jn<br>
Balabagya Nagar South, Tirunelveli Town, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Walk north-east<br>
8 m<br>

•	Turn right towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right in 150 m) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Destination will be on the right<br>
59 m<br><br>
Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br>


Duration : 1 h 42 min<br>
Distance :  72.9 km<br>
via Puliangudi - Tirunelveli Rd<br>
Fastest route<br><br>

FROM : Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Balabagya Nagar South, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Continue to Madurai Rd<br>
9 min (3.2 km) <br>

•	Head south<br>
170 m<br>

•	Turn left towards Railway Feeder Road<br>
13 m
<br>
•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd
 <br>
•	Pass by Thirunelveli Sweets (on the left) <br>
1.3 km<br>

•	Turn left onto Madurai Rd/Madurai Main Rd<br>
 
•	Go past the petrol station (on the left in 850 m) <br>
1.5 km<br>
•	Follow Puliangudi - Tirunelveli Rd<br>
1 h 27 min (69.1 km) <br>

•	Turn right onto Madurai Rd<br>
33 m
<br>
•	Turn left at Library onto Tirunelveli-Sankaran Koil-Rajapalayam Rd<br>
 
•	Pass by Sundara vinayagar Temple (on the left) <br>
1.8 km<br>

•	Turn right at Ramayanpati onto Puliangudi - Tirunelveli Rd/Sankarankoil - Tirunelveli Rd<br>
 
•	Pass by petrol bunk (on the right in 51.0 km) <br>
51.3 km<br>

•	Turn left at Rusi Coffee Bar onto Puliangudi - Tirunelveli Rd/Puliyangudi - Sankarankoil - Kalugumalai - Nalatinputhur Rd/Sankarankoil - Tirunelveli Rd<br>
 
•	Continue to follow Puliangudi - Tirunelveli Rd/Puliyangudi - Sankarankoil - Kalugumalai - Nalatinputhur Rd<br>
 
•	Pass by 18 VARIETY DOSA SHOP (on the left) <br>
15.9 km<br>
•	Drive to W Car St in Chinthamani<br>
3 min (700 m)
<br>
•	Turn right
 <br>
•	Pass by Kanna Matric Higher Secondary School (on the left) <br>
550 m<br>

•	Turn left towards W Car St<br>
63 m<br>

•	Turn right onto W Car St<br>
 
•	Destination will be on the left<br>
85 m<br><br>
Agasthiyar Temple<br>
W Car St, Chinthamani, Tamil Nadu 627855



</div>
</ion-scroll>
</ion-view>
