<ion-view view-title="AYYAN KOVIL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tak.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> It is a very famous temple near garment city Tirupur. People visit from nearby towns to see the biggest ant hill inside and they believe that it is the right place to cure insect bites and snake bites. It is a story of a devotee of lord Shiva.<br>

Duration : 9 min<br>
Distance : 1.9 km<br>
via Somanur - Manavalakali Mandram Rd<br>
Fastest route<br>
<br>
FROM : Tiruppur<br>
திருப்பூர்-அவினாசி சாலை, Tiruppur, Tamil Nadu 641601<br><br>
Directions : <br><br>
•	Head east on Railway Station Road towards Amaravathi Palayam Rd<br>
 
•	Pass by Jeeva Health Care (on the right) <br>
82 m<br>

•	Slight right at New Happy Travels onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
1.0 km<br>

•	Keep right to continue on Avinashi-Tiruppur Rd/Municipal Office Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd/Tiruppur-Somanur Rd<br>
 
•	Continue to follow Somanur - Manavalakali Mandram Rd/Tiruppur-Somanur Rd<br>
 
•	Pass by Tiruppur Corporation Office (on the right) <br>
350 m<br>

•	Turn left at the petrol station towards the Jammanai St<br>
70 m<br>

•	Turn left towards Jammanai St<br>
 
•	Pass by Nanda Two Wheeler Stand (on the right)v<br>
220 m<br>

•	Turn left at Hotel Mohan Lodge onto Jammanai St<br>
 
•	Pass by New golden footwear (on the left) <br>
91 m
<br>
•	Turn right at Sri Kamatchi Tex onto New Market Street<br>
 
•	Pass by Gokul Audio & Electronics (on the right) <br>
 
•	Destination will be on the left<br>
83 m<br><br>
Tiruppur Old Bus Stand<br>

Duration : 39 min <br>
Distance : 22.3 km<br>
via Mangalam Rd/Somanur - Manavalakali Mandram Rd/Tiruppur-Somanur Rd<br>
Fastest route<br><br>

FROM : Avinashi-Tiruppur Rd<br>
Tiruppur, Tamil Nadu<br><br>
Directions : <br><br>
•	Head north-west on Avinashi Main Rd/Avinashi-Tiruppur Rd towards 60 Feet Rd/Asher Nagar 60 Feet Rd<br>
 	
•	Pass by SAP Theatre (on the left) <br>
1.8 km<br>

•	Turn left by the petrol station on to TTP Mill Main Rd<br>
 
•	Pass by Shree Shyam Textiles (on the left) <br>
1.1 km
<br>
•	Turn left by the petrol station on to 15th Velampalayam Ring Rd<br>
 
•	Pass by Sirupooluvapatti Bus Stop (on the right in 1.5 km) <br>
1.5 km<br>

•	At Sirupooluvapatti Bus Stop, continue onto Velampalayam Ring - Avinashi Rd<br>
 
•	Pass by Jai Sri sairam Acupuncture Centre (on the left in 1.5 km) <br>
1.6 km
<br>
•	Turn right onto Tiruppur - Perumanallur Rd/Tiruppur-Vanjipalayam-Avinashi Rd<br>
4.0 km
<br>
•	Turn left<br>
400 m<br>

•	Turn left towards Semmandapalayam Pudur-Managalam Rd<br>290 m<br>

•	Turn left onto Semmandapalayam Pudur-Managalam Rd<br>
 
•	Pass by SHIFANA MOBILES (on the right in 1.6 km) <br>
1.7 km
<br>
•	Turn right at Mangalam Bus Stop onto Mangalam Rd/Somanur - Manavalakali Mandram Rd/Somanur-Mangalam Rd/Tiruppur-Somanur Rd<br>
 
•	Continue to follow Mangalam Rd/Somanur - Manavalakali Mandram Rd/Tiruppur-Somanur Rd<br>
 
•	Pass by Cake'n Bakes (on the left) <br>
7.4 km
<br>
•	Turn left<br>
2.0 km
<br>
•	Turn left<br>
 
•	Destination will be on the right<br>
650 m<br><br>
Vaazhaithottathu Ayyan Kovil<br>
Ayyampalayam, Samalapuram, Tamil Nadu 641663






</div>
</ion-scroll>
</ion-view>
