<ion-view view-title="AYIKUDI MURUGAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tam.jpg"><br>
<div class="item item-text-wrap">

Chronicle :<br>Until 1947 this area was in the realm of the Travancore Kings. The temple is situated on the banks of Hanuman Nadhi. Sri Hanuman was said to have stopped by and rested on the banks of this river on his way to Lanka, hence the river was named Hanuman nadhi. This is why Rama and Subramanya are popular names in this region.

Lord Karthikeya appears among five Vrikshas (trees) and the five Devatas in the form of a young Balasubramanya. The five Vrikshams are Arasu (Surya), Vembu neem (Ambhikai), Kariveppilai Curry leaves tree ( Mahesha), Madhulai (Ganesha) & Mavilangu (Vishnu).<br>

Duration : 3 min<br>
Distance :  (260 m) <br>
via Railway Feeder Road<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tirunelveli Jn<br>
Balabagya Nagar South, Tirunelveli Town, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Walk north-east<br>
8 m<br>

•	Turn right towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right in 150 m) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Destination will be on the right<br>
59 m<br><br>
Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br>

Duration : 1 h 33 min <br>
Distance : 59.6 km<br>
via Tirunelveli Rd<br>
Fastest route<br><br>

FROM :Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Balabagya Nagar South, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Continue to Vannarpettai<br>
4 min (900 m) <br>

•	Head south<br>
170 m
<br>
•	Turn left towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Pass by Thirunelveli Sweets (on the left) <br>
170 m<br>

•	Turn right at Balu Studio towards Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
400 m<br>
•	Continue on Tenkasi - Tirunelveli Rd/Tirunelveli Rd to Kaluneerkulam<br>
53 min (35.5 km)
<br>
•	Slight left onto Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Go past the petrol station (on the left) <br>
160 m<br>

•	Make a U-turn at Alfi Mobiles<br>
 
•	Continue to follow Sankarankoil- Tirunelveli Rd<br>
 
•	Pass by S.M. Seenisait (on the right) <br>
3.3 km
<br>
•	Turn left at Santhi Ganesh Sweets & Bakery onto S Car St/Velanthangi Pillayar kovil St<br>
 
•	Continue to follow Velanthangi Pillayar kovil St<br>
 
•	Pass by Meenakshi Computer Center (on the left) <br>
850 m
<br>
•	Turn right at Vazhukkodai Bus Stop onto Tirunelveli - Pottalpudur Rd<br>
 
•	Pass by RM Computer Education (on the left in 450 m) <br>
550 m<br>

•	Turn left at sriram salon onto Tenkasi - Tirunelveli Rd/Tirunelveli Rd<br>
 
•	Go past the petrol station (on the left in 15.6 km) <br>
30.7 km<br>
•	Follow MDR45 to Pavoorchatram - Surandai - Shencottai/Tenkasi - Surandai Rd in Surandai<br>
21 min (13.0 km)
<br>
•	Turn right onto MDR45<br>
 
•	Pass by M.K Mobiles and Xerox (on the right in 11.2 km) <br>
12.5 km<br>

•	Turn left towards Pavoorchatram - Surandai - Shencottai/Tenkasi - Surandai Rd<br>
140 m
<br>
•	Turn right towards Pavoorchatram - Surandai - Shencottai/Tenkasi - Surandai Rd<br>
59 m
<br>
•	Turn left towards Pavoorchatram - Surandai - Shencottai/Tenkasi - Surandai Rd<br>
280 m<br>
•	Follow Pavoorchatram - Surandai - Shencottai/Tenkasi - Surandai Rd to Ayikudi - Idaikal Rd in Ayikudi<br>
14 min (9.6 km) <br>

•	Turn right onto Pavoorchatram - Surandai - Shencottai/Tenkasi - Surandai Rd<br>
 
•	Pass by Harsha Computers (on the right) <br>
4.3 km<br>

•	Turn left to stay on Pavoorchatram - Surandai - Shencottai/Tenkasi - Surandai Rd
 <br>
•	Pass by Poombuhar Brass Handicrafts Industry (on the left in 4.6 km) <br>
5.3 km<br>
•	Continue on Ayikudi - Idaikal Rd to your destination<br>
2 min (550 m) <br>

•	Turn right onto Ayikudi - Idaikal Rd<br>
 
•	Pass by Canara Bank ATM (on the left) <br>
400 m<br>

•	Turn left<br>
130 m<br><br>
Balasubrahmanya Swami Temple<br>
Ayikudi, Tamil Nadu 627852


</div>
</ion-scroll>
</ion-view>
