<ion-view view-title="ATHANKARAI PALLIVASAL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tap.jpg"><br>
<div class="item item-text-wrap">

Chronicle :<br>Athankarai Pallivasal is located in Tirunelveli, between Tiruchendur and Kanyakumari. The major attractions of this holy site are the two domes devoted to Syed Ali Fathima and Hazard Sheik Mohammed.<br>

Duration : 3 min<br>
Distance :  (260 m) <br>
via Railway Feeder Road<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tirunelveli Jn<br>
Balabagya Nagar South, Tirunelveli Town, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Walk north-east<br>
8 m<br>

•	Turn right towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right in 150 m) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Destination will be on the right<br>
59 m<br><br>
Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br>

Duration : 1 h 34 min<br> 
Distance : 79.7 km<br>
via NH44<br>
Fastest route<br>
This route has tolls. <br><br>

FROM : Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Balabagya Nagar South, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Continue to Vannarpettai<br>
4 min (900 m)
<br>
•	Head south<br>
170 m
<br>
•	Turn left towards Railway Feeder Road<br>
13 m
<br>
•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Pass by Thirunelveli Sweets (on the left) <br>
170 m<br>

•	Turn right at Balu Studio towards Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
400 m<br>
•	Continue to Shanthi Nagar<br>
8 min (4.0 km) <br>

•	Slight left onto Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Continue to follow Sankarankoil- Tirunelveli Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Go past the petrol station (on the left) <br>
1.2 km
<br>
•	Turn right at Club3tours onto S Bypass Rd<br>
 
•	Pass by EZee net - XEROX (on the left) <br>
2.8 km<br>
•	Take Trivandrum Rd to NH44<br>
11 min (6.6 km)
<br>
•	Continue straight to stay on S Bypass Rd<br>
 
•	Pass by Global Software Solutions Pvt. Ltd (on the right) <br>
1.0 km
<br>
•	Slight right onto Trivandrum Rd<br>
 
•	Pass by Ngo Colony Bus Stop (on the left) <br>
4.4 km<br>

•	At the roundabout, take the 2nd exit onto Koganthanparai Rd/NH 44 Service Road<br>
57 m<br>

•	Turn right onto Service Rd
 <br>
•	Pass by KAG India Pvt. Ltd., Tirunelveli (on the left in 1.1 km) <br>
1.1 km<br>
•	Follow NH44 and Valliyur-Radhapuram Main Rd to Radhapuram<br>
49 min (53.9 km) <br>

•	Merge onto NH44<br>
 
Partial toll road<br>
 
•	Drive along Christu Raja Institute (on the left for 350 m) <br>
38.4 km<br>

•	Slight left onto Service Rd<br>
92 m
<br>
•	Turn left<br>
1.1 km<br>

•	Turn left<br>
1.0 km<br>

•	Turn right onto Valliyur-Radhapuram Main Rd<br>
 
•	Pass by Vinayagapram Bus Stand (on the right in 4.7 km) <br>
13.2 km<br>
•	Turn left onto SH 92<br>
150 m<br>
•	Drive to Radhapuram - Ramankudi Rd<br>
23 min (14.3 km) <br>

•	Continue straight past Sudalaikan Tea Stall<br>
88 m
<br>
•	Slight right at JOTHI SHOPPIG fancy, Chappel, Fresh Juice onto Radhapuram - Ramankudi Rd<br>
 
•	Pass by Murugananth Lathe and Grill Works (on the right) <br>
10.2 km
<br>
•	Turn left to stay on Radhapuram - Ramankudi Rd<br>
4.0 km<br><br>
Athankarai Pallivasal<br>
Between Thiruchendur and Kanyakumari, Tamil Nadu<br





</div>
</ion-scroll>
</ion-view>
