<ion-view view-title="ALANGUDI TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tat.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Apatsahayesvarar Temple, Alangudi or Guru Sthalam or Tiru Irum Poolai is a Hindu temple dedicated to Lord Shiva located in the village of Alangudi in the Valangaiman taluk of Tiruvarur district, Tamil Nadu, India. Shiva is worshipped as Apathsahyesvarar, and is represented by the lingam. His consort Parvati is depicted as Tribuvananayagi. The presiding deity is revered in the 7th century Tamil Saiva canonical work, the Tevaram, written by Tamil saint poets known as the Nayanmars and classified as Paadal Petra Sthalam
<br>
Duration : 38 min<br>
Distance : 29.4 km<br>
via NH36<br>
Fastest route, the usual traffic<br><br>
 FROM : Thanjavur Railway Station<br>
Soolamangalam, Thanjavur, Tamil Nadu<br><br>
Directions : <br>
•	Take Solamangalam Road to NH36 in Pasupathikoil<br>
4 min (1.8 km) <br>

•	Head north-east towards Solamangalam Road<br>
200 m<br>

•	Turn left onto Solamangalam Road<br>
 
•	Pass by Electricity Board Offices (on the left in 950 m) <br>
1.0 km<br>

•	Turn left at Soolamangalam Road Bus Stop onto Bypass Rd<br>
 
•	Pass by ADHAVAN MOTORS (TVS) (on the left in 400 m) <br>
600 m<br>
•	Follow NH36 to Trichy Main Rd in AVP Azhagammal Nagar, Thanjavur<br>
31 min (26.0 km) <br>

•	Turn left at Anna Silai Bus Stop onto NH36<br>
 
•	Pass by Thandankorai Ooradachchi Amman Temple (on the left in 3.9 km) <br>
9.6 km
<br>
•	At the roundabout, take the 1st exit and stay on NH36<br>
 
•	Pass by Ayyappan Ready Mix Plant (on the left in 2.9 km) <br>
6.7 km
<br>
•	At the roundabout, take the 3rd exit and stay on NH36<br>
450 m<br>

•	Merge onto NH36<br>
 
•	Pass by Capital Honda (on the left in 6.4 km) <br>
8.7 km<br>

•	Take the slip road to NH36<br>
65 m<br>

•	Continue onto NH36<br>
300 m<br>

•	Continue straight<br>
10 m<br>

•	Turn right onto NH36<br>
 
•	Go past the petrol station (on the left) <br>
180 m<br>
•	Follow Trichy Main Rd to Local Buses Way in Neelagiri<br>
3 min (1.6 km) <br>

•	At the roundabout, take the 1st exit onto Trichy Main Rd<br>
 
•	Pass by Janani Maligai Store (on the right) <br>
1.5 km<br>

•	Turn left onto Local Buses Way<br>
 
•	Pass by Two Wheeler Parking Stand (on the left) <br>
99 m<br><br>
Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br>

Duration : 1 h 11 min<br>
Distance :  46.8 km<br>
via Maravapatty - Villur - Kallikkudi Rd/Nagapattinam - Coimbatore - Gundlupet Hwy
Fastest route, the usual traffic<br><br>
FROM : Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br><br>
Directions : <br>
•	Follow Trichy Main Rd to NH36 in New Housing Unit<br>
4 min (1.6 km)
<br>
•	Head south-east on Local Buses Way towards Trichy Main Rd<br>
 
•	Pass by Two Wheeler Parking Stand (on the right) <br>
110 m<br>

•	Turn right at Shree Gnanam Groups of Companies onto Trichy Main Rd<br>
 
•	Pass by Hotel Ram Aariyas (on the left) <br>
1.5 km<br>
•	Follow NH36 and Maravapatty - Villur - Kallikkudi Rd/Nagapattinam Rd/Nagapattinam - Coimbatore - Gundlupet Hwy to Kumbakonam - Mannargudi - Adirampattinam Rd in Nidamangalam<br>
55 min (38.1 km) <br>

•	At the roundabout, take the 2nd exit onto NH36<br>
 
•	Pass by Ahash Nissan (on the left) <br>
300 m<br>

•	Merge onto NH36/NH83<br>
 
•	Go past the petrol station (on the left in 6.0 km) <br>
7.2 km
<br>
•	Keep right to continue on Maravapatty - Villur - Kallikkudi Rd/Nagapattinam Rd/Nagapattinam - Coimbatore - Gundlupet Hwy/NH36<br>
 
•	Continue to follow Maravapatty - Villur - Kallikkudi Rd/Nagapattinam Rd/Nagapattinam - Coimbatore - Gundlupet Hwy<br>
 
•	Pass by Kovilur Nagai Main Road Bus Stop (on the left in 8.9 km) <br>
30.0 km<br>

•	Turn left towards Needamangalam-Ottakudi Rd<br>
230 m<br>

•	Turn right onto Needamangalam-Ottakudi Rd<br>
56 m<br>

•	Turn left at SKY LIGHT SOLAR ENERGY SOLUTION onto NH67<br>
350 m<br>
•	Follow Kumbakonam - Mannargudi - Adirampattinam Rd to Sivan N St in Alangudi<br>
12 min (7.0 km) <br>

•	Slight left at Govt.Bar onto Kumbakonam - Mannargudi - Adirampattinam Rd<br>
 
•	Pass by State Bank of India ATM (on the left in 6.2 km) <br>
6.4 km<br>

•	Turn right at Poonthottam Rd<br>
300 m<br>

•	Slight right towards Sivan N St<br>
200 m<br>

•	Turn left onto Sivan N St<br>
 
•	Destination will be on the right<br>
130 m<br><br>
Navagraha Guru Dakshina Moorthy - Abathsahyeswarar Temple<br>
Alangudi, Tamil Nadu 612801<br>


</div>
 </ion-scroll>
</ion-view>
