<ion-view view-title="MADHAVARAM BOTANICAL GARDEN">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tb.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Madhavaram Botanical Garden is a botanical garden in Chennai, India, set up by the horticulture department of the Government of Tamil Nadu. The garden, under construction, is expected to be opened by February 2013 and will be the largest botanical garden in the city. The garden is located at the State horticulture farm in Madhavaram Milk Colony<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>


Duration : 1 h 16 min <br>
Distance : 44.0 km<br>
via Thiruvallur Hwy<br>
Fastest route, despite the usual traffic<br><br>

FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br><br>
•	Continue to Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
1 min (300 m) <br>

•	Head east<br>
87 m
<br>
•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
180 m
<br>
•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
45 m<br>
•	Continue on Thiruvallur Hwy to Vadaperumbakkam, Chennai<br>
1 h 2 min (40.9 km)
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
 
•	Continue to follow Thiruvallur Hwy<br>
34.4 km
<br>
•	At the roundabout, take the 2nd exit and stay on Thiruvallur Hwy<br>
38 m
<br>
•	Turn right onto NH16<br>
1.8 km<br>

•	Turn left onto Madavaram Red Hills Rd<br>
 
•	Pass by Petrole bunk (on the right) <br>
4.8 km<br>
•	Drive to Madhavaram Milk Colony Rd/Milk Colony Rd in Kumarappapuram<br>
7 min (2.8 km) <br>

•	Turn left onto Kamaraj Salai<br>
450 m<br>

•	Continue straight onto Milk Colony Rd<br>
2.2 km
<br>
•	Turn right onto Madhavaram Milk Colony Rd/Milk Colony Rd<br>
150 m<br><br>
Madhavaram Botanical Garden<br>
Madhavaram Milk Colony Road, Chennai, Tamil Nadu 600051<br>




</div>
</ion-scroll>
</ion-view>
