<ion-view view-title="KARAIYAR DAMS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tbd.jpg"><br>
<div class="item item-text-wrap">
Duration : 3 min<br>
Distance :  (260 m) <br>
via Railway Feeder Road<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tirunelveli Jn<br>
Balabagya Nagar South, Tirunelveli Town, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Walk north-east<br>
8 m<br>

•	Turn right towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right in 150 m) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Destination will be on the right<br>
59 m<br><br>
Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br>

Duration : 2 h 2 min<br> 
Distance : 64.6 km<br>
via Tirunelveli - Shencottai Rd and Ambasamudram - Papanasam - Upper Dam Rd<br>
Fastest route
<br><br>
FROM : Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Balabagya Nagar South, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Continue to Vannarpettai<br>
4 min (900 m)
<br>
•	Head south<br>
170 m<br>

•	Turn left towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Pass by Thirunelveli Sweets (on the left) <br>
170 m
<br>
•	Turn right at Balu Studio towards Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
400 m<br>
•	Follow Tirunelveli - Shencottai Rd and Ambasamudram - Papanasam - Upper Dam Rd to Papanasam R.F. <br>
1 h 57 min (63.5 km)
<br>
•	Slight left onto Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Continue to follow Sankarankoil- Tirunelveli Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Go past the petrol station (on the left) <br>
1.2 km<br>

•	Turn right at Club3tours onto S Bypass Rd<br>
 
•	Pass by EZee net - XEROX (on the left) <br>
2.8 km<br>

•	Turn right onto Tirunelveli - Shencottai Rd
 <br>
•	Go past the petrol station (on the right in 700 m) <br>
850 m
<br>
•	At the roundabout, take the 2nd exit and stay on Tirunelveli - Shencottai Rd<br>
 
•	Pass by Firthouse Complex (on the left in 350 m) <br>
35.6 km<br>

•	Continue straight past Ambai RS Bus Stop onto Ambasamudram - Papanasam - Upper Dam Rd
 <br>
•	Pass by Thiruvalluvar College (on the right in 1.1 km) <br>
23.1 km<br>

•	Turn left<br>
 
•	Destination will be on the left<br>
21 s (140 m) <br><br>
Karaiyar Dam<br>




</div>
</ion-scroll>
</ion-view>
