<ion-view view-title="SRI SAKTHI CINEMAS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tc.jpg"><br>
<div class="item item-text-wrap">

Duration : 9 min<br>
Distance : 1.9 km<br>
via Somanur - Manavalakali Mandram Rd<br>
Fastest route<br>
<br>
FROM : Tiruppur<br>
திருப்பூர்-அவினாசி சாலை, Tiruppur, Tamil Nadu 641601<br><br>
Directions : <br><br>
•	Head east on Railway Station Road towards Amaravathi Palayam Rd<br>
 
•	Pass by Jeeva Health Care (on the right) <br>
82 m<br>

•	Slight right at New Happy Travels onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
1.0 km<br>

•	Keep right to continue on Avinashi-Tiruppur Rd/Municipal Office Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd/Tiruppur-Somanur Rd<br>
 
•	Continue to follow Somanur - Manavalakali Mandram Rd/Tiruppur-Somanur Rd<br>
 
•	Pass by Tiruppur Corporation Office (on the right) <br>
350 m<br>

•	Turn left at the petrol station towards the Jammanai St<br>
70 m<br>

•	Turn left towards Jammanai St<br>
 
•	Pass by Nanda Two Wheeler Stand (on the right)v<br>
220 m<br>

•	Turn left at Hotel Mohan Lodge onto Jammanai St<br>
 
•	Pass by New golden footwear (on the left) <br>
91 m
<br>
•	Turn right at Sri Kamatchi Tex onto New Market Street<br>
 
•	Pass by Gokul Audio & Electronics (on the right) <br>
 
•	Destination will be on the left<br>
83 m<br><br>
Tiruppur Old Bus Stand<br>


Duration : 13 min <br>
Distance : 4.2 km<br>
via Avinashi-Tiruppur Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Avinashi-Tiruppur Rd<br>
Tiruppur, Tamil Nadu<br><br>
Directions : <br><br>
•	Follow Avinashi-Tiruppur Rd to Saibaba Temple Rd in Kannipiran Colony<br>
10 min (3.6 km)
<br>
•	Head north-west on Avinashi Main Rd/Avinashi-Tiruppur Rd towards 60 Feet Rd/Asher Nagar 60 Feet Rd<br>
110 m<br>

•	Turn right at Hotel Gowri Kkrishna (TGK 4) <br>
9 m
<br>
•	Turn right at Priya Medicals onto Avinashi Main Rd/Avinashi-Tiruppur Rd<br>
 
•	Continue to follow Avinashi-Tiruppur Rd<br>
 
•	Drive along Tirupur RTO Office (on the left for 190 m) <br>
1.8 km
<br>
•	Turn right at ABC FIRE - TIRUPUR BRANCH onto Avinashi-Tiruppur Rd/PN Rd<br>
 
•	Continue to follow Avinashi-Tiruppur Rd
 <br>
•	Pass by The Raymond Shop (on the left) <br>
1.0 km
<br>
•	Turn left onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
650 m<br>
•	Continue on Saibaba Temple Rd. Take Valam Rd to Union Mill Rd<br>
2 min (600 m) <br>

•	Turn left at Ikeaa Electronics and Furniture onto Saibaba Temple Rd<br>
170 m
<br>
•	Turn right towards Valam Rd<br>
 
•	Pass by Universal Theatre (on the left) <br>
80 m<br>

•	Turn left at chowdhary metal sections onto Valam Rd<br>
350 m
<br>
•	Turn left at Ramlakshman Theatre onto Union Mill Rd<br>
 
•	Destination will be on the right<br>
18 m<br><br>
Sri Sakthi Cinemas<br>
256, Union Mill Road, Tiruppur, Tamil Nadu 641601<br>





</div>
</ion-scroll>
</ion-view>
