<ion-view view-title="CHEMBARAMBAKKAM LAKE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tcl.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Chembarambakkam lake, is a lake located in Chennai, Tamil Nadu, India, about 40 km from Chennai. It is one of the two rain-fed reservoirs from where water is drawn for supply to Chennai City, the other one being the Puzhal Lake. The Adyar River originates from this lake. A part of water supply of the metropolis of Chennai is drawn from this lake. Chembarambakkam was known as Puliyur Kottam. It is one of the 24 kottams (villages) that existed even during the later Chola period in Thondai Mandalam which had Kanchipuram as its headquarters.<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>
Duration : 45 min<br> 
Distance : 27.1 km<br>
via Tiruvallur High Rd<br>
Fastest route, the usual traffic<br><br>
FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br><br>
•	Continue to Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
1 min (300 m) <br>

•	Head east<br>
87 m
<br>
•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
180 m
<br>
•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
45 m<br>
•	Drive from Tiruvallur High Rd to Thirumazhisai<br>
36 min (25.0 km) <br>

•	Turn left onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>

•	Turn left at HOTEL VASANTHA BHAVAN onto NH716<br>
 
•	Pass by finnacle financial services (on the right) <br>
250 m<br>

•	Continue straight past BMS AC World onto Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Arun Ice Creams (on the left) <br>
3.1 km<br>

•	Turn left at MM Electronics onto P.H Rd/Tiruvallur High Rd<br>
 
•	Continue to follow Tiruvallur High Rd<br>
 
•	Pass by Dr NESAM MULTISPECIALITY DENTAL HOSPITAL (on the left) <br>
19.8 km
<br>
•	Turn right onto NH48<br>
 
•	Pass by Kumbakonam Filter Coffee (on the left) <br>
1.5 km<br>
•	Drive to your destination in Chembarambakkam<br>
7 min (1.8 km) <br>

•	Turn left<br>
900 m<br>

•	Continue straight onto Kannadapalayam Rd<br>
 
•	Pass by Govt High school (on the left) <br>
500 m<br>

•	Turn left<br>
350 m<br><br>
Chembarambakkam Lake




</div>
</ion-scroll>
</ion-view>
