<ion-view view-title="AMARAVATHI CROCODILE FARM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tf.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The largest wild breeding population of Crocodiles in South India lives in the Amaravathy reservoir and in the Chinnar, Thennar and Pambar rivers that drain into it. These broad-snouted Mugger Crocodiles, also known as Marsh Crocodiles and Persian Crocodiles, are the most common and widespread of the three species of Crocodiles found in India. They eat fish, other reptiles, small and large mammals and are sometimes dangerous to humans also. Crocodiles (The mugger crocodile), once abundant in Amaravathy, Periyar and Chinnar and most of other perennial river, have been threatened to near extinction. Hence the project of captive breeding of this crocodiles came into existing at Amaravathy.<br><br>

Duration : 9 min<br>
Distance : 1.9 km<br>
via Somanur - Manavalakali Mandram Rd<br>
Fastest route<br>
<br>
FROM : Tiruppur<br>
திருப்பூர்-அவினாசி சாலை, Tiruppur, Tamil Nadu 641601<br><br>
Directions : <br><br>
•	Head east on Railway Station Road towards Amaravathi Palayam Rd<br>
 
•	Pass by Jeeva Health Care (on the right) <br>
82 m<br>

•	Slight right at New Happy Travels onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
1.0 km<br>

•	Keep right to continue on Avinashi-Tiruppur Rd/Municipal Office Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd/Tiruppur-Somanur Rd<br>
 
•	Continue to follow Somanur - Manavalakali Mandram Rd/Tiruppur-Somanur Rd<br>
 
•	Pass by Tiruppur Corporation Office (on the right) <br>
350 m<br>

•	Turn left at the petrol station towards the Jammanai St<br>
70 m<br>

•	Turn left towards Jammanai St<br>
 
•	Pass by Nanda Two Wheeler Stand (on the right)v<br>
220 m<br>

•	Turn left at Hotel Mohan Lodge onto Jammanai St<br>
 
•	Pass by New golden footwear (on the left) <br>
91 m
<br>
•	Turn right at Sri Kamatchi Tex onto New Market Street<br>
 
•	Pass by Gokul Audio & Electronics (on the right) <br>
 
•	Destination will be on the left<br>
83 m<br><br>
Tiruppur Old Bus Stand<br>

Duration : 1 h 53 min <br>
Distance : 88.9 km<br>
via Udumalpet - Palladam Rd<br>
Fastest route, the usual traffic<br><br>

FROM : Avinashi-Tiruppur Rd<br>
Tiruppur, Tamil Nadu<br>
Directions : <br><br>
•	Follow Tiruppur Rd and Udumalpet - Palladam Rd to Dhali Rd/Thirumoorthy Dam Rd/Udumalpet - Munnar Rd in Udumalpet<br>
1 h 20 min (66.1 km) <br>

•	Head north-west on Avinashi Main Rd/Avinashi-Tiruppur Rd towards 60 Feet Rd/Asher Nagar 60 Feet Rd<br>
110 m
<br>
•	Turn right at Hotel Gowri Kkrishna (TGK 4) <br>
9 m<br>

•	Turn right at Priya Medicals onto Avinashi Main Rd/Avinashi-Tiruppur Rd
 <br>
•	Continue to follow Avinashi-Tiruppur Rd<br>
 
•	Drive along Tirupur RTO Office (on the left for 190 m) <br>
1.8 km
<br>
•	Turn right at ABC FIRE - TIRUPUR BRANCH onto Avinashi-Tiruppur Rd/PN Rd<br>
 
•	Continue to follow Avinashi-Tiruppur Rd
 <br>
•	Pass by The Raymond Shop (on the left) <br>
1.0 km<br>

•	Turn left onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
900 m
<br>
•	Keep left to continue on Avinashi-Tiruppur Rd/Kamaraj Rd/Tiruppur Rd<br>
 
•	Continue to follow Tiruppur Rd<br>
 
•	Pass by Perumal Temple (on the left) <br>
14.3 km<br>

•	Turn right onto NH81<br>
 
•	Go past the petrol station (on the left) <br>
180 m
<br>
•	Turn left<br>
900 m<br>

•	Merge onto Tiruppur Rd/Udumalpet - Palladam Rd<br>
 
•	Pass by Vadugapalayam Bus Stop (on the left in 850 m) <br>
1.1 km<br>

•	Slight left onto Udumalpet - Palladam Rd<br>
 
•	Pass by Mandripalayam Bus Stop (on the right in 9.4 km) <br>
45.7 km
<br>
•	Turn left onto NH83<br>
 
•	Pass by Universal Fertiliser Corporation (on the left) <br>
120 m<br>
•	Continue on Udumalpet - Munnar Rd to your destination<br>
31 min (22.8 km) <br>

•	Turn right onto Dhali Rd/Thirumoorthy Dam Rd/Udumalpet - Munnar Rd<br>
 
•	Pass by Kareem's flowers & decors (on the left) <br>
7.1 km<br>

•	Turn left at FoTo FLICK Studio onto Udumalpet - Munnar Rd<br>
 
•	Pass by Pallapalayam Bus Stop (on the right) <br>
8.8 km<br>

•	Turn left<br>
 
•	Pass by Amaravathi Dam (on the right in 5.8 km) <br>
 
•	Destination will be on the left<br>
6.9 km<br><br>
Amaravathi Crocodile Farm<br>
Tiruppur, Tamil Nadu 642102<br>





</div>
</ion-scroll>
</ion-view>
