<ion-view view-title="GUDIYAM CAVE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tg.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Gudiyam Caves are rock shelters in South India and known for prehistoric stone tools and culture. They were first identified by British geologist Robert Bruce Foote. This ancient site is situated in the Thiruvallur district near the Poondi reservoir, 60 km (37.3 mi) from Chennai, Tamil Nadu.<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>
Duration : 46 min <br>
Distance : 28.8 km<br>
via Tiruvallur-Uthukottai Rd and MDR787<br>
Fastest route<br><br>
FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br><br>Continue to Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
1 min (300 m)
<br>
•	Head east<br>
87 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
180 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
45 m
•	Take Tiruvallur-Uthukottai Rd to MDR787 in Ammambakkam<br>
27 min (18.4 km) <br>

•	Turn left onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m
<br>
•	Turn right at HOTEL VASANTHA BHAVAN onto NH716<br>
 
•	Pass by Chandru Stores (on the left) <br>
2.0 km
<br>
•	Turn right at Osmanabadi Goat Farm onto Tiruvallur-Uthukottai Rd<br>
 
•	Pass by Pullarambakkam Bus Stop (on the left in 2.9 km) <br>
16.1 km<br>
•	Follow MDR787 to your destination in Thimmaboopalapuram<br>
17 min (10.1 km) <br>

•	Turn left onto MDR787<br>
 
•	Pass by Jebasingh (on the left in 5.8 km) <br>
9.5 km<br>

•	Turn right<br>
600 m<br><br>
Gudiyam Caves<br>
Goonipalayam, Tamil Nadu 602023




</div>
</ion-scroll>
</ion-view>
