<ion-view view-title="GANGAIKONDA CHOLAPURAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tgc.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Gangaikonda Cholapuram was built during medieval India and was erected as the capital of the Cholas by Rajendra Chola I, the son and successor of Rajaraja Chola, the great Chola who conquered a large area in South India, Sri Lanka, Bangladesh, Sumatra, Kadaram (Kedah in Malaysia), Cambodia and others at the beginning of the 11th century A.D. It occupies an important place in the history of India. As the capital of the Cholas from about 1025 A.D. for about 250 years, the city controlled the affairs of entire southern India, from the Tungabhadra in the north to Ceylon in the south and other south east Asian countries.<br>
Duration : 38 min<br>
Distance : 29.4 km<br>
via NH36<br>
Fastest route, the usual traffic<br><br>
 FROM : Thanjavur Railway Station<br>
Soolamangalam, Thanjavur, Tamil Nadu<br><br>
Directions : <br>
•	Take Solamangalam Road to NH36 in Pasupathikoil<br>
4 min (1.8 km) <br>

•	Head north-east towards Solamangalam Road<br>
200 m<br>

•	Turn left onto Solamangalam Road<br>
 
•	Pass by Electricity Board Offices (on the left in 950 m) <br>
1.0 km<br>

•	Turn left at Soolamangalam Road Bus Stop onto Bypass Rd<br>
 
•	Pass by ADHAVAN MOTORS (TVS) (on the left in 400 m) <br>
600 m<br>
•	Follow NH36 to Trichy Main Rd in AVP Azhagammal Nagar, Thanjavur<br>
31 min (26.0 km) <br>

•	Turn left at Anna Silai Bus Stop onto NH36<br>
 
•	Pass by Thandankorai Ooradachchi Amman Temple (on the left in 3.9 km) <br>
9.6 km
<br>
•	At the roundabout, take the 1st exit and stay on NH36<br>
 
•	Pass by Ayyappan Ready Mix Plant (on the left in 2.9 km) <br>
6.7 km
<br>
•	At the roundabout, take the 3rd exit and stay on NH36<br>
450 m<br>

•	Merge onto NH36<br>
 
•	Pass by Capital Honda (on the left in 6.4 km) <br>
8.7 km<br>

•	Take the slip road to NH36<br>
65 m<br>

•	Continue onto NH36<br>
300 m<br>

•	Continue straight<br>
10 m<br>

•	Turn right onto NH36<br>
 
•	Go past the petrol station (on the left) <br>
180 m<br>
•	Follow Trichy Main Rd to Local Buses Way in Neelagiri<br>
3 min (1.6 km) <br>

•	At the roundabout, take the 1st exit onto Trichy Main Rd<br>
 
•	Pass by Janani Maligai Store (on the right) <br>
1.5 km<br>

•	Turn left onto Local Buses Way<br>
 
•	Pass by Two Wheeler Parking Stand (on the left) <br>
99 m<br><br>
Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br>
Duration : 1 h 56 min <br> 
Distance : 4.8 km<br>
via NH36<br>
Fastest route, the usual traffic<br><br>
FROM : Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br><br>
Directions : <br>
•	Follow Trichy Main Rd to NH36 in New Housing Unit<br>
4 min (1.6 km) <br>

•	Head south-east on Local Buses Way towards Trichy Main Rd<br>
 
•	Pass by Two Wheeler Parking Stand (on the right) <br>
110 m<br>

•	Turn right at Shree Gnanam Groups of Companies onto Trichy Main Rd<br>
 
•	Pass by Hotel Ram Aariyas (on the left) <br>
1.5 km
•	Follow NH36 to Gangai Konda Cholapuram<br>
1 h 47 min (82.6 km) <br>

•	At the roundabout, take the 2nd exit onto NH36<br>
 
•	Pass by Ahash Nissan (on the left) <br>
300 m<br>

•	Merge onto NH36/NH83<br>
 
•	Go past the petrol station (on the left in 6.0 km) <br>
7.2 km<br>

•	Keep right to continue on NH36<br>
1.5 km<br>

•	Turn left onto the slip road to NH36<br>
67 m<br>

•	Continue onto NH36<br>
280 m<br>

•	At the roundabout, take the 2nd exit and stay on NH36v
 
•	Pass by P.R. Auto Spare Parts (on the left) <br>
6.8 km<br>

•	At the roundabout, take the 3rd exit and stay on NH36<br>
 
•	Pass by getvisa4u (on the right in 10.4 km) <br>
29.4 km<br>

•	Turn left to stay on NH36<br>
750 m<br>

•	At the roundabout, take the 3rd exit and stay on NH36<br>
 
•	Pass by Gogulam Public Weigh Bridge (on the right in 5.2 km) <br>
5.9 km<br>

•	At the roundabout, take the 1st exit and stay on NH36<br>
58 m<br>

•	At the roundabout, take the 1st exit and stay on NH36<br>
 
•	Pass by house of rifash (on the right in 8.5 km) <br>
28.3 km<br>

•	Turn left onto NH81<br>
 
•	Pass by Gangai Konda Cholapuram Bus Stop (on the left in 1.8 km) <br>
2.1 km<br>
•	Drive to your destination<br>
3 min (500 m) <br>

•	Turn right<br>
160 m<br>

•	Turn left<br>
110 m<br>

•	Turn left<br>
150 m<br>

•	Turn left<br>
99 m<br><br><br>
Gangai Konda Cholapuram<br>
Tamil Nadu





</div>
 </ion-scroll>
</ion-view>
