
<ion-view view-title="THANJAVUR">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "tbt()"> 
	BRIHADEESWARA TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "tgc()"> 
	GANGAIKONDA CHOLAPURAM
</button><br>

<button class="button button-clear button-royal" ng-Click = "ssm()">
SARASVATI MAHAL LIBRARY
</button><br>
<button class="button button-clear button-royal" ng-Click = "smt()"> 
	SWAMI MALAI TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "trp()"> 
	THANJAVUR ROYAL PALACE AND ART GALLERY
</button><br>
<button class="button button-clear button-royal" ng-Click = "tat()"> 
	ALANGUDI TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "ts()"> 
	SIVAGANGA GARDENS
</button><br>
<button class="button button-clear button-royal" ng-Click = "tsm()"> 
	SANGEETHA MAHAL
</button><br>
<button class="button button-clear button-royal" ng-Click = "tmf()"> 
	MANORA FORT
</button><br>

</ion-scroll>
</ion-view>
