
<ion-view view-title="THENI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "tk()"> 
THEKKADY</button><br>

<button class="button button-clear button-royal" ng-Click = "sur()"> 
SURULI FALLS</button><br>
<button class="button button-clear button-royal" ng-Click = "top()"> 
TOP STATION</button><br>

<button class="button button-clear button-royal" ng-Click = "vai()"> 
VAIGAI DAM</button><br>
<button class="button button-clear button-royal" ng-Click = "kur()"> 
KURANGANI HILLS</button><br>
<button class="button button-clear button-royal" ng-Click = "man()"> 
MANAGALA DEVI KANNAGI TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "fun()"> 
FUNPARK</button><br>
<button class="button button-clear button-royal" ng-Click = "tir()"> 
THEERTHA THOTTI</button><br>
<button class="button button-clear button-royal" ng-Click = "tpea()"> 
MANNAMALAI PEAK</button><br>
<button class="button button-clear button-royal" ng-Click = "meg()"> 
MEGHAMALAI</button><br>
<button class="button button-clear button-royal" ng-Click = "mew()">
	SRI SANEESWARA BAGHWAN TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "gt()">
	GOWMARIAMMAN TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "abt()">
	ARULMIGU BALASUBRAMANYA TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "kum()">
	KUMBAKKARAI FALLS
</button><br>
<button class="button button-clear button-royal" ng-Click = "sot()">
	SOTHUPPARAI DAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "kai()">
	KAILASANATHAR CAVE TEMPLE
</button><br>

</ion-scroll>
</ion-view>
