
<ion-view view-title="THIRUVARUR">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "trt()"> 
THYAGARAJASWAMY TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tsw()"> 
SARASWATI TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "tsb()"> 
SRI AABHATSAKAYESWARAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tsc()"> 
SRIVANCHIYAM VANCHINATHASWAMY TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tsk()"> 
KOOTHANUR MAHA SARASWATHI TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tsp()"> 

MUTHUPET LAGOON
</button><br>
<button class="button button-clear button-royal" ng-Click = "tsg()"> 

AGNIPUREESWARAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tud()"> 
UDAYAMARTHANDAPURAM BIRD SANCTUARY</button><br>
<button class="button button-clear button-royal" ng-Click = "tmt()"> 
MUTTUPETTAI
</button><br>
<button class="button button-clear button-royal" ng-Click = "tpa()"> 
PALANI ANDAVAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tpe()"> 
PERUMAL TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "tmu()"> 
THRINETHRA SWAMY TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "tmm()"> 
SRI SATHURANGAM VALLAVAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tac()"> 
ANTHONY CHURCH
</button><br>



</ion-scroll>
</ion-view>
