
<ion-view view-title="THIRUNELVELI ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "tvk()"> 
KANTHIMATHI NELLAIYAPPAR TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "taf()"> 
AGATHIAR FALLS</button><br>
<button class="button button-clear button-royal" ng-Click = "tmp()"> 
MANIMUTHAR AND PAPANASAM DAMS</button><br>

<button class="button button-clear button-royal" ng-Click = "tmw()"> 
MANIMUTHAR WATERFALLS</button><br>

<button class="button button-clear button-royal" ng-Click = "tkt()"> 
KRISHNAPURAM TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "tkp()"> 
KATTABOMMAN MEMORIAL FORT</button><br>


<button class="button button-clear button-royal" ng-Click = "tks()"> 
KALAKADU SANCTUARY</button><br>
<button class="button button-clear button-royal" ng-Click = "tkv()"> 
VETTUVAN KOIL TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "tsl()"> 
SUYAMBULINGASWAMY TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "tst()"> 
SIVASAILAM TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tkm()"> 
KAPPAL MATHA CHURCH	</button><br>

<button class="button button-clear button-royal" ng-Click = "tbf()"> 
BANATHEERTHAM FALLS	</button><br>

<button class="button button-clear button-royal" ng-Click = "tbd()"> 
KARAIYAR DAMS	</button><br>


<button class="button button-clear button-royal" ng-Click = "tag()"> 
AGASTHIYAR TEMPLE	</button><br>
<button class="button button-clear button-royal" ng-Click = "tap()"> 
ATHANKARAI PALLIVASAL</button><br>

<button class="button button-clear button-royal" ng-Click = "tam()"> 
AYIKUDI MURUGAN TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tms()"> 
MUDANTHURAI SANCTUARY</button><br>
<button class="button button-clear button-royal" ng-Click = "tmd()"> 
MEKKARA DAM</button><br>
<button class="button button-clear button-royal" ng-Click = "tkf()"> 
KUTRALAM FALLS</button><br>
</ion-scroll>
</ion-view>
