
<ion-view view-title="THIRUVALLUR ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "tl()"> 
LORD VEERARAGHAVA PERUMAL TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "tv()"> 
 SRI VADARANYESWARAR TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "tm()"> 
 MASILAMANISWARA TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "tp()">
	PUZHAL AERI
</button><br>
<button class="button button-clear button-royal" ng-Click = "tq()"> 
 QUEENS LAND</button><br>
<button class="button button-clear button-royal" ng-Click = "tt()"> 
ST. THOMAS MOUNT</button><br>
<button class="button button-clear button-royal" ng-Click = "trr()"> 
REGIONAL RAILWAY MUSEUM, CHENNAI</button><br>

<button class="button button-clear button-royal" ng-Click = "tb()"> 
MADHAVARAM BOTANICAL GARDEN</button><br>

<button class="button button-clear button-royal" ng-Click = "tcl()"> 
CHEMBARAMBAKKAM LAKE</button><br>
<button class="button button-clear button-royal" ng-Click = "tg()"> 
GUDIYAM CAVE</button><br>




</ion-scroll>
</ion-view>
