
<ion-view view-title="TIRUVANNAMALAI ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "tra()"> 
SRI RAMANA ASHRAM</button><br>

<button class="button button-clear button-royal" ng-Click = "tru()"> 
ARUNACHALESHWARA TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "trv()"> 
VIRUPAKSHA CAVE</button><br>
<button class="button button-clear button-royal" ng-Click = "trs()"> 
SKANDASHRAMAM</button><br>
<button class="button button-clear button-royal" ng-Click = "tvp()"> 
ANNAMALAIYAR TEMPLE VIEW POINT</button><br>
<button class="button button-clear button-royal" ng-Click = "tsa()"> 
SESHADRI SWAMIGAL ASHRAMT</button><br>
<button class="button button-clear button-royal" ng-Click = "tsr()"> 
SATHANUR RESERVOIR</button><br>
<button class="button button-clear button-royal" ng-Click = "tpm()"> 
PARVATHAMALAI MOUNTAIN</button><br>

</ion-scroll>
</ion-view>
