
<ion-view view-title="TIRUCHIRAPALLI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "tris()"> 
SRI RANGANATHAR SWAMY TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "tup()"> 
PILLAYAR TEMPLE
</button><br>

<button class="button button-clear button-royal" ng-Click = "trf()">
TIRUCHIRAPALLI ROCK FORT
</button><br>
<button class="button button-clear button-royal" ng-Click = "tkd()"> 
KALLANAI
</button><br>
<button class="button button-clear button-royal" ng-Click = "tsi()"> 
SRIRANGAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "tjt()"> 
ARULMIGU JAMBUKESWARAR AKHILANDESWARI TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "ttk()"> 
THIRUVANAIKOIL
</button><br>
<button class="button button-clear button-royal" ng-Click = "tayt()"> 
AYYAPPAN TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "takm()"> 

AAYIRAM KAAL MANDAPAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "trmd()"> 
RANI MANGAMMAL DISTRICT MUSEUM
</button><br>
<button class="button button-clear button-royal" ng-Click = "tfm()"> 
FEMINA SHOPPING MALL
</button><br>
<button class="button button-clear button-royal" ng-Click = "trim()"> 
MUKKOMBU DAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "tpf()"> 
PULIYANCHOLAI PARK
</button><br>
<button class="button button-clear button-royal" ng-Click = "tbp()"> 
BUTTERFLY PARK
</button><br>


</ion-scroll>
</ion-view>
