
<ion-view view-title="TIRUPPUR">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "ta()"> 
AVINASHI TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "tc()"> 
SRI SAKTHI CINEMAS
</button><br>
<button class="button button-clear button-royal" ng-Click = "td()"> 
 THIRUMOORTHY DAM</button><br>
<button class="button button-clear button-royal" ng-Click = "tf()"> 
AMARAVATHI CROCODILE FARM</button><br>
<button class="button button-clear button-royal" ng-Click = "tak()"> 
 AYYAN KOVIL</button><br>
<button class="button button-clear button-royal" ng-Click = "to()"> 
ORATHUPALAYAM DAM</button><br>
<button class="button button-clear button-royal" ng-Click = "tn()"> 
NOYYAL RIVER</button><br>

<button class="button button-clear button-royal" ng-Click = "tj()"> 
ALANGADU JAIN TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "tu()"> 
UTTUKULI MURUGAN TEMPLE</button><br>




</ion-scroll>
</ion-view>
