<ion-view view-title="ALANGADU JAIN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tj.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The Alangadu Jain Temple is dedicated to Lord Adinath, the 24th Jain Tirthankar. This ancient temple enshrines an idol of Lord Adinath, along with a golden coloured idol of Lord Neminath, who is assumed to be the 22nd Tirthankar of Jains. It is one of the popular shrines belonging to the Jain community and is located in Alangadu of Tirupur District.<br>

Duration : 9 min<br>
Distance : 1.9 km<br>
via Somanur - Manavalakali Mandram Rd<br>
Fastest route<br>
<br>
FROM : Tiruppur<br>
திருப்பூர்-அவினாசி சாலை, Tiruppur, Tamil Nadu 641601<br><br>
Directions : <br><br>
•	Head east on Railway Station Road towards Amaravathi Palayam Rd<br>
 
•	Pass by Jeeva Health Care (on the right) <br>
82 m<br>

•	Slight right at New Happy Travels onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
1.0 km<br>

•	Keep right to continue on Avinashi-Tiruppur Rd/Municipal Office Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd/Tiruppur-Somanur Rd<br>
 
•	Continue to follow Somanur - Manavalakali Mandram Rd/Tiruppur-Somanur Rd<br>
 
•	Pass by Tiruppur Corporation Office (on the right) <br>
350 m<br>

•	Turn left at the petrol station towards the Jammanai St<br>
70 m<br>

•	Turn left towards Jammanai St<br>
 
•	Pass by Nanda Two Wheeler Stand (on the right)v<br>
220 m<br>

•	Turn left at Hotel Mohan Lodge onto Jammanai St<br>
 
•	Pass by New golden footwear (on the left) <br>
91 m
<br>
•	Turn right at Sri Kamatchi Tex onto New Market Street<br>
 
•	Pass by Gokul Audio & Electronics (on the right) <br>
 
•	Destination will be on the left<br>
83 m<br><br>
Tiruppur Old Bus Stand<br>

Duration : 19 min<br>
Distance : 5.5 km<br>
via Avinashi-Tiruppur Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Avinashi-Tiruppur Rd<br>
Tiruppur, Tamil Nadu<br><br>
Directions : <br><br>
•	Drive from Avinashi-Tiruppur Rd to Aranmanai Pudur<br>
16 min (5.0 km) <br>

•	Head north-west on Avinashi Main Rd/Avinashi-Tiruppur Rd towards 60 Feet Rd/Asher Nagar 60 Feet Rd<br>
110 m
<br>
•	Turn right at Hotel Gowri Kkrishna (TGK 4) <br>
9 m<br>

•	Turn right at Priya Medicals onto Avinashi Main Rd/Avinashi-Tiruppur Rd<br>
 
•	Continue to follow Avinashi-Tiruppur Rd<br>
 
•	Drive along Tirupur RTO Office (on the left for 190 m) <br>
1.8 km<br>

•	Turn right at ABC FIRE - TIRUPUR BRANCH onto Avinashi-Tiruppur Rd/PN Rd<br>
 
•	Continue to follow Avinashi-Tiruppur Rd<br>
 
•	Pass by The Raymond Shop (on the left) <br>
1.0 km<br>

•	Turn left onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
900 m
<br>
•	Keep left to continue on Avinashi-Tiruppur Rd/Kamaraj Rd/Tiruppur Rd<br>
 
•	Pass by Perumal Temple (on the left) <br>
750 m
<br>
•	Turn left at UAE Exchange-Foreign Currency Exchange - TIRUPUR onto Kangayam Rd<br>
 
•	Pass by Dharapuram Water Tank (on the right) <br>
400 m<br>
•	Drive to your destination in Naduppangu Thottam<br>
2 min (500 m)
<br>
•	Turn right at Sri Ram Stores<br>
400 m<br>

•	Turn left<br>
 
•	Destination will be on the right<br>
140 m<br><br>
SakehwarPashwanth Jain Mandir<br>
near Kids Club School, Eashwarmoorthy Nagar, Tiruppur, Tamil Nadu 641605






</div>
</ion-scroll>
</ion-view>
