<ion-view view-title="THEKKADY">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tk.jpg"><br>
<div class="item item-text-wrap">
 
Chronicle :<br>
Thekkady (Idukki district) is the location of the Periyar National Park, which is an important tourist attraction in the Kerala state of India.
<br><br>

Duration : 9 min<br>
Distance : 2.6 km<br>
via NRT Main Rd<br>
Fastest route<br><br>

FROM : Railway Station<br>
Railway Feeder Rd, Theni, Tamil Nadu 625531<br><br>
Directions : <br><br>
•	Head south-east on Railway Feeder Rd towards NH183<br>
650 m<br>

•	Turn left at VL Krishnaswamy Rukmaniammal Kalyan mahal onto NH183<br>
 
•	Pass by Theni Coconut Producers Company (on the left) <br>
98 m<br>

•	Turn right at Sri Vi Broilers onto NRT Main Rd<br>
 
•	Pass by El Shaddai (on the left) <br>
1.0 km<br>

•	Turn left at Theni Grand Master Chess Academy<br>
67 m<br>

•	Turn right<br>
750 m
<br>
•	Turn right onto Theni By-Pass<br>
 
•	Destination will be on the left<br>
98 m<br><br>
Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br>

THEKKADY
Duration : 1 h 33 min<br>
Distance : 65.1 km<br>
via NH183<br>
Fastest route, despite the usual traffic<br><br>

FROM : Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br><br>
Directions : <br><br>
•	Head south on Theni By-Pass towards NH85
 <br>
•	Pass by SRI KARPAGAVINAYAGAR SNACKS (on the right) <br>
600 m<br>

•	Turn right onto NH85<br>
 
•	Pass by KRISHNASDEPARTMENTSTORE (on the right in 1.3 km) <br>
1.6 km<br>

•	Turn left at Hotel Sree Kavitha onto NH183/NH85<br>
 
•	Continue to follow NH183<br>
 
•	Pass by thanigai marketting (on the left) <br>
6.1 km<br>

•	Turn left to stay on NH183
 <br>
•	Pass by Tevarcilai bus stop (on the right in 16.2 km) <br>
56.2 km
<br>
•	Turn left at Charles Premier Inn onto Kumily Govt Hospital Rd<br>
 
•	Pass by Commerical Tax Quarters (on the right) <br>
500 m<br>

•	Turn right at House Keeping Products Supplier A2Z C. K. Hygiene Care<br>
150 m<br><br>
Thekkady
Kumily, Kerala



</div>
</ion-scroll>
</ion-view>
