<ion-view view-title=""KUTRALAM FALLS>
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tkf.jpg"><br>
<div class="item item-text-wrap">

Chronicle :<br>Kuttralam or Kuttalam, Spa of South India, is a panchayat town situated at a mean elevation of 160 m (520 ft) on the Western Ghats in Tirunelveli District of Tamil Nadu, India. Many seasonal and few perennial rivers such as the Chittar River, the Manimuthar River, the Pachaiyar River and the Tambaraparani River originate in this region<br>
Duration : 3 min<br>
Distance :  (260 m) <br>
via Railway Feeder Road<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tirunelveli Jn<br>
Balabagya Nagar South, Tirunelveli Town, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Walk north-east<br>
8 m<br>

•	Turn right towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right in 150 m) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Destination will be on the right<br>
59 m<br><br>
Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br>
Duration : 1 h 37 min<br>
Distance : 61.0 km<br>
via Tirunelveli Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Balabagya Nagar South, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Continue to Vannarpettai<br>
4 min (900 m) <br>

•	Head south<br>
170 m<br>

•	Turn left towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br> 
•	Pass by Rusi hotel(shahul) (on the right) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Pass by Thirunelveli Sweets (on the left) <br>
170 m
<br>
•	Turn right at Balu Studio towards Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
400 m<br>
•	Continue on Tenkasi - Tirunelveli Rd/Tirunelveli Rd to Courtallam<br>
1 h 30 min (59.6 km)
<br>
•	Slight left onto Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Go past the petrol station (on the left) <br>
160 m
<br>
•	Make a U-turn at Alfi Mobiles<br>
 
•	Continue to follow Sankarankoil- Tirunelveli Rd<br>
 
•	Pass by S.M. Seenisait (on the right) <br>
3.3 km
<br>
•	Turn left at Santhi Ganesh Sweets & Bakery onto S Car St/Velanthangi Pillayar kovil St<br>
 
•	Continue to follow Velanthangi Pillayar kovil St<br>
 
•	Pass by Meenakshi Computer Center (on the left) <br>
850 m<br>

•	Turn right at Vazhukkodai Bus Stop onto Tirunelveli - Pottalpudur Rd<br>
 
•	Pass by RM Computer Education (on the left in 450 m) <br>
550 m
<br>
•	Turn left at sriram salon onto Tenkasi - Tirunelveli Rd/Tirunelveli Rd
 <br>
•	Go past the petrol station (on the left in 15.6 km) <br>
49.9 km<br>

•	Slight left at the petrol station onto SH 40<br>
 
•	Pass by Sankaran Koil (on the right) <br>
4.8 km<br>

•	Turn left<br>
2 min (450 m) <br><br>
Kutralam Falls<br>
Courtallam, Tirunelveli, Tamil Nadu 627802<br>





</div>
</ion-scroll>
</ion-view>
