<ion-view view-title="KATTABOMMAN MEMORIAL FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tkp.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Veerapandiya Kattabomman was an 18th-century Palayakarrar and chieftain from Panchalankurichi in Tamil Nadu, India who waged a war against the British East India Company. He was captured by the British and hanged in 1799 CE.<br>
Duration : 3 min<br>
Distance :  (260 m) <br>
via Railway Feeder Road<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tirunelveli Jn<br>
Balabagya Nagar South, Tirunelveli Town, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Walk north-east<br>
8 m<br>

•	Turn right towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right in 150 m) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Destination will be on the right<br>
59 m<br><br>
Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br>

Duration : 1 h 25 min<br>
Distance : 65.8 km<br>
via NH138 and Kovilpatti-Ottapidaram-Pudukottai-Eral-Mukkani Rd<br>
Fastest route now, avoids road closures<br>This route has tolls. <br><br>

FROM : Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Balabagya Nagar South, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Take Sankarankoil- Tirunelveli Rd/Tenkasi - Tirunelveli Rd to NH138 in Kamaraj Nagar<br>
19 min (7.3 km) <br>

•	Head south<br>
170 m<br>

•	Turn left towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd
 <br>
•	Pass by Thirunelveli Sweets (on the left) <br>
170 m<br>

•	Turn right at Balu Studio towards Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
400 m<br>

•	Slight left onto Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Continue to follow Sankarankoil- Tirunelveli Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Go past the petrol station (on the left) <br>
6.3 km
<br>
•	At the roundabout, take the 2nd exit onto NH138<br>
 
Partial toll road<br>
 
•	Pass by NH 138 Toll plaza (on the left in 30.0 km) <br>
30 min (35.4 km) <br>
•	Follow Kovilpatti-Ottapidaram-Pudukottai-Eral-Mukkani Rd to Veerapandiya Kattabomman Memorial Fort Road in Panchalankurichi<br>
36 min (23.1 km)
<br>
•	Turn left onto Kovilpatti-Ottapidaram-Pudukottai-Eral-Mukkani Rd<br>
 
•	Pass by Sahay Engineering (on the left) <br>
20.4 km<br>

•	Turn left at P.M.Stall to stay on Kovilpatti-Ottapidaram-Pudukottai-Eral-Mukkani Rd<br>
 
•	Pass by jesima (on the left) <br>
450 m<br>

•	Slight right<br>
2.1 km<br>

•	Keep left to continue on Veerapandiya Kattabomman Memorial Fort Road<br>
27 m
<br>
•	Slight left to stay on Veerapandiya Kattabomman Memorial Fort Road<br>
 
•	Destination will be on the right<br>
170 m<br><br>
Veerapandiya Kattabomman Memorial Fort<br>
Panchalankurichi, Tamil Nadu 628401<br>



</div>
</ion-scroll>
</ion-view>
