<ion-view view-title="LORD VEERARAGHAVA PERUMAL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tl.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Abishek to Lord is performed with perfumed oil only. Hruthapadhani spring is considered more sacred than the holy Ganga and it is believed that it cleanses devotees even from the very thinking of a sin.<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>

Duration : 6 min <br>
Distance : 500 m<br>
via Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br><br>
•	Walk east<br>
87 m<br>
•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
180 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
45 m
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
 
•	Pass by Ranga Cool Drinks (on the right in 66 m) <br>
96 m<br>

•	Slight left at Kumaran Textiles onto Bazaar St<br>
 
•	Destination will be on the right<br>
110 m<br><br>
Sri Veeraraghava Swamy Devasthanam<br>
Adjacent to Temple Tank, Sannadhi Street, Tiruvallur, Tamil Nadu 602001<br>


</div>
</ion-scroll>
</ion-view>
