<ion-view view-title="MASILAMANISWARA TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tm.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Vada Tirumullaivayil or Masilamaniswara Temple is a Hindu temple dedicated to Lord Shiva located in the Chennai-Avadi road, India. The temple is incarnated by the hymns of Thevaram and is classified as Paadal Petra Sthalam. The temple is incarnated by the hymns of Sundarar,Ramalinga Swamigal and Arunagirinathar.<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>
Duration : 57 min <br>
Distance : 26.2 km<br>
via NH716<br>
Fastest route, despite the usual traffic<br><br>

FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br><br>
•	Head east<br>
450 m<br>

•	Turn right<br>
1.6 km<br>

•	Slight left onto NH716<br>
 
•	Go past the petrol station (on the left in 19.3 km) <br>
22.7 km<br>

•	Continue straight past All India Radio to stay on NH716<br>
 
•	Pass by State Bank of India ATM (on the right in 650 m) <br>
750 m
<br>
•	Turn left onto Kulakarai St<br>
 
•	Pass by Pachiamman Temple (on the right) <br>
600 m<br>

•	Turn right<br>
98 m
<br>
•	Turn left<br>
 
•	Destination will be on the left<br>
17 m<br><br>
Maasilamaneeswar Koil<br>
Thirumullaivoyal, Chennai, Tamil Nadu 600062
<br>



</div>
</ion-scroll>
</ion-view>
