<ion-view view-title="SRI SATHURANGAM VALLAVAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tmm.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> 
Lord of the Temple is a swayambumurthi<br>
Duration : 5 min<br> 
Distance : 350 m<br>
via Panagal Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Thiruvarur Junction<br>
Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610003<br><br>
Directions : <br><br>
•	Walk west towards Panagal Rd<br>
140 m<br>

•	Turn right onto Panagal Rd<br>
 
•	Pass by Repco Bank (on the right in 85 m) <br>
100 m<br>

•	At the roundabout, take the 1st exit and stay on Panagal Rd<br>
 
•	Destination will be on the right<br>
120 m<br><br>
•	Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br>

Duration : 55 min <br>
Distance : 32.9 km<br>
via NH67<br>
Fastest route, the usual traffic<br><br>
FROM : Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br><br>
Directions : <br><br>
•	Follow Panagal Rd to NH83<br>
2 min (550 m) <br>

•	Head south on Panagal Rd<br>
100 m<br>

•	At the roundabout, take the 2nd exit and stay on Panagal Rd<br>
 
•	Pass by Repco Bank (on the left) <br>
450 m<br>
•	Follow NH67 to Kumbakonam - Mannargudi - Adirampattinam Rd in Nidamangalam<br>
45 min (28.6 km) <br>

•	At the roundabout, take the 2nd exit onto NH83<br>
 
•	Pass by Taluk Office Bus Stop (on the right in 450 m) <br>
1.8 km<br>

•	Continue onto NH67<br>
 
•	Pass by Viji&Viji Biriyani, Fastfood (on the left in 26.4 km) <br>
26.6 km<br>

•	Turn right to stay on NH67<br>
290 m<br>
•	Continue on Kumbakonam - Mannargudi - Adirampattinam Rd to your destination in Poovanur<br>
7 min (3.7 km) <br>

•	Turn left at Kumar Tailor onto Kumbakonam - Mannargudi - Adirampattinam Rd<br>
 
•	Pass by Latha Driving School (on the left in 1.7 km) <br>
3.1 km<br>

•	Turn right<br>
500 m<br>

•	Turn left<br>
 
•	Destination will be on the right<br>
150 m<br><br>
SCN103-Sri Sathurangam Vallavan Temple<br>
612803, Poovanur, Tamil Nadu 612803<br>


</div>
</ion-scroll>
</ion-view>
