<ion-view view-title="THRINETHRA SWAMY TEMPLE, ">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tmu.jpg"><br>
<div class="item item-text-wrap">

Duration : 5 min<br> 
Distance : 350 m<br>
via Panagal Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Thiruvarur Junction<br>
Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610003<br><br>
Directions : <br><br>
•	Walk west towards Panagal Rd<br>
140 m<br>

•	Turn right onto Panagal Rd<br>
 
•	Pass by Repco Bank (on the right in 85 m) <br>
100 m<br>

•	At the roundabout, take the 1st exit and stay on Panagal Rd<br>
 
•	Destination will be on the right<br>
120 m<br><br>
•	Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br>


Duration : 34 min <br>
Directions : 16.6 km<br>
via SH 65 and Srivanchiyam - Manakkal Rd<br>
Fastest route<br><br>
FROM : Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br><br>
Directions : <br><br>
•	Take Thiruvarur - Kumbakonam Rd to Srivanchiyam - Manakkal Rd in Mannakkal<br>
17 min (9.8 km) <br>

•	Head south on Panagal Rd<br>
100 m<br>

•	At the roundabout, take the 2nd exit and stay on Panagal Rd<br>
 
•	Pass by Repco Bank (on the left) <br>
450 m<br>

•	At the roundabout, take the 2nd exit onto NH83<br>
 
•	Pass by Taluk Office Bus Stop (on the right in 450 m) <br>
1.7 km
<br>
•	Turn right onto SH 65<br>
230 m<br>

•	Turn left at EB Bus Stop onto Thiruvarur - Kumbakonam Rd<br>
 
•	Pass by KVB ATM (on the right) <br>
7.4 km<br>
•	Follow Srivanchiyam - Manakkal Rd to Nannilam-Tiruvarur-Srivanchiyam Temple Rd in Srivanchiyam<br>
16 min (6.8 km) <br>

•	Turn right onto Srivanchiyam - Manakkal Rd<br>
 
•	Pass by vinayaga tempmer (on the left in 850 m) <br>
6.4 km<br>

•	Turn right towards Nannilam-Tiruvarur-Srivanchiyam Temple Rd<br>
230 m<br>

•	Turn left at Srivanchiyam Temple Bus Stop onto Nannilam-Tiruvarur-Srivanchiyam Temple Rd<br>
190 m<br><br>
Sri Vanchinadha Swamy Temple<br>
Nannilam-Tiruvarur-Srivanchiyam Temple Rd, Srivanchiyam, Tamil Nadu 610107<br>

</div>
</ion-scroll>
</ion-view>
