<ion-view view-title="MANIMUTHAR WATERFALLS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tmw.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Manimuthar Falls are located in the Tirunelveli district of the south Indian state of Tamil Nadu. They are created by the waters of the River Manimuthar that originates in the Western Ghats. The Manjolai Hills grace the region atop the Manimuthar cascade. These hills are mainly covered in commercial tea plantations.<br>
Duration : 3 min<br>
Distance :  (260 m) <br>
via Railway Feeder Road<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tirunelveli Jn<br>
Balabagya Nagar South, Tirunelveli Town, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Walk north-east<br>
8 m<br>

•	Turn right towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right in 150 m) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Destination will be on the right<br>
59 m<br><br>
Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br>
Duration : 1 h 28 min<br>
Distance : 48.3 km<br>
via Tirunelveli - Shencottai Rd<br>
Fastest route<br><br>

FROM : Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Balabagya Nagar South, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Continue to Vannarpettai<br>
4 min (900 m) <br>

•	Head south<br>
170 m
<br>
•	Turn left towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Pass by Thirunelveli Sweets (on the left) <br>
170 m<br>

•	Turn right at Balu Studio towards Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
400 m<br>
•	Drive from Tirunelveli - Shencottai Rd to Kallidaikurchi<br>
56 min (35.4 km) <br>

•	Slight left onto Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Continue to follow Sankarankoil- Tirunelveli Rd/Tenkasi - Tirunelveli Rd
 <br>
•	Go past the petrol station (on the left) <br>
1.2 km<br>

•	Turn right at Club3tours onto S Bypass Rd<br>
 
•	Pass by EZee net - XEROX (on the left) <br>
2.8 km<br>

•	Turn right onto Tirunelveli - Shencottai Rd<br>
 
•	Go past the petrol station (on the right in 700 m) <br>
850 m<br>

•	At the roundabout, take the 2nd exit and stay on Tirunelveli - Shencottai Rd<br>
 
•	Pass by Firthouse Complex (on the left in 350 m) <br>
30.5 km<br>
•	Drive to Manimuthar to Manjolai Road<br>
28 min (11.9 km) <br>

•	Turn left<br>
120 m<br>

•	Turn right by the petrol station<br>
6.8 km<br>
•	Continue onto Manimuthar to Manjolai Road<br>
 
•	Pass by Pudukkudaiyar Poorna Pushkala Ambal Temple (on the right in 4.9 km) <br>
 
•	Destination will be on the left<br>
5.0 km<br><br>
Manimutharu Water Falls<br>
Manimuthar to Manjolai Road, Singampatti Zamindar Forest, Tamil Nadu 627420<br>



</div>
</ion-scroll>
</ion-view>
