<ion-view view-title="NOYYAL RIVER">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tn.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The Noyyal River is a small river in Western Tamil Nadu, and a tributary of Kaveri River. It rises from the Vellingiri hills in the Western Ghats in Tamil Nadu, very close to Kerala border, and flows through many villages and the cities of Coimbatore and Tirupur, finally draining into the Kaveri River at Noyyal, a village in Karur district named after the river itself. The river's basin is 180 km (110 mi) long and 25 km (16 mi) wide and covers a total area of 3,500 km2 (1,400 sq mi). Cultivated land in the basin amounts to 1,800 km2 (690 sq mi) while the population density is 120 people per km² (311/mi²) in the countryside, and 1000 people per km² (2590/mi²) in the cities.<br>

Duration : 9 min<br>
Distance : 1.9 km<br>
via Somanur - Manavalakali Mandram Rd<br>
Fastest route<br>
<br>
FROM : Tiruppur<br>
திருப்பூர்-அவினாசி சாலை, Tiruppur, Tamil Nadu 641601<br><br>
Directions : <br><br>
•	Head east on Railway Station Road towards Amaravathi Palayam Rd<br>
 
•	Pass by Jeeva Health Care (on the right) <br>
82 m<br>

•	Slight right at New Happy Travels onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
1.0 km<br>

•	Keep right to continue on Avinashi-Tiruppur Rd/Municipal Office Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd/Tiruppur-Somanur Rd<br>
 
•	Continue to follow Somanur - Manavalakali Mandram Rd/Tiruppur-Somanur Rd<br>
 
•	Pass by Tiruppur Corporation Office (on the right) <br>
350 m<br>

•	Turn left at the petrol station towards the Jammanai St<br>
70 m<br>

•	Turn left towards Jammanai St<br>
 
•	Pass by Nanda Two Wheeler Stand (on the right)v<br>
220 m<br>

•	Turn left at Hotel Mohan Lodge onto Jammanai St<br>
 
•	Pass by New golden footwear (on the left) <br>
91 m
<br>
•	Turn right at Sri Kamatchi Tex onto New Market Street<br>
 
•	Pass by Gokul Audio & Electronics (on the right) <br>
 
•	Destination will be on the left<br>
83 m<br><br>
Tiruppur Old Bus Stand<br>
Duration : 34 min<br>
Distance : 17.4 km<br>
via Avinashi-Tiruppur Rd and Palladam Main Rd/Tiruppur Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Avinashi-Tiruppur Rd<br>
Tiruppur, Tamil Nadu<br><br>
Directions : <br><br>
•	Head north-west on Avinashi Main Rd/Avinashi-Tiruppur Rd towards 60 Feet Rd/Asher Nagar 60 Feet Rd<br>
110 m
<br>
•	Turn right at Hotel Gowri Kkrishna (TGK 4) <br>
9 m<br>

•	Turn right at Priya Medicals onto Avinashi Main Rd/Avinashi-Tiruppur Rd<br>
 
•	Continue to follow Avinashi-Tiruppur Rd<br>
 
•	Drive along Tirupur RTO Office (on the left for 190 m) <br>
1.8 km
<br>
•	Turn right at ABC FIRE - TIRUPUR BRANCH onto Avinashi-Tiruppur Rd/PN Rd<br>
 
•	Continue to follow Avinashi-Tiruppur Rd<br>
 
•	Pass by The Raymond Shop (on the left) <br>
1.0 km<br>

•	Turn left onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
900 m<br>

•	Keep left to continue on Avinashi-Tiruppur Rd/Kamaraj Rd/Tiruppur Rd<br>
 
•	Continue to follow Tiruppur Rd
 <br>
•	Pass by Perumal Temple (on the left) <br>
 
•	Destination will be on the left<br>
13.6 km<br><br>
Noyyal River





</div>
</ion-scroll>
</ion-view>
