<ion-view view-title="TOP STATION">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/top.jpg"><br>
<div class="item item-text-wrap">
 
Chronicle :<br>
Top Station is tourist destination in the Kannan Devan hills of Munnar. It is part of Theni District in the state of Tamil Nadu Top Station is notable as the historic transshippment location for Kannan Devan tea delivered up here from Munnar and Madupatty by railway and then down by ropeway to Kottagudi. This area is popular for the rare Neelakurinji flowers. The Kurinjimala Sanctuary is nearby. Top Station is the western entrance to the planned Palani Hills National Park.<br><br>
Duration : 9 min<br>
Distance : 2.6 km<br>
via NRT Main Rd<br>
Fastest route<br><br>

FROM : Railway Station<br>
Railway Feeder Rd, Theni, Tamil Nadu 625531<br><br>
Directions : <br><br>
•	Head south-east on Railway Feeder Rd towards NH183<br>
650 m<br>

•	Turn left at VL Krishnaswamy Rukmaniammal Kalyan mahal onto NH183<br>
 
•	Pass by Theni Coconut Producers Company (on the left) <br>
98 m<br>

•	Turn right at Sri Vi Broilers onto NRT Main Rd<br>
 
•	Pass by El Shaddai (on the left) <br>
1.0 km<br>

•	Turn left at Theni Grand Master Chess Academy<br>
67 m<br>

•	Turn right<br>
750 m
<br>
•	Turn right onto Theni By-Pass<br>
 
•	Destination will be on the left<br>
98 m<br><br>
Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br>

Duration : 3 h 30 min <br>
Distance : 112 km<br>
via NH85 and Munnar - Top Station Hwy<br>
Fastest route<br><br>
FROM : Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br><br>
Directions : <br><br>
•	Head south on Theni By-Pass towards NH85<br>
 
•	Pass by SRI KARPAGAVINAYAGAR SNACKS (on the right) <br>
1 min (600 m) <br>
•	Follow NH85 to Bodi Methu To Suriyanallei<br>
1 h 9 min (45.8 km) <br>

•	Turn right onto NH85<br>
 
•	Pass by KRISHNASDEPARTMENTSTORE (on the right in 1.3 km) <br>
1.6 km
<br>
•	Turn left at Hotel Sree Kavitha onto NH183/NH85<br>
 
•	Pass by thanigai marketting (on the left) <br>
2.9 km<br>

•	Turn right onto NH85<br>
 
•	Pass by Muniyandi Vilas (on the left in 2.5 km) <br>
12.4 km<br>

•	At the roundabout, take the 2nd exit and stay on NH85<br>
 
•	Drive along the park (on the left for 280 m) <br>
28.9 km<br>
•	Continue on Bodi Methu To Suriyanallei to Kerala<br>
37 min (15.4 km) <br>

•	Turn right onto Bodi Methu To Suriyanallei<br>
500 m<br>

•	Turn left to stay on Bodi Methu To Suriyanallei
 <br>
•	Pass by B.L.Ram (on the right in 500 m) <br>
4.7 km<br>

•	Bodi Methu To Suriyanallei turns slightly left and becomes Bodimethu - Suryanallei Rd<br>
500 m<br>

•	Continue straight<br>
6.6 km<br>

•	Slight left at Appunu's Hotel onto Chinnakanal Suryanelli Rd<br>
 
•	Pass by Punarnava Cultural Centre (on the left in 900 m) <br>
3.0 km
<br>
•	Merge onto NH85<br>
 
•	Pass by the park (on the left in 450 m) <br>
29 min (14.9 km) <br>
•	Take Munnar - Top Station Hwy to Chittavurai Junction to Top Station Rd in Top Station<br>
1 h 13 min (34.9 km) <br>

•	Sharp right<br>
700 m<br>

•	Turn left<br>
1.5 km
<br>
•	Turn left<br>
1.2 km<br>

•	Sharp right onto Munnar - Top Station Hwy<br>
 
•	Pass by Tata Tea Limited (on the left in 6.7 km) <br>
31.3 km<br>

•	Continue onto Chittavurai Junction to Top Station Rd<br>
250 m<br><br>
Top Station<br>
Kerala 625582


</div>
</ion-scroll>
</ion-view>
