<ion-view view-title="PUZHAL AERI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tp.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The Puzhal reservoir was built in 1876 during the British rule in Puzhal Town, The reservoir was originally a small tank with a capacity of 500 million cubic feet (mcft) and two masonry weirs, built using locally available laterite stones, then functioned as surplus weirs to release excess water from the water body. Today, these masonry weirs are water-retaining structures as they have been replaced by two shutters. In 1997, the storage capacity of the water reservoir was increased to 3,300 mcft and the depth to 21.20 ft to cater to the drinking water needs of Chennai and also to store Krishna river water received from Andhra Pradesh through Poondi Reservoir and the Sholavaram Tank<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>

Duration : 1 h 4 min<br>
Distance : 38.3 km<br>
via Thiruvallur Hwy<br>
Fastest route, the usual traffic<br><br>
FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br><br>
•	Continue to Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
1 min (300 m) <br>
•	Head east<br>
87 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
180 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
45 m<br>

•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
 
•	Continue to follow Thiruvallur Hwy<br>
 
•	Pass by Ranga Cool Drinks (on the right) <br>
42 min (32.1 km) <br>
•	Continue on Avadi Rd to your destination in Vijayanallur<br>
16 min (5.9 km) <br>

•	Turn right onto Avadi Rd<br>
1.0 km
<br>
•	Turn left<br>
1.8 km<br>

•	Turn left<br>
13 m<br>

•	Turn right<br>
1.2 km<br>

•	Turn left<br>
1.4 km<br>

•	Keep right<br>
140 m
<br>
•	Turn right<br>
500 m<br><br>
Puzhal aeri<br>

</div>
</ion-scroll>
</ion-view>
