<ion-view view-title="PALANI ANDAVAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tpa.jpg"><br>
<div class="item item-text-wrap">


Duration : 5 min<br> 
Distance : 350 m<br>
via Panagal Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Thiruvarur Junction<br>
Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610003<br><br>
Directions : <br><br>
•	Walk west towards Panagal Rd<br>
140 m<br>

•	Turn right onto Panagal Rd<br>
 
•	Pass by Repco Bank (on the right in 85 m) <br>
100 m<br>

•	At the roundabout, take the 1st exit and stay on Panagal Rd<br>
 
•	Destination will be on the right<br>
120 m<br><br>
•	Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br>

Duration : 3 min<br>
Distance : 950 m<br>
via Panagal Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br><br>
Directions : <br><br>
•	Head north on Panagal Rd towards Madappuram Road/Thirumanjana Veedhi<br>
 
•	Pass by Rathemeema Speed Parcel Service (on the left) <br>
750 m<br>

•	At lakshmivillas atm, continue onto E Main Rd<br>
 
•	Pass by Rsk Computer (on the left) <br>
160 m<br>

•	Turn right at kailasanather koil onto Duruvasagar Sannathi St<br>
 
•	Destination will be on the left<br>
24 m<br><br>
Palani Andavar Temple<br>
Kodikkalpalayam, Thiruvarur, Tamil Nadu 610001<br>


</div>
</ion-scroll>
</ion-view>
