<ion-view view-title="PERUMAL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tpe.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Lord Narayana grants darshan from the sanctum sanctorum generally in three forms – standing, sitting or reclining. His eagle vehicle Garuda appears either just opposite the Lord or by a side. During festivals Perumal comes on Garuda. As the story goes, since Perumal set out fast on Garuda to help a king in this place, He appears on the Garuda in the sanctum sanctorum too. This is a very rare form in a Vishnu temple. Hence, Garuda Seva is followed in the temple every day<br>

Duration : 5 min<br> 
Distance : 350 m<br>
via Panagal Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Thiruvarur Junction<br>
Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610003<br><br>
Directions : <br><br>
•	Walk west towards Panagal Rd<br>
140 m<br>

•	Turn right onto Panagal Rd<br>
 
•	Pass by Repco Bank (on the right in 85 m) <br>
100 m<br>

•	At the roundabout, take the 1st exit and stay on Panagal Rd<br>
 
•	Destination will be on the right<br>
120 m<br><br>
•	Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br>
Duration : 15 min<br>
Distance : 7.5 km<br>
via SH 65<br>
Fastest route, the usual traffic<br><br>
FROM : Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br><br>
Directions : <br><br>
•	Head south on Panagal Rd<br>
100 m<br>

•	At the roundabout, take the 2nd exit and stay on Panagal Rd<br>
 
•	Pass by Repco Bank (on the left) <br>
450 m<br>

•	At the roundabout, take the 2nd exit onto NH83<br>
 
•	Pass by Taluk Office Bus Stop (on the right in 450 m) <br>
1.7 km<br>

•	Turn right onto SH 65<br>
230 m<br>

•	Turn left at EB Bus Stop onto Thiruvarur - Kumbakonam Rd<br>
 
•	Pass by KVB ATM (on the right) <br>
4.8 km<br>

•	Turn left<br>
150 m<br>

•	Turn left<br>43 m<br><br>
Sri Bhaktavatsala Perumal Temple<br>
Kodavasal Taluk, Thiruvarur District, Thirukkannamangai, Tamil Nadu 610104<br>



</div>
</ion-scroll>
</ion-view>
