<ion-view view-title="PARVATHAMALAI MOUNTAIN">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tpm.jpg"><br>
<div class="item item-text-wrap">

Chronicle :<br>This hill is full of herbal(mooligai) plants. There is another route from Kadaladi,to reach Parvathamalai, which is shorter and when compared to Thenmathimagalam route. Thenmathimagalam route is lenghty but easier to reach the top of Parvathamalai. However,both routes joins at a common point, and it is a single route from there which leads to Lord Mallikarjunaswamy temple on top of the hill. There is a ashram for Mounaguruswamy near to the temple. <br>

Duration : 7 min<br>
Distance : 550 m<br>
via Peters Rd/Railway Station Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tiruvannamalai<br>
Railway Station Rd, Mathalangulam, Tiruvannamalai, Tamil Nadu 606601<br><br>
Directions : <br><br>
•	Walk north on Peters Rd/Railway Station Rd towards Muthu Vinayagar Koil St<br>
 
•	Pass by Hotel Shri Saai (on the right in 200 m) <br>
260 m
<br>
•	Turn right at tmc<br>
76 m<br>

•	Turn left at Jaya Oil Mill<br>
 
•	Destination will be on the right<br>
210 m<br><br>
Tiruvannamalai Bus Stand<br>
Mathalangulam, Tiruvannamalai, Tamil Nadu 606601
Duration : 1 h 1 min <br>
Distance : 36.1 km<br>
via Kanji - Tiruvannamalai Rd and Polur Rd<br>
Best route<br><br>

FROM : Tiruvannamalai Bus Stand<br>
Mathalangulam, Tiruvannamalai, Tamil Nadu 606601<br><br>
Directions : <br><br>Drive along Peters Rd/Railway Station Rd<br>
1 min (250 m) <br>

•	Head south towards Peters Rd/Railway Station Rd<br>
98 m<br>

•	Turn right at KSRTC Booking Counter onto Peters Rd/Railway Station Rd<br>
 
•	Pass by Pan Photo Fast (on the left) <br>
150 m<br>
•	Follow Kanji - Tiruvannamalai Rd and Polur Rd to Thenmadhimangalam - Parvadhamalai Rd in Parvathiamalai R.F. <br>
47 min (32.7 km) <br>

•	Turn right at Radha Lodge<br>
 
•	Pass by Konica Fast Color Lab (on the left) <br>
350 m
<br>
•	At Oviyas, continue onto Polur Rd<br>
 
•	Pass by Furniture World (on the left) <br>
850 m
<br>
•	Turn left onto Kanji - Tiruvannamalai Rd<br>
 
•	Pass by Equitas Micro Finance (on the right) <br>
21.5 km
<br>
•	Turn right at Kanji Koot Road Bus Stop onto Polur Rd<br>
 
•	Go past the petrol station (on the right) <br>
10.0 km<br>
•	Drive to Parvadhamalai Rd in Parvathiamalai R.F. <br>
12 min (3.2 km)
<br>
•	Turn left onto Thenmadhimangalam - Parvadhamalai Rd<br>
1.5 km
<br>
•	Continue onto Parvadhamalai Rd<br>
1.6 km<br><br>
Parvathamalai Mountain- Mallikarjunaswamy<br>
TIRUVANNAMALAI Dist,Kdaladi Forest, Parvathiamalai R.F., Tamil Nadu 606901





</div>
</ion-scroll>
</ion-view>
