<ion-view view-title="QUEENS LAND">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tq.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The park is located by the Chennai-Bangalore Trunk Road between Sriperumpudhur and Poonamalle. There is parking for cars. Buses are available from Guindy and T. Nagar. All buses going to Sriperumpudhur from Chennai stop at Queensland.

The entry fee is 550 INR for an adult and 450 INR for a child. Children shorter than 2 feet (0.61 m) tall are not charged.

The park is open from 10 am to 6:30 pm on weekdays and 10:00 am to 7:30 pm on weekends and government holidays. It is closed on Mondays for maintenance, with the exception of holidays.<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>

Duration : 43 min<br>
Distance :  25.9 km<br>
via Tiruvallur High Rd<br>
Best route now due to traffic conditions<br><br>

FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br><br>
•	Continue to Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
1 min (300 m)
<br>
•	Head east<br>
87 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
180 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
45 m<br>
•	Drive along Tiruvallur High Rd<br>
24 min (17.3 km) <br>

•	Turn left onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>

•	Turn left at HOTEL VASANTHA BHAVAN onto NH716<br>
 
•	Pass by finnacle financial services (on the right) <br>
250 m<br>

•	Continue straight past BMS AC World onto Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
 
•	Continue to follow Bharathiyar St
 <br>
•	Pass by Arun Ice Creams (on the left) <br>
3.1 km
<br>
•	Turn left at MM Electronics onto P.H Rd/Tiruvallur High Rd<br>
 
•	Continue to follow Tiruvallur High Rd
 <br>
•	Pass by Dr NESAM MULTISPECIALITY DENTAL HOSPITAL (on the left) <br>
13.6 km<br>
•	Continue to Kuthambakkam<br>
15 min (7.3 km)
<br>
•	Turn right<br>
 
•	Pass by Periyandavar Store (on the right in 4.5 km) <br>
4.7 km<br>

•	Turn right<br>
2.7 km<br>

•	Turn left at Tuticorin Abi Hotel onto NH48<br>
 
•	Pass by Chettipedu Bus Stop (on the left) <br>
 
•	Destination will be on the left<br>
2 min (900 m) <br><br>
Queens Land<br>
Chennai - Banglore Trunk Road, Palanjur, Sembarambakkam, Tamil Nadu 600123<br>



</div>
</ion-scroll>
</ion-view>
