
<ion-view view-title="TIRUCHIRAPALLI ROCK FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/trf.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
Tiruchirappalli Rockfort is a historic fortification and temple complex built on an ancient rock. It is located in the city of Tiruchirappalli, Tamil Nadu, India. It is constructed on a 83 metres (272 ft) high rock[1][2] that may date to over one billion years ago. There are two Hindu temples inside, the Ucchi Pillayar Temple, Rockfort and the Thayumanaswami Temple, Rockfort. Other local tourist attractions include the famous Pallava-era Ganesha temple and the Madurai Nayak-era fort. The fort complex has witnessed fierce battles between the Madurai Nayakas and Adil Shahi dynasty of Bijapur, Carnatic region and Maratha Imperial forces. The fort played an important part during the Carnatic Wars, helping lay the foundations of the British Empire in India. The Rockfort is the most prominent landmark of the city.
<br><br>
Duration : 6 min<br>
Distance : 500 m<br>
via Rockins Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Railway Junction Bus Stop<br>
Tiruchchirapalli Jct, Bharathiyar Salai, Sangillyandapuram, Tiruchirappalli, Tamil Nadu 620001<br><br>
Directions : <br><br>
•	Walk south-west on Bharathiar Salai/Madurai Main Rd towards Junction Roundabout/Railway Jct<br>
27 m
<br>
•	At Junction Roundabout/Railway Jct, take the 1st exit onto Rockins Rd<br>
 
•	Pass by K J Travels (on the right in 150 m) <br>
350 m<br>

•	Slight right at Ashya Complex to stay on Rockins Rd<br>
41 m
<br>
•	Slight left at A1 Nonveg Hotels towards VOC Road<br>
38 m<br>

•	Turn right at TASMAC 235 onto VOC Road<br>
 
•	Destination will be on the right<br>
71 m<br><br>
Trichy Central Bus Stand Parking Lot<br>
VOC Road, Cantonment, Tiruchirappalli, Tamil Nadu 620001<br>

Duration : 20 min <br>
Distance : 6.1 km<br>
via Karur Bypass Road<br>
Fastest route now, avoids road closure<br><br>
FROM : Chatram Bus Stand<br>
Trichy Chennai Trunk Road, Annamalai Nagar, Melachinthamani, Tiruchirappalli, Tamil Nadu 620002<br><br>
Directions : <br><br>
•	Take Karur Bypass Road, Shastri Rd and Anna Nagar Main Road,/Sivaprakasam Salai to Reynolds Rd in Tiruchirappalli City<br>
12 min (4.4 km)
<br>
•	Head north on College Rd towards Karappalayam - Kattur Rd/Nagapattinam - Coimbatore - Gundlupet Hwy/Venis St<br>
 
•	Pass by Akshaya Maligai (on the right) <br>
150 m
<br>
•	At CHATRAM BUS STAND, College Rd turns slightly left and becomes NH81<br>
 
•	Pass by NS Bldg (on the left) <br>
450 m
<br>
•	Turn left towards Karur Bypass Road<br>
54 m
<br>
•	Slight left at SRI LAKSHMI BUILDERS onto Karur Bypass Road
 <br>
•	Pass by ICICI Lombard General Insurance (on the right in 600 m) <br>
1.1 km<br>

•	Turn left at ULTR TOURS & TRAVELS onto Salai Rd<br>
11 m<br>

•	Turn right at ULTR TOURS & TRAVELS onto Shastri Rd<br>
 
•	Pass by Preethi Service Center (on the left) <br>
1.3 km<br>

•	Turn right at AR AIR SERVICES onto Anna Nagar Main Road,/Sivaprakasam Salai<br>
 
•	Pass by Nexa Show Room (on the left) <br>
1.1 km<br>

•	Turn left onto Bharathidasan Salai/Municipal Office Rd<br>
 
•	Pass by Green Trends (on the left) <br>
290 m
<br>
•	Turn right at OM Associates onto Reynolds Rd<br>
 
•	Pass by M.M. Travels (on the left) <br>
1 min (400 m) <br>
•	Follow Collector Office Rd to VOC Road<br>
1 min (400 m) <br>

•	Slight left at Shiva Enclave onto Collector Office Rd/Lawsons Rd/Reynolds Rd<br>
120 m
<br>
•	At the roundabout, take the 2nd exit onto Collector Office Rd<br>
 
•	Pass by Vestry Bus Stop (on the left) <br>
250 m<br>

•	Turn left at Cascade onto VOC Road<br>
 
•	Pass by Military Area (on the left in 400 m) <br>
 
•	Destination will be on the left<br>
3 min (900 m) <br><br>
Trichy Central Bus Stand Parking Lot<br>
VOC Road, Cantonment, Tiruchirappalli, Tamil Nadu 620001
<br>
Duration : 23 min <br>
Distance : 11.6 km<br>
via NH83<br>Fastest route now due to traffic conditions<br><br>
FROM : Trichy Central Bus Stand Parking Lot<br>
VOC Road, Cantonment, Tiruchirappalli, Tamil Nadu 620001<br><br>
Directions : <br><br>
•	Take Rockins Rd and Bharathiar Salai/Madurai Main Rd to NH83 in Bharathiyar Salai<br>
4 min (800 m)
<br>
•	Head south-east on VOC Road<br>
71 m<br>

•	Turn left at TASMAC 235 towards Rockins Rd<br>
38 m<br>

•	Turn right at A1 Nonveg Hotels<br>
41 m<br>

•	Turn left at Ashya Complex onto Rockins Rd<br>
 
•	Pass by K J Travels (on the left) <br>
350 m<br>

•	At Junction Roundabout/Railway Jct, take the 3rd exit onto Bharathiar Salai/Madurai Main Rd<br>
 
•	Pass by THREE STAR COMMUNICATION (on the left) <br>
300 m<br>
•	Take NH38 to NH67<br>
10 min (8.0 km) <br>

•	Turn left onto NH83<br>
 
•	Pass by Railway Colony Bus Stop (on the right in 500 m) <br>
1.1 km
<br>
•	Slight left towards NH83<br>
 
•	Pass by ECHS Hospital (on the left) <br>
160 m<br>

•	Slight left at Excel Enterprises onto NH83<br>
 
•	Go past the petrol station (on the left) <br>
350 m
<br>
•	Turn right to stay on NH83<br>
9 m
<br>
•	Turn left onto NH38/NH83<br>
 
•	Pass by st.patrick school (on the right in 1.5 km) <br>
3.9 km<br>

•	Keep right to continue on NH38<br>
2.5 km<br>
•	Continue on NH67. Take EB Rd to South St in Teppakulam<br>
10 min (2.8 km)
<br>
•	Slight left onto NH67<br>
1.4 km<br>
•	Slight left towards EB Rd<br>
99 m
<br>
•	Turn left onto EB Rd<br>
 
•	Pass by Lion Dates (on the left) <br>
600 m<br>

•	Turn right at Jothi Battery Workshop onto Butterworth Rd<br>
 
•	Pass by G.K.Tiffin Centre (on the right) <br>
110 m<br>

•	Turn left at the 1st cross street onto Abu Rd<br>
63 m<br>

•	At Shree Ladies Hostel, continue onto E Andar St<br>
 
•	Pass by State Bank of India (on the left) <br>
240 m<br>

•	Turn right at RIVS CAFE<br>
110 m
<br>
•	At Muniswaran Medai, continue onto South St<br>
 
•	Destination will be on the right<br>
250 m<br><br>
TIRUCHIRAPALLI ROCK FORT<br>




<br>


</div>
 </ion-scroll>
</ion-view>
