
<ion-view view-title="MUKKOMBU DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tm.jpg"><br>

<div class="item item-text-wrap"><br>
The Upper Anaicut, (Tamil: மேலணை) also known as Mukkombu is a dam built on the Kaveri River in the state of Tamil Nadu in southern India.<br>

Upper Anaicut or Mukkombu is about 18 kilometers (11 mi) west of Trichy and 2 kilometers away from Jeeyapuram at a point where River Kollidam branches out from the main river, Cauvery. It is a lovely picnic spot skirting acres of verdant greenery. The place also has a well-manicured park. Mukkombu is about 685-meter long (2283 foot), and was built in the 19th century by Sir Arthur Cotton who drew inspiration from the 2nd century Kallanai dam (Grand Anicut) by the Cholas.
<br><br>
Duration : 6 min<br>
Distance : 500 m<br>
via Rockins Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Railway Junction Bus Stop<br>
Tiruchchirapalli Jct, Bharathiyar Salai, Sangillyandapuram, Tiruchirappalli, Tamil Nadu 620001<br><br>
Directions : <br><br>
•	Walk south-west on Bharathiar Salai/Madurai Main Rd towards Junction Roundabout/Railway Jct<br>
27 m
<br>
•	At Junction Roundabout/Railway Jct, take the 1st exit onto Rockins Rd<br>
 
•	Pass by K J Travels (on the right in 150 m) <br>
350 m<br>

•	Slight right at Ashya Complex to stay on Rockins Rd<br>
41 m
<br>
•	Slight left at A1 Nonveg Hotels towards VOC Road<br>
38 m<br>

•	Turn right at TASMAC 235 onto VOC Road<br>
 
•	Destination will be on the right<br>
71 m<br><br>
Trichy Central Bus Stand Parking Lot<br>
VOC Road, Cantonment, Tiruchirappalli, Tamil Nadu 620001<br><br>

Duration : 20 min <br>
Distance : 6.1 km<br>
via Karur Bypass Road<br>
Fastest route now, avoids road closure<br><br>
FROM : Chatram Bus Stand<br>
Trichy Chennai Trunk Road, Annamalai Nagar, Melachinthamani, Tiruchirappalli, Tamil Nadu 620002<br><br>
Directions : <br><br>
•	Take Karur Bypass Road, Shastri Rd and Anna Nagar Main Road,/Sivaprakasam Salai to Reynolds Rd in Tiruchirappalli City<br>
12 min (4.4 km)
<br>
•	Head north on College Rd towards Karappalayam - Kattur Rd/Nagapattinam - Coimbatore - Gundlupet Hwy/Venis St<br>
 
•	Pass by Akshaya Maligai (on the right) <br>
150 m
<br>
•	At CHATRAM BUS STAND, College Rd turns slightly left and becomes NH81<br>
 
•	Pass by NS Bldg (on the left) <br>
450 m
<br>
•	Turn left towards Karur Bypass Road<br>
54 m
<br>
•	Slight left at SRI LAKSHMI BUILDERS onto Karur Bypass Road
 <br>
•	Pass by ICICI Lombard General Insurance (on the right in 600 m) <br>
1.1 km<br>

•	Turn left at ULTR TOURS & TRAVELS onto Salai Rd<br>
11 m<br>

•	Turn right at ULTR TOURS & TRAVELS onto Shastri Rd<br>
 
•	Pass by Preethi Service Center (on the left) <br>
1.3 km<br>

•	Turn right at AR AIR SERVICES onto Anna Nagar Main Road,/Sivaprakasam Salai<br>
 
•	Pass by Nexa Show Room (on the left) <br>
1.1 km<br>

•	Turn left onto Bharathidasan Salai/Municipal Office Rd<br>
 
•	Pass by Green Trends (on the left) <br>
290 m
<br>
•	Turn right at OM Associates onto Reynolds Rd<br>
 
•	Pass by M.M. Travels (on the left) <br>
1 min (400 m) <br>
•	Follow Collector Office Rd to VOC Road<br>
1 min (400 m) <br>

•	Slight left at Shiva Enclave onto Collector Office Rd/Lawsons Rd/Reynolds Rd<br>
120 m
<br>
•	At the roundabout, take the 2nd exit onto Collector Office Rd<br>
 
•	Pass by Vestry Bus Stop (on the left) <br>
250 m<br>

•	Turn left at Cascade onto VOC Road<br>
 
•	Pass by Military Area (on the left in 400 m) <br>
 
•	Destination will be on the left<br>
3 min (900 m) <br><br>
Trichy Central Bus Stand Parking Lot<br>
VOC Road, Cantonment, Tiruchirappalli, Tamil Nadu 620001
<br><br>
Duration : 33 min <br>
Distance : 19.1 km<br>
via NH81<br>
Fastest route, the usual traffic<br><br>
FROM : Trichy Central Bus Stand Parking Lot<br>
VOC Road, Cantonment, Tiruchirappalli, Tamil Nadu 620001<br><br>
Directions : <br><br>
•	Take McDonalds Rd/Royal Rd, Collector Office Rd/Lawsons Rd, Anna Nagar Main Road,/Sivaprakasam Salai, Shastri Rd and Karur Bypass Road to NH81 in Annamalai Nagar<br>
14 min (5.2 km)
<br>
•	Head south-east on VOC Road<br>
71 m<br>

•	Turn left at TASMAC 235 towards Rockins Rd<br>
38 m
<br>
•	Turn left at A1 Nonveg Hotels onto Rockins Rd
 <br>
•	Pass by Hotel Kavitha's (on the right) <br>
190 m<br>

•	At the roundabout, take the 1st exit onto McDonalds Rd/Royal Rd<br>
 
•	Pass by Tiruchy Cell Mall Stores (on the right) <br>
750 m<br>

•	At the roundabout, take the 2nd exit onto Collector Office Rd/Lawsons Rd/Reynolds Rd<br>
 
•	Continue to follow Collector Office Rd/Lawsons Rd<br>
 
•	Go past the petrol station (on the left) <br>
550 m<br>

•	Slight left at MGR Statue onto Bharathidasan Salai/EVR Rd<br>
17 m
<br>
•	Turn right to stay on Bharathidasan Salai/EVR Rd<br>
41 m
<br>
•	Turn left at M.G.R Cir<br>
700 m<br>

•	Continue onto Anna Nagar Main Road,/Sivaprakasam Salai<br>
450 m<br>

•	Turn left towards Shastri Rd<br>
 
•	Pass by Srivari Construction (on the left) <br>
250 m<br>

•	Continue onto Shastri Rd<br>
 
•	Pass by Vignesh Aradana (on the right) <br>
1.0 km<br>

•	Turn left at ULTR TOURS & TRAVELS onto Salai Rd<br>
11 m
<br>
•	Turn right at ULTR TOURS & TRAVELS onto Karur Bypass Road
 <br>
•	Pass by Sivam Plaza (on the left) <br>
1.1 km
<br>
•	Turn left at SRI LAKSHMI BUILDERS onto NH81<br>
 
•	Pass by Santhi Tvs,kulithalai (on the right in 750 m) <br>
17 min (13.8 km) <br>
•	Drive to your destination<br>
1 min (140 m) <br>

•	Slight right<br>
 
•	Pass by Mukkombu Bus Stop (on the right) <br>
110 m
<br>
•	Turn right at Mukkombu Dam
 <br>
•	Destination will be on the right<br>
23 m<br>v
MUKKOMBU DAM<br>
NH 67, Tamil Nadu 639115






<br>


</div>
 </ion-scroll>
</ion-view>
