
<ion-view view-title="RANI MANGAMMAL DISTRICT MUSEUM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/trmd.jpg"><br>

<div class="item item-text-wrap"><br>
Chronicle :<br>
The Government Museum, Tiruchirappalli is a heritage centre at Tiruchirappalli, Tamil Nadu, India.It is situated at Rani Mangammal Mahal in Bharathidasansan town, near the super bazaar.The nearest landmark is the famous Rockfort temple.<br>

Rani Mangamma Mahal was built by Chokkanatha Nayak, the then ruler of Madurai. It was also known as the Durbar Hall of the Madurai Nayaks when Tiruchirapally was their capital, from 1616 to 1634 and later from 1665 to 1731.<br>

The museum contains array of exhibits relating to geology, zoology, paintings, anthropology, epigraphy and history.
<br><br>
Duration : 6 min<br>
Distance : 500 m<br>
via Rockins Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Railway Junction Bus Stop<br>
Tiruchchirapalli Jct, Bharathiyar Salai, Sangillyandapuram, Tiruchirappalli, Tamil Nadu 620001<br><br>
Directions : <br><br>
•	Walk south-west on Bharathiar Salai/Madurai Main Rd towards Junction Roundabout/Railway Jct<br>
27 m
<br>
•	At Junction Roundabout/Railway Jct, take the 1st exit onto Rockins Rd<br>
 
•	Pass by K J Travels (on the right in 150 m) <br>
350 m<br>

•	Slight right at Ashya Complex to stay on Rockins Rd<br>
41 m
<br>
•	Slight left at A1 Nonveg Hotels towards VOC Road<br>
38 m<br>

•	Turn right at TASMAC 235 onto VOC Road<br>
 
•	Destination will be on the right<br>
71 m<br><br>
Trichy Central Bus Stand Parking Lot<br>
VOC Road, Cantonment, Tiruchirappalli, Tamil Nadu 620001<br><br>

Duration : 20 min <br>
Distance : 6.1 km<br>
via Karur Bypass Road<br>
Fastest route now, avoids road closure<br><br>
FROM : Chatram Bus Stand<br>
Trichy Chennai Trunk Road, Annamalai Nagar, Melachinthamani, Tiruchirappalli, Tamil Nadu 620002<br><br>
Directions : <br><br>
•	Take Karur Bypass Road, Shastri Rd and Anna Nagar Main Road,/Sivaprakasam Salai to Reynolds Rd in Tiruchirappalli City<br>
12 min (4.4 km)
<br>
•	Head north on College Rd towards Karappalayam - Kattur Rd/Nagapattinam - Coimbatore - Gundlupet Hwy/Venis St<br>
 
•	Pass by Akshaya Maligai (on the right) <br>
150 m
<br>
•	At CHATRAM BUS STAND, College Rd turns slightly left and becomes NH81<br>
 
•	Pass by NS Bldg (on the left) <br>
450 m
<br>
•	Turn left towards Karur Bypass Road<br>
54 m
<br>
•	Slight left at SRI LAKSHMI BUILDERS onto Karur Bypass Road
 <br>
•	Pass by ICICI Lombard General Insurance (on the right in 600 m) <br>
1.1 km<br>

•	Turn left at ULTR TOURS & TRAVELS onto Salai Rd<br>
11 m<br>

•	Turn right at ULTR TOURS & TRAVELS onto Shastri Rd<br>
 
•	Pass by Preethi Service Center (on the left) <br>
1.3 km<br>

•	Turn right at AR AIR SERVICES onto Anna Nagar Main Road,/Sivaprakasam Salai<br>
 
•	Pass by Nexa Show Room (on the left) <br>
1.1 km<br>

•	Turn left onto Bharathidasan Salai/Municipal Office Rd<br>
 
•	Pass by Green Trends (on the left) <br>
290 m
<br>
•	Turn right at OM Associates onto Reynolds Rd<br>
 
•	Pass by M.M. Travels (on the left) <br>
1 min (400 m) <br>
•	Follow Collector Office Rd to VOC Road<br>
1 min (400 m) <br>

•	Slight left at Shiva Enclave onto Collector Office Rd/Lawsons Rd/Reynolds Rd<br>
120 m
<br>
•	At the roundabout, take the 2nd exit onto Collector Office Rd<br>
 
•	Pass by Vestry Bus Stop (on the left) <br>
250 m<br>

•	Turn left at Cascade onto VOC Road<br>
 
•	Pass by Military Area (on the left in 400 m) <br>
 
•	Destination will be on the left<br>
3 min (900 m) <br><br>
Trichy Central Bus Stand Parking Lot<br>
VOC Road, Cantonment, Tiruchirappalli, Tamil Nadu 620001
<br><br>
Duration : 18 min<br>
Distance : 5.5 km<br>
via Shastri Rd<br>
Fastest route now due to traffic conditions<br><br>
FROM : Trichy Central Bus Stand Parking Lot<br>
VOC Road, Cantonment, Tiruchirappalli, Tamil Nadu 620001<br><br>
Directions : <br><br>
•	Take McDonalds Rd/Royal Rd to Collector Office Rd/Lawsons Rd/Reynolds Rd<br>
4 min (1.1 km)
<br>
•	Head south-east on VOC Road<br>
71 m<br>

•	Turn left at TASMAC 235 towards Rockins Rd<br>
38 m
<br>
•	Turn left at A1 Nonveg Hotels onto Rockins Rd<br>
 
•	Pass by Hotel Kavitha's (on the right) <br>
190 m<br>

•	At the roundabout, take the 1st exit onto McDonalds Rd/Royal Rd<br>
 
•	Pass by Tiruchy Cell Mall Stores (on the right) <br>
750 m<br>
•	Continue on Collector Office Rd/Lawsons Rd. Take Anna Nagar Main Road,/Sivaprakasam Salai, Shastri Rd and Salai Rd to Kerala Mess Ln/Singarathorpe St in Tharanallur<br>
11 min (4.1 km) <br>

•	At the roundabout, take the 2nd exit onto Collector Office Rd/Lawsons Rd/Reynolds Rd<br>
 
•	Continue to follow Collector Office Rd/Lawsons Rd<br>
 
•	Go past the petrol station (on the left) <br>
550 m<br>

•	Slight left at MGR Statue onto Bharathidasan Salai/EVR Rd<br>
17 m
<br>
•	Turn right to stay on Bharathidasan Salai/EVR Rd<br>
41 m
<br>
•	Turn left at M.G.R Cir<br>
700 m
<br>
•	Continue onto Anna Nagar Main Road,/Sivaprakasam Salai<br>
450 m
<br>
•	Turn left towards Shastri Rd<br>
 
•	Pass by Srivari Construction (on the left) <br>
250 m
<br>
•	Continue onto Shastri Rd<br>
 
•	Pass by Vignesh Aradana (on the right) <br>
950 m
<br>
•	Turn right at Auditor firm onto 1st Cross Rd/Thillai Nagar Rd<br>
 
•	Pass by VIJIMA ARTS (on the right) <br>
96 m
<br>
•	Turn left at Iswarya Constructions onto First Cross Rd<br>
90 m<br>

•	Sharp right at Jothis Towers onto Salai Rd<br>
 
•	Pass by Axis Bank (on the right) <br>
700 m<br>

•	Turn right at Lourdes Complex onto College Rd<br>
 
•	Go past the petrol station (on the left) <br>
75 m
<br>
•	Keep right to continue towards Kerala Mess Ln/Singarathorpe St<br>
 
•	Pass by Swamy Mill Store (on the right) <br>
240 m<br>
•	Follow Kerala Mess Ln/Singarathorpe St to Super Bazaar<br>
2 min (300 m)
<br>
•	Turn left at ICICI BANK ATM onto Kerala Mess Ln/Singarathorpe St<br>
 
•	Pass by A3 Mobiles Shop (on the left) <br>
140 m<br>

•	Turn left at Pawan garments onto Super Bazaar<br>
 
•	Pass by Maargaret Mens Beauty saloon and spa (on the right) <br>
82 m<br>

•	Turn right at AVANT GARDE Safetech (security camera dealers, cctv dealers, cctv camera dealers) to stay on Super Bazaar
 <br>
•	Pass by SURYA ELECTRONICS (on the left)
 <br>
•	Destination will be on the right<br>
90 m<br><br>
RANI MANGAMMAL DISTRICT MUSEUM
Singarathope, Devathanam, Tiruchirappalli, Tamil N




<br>


</div>
 </ion-scroll>
</ion-view>
