<ion-view view-title="REGIONAL RAILWAY MUSEUM, CHENNAI">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/trr.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The Chennai Rail Museum is a railway museum in Chennai, Tamil Nadu, which has a rich rail heritage of India. The museum was opened on the 16 April 2002 on the premises of the Furnishing Division of Integral Coach Factory near Villivakkam. It is located in over 6.25 acres of land with the host of both technical and heritage exhibits with a sizable collection of steam engines belonging to various decades of the British Raj. The museum also exhibits various vintage coaches such as Ooty trains endemic to the Indian railways.<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>


Duration : 1 h 20 min<br>
Distance : 44.0 km<br>
via Tiruvallur High Rd and Kanchipuram - Chennai Rd/Mumbai Hwy/Vellore - Chennai Rd<br>
Fastest route, despite the usual traffic<br><br>
FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br><br>
•	Continue to Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
1 min (300 m)
<br>
•	Head east<br>
87 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
180 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
45 m<br>
•	Drive from Tiruvallur High Rd, NH48 and Kanchipuram - Chennai Rd/Mumbai Hwy/Vellore - Chennai Rd to Lakshmipuram, Chennai<br>
1 h 12 min (43.6 km)
<br>
•	Turn left onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m
<br>
•	Turn left at HOTEL VASANTHA BHAVAN onto NH716<br>
 
•	Pass by finnacle financial services (on the right) <br>
250 m<br>

•	Continue straight past BMS AC World onto Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rdv
 <br>
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Arun Ice Creams (on the left) <br>
3.1 km<br>

•	Turn left at MM Electronics onto P.H Rd/Tiruvallur High Rd<br>
 
•	Continue to follow Tiruvallur High Rd<br>
 
•	Pass by Dr NESAM MULTISPECIALITY DENTAL HOSPITAL (on the left) <br>
19.8 km<br>

•	Turn left onto NH48<br>
1.6 km<br>

•	Keep left to stay on NH48<br>
4.5 km<br>

•	Keep left to continue on Kanchipuram - Chennai Rd/Mumbai Hwy/Vellore - Chennai Rd/NH48<br>
 
•	Continue to follow Kanchipuram - Chennai Rd/Mumbai Hwy/Vellore - Chennai Rd<br>
 
•	Pass by Union Bank of India ATM (on the left in 1.8 km) <br>
4.8 km<br>

•	Continue straight onto Chennai - Villupuram - Trichy - Kanyakumari Rd/Kanchipuram - Chennai Rd/Madras Bombay Trunk Rd/Mumbai Hwy/Poonamallee High Rd/Vellore - Chennai Rd<br>
 
•	Pass by MRF Tyres (on the left in 2.4 km) <br>
4.0 km<br>

•	Use the left lane to take the slip road to 200 Feet Rd/Grand Northern Trunk Rd/Jawaharlal Nehru Rd<br>
350 m<br>

•	Use any lane to turn left onto 200 Feet Rd/Grand Northern Trunk Rd/Jawaharlal Nehru Rd<br>
 
•	Go past the petrol station (on the right in 300 m) <br>
600 m<br>

•	Slight right onto Grand Northern Trunk Rd/Jawaharlal Nehru Rd/Thirumangalam Flyover<br>
 
•	Continue to follow Grand Northern Trunk Rd/Jawaharlal Nehru Rd<br>
 
•	Go past the petrol station (on the left in 1.3 km) <br>
1.9 km
<br>
•	Slight left<br>
500 m<br>

•	At the roundabout, take the 3rd exit onto Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd/Padi Flyover<br>
 
•	Continue to follow Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd<br>
 
•	Pass by DCB Bank ATM (on the left in 700 m) <br>1.1 km<br>

•	Chennai Tiruvallur High Rd/Madras Thiruvallur High Rd turns slightly right and becomes New Avadi Rd<br>
700 m
<br>
•	Turn right<br>
 
Restricted-usage road<br>
50 s (59 m) <br><br>
Chennai Rail Museum<br>
ICF Furnishing Division, New Avadi Road, Villivakkam, Chennai, Tamil Nadu 600038<br>



</div>
</ion-scroll>
</ion-view>
