<ion-view view-title="SKANDASHRAMAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/trs.jpg"><br>
<div class="item item-text-wrap">

Chronicle :<br>The Skandasramam is a cave, where Bhagwan Ramana Maharshi lived from 1916 to 1922.We can approach the Skandasramam from side of the Ramanashramam. For reaching this cave you have to climb uphill for 1.4 kms,This is an ideal place for meditation

<br>
Duration : 7 min<br>
Distance : 550 m<br>
via Peters Rd/Railway Station Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tiruvannamalai<br>
Railway Station Rd, Mathalangulam, Tiruvannamalai, Tamil Nadu 606601<br><br>
Directions : <br><br>
•	Walk north on Peters Rd/Railway Station Rd towards Muthu Vinayagar Koil St<br>
 
•	Pass by Hotel Shri Saai (on the right in 200 m) <br>
260 m
<br>
•	Turn right at tmc<br>
76 m<br>

•	Turn left at Jaya Oil Mill<br>
 
•	Destination will be on the right<br>
210 m<br><br>
Tiruvannamalai Bus Stand<br>
Mathalangulam, Tiruvannamalai, Tamil Nadu 606601
Duration : 10 min <br>
Distance : 2.1 km<br>
via NH77<br>
Best route<br><br>

FROM : Tiruvannamalai Bus Stand<br>
Mathalangulam, Tiruvannamalai, Tamil Nadu 606601<br><br>
Directions : <br><br>
•	Head south towards Peters Rd/Railway Station Rd<br>
98 m
<br>
•	Turn right at KSRTC Booking Counter onto Peters Rd/Railway Station Rd<br>
130 m<br>
•	Turn left at Pan Photo Fast
 <br>
•	Pass by Rountana star briyani hotel (on the left) <br>
500 m
<br>
•	Turn right onto NH77<br> 
•	Pass by DMK Office (on the left in 450 m) <br>
1.1 km<br>

•	Turn right at Arunachala Hill and Temple<br>
130 m
<br>
•	Turn left<br>
150 m<br><br>
Skandasramam<br>
Annamalai R.F., Tamil Nadu 606601<br>


</div>
</ion-scroll>
</ion-view>
