<ion-view view-title="ARUNACHALESHWARA TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tru.jpg"><br>
<div class="item item-text-wrap">

Chronicle :<br>    Shiva is known by devotees as Annamalayar or Arunachaleswarar. And this is believed to be the largest temple in the world dedicated to Shiva. The history of this Annamalayar temple dates back to thousand years. Mention has been made in the Thevaram and Thiruvasagam, both great works in Tamil.<br>

Duration : 7 min<br>
Distance : 550 m<br>
via Peters Rd/Railway Station Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tiruvannamalai<br>
Railway Station Rd, Mathalangulam, Tiruvannamalai, Tamil Nadu 606601<br><br>
Directions : <br><br>
•	Walk north on Peters Rd/Railway Station Rd towards Muthu Vinayagar Koil St<br>
 
•	Pass by Hotel Shri Saai (on the right in 200 m) <br>
260 m
<br>
•	Turn right at tmc<br>
76 m<br>

•	Turn left at Jaya Oil Mill<br>
 
•	Destination will be on the right<br>
210 m<br><br>
Tiruvannamalai Bus Stand<br>
Mathalangulam, Tiruvannamalai, Tamil Nadu 606601

Duration : 8 min <br>
Distance : 1.7 km<br>
via NH77<br>
Fastest route<br><br>

FROM: Tiruvannamalai Bus Stand<br>
Mathalangulam, Tiruvannamalai, Tamil Nadu 606601<br><br>
Directions : <br><br>
•	Head south towards Peters Rd/Railway Station Rd<br>
98 m<br>

•	Turn right at KSRTC Booking Counter onto Peters Rd/Railway Station Rd<br>
130 m
<br>
•	Turn left at Pan Photo Fast<br>
 
•	Pass by Rountana star briyani hotel (on the left) <br>
500 m
<br>
•	Turn right onto NH77<br>
 
•	Pass by DMK Office (on the left in 450 m) <br>
850 m<br>

•	Turn left onto Ammaniamman Gopuram St<br>
150 m<br>

•	Turn left at C.S Lodge onto Vada Othavadai St<br>
2 m<br><br>
Arulmigu Arunachaleswarar Temple<br>
Pavazhakundur, Tiruvannamalai, Tamil Nadu 606601<br>



</div>
</ion-scroll>
</ion-view>
