<ion-view view-title="SIVAGANGA GARDENS">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/ts.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>The Sivaganga Park was created as a people's park by the Tanjore municipality in 1871-72.[1] It is situated to the east of the 11th century Brihadeeswarar Temple and encompasses the Sivaganga Tank believed to have been built by the Medieval Chola king Raja Raja Chola. In the initial days, the park was not maintained as the locality was overcrowded and ill-ventilated. However, the park is fairly maintained now. As a part of the makeover operations in the lead up to the 1994 World Tamil Conference, motor boating facilities were introduced in the Sivaganga Tank.
<br>
Duration : 38 min<br>
Distance : 29.4 km<br>
via NH36<br>
Fastest route, the usual traffic<br><br>
 FROM : Thanjavur Railway Station<br>
Soolamangalam, Thanjavur, Tamil Nadu<br><br>
Directions : <br>
•	Take Solamangalam Road to NH36 in Pasupathikoil<br>
4 min (1.8 km) <br>

•	Head north-east towards Solamangalam Road<br>
200 m<br>

•	Turn left onto Solamangalam Road<br>
 
•	Pass by Electricity Board Offices (on the left in 950 m) <br>
1.0 km<br>

•	Turn left at Soolamangalam Road Bus Stop onto Bypass Rd<br>
 
•	Pass by ADHAVAN MOTORS (TVS) (on the left in 400 m) <br>
600 m<br>
•	Follow NH36 to Trichy Main Rd in AVP Azhagammal Nagar, Thanjavur<br>
31 min (26.0 km) <br>

•	Turn left at Anna Silai Bus Stop onto NH36<br>
 
•	Pass by Thandankorai Ooradachchi Amman Temple (on the left in 3.9 km) <br>
9.6 km
<br>
•	At the roundabout, take the 1st exit and stay on NH36<br>
 
•	Pass by Ayyappan Ready Mix Plant (on the left in 2.9 km) <br>
6.7 km
<br>
•	At the roundabout, take the 3rd exit and stay on NH36<br>
450 m<br>

•	Merge onto NH36<br>
 
•	Pass by Capital Honda (on the left in 6.4 km) <br>
8.7 km<br>

•	Take the slip road to NH36<br>
65 m<br>

•	Continue onto NH36<br>
300 m<br>

•	Continue straight<br>
10 m<br>

•	Turn right onto NH36<br>
 
•	Go past the petrol station (on the left) <br>
180 m<br>
•	Follow Trichy Main Rd to Local Buses Way in Neelagiri<br>
3 min (1.6 km) <br>

•	At the roundabout, take the 1st exit onto Trichy Main Rd<br>
 
•	Pass by Janani Maligai Store (on the right) <br>
1.5 km<br>

•	Turn left onto Local Buses Way<br>
 
•	Pass by Two Wheeler Parking Stand (on the left) <br>
99 m<br><br>
Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br>
Duration : 12 min<br>
Distance : 5.8 km<br>
via Trichy Main Rd<br>
Fastest route, the usual traffic<br><br>
FROM : Thanjavur New Bus Stand<br>
New Bus Stand Rd, AVP Azhagammal Nagar, Thanjavur, Tamil Nadu 613004<br><br>
Directions : <br>

•	Head south-east on Local Buses Way towards Trichy Main Rd<br>
99 m<br>

•	Turn left at the 1st cross street onto Trichy Main Rd<br>
 <br>
•	Pass by Hotel Annamalai (on the left) <br>
2.7 km<br>

•	Continue onto New Bus Stand Rd/Trichy Rd<br>
 
•	Go through 1 roundabout<br>
 
•	Pass by District Collector's Camp Office (on the right) <br>
600 m<br>

•	At the roundabout, take the 1st exit onto Sachidananda Moopanar Rd<br>
 
•	Pass by S Ladies Police Station (on the right) <br>
900 m<br>

•	At the roundabout, take the 2nd exit onto Membalam Rd<br>
 
•	Pass by Membalam Bus Stop (on the left) <br>
1.2 km<br>

•	Slight left<br>
70 m<br>

•	Turn left<br>
 
•	Go past the church (on the right) <br>
200 m<br><br>
Sivagangai Park<br>
West Main Street, Balaganapathy Nagar, Thanjavur, Tamil Nadu 613007<br>





</div>
 </ion-scroll>
</ion-view>
