<ion-view view-title="SRI AABHATSAKAYESWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tsb.jpg"><br>
<div class="item item-text-wrap">

Duration : 5 min<br> 
Distance : 350 m<br>
via Panagal Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Thiruvarur Junction<br>
Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610003<br><br>
Directions : <br><br>
•	Walk west towards Panagal Rd<br>
140 m<br>

•	Turn right onto Panagal Rd<br>
 
•	Pass by Repco Bank (on the right in 85 m) <br>
100 m<br>

•	At the roundabout, take the 1st exit and stay on Panagal Rd<br>
 
•	Destination will be on the right<br>
120 m<br><br>
•	Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br>

Duration : 56 min <br>
Distance : 35.3 km<br>
via NH67<br>
Fastest route, the usual traffic<br><br>
FROM : Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br><br>
Directions : <br><br>
•	Follow Panagal Rd to NH83<br>
2 min (550 m) <br>

•	Head south on Panagal Rd<br>
100 m<br>

•	At the roundabout, take the 2nd exit and stay on Panagal Rd<br>
 
•	Pass by Repco Bank (on the left) <br>
450 m<br>
•	Follow NH67 to Kumbakonam - Mannargudi - Adirampattinam Rd in Nidamangalam<br>
41 min (27.8 km) <br>

•	At the roundabout, take the 2nd exit onto NH83<br>
 
•	Pass by Taluk Office Bus Stop (on the right in 450 m) <br>
1.8 km<br>

•	Continue onto NH67<br>
 
•	Pass by Keerthivasan Weigh-bridge & Water Service Station (on the left in 25.4 km) <br>
26.0 km<br>
•	Follow Kumbakonam - Mannargudi - Adirampattinam Rd to Sivan N St in Alangudi<br>
12 min (7.0 km) <br>

•	Turn right at Govt.Bar onto Kumbakonam - Mannargudi - Adirampattinam Rd<br>
 
•	Pass by State Bank of India ATM (on the left in 6.2 km) <br>
6.4 km<br>

•	Turn right at Poonthottam Rd<br>
300 m<br>

•	Slight right towards Sivan N St<br>
200 m<br>

•	Turn left onto Sivan N St<br>
 
•	Destination will be on the right<br>
130 m<br><br>
Navagraha Guru Dakshina Moorthy - Abathsahyeswarar Temple<br>
Alangudi, Tamil Nadu 612801<br>

</div>
</ion-scroll>
</ion-view>
