<ion-view view-title="AGNIPUREESWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tsg.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Lord Shiva in the temple is a swayambumurthy.<br>

Duration : 5 min<br> 
Distance : 350 m<br>
via Panagal Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Thiruvarur Junction<br>
Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610003<br><br>
Directions : <br><br>
•	Walk west towards Panagal Rd<br>
140 m<br>

•	Turn right onto Panagal Rd<br>
 
•	Pass by Repco Bank (on the right in 85 m) <br>
100 m<br>

•	At the roundabout, take the 1st exit and stay on Panagal Rd<br>
 
•	Destination will be on the right<br>
120 m<br><br>
•	Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br>
Duration : 37 min<br>
Distance : (20.9 km) <br>
via SH 23 and SH 67<br>
Fastest route<br><br>
FROM : Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br><br>
Directions : <br><br>
•	Head north on Panagal Rd towards Madappuram Road/Thirumanjana Veedhi<br>
 	
•	Pass by Rathemeema Speed Parcel Service (on the left) <br>
750 m<br>

•	At lakshmivillas atm, continue onto E Main Rd<br>
 
•	Pass by Rsk Computer (on the left) <br>
750 m<br>

•	Turn right at panjamuga anchaneaiyer koil onto New St/SH 23<br>
 
•	Continue to follow SH 23
 <br>
•	Pass by KN Residence (on the left) <br>
12.5 km<br>

•	Turn right at Aka Traders.snr onto SH 67<br>
 
•	Pass by Anna Colony Bus Stop (on the left in 1.8 km) <br>
6.4 km<br>

•	Turn left<br>
400 m<br><br>
Sri Agnipureeswarar Temple<br>
Thiruppugalur, Tamil Nadu 658508<br>


</div>
</ion-scroll>
</ion-view>
