<ion-view view-title="SUYAMBULINGASWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tsl.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> 	Lord Shiva graces as a swayambumurthi. Rays of Sun fall on the deity throughout Margazhi month – December-January. There are four springs near the sea shore, all with fine drinking water. It is noteworthy that the water is but the abisheka theertha of Lord.
<br>
Duration : 3 min<br>
Distance :  (260 m) <br>
via Railway Feeder Road<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tirunelveli Jn<br>
Balabagya Nagar South, Tirunelveli Town, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Walk north-east<br>
8 m<br>

•	Turn right towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right in 150 m) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Destination will be on the right<br>
59 m<br><br>
Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br>

Duration : 1 h 37 min <br>
Distance : 69.4 km<br>
via NH44 and Nanguneri - Uvari Rd<br>
Fastest route<br>
This route has tolls. <br><br>

FROM : Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Balabagya Nagar South, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Continue to Vannarpettai<br>
4 min (900 m)
<br>
•	Head south<br>
170 m<br>

•	Turn left towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right) <br>
180 m
<br>
•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Pass by Thirunelveli Sweets (on the left) <br>
170 m
<br>
•	Turn right at Balu Studio towards Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
400 m<br>
•	Continue to Shanthi Nagar<br>
8 min (4.0 km) <br>

•	Slight left onto Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Continue to follow Sankarankoil- Tirunelveli Rd/Tenkasi - Tirunelveli Rd<br>
 
•	Go past the petrol station (on the left) <br>
1.2 km
<br>
•	Turn right at Club3tours onto S Bypass Rd<br>
 
•	Pass by EZee net - XEROX (on the left) <br>
2.8 km<br>
•	Take Trivandrum Rd to NH44<br>
11 min (6.6 km) <br>

•	Continue straight to stay on S Bypass Rd<br>
 
•	Pass by Global Software Solutions Pvt. Ltd (on the right) <br>
1.0 km
<br>
•	Slight right onto Trivandrum Rd<br>
 
•	Pass by Ngo Colony Bus Stop (on the left) <br>
4.4 km<br>

•	At the roundabout, take the 2nd exit onto Koganthanparai Rd/NH 44 Service Road<br>
57 m
<br>
•	Turn right onto Service Rd<br>
 
•	Pass by KAG India Pvt. Ltd., Tirunelveli (on the left in 1.1 km) <br>
1.1 km<br>
•	Follow NH44 and Nanguneri - Uvari Rd to Nadar Uvari<br>
1 h 15 min (57.7 km) <br>

•	Merge onto NH44<br>
 
Partial toll road<br>
 
•	Drive along Christu Raja Institute (on the left for 350 m) <br>
19.0 km
<br>
•	Take the exit towards Bharathiyar St<br>
300 m<br>

•	Continue onto Bharathiyar St<br>
2.4 km<br>

•	Turn left towards Nanguneri - Moolaikaraipatti Rd/Nanguneri - Thisayanvilai Rd/Nanguneri - Uvari Rd<br>
100 m<br>

•	Turn right onto Nanguneri - Moolaikaraipatti Rd/Nanguneri - Thisayanvilai Rd/Nanguneri - Uvari Rd<br>
350 m<br>

•	Slight right onto Nanguneri - Thisayanvilai Rd/Nanguneri - Uvari Rd<br>
 
•	Continue to follow Nanguneri - Uvari Rd<br>
 
•	Pass by RS Auto Consultancy (on the right in 300 m) <br>
34.9 km<br>

•	Continue onto Thoothukudi-Tiruchendur-Kanyakumari Rd<br>
600 m<br>
•	Drive to your destination<br>
45 s (130 m)
<br>
•	Turn right<br>
86 m<br>

•	Turn left<br>
 
•	Destination will be on the left<br>
45 m<br><br>
Suyambulinga swamy temple<br>
Nadar Uvari, Tamil Nadu 627651<br>


</div>
</ion-scroll>
</ion-view>
