<ion-view view-title="SARASWATI TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tsw.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Temples dedicated to the Goddess Saraswati are seldom found in India.
There are very few temples in India dedicated to Saraswathi, the Goddess of learning. Though we see Her in collaboration with other deities in most other temples, a shrine dedicated to the Goddess Herself is very rare. Located in the Mayiladuthurai-Tiruvarur rail route and one and a half kilometres away from the village Poonthottam is the temple dedicated to Saraswathi – Koothanur.<br>

Duration : 5 min<br> 
Distance : 350 m<br>
via Panagal Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Thiruvarur Junction<br>
Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610003<br><br>
Directions : <br><br>
•	Walk west towards Panagal Rd<br>
140 m<br>

•	Turn right onto Panagal Rd<br>
 
•	Pass by Repco Bank (on the right in 85 m) <br>
100 m<br>

•	At the roundabout, take the 1st exit and stay on Panagal Rd<br>
 
•	Destination will be on the right<br>
120 m<br><br>
•	Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br>

Duration : 37 min<br>
Distance : 21.0 km<br>
via SH 23<br>
Fastest route, the usual traffic<br><br>
FROM : Thiruvarur Bus Stand<br>
Panagal Rd, Santhamangalam, KTR Nagar, Thiruvarur, Tamil Nadu 610001<br><br>
Directions : <br>
•	Follow SH 23 to Nachiyar Kovil-Poonthottam Main Rd in Koothanur<br>
34 min (20.3 km) <br>

•	Head north on Panagal Rd towards Madappuram Road/Thirumanjana Veedhi<br>
 
•	Pass by Rathemeema Speed Parcel Service (on the left) <br>
750 m<br>

•	At lakshmivillas atm, continue onto E Main Rd<br>
 
•	Pass by Rsk Computer (on the left) <br>
750 m<br>

•	Turn right at panjamuga anchaneaiyer koil onto New St/SH 23<br>
 
•	Continue to follow SH 23<br>
 
•	Pass by KN Residence (on the left) <br>
12.5 km<br>

•	Turn left at Aka Traders.snr onto SH 23/SH 67<br>
94 m<br>

•	Turn right at Kumaran Textiles onto SH 23<br>
 
•	Pass by Maruthi Mahal (on the left) <br>
6.2 km<br>
•	Continue on Nachiyar Kovil-Poonthottam Main Rd to your destination<br>
2 min (650 m) <br>

•	Turn left onto Nachiyar Kovil-Poonthottam Main Rd<br>
450 m<br>

•	Turn left<br>
160 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
44 m<br><br>
Shree Saraswathi Temple Koothanur<br>
Kumbakonam Main Road, Koothanur, Tamil Nadu 609503





</div>
</ion-scroll>
</ion-view>
