<ion-view view-title="ST. THOMAS MOUNT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tt.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> The ancient Syrian Christian community of India trace the origin of their church to St. Thomas the Apostle, believed to have been martyred in St. Thomas Mount. From the 17th century, this part of Chennai was populated predominantly by Anglo-Indians. The St. Thomas Garrison Church is located at the bottom of St Thomas Mount.The St. Thomas Syro Malabar Catholic church is located east of the shrine at North Silver Street , foot holds of the mountain Shrine.<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>
Duration : 1 h 23 min<br>
Distance : 42.3 km<br>
via Tiruvallur High Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br>v
•	Continue to Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
1 min (300 m)
<br>
•	Head east<br>
87 m<br>

•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
180 m
<br>
•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
45 m<br>
•	Take Tiruvallur High Rd, NH48 and Mount Poonamalle High Rd to St Patricks Church Rd in Saint Thomas Mount, Chennai<br>
1 h 11 min (41.7 km) <br>

•	Turn left onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>

•	Turn left at HOTEL VASANTHA BHAVAN onto NH716<br>
 
•	Pass by finnacle financial services (on the right) <br>
250 m<br>

•	Continue straight past BMS AC World onto Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br> 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Arun Ice Creams (on the left) <br>
3.1 km<br>

•	Turn left at MM Electronics onto P.H Rd/Tiruvallur High Rd<br>
 
•	Continue to follow Tiruvallur High Rd
 <br>
•	Pass by Dr NESAM MULTISPECIALITY DENTAL HOSPITAL (on the left) <br>
19.8 km
<br>
•	Turn left onto NH48<br>
1.6 km<br>

•	Keep left to stay on NH48<br>
4.5 km<br>

•	Slight right onto MDR369<br>
270 m
<br>
•	Continue straight onto Poonamallee High Rd<br>
 
•	Pass by Mosque Of Madarasa Kashiful Huda (on the right) <br>
1.3 km
<br>
•	Turn left onto Mount Poonamalle High Rd/Trunk Rd<br>
 
•	Continue to follow Mount Poonamalle High Rd<br>
 
•	Go past the church (on the right) <br>
10.1 km
<br>
•	Turn right onto Butt Rd/Police Office Rd<br>
140 m<br>

•	Turn right after St Thomas Higher Secondary School (on the right) <br>
 
•	Pass by St Helen's Girls Higher Secondary School (on the left) <br>
250 m<br>
•	Continue on St Patricks Church Rd to your destination<br>
2 min (300 m)
<br>
•	Turn left onto St Patricks Church Rd<br>
71 m<br>

•	Turn right to stay on St Patricks Church Rd<br>
92 m<br>

•	Turn left towards 3rd St<br>
38 m<br>

•	Slight left towards 3rd St<br>
38 m
<br>
•	Turn left onto 3rd St<br>
38 m
<br>
•	Turn left<br>
30 m<br><br>
Parangi Malai<br>
St Thomas Mount, Chennai, Tamil Nadu<br>




</div>
</ion-scroll>
</ion-view>
