<ion-view view-title="UTTUKULI MURUGAN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tu.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> No one knows when the temple was build here, just they have the history. But only 200 years before some rural kings build the temple and five years before with the help of some donors the temple was rebuild and now it is the important spiritual place in Erode, Coimbatore Districts. Daily more than 200 people visit Uttukuli Murugan Temple and on special occasions like Thaipoosam more than 100,000 devotees come.<br>

Duration : 9 min<br>
Distance : 1.9 km<br>
via Somanur - Manavalakali Mandram Rd<br>
Fastest route<br>
<br>
FROM : Tiruppur<br>
திருப்பூர்-அவினாசி சாலை, Tiruppur, Tamil Nadu 641601<br><br>
Directions : <br><br>
•	Head east on Railway Station Road towards Amaravathi Palayam Rd<br>
 
•	Pass by Jeeva Health Care (on the right) <br>
82 m<br>

•	Slight right at New Happy Travels onto Avinashi-Tiruppur Rd/Somanur - Manavalakali Mandram Rd<br>
 
•	Pass by Mobile Xpress " (on the right) <br>
1.0 km<br>

•	Keep right to continue on Avinashi-Tiruppur Rd/Municipal Office Rd/Somanur - Manavalakali Mandram Rd/Tiruppur Rd/Tiruppur-Somanur Rd<br>
 
•	Continue to follow Somanur - Manavalakali Mandram Rd/Tiruppur-Somanur Rd<br>
 
•	Pass by Tiruppur Corporation Office (on the right) <br>
350 m<br>

•	Turn left at the petrol station towards the Jammanai St<br>
70 m<br>

•	Turn left towards Jammanai St<br>
 
•	Pass by Nanda Two Wheeler Stand (on the right)v<br>
220 m<br>

•	Turn left at Hotel Mohan Lodge onto Jammanai St<br>
 
•	Pass by New golden footwear (on the left) <br>
91 m
<br>
•	Turn right at Sri Kamatchi Tex onto New Market Street<br>
 
•	Pass by Gokul Audio & Electronics (on the right) <br>
 
•	Destination will be on the left<br>
83 m<br><br>
Tiruppur Old Bus Stand<br>


Duration : 37 min <br>
Distance : 19.1 km<br>
via Somanur - Manavalakali Mandram Rd<br>
Fastest route now, avoids road closure<br><br>

FROM : Avinashi-Tiruppur Rd<br>
Tiruppur, Tamil Nadu<br><br>
Directions : <br><br>
•	Drive from Avinashi Main Rd/Avinashi-Tiruppur Rd to Padmavathipuram<br>
2 min (450 m) <br>

•	Head north-west on Avinashi Main Rd/Avinashi-Tiruppur Rd towards 60 Feet Rd/Asher Nagar 60 Feet Rd<br>
110 m<br>

•	Turn right at Hotel Gowri Kkrishna (TGK 4) <br>
9 m
<br>
•	Turn right at Priya Medicals onto Avinashi Main Rd/Avinashi-Tiruppur Rd<br>
 
•	Drive along Tirupur RTO Office (on the left) <br>
350 m<br>
•	Follow 60 Feet Rd to PN Rd/Tiruppur - Perumanallur Rd in Chettipalayam<br>
2 min (1.0 km)
<br>
•	Turn left towards 60 Feet Rd<br>
36 m<br>

•	Turn left onto 60 Feet Rd<br>
11 m
<br>
•	Turn right to stay on 60 Feet Rd<br>
 
•	Pass by Kotak Securities, Franchise, Tirupur (on the right) <br>
1.0 km<br>

•	Turn right at Sri Alagppa Briyani onto PN Rd/Tiruppur - Perumanallur Rd<br>
 
•	Pass by City Union Bank ATM (on the left) <br>
2 min (950 m) <br>
•	Follow 50 Feet Rd Lakshmi Nagar and Om Sakthi Kovil Main Rd to Somanur - Manavalakali Mandram Rd/Uthukuli Rd in KPN Colony<br>
6 min (1.7 km) <br>

•	Turn left at Master Designs onto 50 Feet Rd Lakshmi Nagar<br>
 
•	Pass by KUMARAN ELASTIC. Shree Kumaran Lace (on the left) <br>
450 m<br>

•	Turn left to stay on 50 Feet Rd Lakshmi Nagar<br>
49 m
<br>
•	Turn right to stay on 50 Feet Rd Lakshmi Nagar<br>
 
•	Pass by Thulasi Pharmacies India Pvt Ltd (on the right) <br>
350 m
<br>
•	Turn right onto Om Sakthi Kovil Main Rd<br>
 
•	Pass by Sri Gowri & co (on the right) <br>
850 m
<br>
•	Turn right towards Somanur - Manavalakali Mandram Rd/Uthukuli Rd<br>
57 m
<br>
•	Turn left onto Somanur - Manavalakali Mandram Rd/Uthukuli Rd<br>
 
•	Continue to follow Somanur - Manavalakali Mandram Rd<br>
 
•	Pass by Walrus International (on the right in 350 m) <br>
20 min (12.7 km) <br>
•	Take Kaithamalai Road to your destination in Thenmugam Kangayapalayam<br>
5 min (2.2 km)
<br>
•	Turn left<br>
800 m<br>

•	Turn right onto Kaithamalai Road<br>
 
•	Pass by govt girls hr sec school (on the right) <br>
600 mv<br>

•	Sharp left<br>
350 m
<br>
•	Turn left<br>
 
•	Pass by Kaithamalai Sri Vetri Velayudaswami Temple (on the left in 400 m) <br>
 
•	Destination will be on the left<br>
450 m<br><br>
Kathithamalai Murugan Temple<br>
uthukkuli Town, Tamil Nadu
 <br>





</div>
</ion-scroll>
</ion-view>
