<ion-view view-title=" SRI VADARANYESWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tv.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br> Sri Vadaranyeswarar Temple, built by the Cholas during the 12th century, (though inscriptions evidence the 5th century) is regarded as a sacred Shaivaite temple in that it is one of the 5 majestic cosmic dance halls (pancha sabhai) of Lord Shiva, known as "Ratna Sabai".<br>

Duration : 14 min<br>
Distance :  4.8 km<br>
via Tiruvallur High Rd and Bharathiyar St/JN Rd/Tiruvallur-Uthukottai Rd<br>
Fastest route, lighter traffic than usual<br><br>

FROM : Thiruvallur Railway Station<br>
Tiruvallur, Tamil Nadu 602003<br><br>
Directions : <br><br>
•	Continue to Manavalanagar<br>
2 min (500 m) <br>

•	Head west<br>
200 m
<br>
•	Turn left towards P.H Rd/Tiruvallur High Rd<br>
290 m<br>
•	Drive from Bharathiyar St to MGM Nagar, Tiruvallur<br>
10 min (4.0 km) <br>

•	Turn right at Auto Rickshaw Stand onto P.H Rd/Tiruvallur High Rd<br>
280 m<br>

•	Turn right at ICICI Bank ATM onto Bharathiyar St/Tiruvallur High Rd<br>
 
•	Continue to follow Bharathiyar St<br>
 
•	Pass by Amway customers & Business Development Services (on the left in 550 m) <br>
3.4 km
<br>
•	Turn right onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m<br>
•	Drive to your destination<br>
1 min (300 m) <br>

•	Turn right<br>
45 m
<br>
•	Turn right<br>
180 m<br>

•	Turn right<br>
 
•	Destination will be on the left<br>
87 m<br><br>
Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br>


<br>
Duration : 30 min<br>
Distance : 18.7 km<br>
via NH716 and Thiruvallur Rd/Tiruvalangadu Rd<br>
Fastest route<br>
This route has tolls. <br><br>
FROM : Tiruvallur Bus Stand<br>
SH 50, MGM Nagar, Tiruvallur, Tamil Nadu 602001<br><br>
Directions : <br><br>
•	Take Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd to NH716<br>
3 min (650 m) <br>

•	Head east<br>
87 m
<br>
•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
180 m
<br>
•	Turn left towards Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
45 m
<br>
•	Turn left onto Thiruvallur Hwy/Tiruvallur - Tamaraipakkam Rd<br>
350 m
<br>
•	Turn right at HOTEL VASANTHA BHAVAN onto NH716<br>
 
Partial toll road<br>
 
•	Pass by Chandru Stores (on the left) <br>
17 min (11.9 km) <br>
•	Follow Thiruvallur Rd/Tiruvalangadu Rd to your destination in Thiruvalangadu<br>
11 min (6.1 km) <br>

•	Turn left onto Thiruvallur Rd/Tiruvalangadu Rd<br>
 
•	Pass by Government Higher Secondary School (on the left in 5.4 km) <br>
5.7 km
<br>
•	Slight right<br>
290 m
<br>
•	Turn right<br>
71 m
<br>
•	Turn left<br>
69 m<br><br>
Sri Vadaranyeswarar Temple<br>
Thiruvalangadu, Tamil Nadu 609810<br>



</div>
</ion-scroll>
</ion-view>
