<ion-view view-title="KANTHIMATHI NELLAIYAPPAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/tvk.jpg"><br>
<div class="item item-text-wrap">
Chronicle:<br>Nellaiappar Temple is a Hindu temple dedicated to the deity Shiva, located in Tirunelveli, a city in the South Indian state of Tamil Nadu. Shiva is worshipped as Nellaiappar (also called Venuvananathar) represented by the lingam and his consort Parvati is depicted as Kanthimathi Amman. The temple is located on the northern banks of Tamiraparani River in Tirunelveli district. The presiding deity is revered in the 7th century Tamil Saiva canonical work, the Tevaram, written by Tamil saint poets known as the nayanmars and classified as Paadal Petra Sthalam.<br>
Duration : 3 min<br>
Distance :  (260 m) <br>
via Railway Feeder Road<br>
Use caution - may involve errors or sections not suited for walking<br><br>

FROM : Tirunelveli Jn<br>
Balabagya Nagar South, Tirunelveli Town, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Walk north-east<br>
8 m<br>

•	Turn right towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right in 150 m) <br>
180 m<br>

•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Destination will be on the right<br>
59 m<br><br>
Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br>

KANTHIMATHI NELLAIYAPPAR TEMPLE
Duration : 10 min<br>
Distance : 3.7 km<br>
via Sankarankoil- Tirunelveli Rd<br>
Fastest route, the usual traffic<br><br>
FROM : Tirunelveli Junction Periyar Bus Stand<br>
Madurai Rd, Balabagya Nagar South, Vannarpettai, Tirunelveli, Tamil Nadu 627001<br><br>
Directions : <br><br>
•	Head south<br>
170 m<br>

•	Turn left towards Railway Feeder Road<br>
13 m<br>

•	Turn left at Railways Cloak Room onto Railway Feeder Road<br>
 
•	Pass by Rusi hotel(shahul) (on the right) <br>
180 m<br>
•	Turn left at Laskhmi sweets onto Madurai Rd<br>
 
•	Pass by Thirunelveli Sweets (on the left) <br>
170 m<br>

•	Turn right at Balu Studio towards Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd<br>
400 m<br>

•	Slight left onto Sankarankoil- Tirunelveli Rd/Swami Nellaiappar High Rd/Tenkasi - Tirunelveli Rd
 <br>
•	Go past the petrol station (on the left) <br>
160 m<br>

•	Make a U-turn at Alfi Mobiles<br>
 
•	Continue to follow Sankarankoil- Tirunelveli Rd<br>
 
•	Pass by S.M. Seenisait (on the right) <br>
2.7 km<br><br>
Nellaiappar Temple<br>
Tirunelveli Town, Tirunelveli, Tamil Nadu 627006<br>



</div>
</ion-scroll>
</ion-view>
