
<ion-view view-title="UDHAGAMANDALAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "onr()"> 
Nilgiri Mountain Railway Line
</button><br>
<button class="button button-clear button-royal" ng-Click = "obg()"> 
Government Botanical Garden
</button><br>
<button class="button button-clear button-royal" ng-Click = "opl()"> 
Pykara Lake Boating
</button><br>
<button class="button button-clear button-royal" ng-Click = "odp()"> 
Doddabetta Peak
</button><br>
<button class="button button-clear button-royal" ng-Click = "oal()"> 
Avalanche Lake
</button><br>
<button class="button button-clear button-royal" ng-Click = "org()"> 
Udhagai– Rose Garden
</button><br>
<button class="button button-clear button-royal" ng-Click = "oubl()"> 
Upper Bhavani Lake View Point
</button><br>
<button class="button button-clear button-royal" ng-Click = "osp()"> 
Shooting Point
</button><br>
<button class="button button-clear button-royal" ng-Click = "ool()"> 
Ooty Lake
</button><br>
<button class="button button-clear button-royal" ng-Click = "osc()"> 
St. Stephen's Church
</button><br>
<button class="button button-clear button-royal" ng-Click = "oel()"> 
Emerald Lake
</button><br>
<button class="button button-clear button-royal" ng-Click = "otw()"> 
Thunder World
</button><br>
<button class="button button-clear button-royal" ng-Click = "okv()"> 
RGM Valley View Public School
</button><br>
<button class="button button-clear button-royal" ng-Click = "otg()"> 
Thread Garden
</button><br>
<button class="button button-clear button-royal" ng-Click = "omt()"> 
Elk Hill Murugan Temple
</button><br>
<button class="button button-clear button-royal" ng-Click = "omb()"> 
Upper Bazar Rd
</button><br>
<button class="button button-clear button-royal" ng-Click = "oeh()"> 
Elk Hill
</button><br>
<button class="button button-clear button-royal" ng-Click = "och()"> 
Cairn Hill Reserve Forest Office
</button><br>
<button class="button button-clear button-royal" ng-Click = "olc()"> 
Wallwood Garden Neemrana
</button><br>
<button class="button button-clear button-royal" ng-Click = "owm()"> 
AG Wonderland
</button><br>
<button class="button button-clear button-royal" ng-Click = "owc()"> 
Mukurthi National Park
</button><br>
<button class="button button-clear button-royal" ng-Click = "oml()"> 
M&N Chocolate Museum
</button><br>
<button class="button button-clear button-royal" ng-Click = "oamt()"> 
Annamalai Murugan Temple
</button><br>
<button class="button button-clear button-royal" ng-Click = "ohtc()"> 
Holy Trinity Church
</button><br>
<button class="button button-clear button-royal" ng-Click = "olp()"> 
South Lake Road Childrens Park
</button><br>
<button class="button button-clear button-royal" ng-Click = "otrc()"> 
Tribal Research Center
</button><br>

<button class="button button-clear button-royal" ng-Click = "okcc()"> 
Kandal Cross Shrine
</button><br>
<button class="button button-clear button-royal" ng-Click = "orb()"> 
Raj Bhavan
</button><br>
<button class="button button-clear button-royal" ng-Click = "obv()"> 
Bison Inn Ooty, Ketti Valley
</button><br>
<button class="button button-clear button-royal" ng-Click = "omp()"> 
Mukurthi peak
</button><br>
<button class="button button-clear button-royal" ng-Click = "ohv())">
OOTY Hidden Valley Jungle Camp
</button><br>
<button class="button button-clear button-royal" ng-Click = "onl())">
Nilgiri District Library
</button><br>
<button class="button button-clear button-royal" ng-Click = "ouc())">
Union Church
</button><br>
<button class="button button-clear button-royal" ng-Click = "oap())">
Tamizhagam Guest House
</button><br>
<button class="button button-clear button-royal" ng-Click = "obl())">
Silver Stones Bellikal
</button><br>
<button class="button button-clear button-royal" ng-Click = "ohpf())">

Hindustan Photo Films 
</button><br>
<button class="button button-clear button-royal" ng-Click = "oav())">
Abu Babaji
</button><br>
<button class="button button-clear button-royal" ng-Click = "ort())">
Radio Astronomy Centre
</button><br>
<button class="button button-clear button-royal" ng-Click = "ojp())">
JEWEL PALACE
</button><br>
 </ion-scroll>
</ion-view>
