<ion-view view-title="VAIGAI DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vai.jpg"><br>
<div class="item item-text-wrap">
 
Chronicle :<br>
The Vaigai Dam is built across the Vaigai River near Andipatti, in the Theni district of Tamil Nadu, southern India. It provides water for irrigation for the Madurai district and the Dindigul district as well as drinking water to Madurai and Andipatti. Near the dam, the Government of Tamil Nadu has constructed an Agricultural Research Station for researching the growing of a variety of crops, including rice, sorghum, blackgram, cowpea and cotton.<br><br>
Duration : 9 min<br>
Distance : 2.6 km<br>
via NRT Main Rd<br>
Fastest route<br><br>

FROM : Railway Station<br>
Railway Feeder Rd, Theni, Tamil Nadu 625531<br><br>
Directions : <br><br>
•	Head south-east on Railway Feeder Rd towards NH183<br>
650 m<br>

•	Turn left at VL Krishnaswamy Rukmaniammal Kalyan mahal onto NH183<br>
 
•	Pass by Theni Coconut Producers Company (on the left) <br>
98 m<br>

•	Turn right at Sri Vi Broilers onto NRT Main Rd<br>
 
•	Pass by El Shaddai (on the left) <br>
1.0 km<br>

•	Turn left at Theni Grand Master Chess Academy<br>
67 m<br>

•	Turn right<br>
750 m
<br>
•	Turn right onto Theni By-Pass<br>
 
•	Destination will be on the left<br>
98 m<br><br>
Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br>
Duration : 20 min <br>
Distance : 15.7 km<br>
via NH85 and TN SH101<br>
Fastest route<br><br>

FROM : Pennicuik New Bus Stand-Theni<br>
Theni By-Pass, Sidco Thoz, NRT Nagar, Theni, Tamil Nadu 625531<br><br>

Directions : <br><br>
•	Head south on Theni By-Pass towards NH85<br>
 
•	Pass by SRI KARPAGAVINAYAGAR SNACKS (on the right) <br>
600 m
<br>
•	Turn left onto NH85<br>
 
•	Pass by ssv (on the right in 2.7 km) <br>
7.9 km<br>

•	Turn left onto TN SH101
 <br>
•	Pass by Udipi Hospital (on the right in 3.9 km) <br>
6.5 km
<br>
•	At the roundabout, take the 1st exit onto Vaigai dam - Varusanadu Rd/TN SH101<br>
280 m<br>

•	At the roundabout, take the 1st exit onto Guest House Rd<br>
450 m<br><br>
Vaigai Dam<br>
Guest House Rd, Melmangalam, Tamil Nadu 625562<br>



</div>
</ion-scroll>
</ion-view>
