<ion-view view-title="AMIRTHI ZOO">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vaz.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>
Amirthi Zoological Park is a zoo in Tiruvannamalai District in the Indian state of Tamil Nadu. It was opened in 1967 and is about 55 kilometres (34 mi) from district headquarters Tiruvannamalai city and 25 kilometres (16 mi) from the Vellore city. The area of the park is 25 hectares and one can find beautiful water falls.<br>

Half of this jungle is cleared to serve as a tourist spot while the other half is developed as a wildlife sanctuary. A trek for a kilometre leads one to a full view of seasonal waterfall. The inflow of tourists is more only during the holidays. Animals at the park include spotted deer, mongoose, hedgehog, foxes, reason monkeys, red headed parrots, love birds, tortoises, peacock, crocodiles, wild cats, eagles, ducks, pigeons, wild parrots, rabbits, and pythons.<br><br>
Duration : 14 min<br> 
Distance : 5.5 km<br>
via NH75<br>
Fastest route, despite the usual traffic<br><br>

FROM : Railway Station Bus Stop<br>
National Highway 234, Dharapadavedu, Katpadi, Vellore, Tamil Nadu 632006<br><br>
Directions : <br><br>
•	Head north on NH75<br>
 
•	Pass by the bridge (on the left) <br>
200 m<br>

•	Make a U-turn at NATIONAL MOBILE SOLUTIONS<br>
 
•	Pass by Substation (on the left) <br>
4.6 km<br>

•	At Green Cir, take the 4th exit and stay on NH75<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
230 m
<br>
•	Slight right at Hotel Aryaas Parking lot towards Buses Exit Rd<br>
 
•	Pass by Vellore Car Decors (on the right) <br>
190 m<br>

•	Turn right towards Buses Exit Rd<br>
 
•	Pass by TASMAC (on the right) <br>
250 m
<br>
•	Continue onto Buses Exit Rd<br>
31 m<br><br>
Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>


Duration : 3 h 13 min<br>
Distance : 144 km<br>
via NH48<br>
Fastest route now due to traffic conditions<br>
This route has tolls. <br><br>

FROM : Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>
Directions : <br><br>
•	Follow NH48, Vaniyambadi Rd and Kavalur Rd to Jamunamarathur<br>
2 h 5 min (107 km)
<br>
•	Head north on NH75<br>
 
•	Pass by PALAR BURIAL GROUND (on the right) <br>
1.2 km<br>

•	Turn right at Shiva Beef Briyani towards Chitoor - Vellore Hwy<br>
65 m<br>

•	Turn right at JP Fast Food onto Chitoor - Vellore Hwy<br>
 
•	Pass by Hazel Wood (on the right) <br>
400 m<br>

•	At Ovivya Tyres, continue onto NH75<br>
 
•	Pass by Saravana Engineering (on the left in 800 m) <br>
1.0 km<br>

•	At Green Cir, take the 3rd exit onto NH 46 Service Rd<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
1.0 km<br>

•	Turn right by the petrol station towards the NH48<br>
10 m
<br>
•	Turn left onto NH48<br>
 
Partial toll road<br>
 
•	Pass by Busy auto care (on the right in 35.5 km) <br>
65.3 km<br>

•	Slight left towards Subramaniya Bharathi St<br>
100 m
<br>
•	Turn left onto Subramaniya Bharathi St<br>
 
•	Pass by Annamalai store (on the left) <br>
550 m<br>

•	Turn right at ISLAMIAH ITI onto Alangayam Cross Rd/Vaniyambadi Rd<br>
 
•	Continue to follow Vaniyambadi Rd
 <br>
•	Pass by Vinayagar illam (on the left in 14.2 km) <br>
15.5 km
<br>
•	Turn right at Alangayam Bus Stand onto Krishnagiri Trunk Rd<br>
 
•	Pass by Sri Laxmi Games Center (on the right) <br>
400 m<br>

•	Turn left at Rahman Electricals onto Kavalur Rd<br>
 
•	Pass by Adhil Mobile's (on the left) <br>
21.9 km<br>
•	Take Mandaparai Rd, Nammiyampattu Rd and Jamunamathur-Amirtha Forest Rd to your destination in Puthur R.F. <br>
1 h 9 min (36.2 km) <br>

•	Turn left at Jamunamarathur Rd<br>
5.7 km<br>

•	Turn right onto Mandaparai Rd<br>
4.4 km
<br>
•	Continue straight onto Nammiyampattu Rd<br>
6.3 km<br>

•	Turn right<br>
3.3 km<br>

•	Turn right<br>
1.6 km<br>

•	Turn left<br>
2.3 km<br>

•	Continue onto Jamunamathur - Amirtha Forest Rd<br>
1.7 km
<br>
•	Continue onto Jamunmathur-Amirtha Forest Rd<br>
550 m<br>

•	Continue onto Jamunamathur-Amirtha Forest Rd<br>
9.7 km
<br>
•	Slight left<br>
650 m<br><br>
AMIRTHI ZOO



</div>
</ion-scroll>
</ion-view>
