
<ion-view view-title="VELLORE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "vsgt()"> 
SRI LAKSHMI NARAYANI GOLDEN TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "vjt()"> 
JALAKANDESWARAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "vvf()"> 
FORT VELLORE</button><br>

<button class="button button-clear button-royal" ng-Click = "vab()"> 
ARULMIGU BALAMURUGAN THIRUKKOVIL</button><br>
<button class="button button-clear button-royal" ng-Click = "vsy()"> 
Sri Yoga Narasimha Swamy Temple<</button><br>
<button class="button button-clear button-royal" ng-Click = "vam()"> 
ARCHAEOLOGY SURVEY OF INDIA MUSEUM</button><br>
<button class="button button-clear button-royal" ng-Click = "vaz()"> 
AMIRTHI ZOO</button><br>
<button class="button button-clear button-royal" ng-Click = "vpl()"> 
YELAGIRI LAKE
</button><br>
<button class="button button-clear button-royal" ng-Click = "vmm()"> 
MAHADEVA MALAI TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "vmd()">
MORDHANA DAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "vm()">
MUTHU MANDAPAM
</button><br>
<button class="button button-clear button-royal" ng-Click = "vsj()">
ST.JOHN'S CHURCH
</button><br>


</ion-scroll>
</ion-view>
