<ion-view view-title="GINGEE FORT">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vg.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>
Gingee Fort or Senji Fort (also known as Chenji, Jinji or Senchi) in Tamil Nadu, India is one of the surviving forts in Tamil Nadu, India. It lies in Villupuram District, 160 kilometres (99 mi) from the state capital, Chennai, and is close to the Union Territory of Puducherry. The fort is so fortified, that Shivaji, the Maratha king, ranked it as the "most impregnable fortress in India" and it was called the "Troy of the East" by the British. The nearest town with a railway station is Tindivanam and the nearest airport is Chennai (Madras), located 150 kilometres (93 mi) away.<br>

Originally the site of a small fort built by the Chola dynasty during the 9th century AD, Gingee Fort was modified by Kurumbar during the 13th century. As per one account, the fort was built during the 15–16th century by the Nayaks, the lieutenants of the Vijayanagara Empire and who later became independent kings (Nayaks of Gingee ). The fort passed to the Marathas under the leadership of Shivaji in 1677 AD, Bijapur sultans, the Moghuls, Carnatic Nawabs, French and the British in 1761. The fort is closely associated with Raja Tej Singh, who unsuccessfully revolted against the Nawab of Arcot and eventually lost his life in a battle.

<br><br>
Duration : 11 min<br>
Distance : 2.7 km<br>
via NH332 and Trichy Main Rd/Trichy Trunk Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Villupuram Junction<br>
Keezperum Pakkam, Villupuram, Tamil Nadu 605602<br><br>
Directions : <br><br>
•	Head north-west on Railway Station Road towards Bristak Rd<br>
67 m<br>

•	Turn left at supreme promoters onto Brickstak Road<br>
13 m
<br>
•	Turn right at Canara Bank ATM onto NH332<br>
 
•	Pass by Hotel Annai (on the right) <br>
1.4 km<br>

•	At the roundabout, take the 1st exit onto Trichy Main Rd/Trichy Trunk Rd<br>
 
•	Pass by Government Hospital Bus Stop (on the left) <br>
1.0 km<br>

•	Slight right at Cake Plaza onto Pudhukeni<br>
60 m<br>

•	Turn right to stay on Pudhukeni<br>
 
•	Destination will be on the left<br>
140 m<br><br>
Villupuram Bus Stand<br>
Villupuram New Bus Stand Rd, Singapore Nagar, Moovendar Nagar, Villupuram, Tamil Nadu 605602<br><br>


Duration : 1 h <br>
Distance : 41.4 km<br>
via Gingee - Villupuram Rd/Villupuram Rd<br>
Fastest route<br><br>

FROM : Villupuram Bus Stand<br>
Villupuram New Bus Stand Rd, Singapore Nagar, Moovendar Nagar, Villupuram, Tamil Nadu 605602<br><br>
Directions : <br><br>
•	Take Collector Office Rd to NH38 in Valudureddi<br>
4 min (1.4 km)
<br>
•	Head west on Pudhukeni<br>
110 m<br>

•	Turn right towards Collector Office Rd<br>
120 m
<br>
•	Turn left at the 1st cross street onto Collector Office Rd<br>
 
•	Pass by Mandal Revenue Office (on the left) <br>
550 m<br>

•	Turn left<br>
300 m
<br>
•	Turn left towards NH38<br>
280 m
<br>
•	Turn right towards NH38<br>
19 m<br>
•	Take Gingee - Villupuram Rd/Villupuram Rd to NH77 in Gingee<br>
56 min (40.0 km) <br>

•	Turn right at Ponraaj Hotel onto NH38<br>
4.3 km<br>

•	Turn left to stay on NH38<br>
 
•	Pass by Balaji Plastics (on the right in 1.3 km) <br>
3.2 km<br>

•	Continue straight onto Gingee - Villupuram Rd/Villupuram Rd<br>
 
•	Pass by Kasthuri Bunk Stall (on the right in 4.7 km) <br>
31.3 km
<br>
•	Turn left at Gingee Cross Road Bus Stop onto NH77<br>
 
•	Pass by Surya Hospital (on the left) <br>
1.3 km<br><br>
GINGEE FORT<br>
NH 66, Gingee, Tamil Nadu 604202<br>

</div>
</ion-scroll>
</ion-view>
