<ion-view view-title="IRUMBAI MAHAKALESHWAR SIVATEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vi.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>
 Temple's Speciality:<br>	
 	 	 
 	Lord Shiva in the temple is a swayambumurthy. Shivalinga in the temple is split into three parts with three faces. All the three faces are covered by a copper plate and pujas performed. It is said that the three faces represent three Lords Brhamma, Vishnu and Shiva. This form of Lord Shiva is very rare in temples.	 <br>
 	 	 
	Opening Time:	<br>
 	 	 
 	The temple is open from 6.30 a.m. to 12.00 a.m. and from 4.00 p.m. to 8.00 p.m.	

<br><br>
Duration : 11 min<br>
Distance : 2.7 km<br>
via NH332 and Trichy Main Rd/Trichy Trunk Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Villupuram Junction<br>
Keezperum Pakkam, Villupuram, Tamil Nadu 605602<br><br>
Directions : <br><br>
•	Head north-west on Railway Station Road towards Bristak Rd<br>
67 m<br>

•	Turn left at supreme promoters onto Brickstak Road<br>
13 m
<br>
•	Turn right at Canara Bank ATM onto NH332<br>
 
•	Pass by Hotel Annai (on the right) <br>
1.4 km<br>

•	At the roundabout, take the 1st exit onto Trichy Main Rd/Trichy Trunk Rd<br>
 
•	Pass by Government Hospital Bus Stop (on the left) <br>
1.0 km<br>

•	Slight right at Cake Plaza onto Pudhukeni<br>
60 m<br>

•	Turn right to stay on Pudhukeni<br>
 
•	Destination will be on the left<br>
140 m<br><br>
Villupuram Bus Stand<br>
Villupuram New Bus Stand Rd, Singapore Nagar, Moovendar Nagar, Villupuram, Tamil Nadu 605602<br><br>


Duration : 1 h 3 min <br>
Distance : 73.4 km<br>
via NH132 and Manampathi - Koot Rd<br>
Fastest route, the usual traffic<br>
This route has tolls. <br><br>

FROM : Villupuram Bus Stand<br>
Villupuram New Bus Stand Rd, Singapore Nagar, Moovendar Nagar, Villupuram, Tamil Nadu 605602<br><br>
Directions : <br><br>
•	Take Collector Office Rd to NH38 in Valudureddi<br>
4 min (1.4 km) <br>

•	Head west on Pudhukeni<br>
110 m
<br>
•	Turn right towards Collector Office Rd<br>
120 m<br>

•	Turn left at the 1st cross street onto Collector Office Rd<br>
 
•	Pass by Mandal Revenue Office (on the left) <br>
550 m<br>
•	Turn left<br>
300 m<br>

•	Turn left towards NH38<br>
280 m
<br>
•	Turn right towards NH38<br>
19 m<br>
•	Take NH132 and Manampathi - Koot Rd to Irumbai Rd/Irumbai-Nesal Rd<br>
59 min (71.2 km)
<br>
•	Turn right at Ponraaj Hotel onto NH38<br>
4.3 km<br>

•	Continue onto NH132<br>
 
Partial toll road
 <br>
•	Pass by Iyyanar Alayam (on the left in 32.5 km) <br>
35.6 km<br>

•	Take the slip road onto Manampathi - Koot Rd/Tindivanam-Marakkanam Rd/NH32<br>
 
•	Continue to follow Manampathi - Koot Rd/Tindivanam-Marakkanam Rd<br>
 
•	Pass by Jayapuram Roundana (on the left in 1.2 km) <br>
1.4 km<br>

•	Turn right to stay on Manampathi - Koot Rd/Tindivanam-Marakkanam Rd<br>
 
•	Continue to follow Manampathi - Koot Rd<br>
 
•	Pass by Marakkanam Rd Jct (on the right in 1.0 km) <br>
26.1 km<br>
•	Continue onto NH32<br>
3.8 km<br>
•	Continue on Irumbai Rd/Irumbai-Nesal Rd. Drive to Irumbai Temple Rd in Auroville, Irumbai<br>
2 min (850 m)
<br>
•	Turn left onto Irumbai Rd/Irumbai-Nesal Rd<br>
 
•	Pass by Shree Ramar Temple (on the left in 500 m) <br>
700 m<br>

•	Continue straight onto Irumbai Temple Rd
 <br>
Partial restricted-usage road<br>
 
•	Destination will be on the left<br>
150 m<br><br>
TNT032-Irumbai MahaKaleshwar SivaTemple


</div>
</ion-scroll>
</ion-view>
