<ion-view view-title="IRUKKANKUDI MARIAMMAN KOVIL">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vii.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>
 Temple's Speciality:<br>	
 	 	 
 	Traditionally, Mother Mariamman appears in a sitting posture with left leg folded and the right hanging. It is vice-versa here.	 <br>
 	 	 
	Opening Time:	<br>
 	 	 
 	The temple is open from 6.00 a.m. to 1.30 p.m. and from 4.00 p.m. to 8.00 p.m.
<br><br>
Duration : 9 min<br>
Distance : 5.4 km<br>
via NH44<br>
Fastest route<br><br>

FROM : Virudhunagar Junction Railway Station<br>
Virudhunagar Old Railway Colony, Virudhunagar Railway Colony, Virudhunagar, Tamil Nadu 626001<br><br>
Directions : <br><br>
•	Take Railway Feeder Rd and Service Rd to NH44<br>
4 min (1.5 km)
<br>
•	Head north on Railway Feeder Rd<br>
 
•	Pass by 3D Architectural Rendering (on the right) <br>
350 m<br>

•	Turn left towards Madurai Rd<br>
350 m<br>

•	Turn right onto Madurai Rd<br>
 
•	Pass by Hotel Shakti Residency (on the left) <br>
170 m<br>

•	Turn left towards Service Rd<br>
30 m<br>

•	Turn left onto Service Rd<br>
 
•	Pass by Sri Nachiar Coolers Airconditioners (on the left) <br>
600 m
<br>
•	Turn right at Thilagam Cafe Bar<br>
10 m<br>

•	Turn left at the 1st cross street onto NH44<br>
3 min (3.2 km) <br>
•	Drive to Municipal Office Rd<br>
2 min (700 m)
<br>
•	Turn left at Service Rd<br>
9 m<br>

•	Continue straight<br>
550 m<br>

•	Turn left onto Municipal Office Rd<br>
 
•	Pass by Vasanth Coffee Bar (on the left) <br>
110 m<br><br>
Virudhunagar New Bus Stand<br>
Municipal Office Rd, Kattyapuram, Virudhunagar, Tamil Nadu 626001<br><br>
Duration : 39 min <br>
Distance : 34.5 km<br>
via NH44<br>
Fastest route<br>
This route has tolls. <br><br>

FROM : Virudhunagar New Bus Stand<br>
Municipal Office Rd, Kattyapuram, Virudhunagar, Tamil Nadu 626001<br><br>
Directions : <br><br>
•	Follow Municipal Office Rd to NH44<br>
3 min (1.3 km) <br>

•	Head south on Municipal Office Rd<br>
 
•	Pass by Vasanth Coffee Bar (on the right) <br>
1.3 km
<br>
•	Turn right towards NH44<br>
16 m
<br>
•	Turn left onto NH44<br>
 
Partial toll road<br>
 
•	Drive along Virudhunagar Sports Complex (on the left for 160 m) <br>
20 min (23.5 km) <br>
•	Take Sattur-Irukkankudi-Mela Karanthai Rd to your destination in Irukkankudi<br>
18 min (9.7 km)
<br>
•	Turn left onto Madurai Bus stop<br>
 
•	Pass by Sindco-1 (on the left) <br>
290 m
<br>
•	Turn right at KVS Complex<br>
 
•	Pass by vk info care (on the left) <br>
190 m
<br>
•	Turn left<br>
550 m<br>

•	Turn left at Nirmala Hospital onto Sattur-Irukkankudi-Mela Karanthai Rd<br>
88 m
<br>
•	Turn right onto Bypass Rd/Sattur-Irukkankudi-Mela Karanthai Rd<br>
 
•	Pass by Evolve Technologies (on the left in 450 m) <br>
7.1 km
<br>
•	At the roundabout, take the 3rd exit onto Sattur-Irukkankudi-Mela Karanthai Rd<br>
1.1 km<br>

•	Turn right at Sri Nandhini Sweets Stall<br>
200 m
<br>
•	Turn right<br>
250 m<br><br>
Irukkankudi Mariamman Kovil<br>
Arulmigu Irukkankudi Mariamman Kovil, Near Sattur, 



</div>
</ion-scroll>
</ion-view>
