<ion-view view-title="ANDAL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vik.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>
Srivilliputhur Andal temple (also called Srivilliputtur Divya Desam) in Srivilliputhur, a town in Virudhunagar district in the South Indian state of Tamil Nadu, is dedicated to the Hindu god Vishnu. It is located 74 km from Madurai. Constructed in the Dravidian style of architecture, the temple is glorified in the Divya Prabandha, the early medieval Tamil canon of the Azhwar saints from the 6th–9th centuries AD. It is one of the 108 Divyadesam dedicated to Vishnu, who is worshipped as Vadapathrasayi and his consort Lakshmi as Andal. It is believed to be the birthplace of two of the Azhwars, namely Periazhwar and his foster daughter Andal.

<br><br>
Duration : 9 min<br>
Distance : 5.4 km<br>
via NH44<br>
Fastest route<br><br>

FROM : Virudhunagar Junction Railway Station<br>
Virudhunagar Old Railway Colony, Virudhunagar Railway Colony, Virudhunagar, Tamil Nadu 626001<br><br>
Directions : <br><br>
•	Take Railway Feeder Rd and Service Rd to NH44<br>
4 min (1.5 km)
<br>
•	Head north on Railway Feeder Rd<br>
 
•	Pass by 3D Architectural Rendering (on the right) <br>
350 m<br>

•	Turn left towards Madurai Rd<br>
350 m<br>

•	Turn right onto Madurai Rd<br>
 
•	Pass by Hotel Shakti Residency (on the left) <br>
170 m<br>

•	Turn left towards Service Rd<br>
30 m<br>

•	Turn left onto Service Rd<br>
 
•	Pass by Sri Nachiar Coolers Airconditioners (on the left) <br>
600 m
<br>
•	Turn right at Thilagam Cafe Bar<br>
10 m<br>

•	Turn left at the 1st cross street onto NH44<br>
3 min (3.2 km) <br>
•	Drive to Municipal Office Rd<br>
2 min (700 m)
<br>
•	Turn left at Service Rd<br>
9 m<br>

•	Continue straight<br>
550 m<br>

•	Turn left onto Municipal Office Rd<br>
 
•	Pass by Vasanth Coffee Bar (on the left) <br>
110 m<br><br>
Virudhunagar New Bus Stand<br>
Municipal Office Rd, Kattyapuram, Virudhunagar, Tamil Nadu 626001
 Duration : 58 min <br>
Distance : 44.8 km<br>
via Watrap- Alagapuri -Virudhunagar Rd and NH744<br>
Fastest route<br><br>

FROM : Virudhunagar New Bus Stand<br>
Municipal Office Rd, Kattyapuram, Virudhunagar, Tamil Nadu 626001<br><br>
Directions : <br><br>
•	Take Municipal Office Rd to Srivilliputhur - Sivakasi - Virudhunagar - Aruppukottai - Tiruchuli - Narikudi - Parthibanoor Rd/Virudhunagar - Maravapatty Rd/Virudhunagar - T Kalluppatty - Maravapatty Rd<br>
2 min (950 m) <br>

•	Head north on Municipal Office Rd<br>
 
•	Go past the petrol station (on the right) <br>
500 m
<br>
•	Turn left towards Srivilliputhur - Sivakasi - Virudhunagar - Aruppukottai - Tiruchuli - Narikudi - Parthibanoor Rd/Virudhunagar - Maravapatty Rd/Virudhunagar - T Kalluppatty - Maravapatty Rd<br>
450 m<br>
•	Follow Watrap- Alagapuri -Virudhunagar Rd and NH744 to S Car St/Kammapatti - Malli Rd in Mangapuram, Srivilliputhur<br>
53 min (43.5 km)
<br>
•	Turn left at Athu Palam Bus Stop onto Srivilliputhur - Sivakasi - Virudhunagar - Aruppukottai - Tiruchuli - Narikudi - Parthibanoor Rd/Virudhunagar - Maravapatty Rd/Virudhunagar - T Kalluppatty - Maravapatty Rd
 <br>
•	Continue to follow Srivilliputhur - Sivakasi - Virudhunagar - Aruppukottai - Tiruchuli - Narikudi - Parthibanoor Rd/Virudhunagar - T Kalluppatty - Maravapatty Rd<br>
 
•	Pass by Kamatchi Amman Kovil (on the right) <br>
2.0 km<br>

•	Turn right onto Virudhunagar - T Kalluppatty - Maravapatty Rd/Watrap- Alagapuri -Virudhunagar Rd<br>
 
•	Continue to follow Watrap- Alagapuri -Virudhunagar Rd<br>
 
•	Pass by Erichanatham Bus Stand (on the right in 14.6 km) <br>
19.9 km
<br>
•	Turn left onto NH744<br>
 
•	Go past the church (on the right in 12.3 km) <br>
21.6 km<br>
•	Continue on S Car St/Kammapatti - Malli Rd. Drive to Arichipatti Pilliyar Kovil St/Mada St<br>
2 min (400 m)
<br>
•	Turn right at Hotel Border Rahmath Srivilliputur onto S Car St/Kammapatti - Malli Rd<br>
 
•	Pass by State Bank Of India (on the left) <br>
260 m<br>

•	Turn right towards Arichipatti Pilliyar Kovil St/Mada St<br>
52 m<br>

•	Continue onto Arichipatti Pilliyar Kovil St/Mada St<br>
 <br>
•	Destination will be on the right<br>
78 m<br><br>
Andal Temple<br>
Mangapuram, Srivilliputhur, Tamil Nadu 626125


</div>
</ion-scroll>
</ion-view>
