
<ion-view view-title="Vilupuram">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "va()"> 
AUROVILLE BEACH
</button><br>

<button class="button button-clear button-royal" ng-Click = "vg()"> 
GINGEE FORT</button><br>
<button class="button button-clear button-royal" ng-Click = "vu()"> 
ULAGALANTHA PERUMAL TEMPLE</button><br>

<button class="button button-clear button-royal" ng-Click = "vp()"> 
ANJANEYAR TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "vl()"> 
LAKSHMI NARASIMHASWAMY TEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "vi()"> 

IRUMBAI MAHAKALESHWAR SIVATEMPLE
</button><br>
<button class="button button-clear button-royal" ng-Click = "vn()"> 
THIRUVAKKARAI FOSSIL WOOD PARK</button><br>
<button class="button button-clear button-royal" ng-Click = "vb()"> 
BHAKTHAJANEWARAR TEMPLE
</button><br>


</ion-scroll>
</ion-view>
