<ion-view view-title="KAMARAJ HOUSE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vim.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>
Virudhunagar is the hometown of Kamarajar (the famous Indian National Congress leader and an erstwhile Chief Minister of the state of Tamilnadu). His dwelling has been switched into a monument and graced with pictures of Kamarajar at every phase of his life. Kamarajar Memorial House is now a permanent gallery that exhibits photographs and personal effects of Kamaraj who rose from poverty to become the Chief Minister of Tamilnadu. A few of his clothes, his watch as well as articles used by him are displayed.
<br><br>
Duration : 9 min<br>
Distance : 5.4 km<br>
via NH44<br>
Fastest route<br><br>

FROM : Virudhunagar Junction Railway Station<br>
Virudhunagar Old Railway Colony, Virudhunagar Railway Colony, Virudhunagar, Tamil Nadu 626001<br><br>
Directions : <br><br>
•	Take Railway Feeder Rd and Service Rd to NH44<br>
4 min (1.5 km)
<br>
•	Head north on Railway Feeder Rd<br>
 
•	Pass by 3D Architectural Rendering (on the right) <br>
350 m<br>

•	Turn left towards Madurai Rd<br>
350 m<br>

•	Turn right onto Madurai Rd<br>
 
•	Pass by Hotel Shakti Residency (on the left) <br>
170 m<br>

•	Turn left towards Service Rd<br>
30 m<br>

•	Turn left onto Service Rd<br>
 
•	Pass by Sri Nachiar Coolers Airconditioners (on the left) <br>
600 m
<br>
•	Turn right at Thilagam Cafe Bar<br>
10 m<br>

•	Turn left at the 1st cross street onto NH44<br>
3 min (3.2 km) <br>
•	Drive to Municipal Office Rd<br>
2 min (700 m)
<br>
•	Turn left at Service Rd<br>
9 m<br>

•	Continue straight<br>
550 m<br>

•	Turn left onto Municipal Office Rd<br>
 
•	Pass by Vasanth Coffee Bar (on the left) <br>
110 m<br><br>
Virudhunagar New Bus Stand<br>
Municipal Office Rd, Kattyapuram, Virudhunagar, Tamil Nadu 626001

Duration : 5 min <br>
Distance : 1.5 km<br>
via Municipal Office Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM : Virudhunagar New Bus Stand<br>Municipal Office Rd, Kattyapuram, Virudhunagar, Tamil Nadu 626001<br><br>
Directions : <br><br>
•	Head north on Municipal Office Rd<br>
 
•	Go past the petrol station (on the right) <br>
1.3 km
<br>
•	Turn right at Dhanushkodi Vilas Bread World<br>
26 m
<br>
•	Turn left at Teppam Public Drinking water point<br>
 
•	Destination will be on the right<br>
110 m<br><br>
Kamaraj House<br>
Sivagami Puram, Virudhunagar, Tamil Nadu 626001



</div>
</ion-scroll>
</ion-view>
