<ion-view view-title="PILAVAKKAL DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vip.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>
Kansapuram (Tamil:கான்சாபுரம்) is a village in the foothills of the Western Ghats in Virudhunagar District, Tamil Nadu, India. It is located 2 kilometres south of Koomapatti and 7 kilometres west of Watrap. Kansapuram has road connections to the district headquarters of Southern Tamil Nadu including Madurai, Virudhunagar, and Tirunelveli. Tourist attractions such as Courtallam, Madurai, Kodaikanal, and Tiruchendur are day trips from Kansapuram.

<br><br>
Duration : 9 min<br>
Distance : 5.4 km<br>
via NH44<br>
Fastest route<br><br>

FROM : Virudhunagar Junction Railway Station<br>
Virudhunagar Old Railway Colony, Virudhunagar Railway Colony, Virudhunagar, Tamil Nadu 626001<br><br>
Directions : <br><br>
•	Take Railway Feeder Rd and Service Rd to NH44<br>
4 min (1.5 km)
<br>
•	Head north on Railway Feeder Rd<br>
 
•	Pass by 3D Architectural Rendering (on the right) <br>
350 m<br>

•	Turn left towards Madurai Rd<br>
350 m<br>

•	Turn right onto Madurai Rd<br>
 
•	Pass by Hotel Shakti Residency (on the left) <br>
170 m<br>

•	Turn left towards Service Rd<br>
30 m<br>

•	Turn left onto Service Rd<br>
 
•	Pass by Sri Nachiar Coolers Airconditioners (on the left) <br>
600 m
<br>
•	Turn right at Thilagam Cafe Bar<br>
10 m<br>

•	Turn left at the 1st cross street onto NH44<br>
3 min (3.2 km) <br>
•	Drive to Municipal Office Rd<br>
2 min (700 m)
<br>
•	Turn left at Service Rd<br>
9 m<br>

•	Continue straight<br>
550 m<br>

•	Turn left onto Municipal Office Rd<br>
 
•	Pass by Vasanth Coffee Bar (on the left) <br>
110 m<br><br>
Virudhunagar New Bus Stand<br>
Municipal Office Rd, Kattyapuram, Virudhunagar, Tamil Nadu 626001

Duration : 1 h 19 min <br>
Distance : 53.8 km<br>
via Watrap- Alagapuri -Virudhunagar Rd<br>
Fastest route<br><br>

FROM : Virudhunagar New Bus Stand<br>
Municipal Office Rd, Kattyapuram, Virudhunagar, Tamil Nadu 626001<br><br>
Directions : <br><br>
•	Take Municipal Office Rd to Srivilliputhur - Sivakasi - Virudhunagar - Aruppukottai - Tiruchuli - Narikudi - Parthibanoor Rd/Virudhunagar - Maravapatty Rd/Virudhunagar - T Kalluppatty - Maravapatty Rd<br>
2 min (950 m) <br>

•	Head north on Municipal Office Rd<br>
 
•	Go past the petrol station (on the right) <br>
500 m<br>

•	Turn left towards Srivilliputhur - Sivakasi - Virudhunagar - Aruppukottai - Tiruchuli - Narikudi - Parthibanoor Rd/Virudhunagar - Maravapatty Rd/Virudhunagar - T Kalluppatty - Maravapatty Rd<br>
450 m<br>
•	Follow Watrap- Alagapuri -Virudhunagar Rd to Koomapatty Rd in Watrap<br>
52 min (39.8 km) <br>

•	Turn left at Athu Palam Bus Stop onto Srivilliputhur - Sivakasi - Virudhunagar - Aruppukottai - Tiruchuli - Narikudi - Parthibanoor Rd/Virudhunagar - Maravapatty Rd/Virudhunagar - T Kalluppatty - Maravapatty Rd<br>
 
•	Continue to follow Srivilliputhur - Sivakasi - Virudhunagar - Aruppukottai - Tiruchuli - Narikudi - Parthibanoor Rd/Virudhunagar - T Kalluppatty - Maravapatty Rd<br>
 
•	Pass by Kamatchi Amman Kovil (on the right) <br>
2.0 km<br>

•	Turn right onto Virudhunagar - T Kalluppatty - Maravapatty Rd/Watrap- Alagapuri -Virudhunagar Rd<br>
 
•	Continue to follow Watrap- Alagapuri -Virudhunagar Rd<br>
 
•	Pass by Erichanatham Bus Stand (on the right in 14.6 km) <br>
19.9 km
<br>
•	Turn left onto NH744<br>
300 m
<br>
•	Slight right onto Watrap- Alagapuri -Virudhunagar Rd<br>
 
•	Pass by Alagapuri Bus Stop (on the right) <br>
17.6 km<br>
•	Continue on Koomapatty Rd to your destination<br>
24 min (13.0 km)
<br>
•	Turn right at Gurusundar Rice Mill onto Koomapatty Rd<br>
 
•	Go past the petrol station (on the right in 950 m) <br>
4.8 km<br>

•	Continue straight<br>
 
•	Pass by ARR Bricks (on the left in 6.1 km) <br>
6.6 km
<br>
•	Slight left<br>
1.6 km<br><br>
Pilavakkal Dam

</div>
</ion-scroll>
</ion-view>
