
<ion-view view-title="VIRUDHUNAGAR">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<button class="button button-clear button-royal" ng-Click = "via()"> 
AWARD CITY THEME PARK
</button><br>

<button class="button button-clear button-royal" ng-Click = "vim()"> 
KAMARAJ HOUSE</button><br>
<button class="button button-clear button-royal" ng-Click = "vip()"> 
PILAVAKKAL DAM

</button><br>

<button class="button button-clear button-royal" ng-Click = "vik()"> 
ANDAL TEMPLE</button><br>
<button class="button button-clear button-royal" ng-Click = "vii()"> 
IRUKKANKUDI MARIAMMAN KOVIL
</button><br>


</ion-scroll>
</ion-view>
