<ion-view view-title="JALAKANDESWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vjt.jpg"><br>
<div class="item item-text-wrap">
 
Chronicle :<br>
Jalakandeswarar Temple (Tamil: ஜலகண்டேஸ்வரர் கோவில்) is a temple dedicated to Lord Shiva which is located in the Vellore Fort, Tamil Nadu State, India.
<br><br>
Duration : 14 min<br> 
Distance : 5.5 km<br>
via NH75<br>
Fastest route, despite the usual traffic<br><br>

FROM : Railway Station Bus Stop<br>
National Highway 234, Dharapadavedu, Katpadi, Vellore, Tamil Nadu 632006<br><br>
Directions : <br><br>
•	Head north on NH75<br>
 
•	Pass by the bridge (on the left) <br>
200 m<br>

•	Make a U-turn at NATIONAL MOBILE SOLUTIONS<br>
 
•	Pass by Substation (on the left) <br>
4.6 km<br>

•	At Green Cir, take the 4th exit and stay on NH75<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
230 m
<br>
•	Slight right at Hotel Aryaas Parking lot towards Buses Exit Rd<br>
 
•	Pass by Vellore Car Decors (on the right) <br>
190 m<br>

•	Turn right towards Buses Exit Rd<br>
 
•	Pass by TASMAC (on the right) <br>
250 m
<br>
•	Continue onto Buses Exit Rd<br>
31 m<br><br>
Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>


Duration : 17 min<br>
Distance : 5.4 km<br>
via NH75 and NH38<br>
Fastest route, despite the usual traffic<br>
This route has restricted usage or includes private roads.
<br><br>
FROM : Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>
Directions : <br><br>
•	Head north on NH75<br>
 
•	Pass by PALAR BURIAL GROUND (on the right) <br>
3 min (1.2 km) <br>
•	Take Chitoor - Vellore Hwy to NH75 in Mottur<br>
1 min (450 m)
<br>
•	Turn right at Shiva Beef Briyani towards Chitoor - Vellore Hwy<br>
65 m<br>

•	Turn right at JP Fast Food onto Chitoor - Vellore Hwy<br>
 
•	Pass by Hazel Wood (on the right) <br>
400 m<br>
•	Follow NH75 and NH38 to Balaji Nagar<br>
9 min (3.4 km) <br>

•	At Ovivya Tyres, continue onto NH75<br>
 
•	Pass by Saravana Engineering (on the left in 800 m) <br>
1.0 km<br>

•	At Green Cir, take the 2nd exit onto NH38<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
550 m
<br>
•	At National Roundabout, take the 1st exit and stay on NH38<br>
 
•	Pass by Swastik Packers and Movers Vellore (on the left) <br>
950 m<br>

•	Turn left at Popular Auto Centre to stay on NH38<br>
 
•	Pass by The North Vellore Town Cooperative Credit Society (on the left) <br>
550 m<br>

•	Make a U-turn at Bathroom<br>
 
•	Pass by Vellore Fort Bus Stop (on the left) <br>
290 m<br>
•	Drive to your destination<br>
2 min (350 m) <br>

•	Turn left<br>
 
Restricted-usage road<br>
260 m<br>

•	Turn right<br>
 
Restricted-usage road<br>
 
•	Destination will be on the right<br>
98 m<br><br>
JALAKANDESWARAR TEMPLE<br>




</div>
</ion-scroll>
</ion-view>
