<ion-view view-title="VETTAKUDI - KARAIVETTI LAKE(BIRD SANCTUARY)">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vkl.jpg"><br>
<div class="item item-text-wrap">
	Chronicle : <br>
	<br>
	The Karaivetti Bird Sanctuary, is a 4.537 km2 (1.752 sq mi) protected area located at Karaivetti village in Ariyalur District of Tamil Nadu, South India and established on April 5, 1999. It is one of the largest freshwater lakes in southern Tamil Nadu. At least 188 species of birds have been recorded in the sanctuary. International name is Karaivetti Wildlife Sanctuary, Important bird area code no. IN268, criteria: A1, A4i, A4iii.<br><br>
Karaivetti is a lake fed by the River Kaveri and by rainwater, about 50 km northeast of Tiruchchirappalli town. This freshwater lake is fed by Pullambadi, Kattalal canal. It is the biggest water body in the district and attracts hundreds of thousands of birds every year. Considering its importance as a bird habitat, the Government of Tamil Nadu declared it as a bird sanctuary in 1999. When full, the lake can hold water to an average depth of 3 m.<br><br><br>

	Duration :9 min <br>
Distance : 2.3 km<br>
via College Road<br>
Fastest route<br><br>


FROM : Ariyalur Railway Junction<br>
Anna Nagar, Ariyalur, Tamil Nadu 621713<br><br>

Directions : <br>

•	Head south towards Railway Station Rd<br>
               150 m<br>

•	Turn left onto Railway Station Rd<br>
 
•	Pass by Shanmugapriya Lodge AC (on the left)<br>
                450 m<br>

•	Turn right towards College Road<br>
                66 m<br>

•	Turn left at the 1st cross street onto College Road<br>
 
•	Pass by sabarmathi vidhyalaya nursery & primary (on the left)<br>
                 800 m<br>

•	At Asian Traders, continue onto Sendurai Rd<br>
 
•	Pass by Gokul Complex (on the left)<br>
                 450 m<br>

•	Turn left at R.Cinnayan Store onto Market St<br>
 
•	Pass by Newton System (on the right)<br>
                290 m<br>

•	At the roundabout, take the 3rd exit and stay on Market St<br>
 
•	Destination will be on the left<br>
                85 m<br>

Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br><br>
Duration : 40 min <br>
Distance : 21.1 km<br>
via NH136<br>
Fastest route<br><br>

FROM : Ariyalur Bus Stand<br>
6 21704, Market St, MIN Nagar, Ariyalur, Tamil Nadu 621704<br><br><br>
Directions :<br><br>
•	Follow Jayankondam Rd to NH136<br>
            4 min (1.5 km)
<br>


•	Follow NH136 to Thirumalapadi Rd in Keezhapalur<br>
            20 min (11.9 km)<br>


•	Continue on Thirumalapadi Rd to your destination inAvansuthamalli<br>
            16 min (7.7 km)<br>
<br>
Karaivetti Bird Sanctuary<br>
Karaiyavetti, Tamil Nadu 621653



</div>
 </ion-scroll>
</ion-view>
