<ion-view view-title="VEERANAM LAKE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vlt.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Veeranam Lake (Veeranaaraayanapuram Lake) is located 14 km (8.7 mi) SSW of Lalpet in Cuddalore district in the state of Tamil Nadu in South India. 1 km (0.62 mi) from Sethiyathope. The lake located 235 km (146 mi) from Chennai, India, is one of the water reservoirs from where water is planned to be supplied to Chennai

Duration : 8 min<br>
SCHEDULE EXPLORER<br>

FROM : Cuddalore Port Junction<br>
Tamil Nadu 607003<br>


Cuddalore Port Junction<br>
 Mail Express16854Chennai Egmore<br>
 8 min (non-stop) · Stop ID: CUPJ<br>

Tirupadripulyur Railway Station<br>


Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>
Duration : 1 h 25 min<br>
Distance : 65.3 km<br>
via NH32 and Chidambaram-T Nedunjery-Kattumannarkoil Rd<br>
Fastest route<br><br>
FROM : Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>
Directions : <br><br>
•	Take Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd to NH32<br>
2 min (400 m) <br>

•	Head west towards Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
75 m<br>

•	Turn right at Khadi Vastiralaya onto Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
 
•	Pass by Nathan Studio (on the right) <br>
350 m<br>
•	Follow NH32 to Chidambaram-T Nedunjery-Kattumannarkoil Rd in Tuniseramedu<br>
56 min (45.8 km) <br>

•	Make a U-turn at Gedilam Ring Road<br>
31 m<br>

•	Slight left to stay on NH32<br>
 
•	Pass by TCI FREIGHT (on the left) <br>
5.5 km<br>

•	Slight left to stay on NH32<br>
 
•	Pass by Kannan Mahal (on the right) <br>
35.3 km<br>

•	Turn right to stay on NH32<br>
 
•	Pass by PARADISE EXPRESS CAR AND HOUSEHOLD SHIFTING (on the left in 2.1 km) <br>
4.1 km<br>

•	Turn right onto NH81<br>
800 m<br>
•	Drive to Chidambaram-T Nedunjery-Kattumannarkoil Rd/Lake Bank Rd/Sethiyathopu-Kattumannarkudi Rd<br>
25 min (19.1 km) <br>

•	Turn right onto Chidambaram-T Nedunjery-Kattumannarkoil Rd<br>
 
•	Pass by Mugaiyur - முகையூர் (on the right in 7.9 km) <br>
15.5 km<br>

•	Turn left onto Chidambaram-T Nedunjery-Kattumannarkoil Rd/Lake Bank Rd/Sethiyathopu-Kattumannarkudi Rd<br>
 
•	Pass by Vani sweet stall (on the left in 2.2 km) <br>
3.6 km<br><br>
Veeranam Lake<br>

</div>
 </ion-scroll>
</ion-view>
