<ion-view view-title="MUTHU MANDAPAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vm.jpg"><br>
<div class="item item-text-wrap">

Duration : 14 min<br> 
Distance : 5.5 km<br>
via NH75<br>
Fastest route, despite the usual traffic<br><br>

FROM : Railway Station Bus Stop<br>
National Highway 234, Dharapadavedu, Katpadi, Vellore, Tamil Nadu 632006<br><br>
Directions : <br><br>
•	Head north on NH75<br>
 
•	Pass by the bridge (on the left) <br>
200 m<br>

•	Make a U-turn at NATIONAL MOBILE SOLUTIONS<br>
 
•	Pass by Substation (on the left) <br>
4.6 km<br>

•	At Green Cir, take the 4th exit and stay on NH75<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
230 m
<br>
•	Slight right at Hotel Aryaas Parking lot towards Buses Exit Rd<br>
 
•	Pass by Vellore Car Decors (on the right) <br>
190 m<br>

•	Turn right towards Buses Exit Rd<br>
 
•	Pass by TASMAC (on the right) <br>
250 m
<br>
•	Continue onto Buses Exit Rd<br>
31 m<br><br>
Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>


Duration : 9 min <br>
Distance : 700 m<br>
via Buses Exit Rd<br>
Use caution - may involve errors or sections not suited for walking<br><br>
FROM : Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>
Directions : <br>v
•	Walk east on Buses Exit Rd<br>
 
•	Pass by Aavin Milk Shop (on the right in 46 m) <br>
190 m<br>

•	Turn left towards NH75<br>
350 m<br>

•	Turn right onto NH75<br>
20 m
<br>
•	Turn left<br>
 
•	Destination will be on the left<br>
170 m<br><br>
MUTHU MANDAPAM<br>
Vevekanandar Nagar, Thottapalayam, Vellore, Tamil Nadu 632012<br>


</div>
</ion-scroll>
</ion-view>
