<ion-view view-title="MAHADEVA MALAI TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vmm.jpg"><br>
<div class="item item-text-wrap">

Duration : 14 min<br> 
Distance : 5.5 km<br>
via NH75<br>
Fastest route, despite the usual traffic<br><br>

FROM : Railway Station Bus Stop<br>
National Highway 234, Dharapadavedu, Katpadi, Vellore, Tamil Nadu 632006<br><br>
Directions : <br><br>
•	Head north on NH75<br>
 
•	Pass by the bridge (on the left) <br>
200 m<br>

•	Make a U-turn at NATIONAL MOBILE SOLUTIONS<br>
 
•	Pass by Substation (on the left) <br>
4.6 km<br>

•	At Green Cir, take the 4th exit and stay on NH75<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
230 m
<br>
•	Slight right at Hotel Aryaas Parking lot towards Buses Exit Rd<br>
 
•	Pass by Vellore Car Decors (on the right) <br>
190 m<br>

•	Turn right towards Buses Exit Rd<br>
 
•	Pass by TASMAC (on the right) <br>
250 m
<br>
•	Continue onto Buses Exit Rd<br>
31 m<br><br>
Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>


Duration : 51 min <br>
Distance : 28.9 km<br>
via NH75<br>
Fastest route<br><br>
FROM : Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>
Directions : <br><br>
•	Head north on NH75<br>
 
•	Pass by PALAR BURIAL GROUND (on the right) <br>
4.5 km<br>

•	Turn left at NATIONAL MOBILE SOLUTIONS to stay on NH75<br>
 
•	Pass by Best Juice Shop (on the right) <br>
18.4 km
<br>
•	Turn right<br>
1.3 km
<br>
•	Turn right onto Magadevamalai Rd<br>
3.5 km<br>

•	Slight left onto Temple Rd<br>
1.2 km<br><br>
MAHADEVA MALAI TEMPLE<br>
Kanguppam, Tamil Nadu 632209


</div>
</ion-scroll>
</ion-view>
