<ion-view view-title="MORDHANA DAM">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vmt.jpg"><br>
<div class="item item-text-wrap">

Duration : 14 min<br> 
Distance : 5.5 km<br>
via NH75<br>
Fastest route, despite the usual traffic<br><br>

FROM : Railway Station Bus Stop<br>
National Highway 234, Dharapadavedu, Katpadi, Vellore, Tamil Nadu 632006<br><br>
Directions : <br><br>
•	Head north on NH75<br>
 
•	Pass by the bridge (on the left) <br>
200 m<br>

•	Make a U-turn at NATIONAL MOBILE SOLUTIONS<br>
 
•	Pass by Substation (on the left) <br>
4.6 km<br>

•	At Green Cir, take the 4th exit and stay on NH75<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
230 m
<br>
•	Slight right at Hotel Aryaas Parking lot towards Buses Exit Rd<br>
 
•	Pass by Vellore Car Decors (on the right) <br>
190 m<br>

•	Turn right towards Buses Exit Rd<br>
 
•	Pass by TASMAC (on the right) <br>
250 m
<br>
•	Continue onto Buses Exit Rd<br>
31 m<br><br>
Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>
Duration : 1 h 21 min <br>
Distance : 58.4 km<br>
via NH48 and SH 127<br>
Fastest route<br>
This route has tolls. <br><br>

FROM : Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>
Directions : <br><br>
•	Follow NH48 and SH 127 to Mordhana Dam Rd<br>
1 h 5 min (50.1 km) <br>

•	Head north on NH75<br>
 
•	Pass by PALAR BURIAL GROUND (on the right) <br>
1.2 km
<br>
•	Turn right at Shiva Beef Briyani towards Chitoor - Vellore Hwy<br>
65 m
<br>
•	Turn right at JP Fast Food onto Chitoor - Vellore Hwy<br>
 
•	Pass by Hazel Wood (on the right) <br>
400 m<br>

•	At Ovivya Tyres, continue onto NH75<br>
 
•	Pass by Saravana Engineering (on the left in 800 m) <br>
1.0 km
<br>
•	At Green Cir, take the 3rd exit onto NH 46 Service Rd<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
1.0 km
<br>
•	Turn right by the petrol station towards the NH48<br>
10 m
<br>
•	Turn left onto NH48
 <br>
Partial toll road<br>
 
•	Pass by Polluted Water Body (on the left in 1.2 km) <br>
20.4 km
<br>
•	Keep left<br>
 
•	Pass by New World Animal Rescue Charitable Trust (bluecross) (on the left in 400 m) <br>
700 m<br>

•	Turn right onto SH 127<br>
 
•	Pass by ARUL NET CENTER (on the right in 550 m) <br>
25.3 km<br>

•	Turn left onto Mordhana Dam Rd<br>
15 min (8.3 km) <br><br>
MORDHANA DAM<br>






</div>
</ion-scroll>
</ion-view>
