<ion-view view-title="SRI LAKSHMI NARAYANI GOLDEN TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vsgt.jpg"><br>
<div class="item item-text-wrap">
 
Chronicle :<br>
The golden temple complex of Sripuram (Tamil: ஸ்ரீபுரம்) is a spiritual park situated at the foot of a small range of green hills in a place known as "Malaikodi" in the city of Vellore in Tamil Nadu, India. Located 8km south of the city of Vellore at Thirumalaikodi, the golden temple's chief deity is 'Sri Lakshmi Narayani' where devotees from all religions are welcome to visit the temple and have darshan. The Sri Lakshmi Narayani temple inside Sripuram held its consecration (maha kumbhabhishekam) on 24 August 2007.


<br><br>
Duration : 14 min<br> 
Distance : 5.5 km<br>
via NH75<br>
Fastest route, despite the usual traffic<br><br>

FROM : Railway Station Bus Stop<br>
National Highway 234, Dharapadavedu, Katpadi, Vellore, Tamil Nadu 632006<br><br>
Directions : <br><br>
•	Head north on NH75<br>
 
•	Pass by the bridge (on the left) <br>
200 m<br>

•	Make a U-turn at NATIONAL MOBILE SOLUTIONS<br>
 
•	Pass by Substation (on the left) <br>
4.6 km<br>

•	At Green Cir, take the 4th exit and stay on NH75<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
230 m
<br>
•	Slight right at Hotel Aryaas Parking lot towards Buses Exit Rd<br>
 
•	Pass by Vellore Car Decors (on the right) <br>
190 m<br>

•	Turn right towards Buses Exit Rd<br>
 
•	Pass by TASMAC (on the right) <br>
250 m
<br>
•	Continue onto Buses Exit Rd<br>
31 m<br><br>
Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>


Duration : 30 min<br> 
Distance : 18.8 km<br>
via NH48<br>
Fastest route<br><br>
FROM : Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>
Directions : <br><br>
•	Take NH75 to NH 46 Service Rd<br>
6 min (2.7 km)
<br>
•	Head north on NH75<br>
 
•	Pass by PALAR BURIAL GROUND (on the right) <br>
1.2 km
<br>
•	Turn right at Shiva Beef Briyani towards Chitoor - Vellore Hwy<br>
65 m
<br>
•	Turn right at JP Fast Food onto Chitoor - Vellore Hwy<br>
 
•	Pass by Hazel Wood (on the right) <br>
400 m<br>

•	At Ovivya Tyres, continue onto NH75<br>
 
•	Pass by Saravana Engineering (on the left in 800 m) <br>
1.0 km<br>
•	Follow NH 46 Service Rd to NH48<br>
3 min (1.0 km)
<br>
•	At Green Cir, take the 3rd exit onto NH 46 Service Rd<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
1.0 km<br>

•	Turn right by the petrol station towards the NH48<br>
10 m
<br>
•	Turn left onto NH48<br>
 
•	Pass by Polluted Water Body (on the left in 1.2 km) <br>
5 min (5.8 km) <br>
•	Continue to Sekkanur<br>
9 min (5.9 km)
<br>
•	Turn left<br>
1.4 km<br>

•	Turn left<br>
4.5 km<br>

•	Turn left at RS COLLECTION'S. USSOOR onto SH 207<br>
 
•	Pass by Dr.c.jayaprakash Dental Clinic (on the left) <br>
6 min (3.3 km) <br><br>
SRI LAKSHMI NARAYANI GOLDEN TEMPLE<br>
Sri Narayani Peetam, Sri Puram, Thirumalai Kodi, Vellore, Tamil 




</div>
</ion-scroll>
</ion-view>
