<ion-view view-title="SRI YOGA NARASIMHA SWAMY TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vsy.jpg"><br>
<div class="item item-text-wrap">

Duration : 14 min<br> 
Distance : 5.5 km<br>
via NH75<br>
Fastest route, despite the usual traffic<br><br>

FROM : Railway Station Bus Stop<br>
National Highway 234, Dharapadavedu, Katpadi, Vellore, Tamil Nadu 632006<br><br>
Directions : <br><br>
•	Head north on NH75<br>
 
•	Pass by the bridge (on the left) <br>
200 m<br>

•	Make a U-turn at NATIONAL MOBILE SOLUTIONS<br>
 
•	Pass by Substation (on the left) <br>
4.6 km<br>

•	At Green Cir, take the 4th exit and stay on NH75<br>
 
•	Pass by Gingee Restaurant (on the left) <br>
230 m
<br>
•	Slight right at Hotel Aryaas Parking lot towards Buses Exit Rd<br>
 
•	Pass by Vellore Car Decors (on the right) <br>
190 m<br>

•	Turn right towards Buses Exit Rd<br>
 
•	Pass by TASMAC (on the right) <br>
250 m
<br>
•	Continue onto Buses Exit Rd<br>
31 m<br><br>
Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br><br>


Duration : 1 h 3 min<br>
Distance : 53.0 km<br>
via Vellore - Chennai Rd and SH 61<br>
Fastest route, the usual traffic<br><br>
FROM : Vellore Bus Stand<br>
New Bus Stand Auto Rickshaw Road, Thottapalayam, Vellore, Tamil Nadu 632012<br>
Directions : <br><br>
•	Drive from NH48 to Walajapet<br>
30 min (29.3 km) <br>

•	Head north on NH75<br>
 
•	Pass by PALAR BURIAL GROUND (on the right) <br>
1.2 km<br>

•	Turn right at Shiva Beef Briyani towards Chitoor - Vellore Hwy<br>
65 m
<br>
•	Turn right at JP Fast Food onto Chitoor - Vellore Hwy<br>
 
•	Pass by Hazel Wood (on the right) <br>
400 m<br>

•	At Ovivya Tyres, continue onto NH75<br>
 
•	Pass by Saravana Engineering (on the left in 800 m) <br>
1.0 km
<br>
•	Turn left at Vellore Lights towards Collector's Office Rd/NH 48 Service Rd/Vellore - Chennai Rd<br>
37 m
<br>
•	Turn left onto Collector's Office Rd/NH 48 Service Rd/Vellore - Chennai Rd<br>
 
•	Pass by Chitra Mahal (on the left) <br>
550 m<br>

•	Keep right to continue on NH48<br>
 
•	Pass by Perumugai Bus Stop (on the left in 6.8 km) <br>
22.8 km<br>

•	Slight left<br>
650 m<br>

•	Slight left onto NH40<br>
1.2 km
<br>
•	Turn right onto Madras Bombay Trunk Rd<br> 
•	Pass by Tasmac (on the left) <br>
1.4 km<br>
•	Follow SH 61 to your destination in Padmapuram<br>
33 min (23.7 km) <br>

•	Turn left at Harith Solar ( Harith Energy Solutions) towards SH 61<br>
130 m
<br>
•	Turn right towards SH 61<br>
350 m<br>

•	Turn left onto SH 61<br>
 
•	Pass by Womaniya Beauty Care (on the left) <br>
21.7 km<br>

•	Turn right<br>
1.6 km<br><br>
Sri Yoga Narasimha Swamy Temple<br>
Lakshmi Narashimar Temple Steps, Ghatikachala, Sholinghur, Tamil Nadu 631302<br>

</div>
</ion-scroll>
</ion-view>
