<ion-view view-title="VEERATTESWARAR TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vt.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>Korukkai Veeratteswarar Temple is a Hindu temple located at Korukkai in Nagapattinam district of Tamil Nadu, India. The historical name of the place is Tirukurukkai. The presiding deity is Shiva. He is called as Veeratteswarar . His consort is known as Gnanambikai<br>

Duration : 8 min<br>
SCHEDULE EXPLORER<br>

FROM : Cuddalore Port Junction<br>
Tamil Nadu 607003<br>


Cuddalore Port Junction<br>
 Mail Express16854Chennai Egmore<br>
 8 min (non-stop) · Stop ID: CUPJ<br>

Tirupadripulyur Railway Station<br>


Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>
Duration : 1 h 58 min<br>
Distance :  86.9 km<br>
via NH32<br>
Fastest route, the usual traffic<br><br>
FROM : Cuddalore Main Bus Stand<br>
SH 68, Muthaiya Nagar, Thirupapuliyur, Cuddalore, Tamil Nadu 607002<br><br>
Direction : <br><br>
•	Take Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd to NH32<br>
2 min (400 m) <br>

•	Head west towards Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
75 m<br>

•	Turn right at Khadi Vastiralaya onto Cuddalore-Sankarapuram Rd/Kurinjipadi - Cuddalore Rd/Lawrence Rd<br>
 
•	Pass by Nathan Studio (on the right) <br>
350 m<br>
•	Follow NH32<br>
1 h 20 min (66.3 km) <br>
•	Make a U-turn at Gedilam Ring Road<br>
31 m<br>

•	Slight left to stay on NH32<br>
 
•	Pass by TCI FREIGHT (on the left) <br>
5.5 km<br>

•	Slight left to stay on NH32<br>
 
•	Pass by Kannan Mahal (on the right) <br>
35.3 km<br>

•	Turn right to stay on NH32<br>
 
•	Pass by the park (on the left in 10.9 km) <br>
25.4 km<br>
•	Take SH 64, SH 150 and MDR257 to your destination in Korukkai<br>
35 min (20.2 km) <br>

•	Continue straight<br>
750 m<br>

•	Continue onto SH 64<br>
 
•	Pass by State Bank Of India ATM (on the left in 3.0 km) <br>
3.3 km<br>

•	Continue straight past RATHNA ELECTRICAL onto SH 150<br>
 
•	Pass by Amman Cool Drinks (on the right) <br>
7.7 km<br>

•	Turn left at Pattavarthy Bus Stop onto MDR257<br>
3.7 km<br>

•	Turn right onto Kiloy Rd/Manalmedu to Villiyanallur Rd<br>
750 m<br>

•	Turn left<br>
3.1 km<br>

•	Turn right<br>
280 m<br>

•	Turn left<br>
290 m<br>

•	Turn right<br>
210 m<br>

•	Turn right<br>
81 m<br><br><br>
NCN026-Korukkai Veeratteswarar Temple<br>
Korukkai, Tamil Nadu 609203<br>

</div>
 </ion-scroll>
</ion-view>
