<ion-view view-title="ULAGALANTHA PERUMAL TEMPLE">
<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
<br><br>
<img src="img/vu.jpg"><br>
<div class="item item-text-wrap">
Chronicle :<br>
Ulagalandha Perumal Temple is a temple dedicated to Vishnu located in Kancheepuram, Tamil Nadu, India. Constructed in the Dravidian style of architecture, the temple is glorified in the Divya Prabandha, the early medieval Tamil canon of the Azhwar saints from the 6th–9th centuries AD. It is one of the 108 Divyadesam dedicated to Vishnu, who is worshipped as Ulagalantha Perumal and his consort Lakshmi as Amudavalli. The temple is believed to have been built by Pallavas, with later contributions from Medieval Cholas, Vijayanagar kings and Madurai Nayaks. The temple is found in Big Kanchipuram and situated close Kamakshi Amman Temple. The temple also houses four other Divya Desams namely Thirukkarvaanam, Thirukaaragam, Thiruooragam and Thiruneeragam.<br>

As per Hindu legend, Vamana, a dwarf and one of the ten avatars of Vishnu, appeared here to quell the pride of Asura king Bali. Ulagalantha Perumal is believed to have appeared to king Mahabali and the Azhwars. Six daily rituals and a dozen yearly festivals are held at the temple, of which the chariot festival, celebrated during the Tamil month of Chittirai (March–April), is the most prominent. The temple is maintained and administered by the Hindu Religious and Endowment Board of the Government of Tamil Nadu.
<br><br>
Duration : 11 min<br>
Distance : 2.7 km<br>
via NH332 and Trichy Main Rd/Trichy Trunk Rd<br>
Fastest route, despite the usual traffic<br><br>

FROM  : Villupuram Junction<br>
Keezperum Pakkam, Villupuram, Tamil Nadu 605602<br><br>
Directions : <br><br>
•	Head north-west on Railway Station Road towards Bristak Rd<br>
67 m<br>

•	Turn left at supreme promoters onto Brickstak Road<br>
13 m
<br>
•	Turn right at Canara Bank ATM onto NH332<br>
 
•	Pass by Hotel Annai (on the right) <br>
1.4 km<br>

•	At the roundabout, take the 1st exit onto Trichy Main Rd/Trichy Trunk Rd<br>
 
•	Pass by Government Hospital Bus Stop (on the left) <br>
1.0 km<br>

•	Slight right at Cake Plaza onto Pudhukeni<br>
60 m<br>

•	Turn right to stay on Pudhukeni<br>
 
•	Destination will be on the left<br>
140 m<br><br>
Villupuram Bus Stand<br>
Villupuram New Bus Stand Rd, Singapore Nagar, Moovendar Nagar, Villupuram, Tamil Nadu 605602<br><br>

Duration : 59 min <br>
Distance : 48.7 km<br>
via NH38 and SH 9<br>
Fastest route, the usual traffic<br><br>

FROM : Villupuram Bus Stand<br>
Villupuram New Bus Stand Rd, Singapore Nagar, Moovendar Nagar, Villupuram, Tamil Nadu 605602<br><br>
Directions : <br><br>
•	Take Collector Office Rd to NH38 in Valudureddi<br>
4 min (1.1 km) <br>

•	Head west on Pudhukeni<br>
110 m<br>

•	Turn right towards Collector Office Rd<br>
120 m
<br>
•	Turn left at the 1st cross street onto Collector Office Rd<br>
 
•	Pass by Mandal Revenue Office (on the left) <br>
550 m<br>

•	Turn left towards NH38<br>
300 m<br>
•	Follow NH38 and SH 9 to Thirukoilure<br>
54 min (47.2 km) <br>

•	Turn left onto NH38<br>
 
•	Pass by Arasur Jct (on the left in 12.6 km) <br>
17.2 km<br>

•	Slight left onto NH Service Rd<br>
450 m<br>

•	Turn right onto Kumaramangalam - Panruti Rd/SH 9<br>
 
•	Continue to follow SH 9<br>
 
•	Pass by Star Electronics (on the left) <br>
29.1 km<br>

•	Turn left towards Cuddalore-Sankarapuram Rd<br>
350 m<br>

•	Turn right onto Cuddalore-Sankarapuram Rd<br>
10 m<br>
•	Drive to your destination<br>
2 min (450 m) <br>

•	Turn left<br>
300 m
<br>
•	Turn right<br>
 
•	Destination will be on the left<br>
130 m<br><br>
ULAGALANTHA PERUMAL TEMPLE<br>
Tirukoilur-Asanur Road, Thirukoilure, Tamil Nadu 605757


</div>
</ion-scroll>
</ion-view>
